.trending
{
    position: absolute;
    line-height: 1.2;
    font-size: 0.63rem;
    color: #fff;    
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    text-align: center;
    height: 40px;
    top: 0;
    right: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 38px;

}
.trending i 
{
    font-size: 15px;
    line-height: 2.1;
    margin-left: 9px;
}
.label
{
    font-size: 0.9rem;
    color: #5d5f65;
    font-weight: 600;
}
.value
{
    font-size: 1.5rem;
    color: #a29b9b;
    margin-bottom: 10px;
}
.dbadge
{
    padding: 2px 5px 5px;
    display: inline-block;
    color: #fff;
    border-radius: 0.25rem;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 9px 11px 11px;
    font-size: 0.8rem;
}
.dbadge-orange
{
    background-color: #fd7e14;
}
.dbadge-red
{
    background-color: #dc3545 ;
}
.dbadge-blue
{
    background-color: #17a2b8;
}
.dbadge-green
{
    background-color: #28a745;
}
.dbadge-text
{
    padding-left: 5px;
    font-size: 0.86rem;
    color: #867a7a;
    font-weight: 600;
    display: inline-block;
}
.effect-default {
    overflow: hidden;
    position: relative;   
    display: block !important;
    border-top-right-radius: 0px !important;
}
.effect-default:hover:before {
    right: -900px;    
}
.effect-default.effect-orange::before{
    background: #fd7e1459 !important;
}
.effect-default.effect-blue::before{
    background: #17a2b85c !important;
}
.effect-default.effect-green::before{
    background: #28a74557 !important;
}
.effect-default.effect-red::before{
    background: #dc354559 !important;
}
.effect-default::before{   
    content: "";
    display: inline-block;
    height: 559px;
    position: absolute;
    right: 755px;
    top: 0;
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    -webkit-transition: all .6s ease-in-out 0s;
    transition: all .6s ease-in-out 0s;
    width: 600px;
}
.latestnews .content-i
{
    height: 450px;
    overflow: scroll;
}

/***** portfolio-section *****/

.portfolio-section .table-responsive .portfolio-logo, .portfolio-section .table-responsive .portfolio-name
{
    display: inline-block;
}
.portfolio-section .table-responsive .portfolio-logo img 
{
    width: 35px;
}
.portfolio-section .table-responsive .portfolio-name span
{
    padding-left: 20px;
}

.dashboard h5{
    margin-top:0;
    margin-bottom:0.5rem;
}
.dashboard img{
    vertical-align:middle;
    border-style:none;
}
.dashboard table{
    border-collapse:collapse;
}
.dashboard th{
    text-align:inherit;
}
.dashboard h5{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
.dashboard h5{
    font-size:1.25rem;
} 
.dashboard .table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
.dashboard .table th,.table td{
    padding:0.8rem;
    vertical-align:top;
    border-top:1px solid rgba(83, 101, 140, 0.33);
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 0.9rem !important;
    text-align: left !important;
}
.dashboard .table thead th{
    vertical-align:bottom;
    border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
.dashboard .table-striped tbody tr:nth-of-type(odd){
    background-color:rgba(94, 130, 152, 0.05);
}
.dashboard .table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
.dashboard .table-responsive .table-hover tbody tr:hover {
    background-color: rgba(94, 130, 152, 0.05);
}
@media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .dashboard thead{
        display:table-header-group;
    }
    .dashboard tr,.dashboard img{
        page-break-inside:avoid;
    }
    .dashboard .table{
        border-collapse:collapse!important;
    }
    .dashboard .table td,.dashboard .table th{
        background-color:#fff!important;
    }
}
.dashboard .table th{
    font-weight:500;
    color: #888c99;
}
.dashboard .table th,.dashboard .table td{
    vertical-align:middle;    
}
.dashboard .table td img{
    max-width:100%;
}
.dashboard .table thead th{
    border-bottom:1px solid #999;
}
.dashboard .table thead th{
    font-size:0.9rem;
    text-transform:uppercase;
    border-top:none;    
}
@media (min-width: 1100px){
    .dashboard .table-responsive{
        overflow:visible;
    }
}
.dashboard .element-box .table:last-child{
    margin-bottom:0;
}
.dashboard .form-header{
    margin-bottom:1rem;
    padding-top:0.5rem;
    display:block;
}
.dashboard .form-desc{
    color:#999;
    margin-bottom:1.5rem;
    font-weight:300;
    font-size:0.9rem;
    padding-bottom:1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    display:block;
}
.dashboard .element-box{
    -webkit-animation-name:fadeUp;
    animation-name:fadeUp;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}
.dashboard .element-wrapper{
    padding-bottom:3rem;
}
.dashboard .element-box{
    border-radius:6px;
    background-color:#fff;
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
}
.dashboard .element-box{
    padding:1.5rem 1.8rem;
    margin-bottom:1rem;
}

@media (max-width: 1250px){
    .dashboard .element-box{
        padding:1rem 1.5rem;
    }
}
@media (max-width: 1024px){
    .dashboard .table th,.dashboard .table td{
        padding:0.7rem 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .dashboard .element-wrapper{
        padding-bottom:2rem;
    }
    .dashboard .element-box{
        padding:1rem 1rem;
    }
}
@media (max-width: 767px){
    .dashboard .element-wrapper{
        padding-bottom:1.5rem;
    }
    .dashboard .element-box{
        padding:1rem;
    }
    .dashboard table{
        max-width:100%;
    }
}

