<template>
    <div class="content-i">
        <div class="content-box">
            <div class="dashboard">
                <b-row>
                    <b-col cols="3">
                        <div class="element-box position-relative effect-default effect-orange"> 
                            <div class="element-wrapper pb-0">
                                <div class="content">
                                    <div class="trending trending-up dbadge-orange">
                                        <i class="far fa-comments"></i>
                                    </div>
                                    <div class="label">
                                        Reviews
                                    </div>
                                    <div class="value">
                                        45,120
                                    </div>
                                    <div class="">
                                        <div class="dbadge dbadge-orange">review</div>
                                        <div class="dbadge-text">Added Reviews</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-col>
                    <b-col cols="3">
                        <div class="element-box position-relative effect-default effect-blue"> 
                            <div class="element-wrapper pb-0">
                                <div class="content">
                                    <div class="trending trending-up dbadge-blue">
                                        <i class="far fa-chart-bar"></i>
                                    </div>
                                    <div class="label">
                                        Insights
                                    </div>
                                    <div class="value">
                                        45,120
                                    </div>
                                    <div class="">
                                        <div class="dbadge dbadge-blue">insights</div>
                                        <div class="dbadge-text">Your Insights</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-col>
                    <b-col cols="3">
                        <div class="element-box position-relative effect-default effect-green"> 
                            <div class="element-wrapper pb-0">
                                <div class="content">
                                    <div class="trending trending-up dbadge-green">
                                        <i class="fas fa-chart-line"></i>
                                    </div>
                                    <div class="label">
                                        Predictions
                                    </div>
                                    <div class="value">
                                        45,120
                                    </div>
                                    <div class="">
                                        <div class="dbadge dbadge-green">prediction</div>
                                        <div class="dbadge-text">Your Predictions</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-col>
                    <b-col cols="3">
                        <div class="element-box position-relative effect-default effect-red"> 
                            <div class="element-wrapper pb-0">
                                <div class="content">
                                    <div class="trending trending-up dbadge-red">
                                        <i class="far fa-calendar-alt"></i>
                                    </div>
                                    <div class="label">
                                        Events
                                    </div>
                                    <div class="value">
                                        45,120
                                    </div>
                                    <div class="">
                                        <div class="dbadge dbadge-red">event</div>
                                        <div class="dbadge-text">View Events</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-col>
                </b-row>
                <b-row class="mt-5">
                    <b-col cols="7">
                        <div class="element-box"> 
                            <div class="element-wrapper pb-0">
                                <h6 class="element-header">
                                    Latest News and updates
                                </h6>
                                <div class="latestnews">
                                    <latest-news/>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-section">                           
                            <my-portfolio-summary/>
                        </div>       
                    </b-col>
                    <b-col cols="5">
                        <div class="element-box"> 
                            <div class="element-wrapper pb-0">
                                <div class="top-movers">
                                    <h6 class="element-header">
                                        Top Movers
                                    </h6>
                                    <p v-show="isLoadingCrypto == 1" class="text-center">Loading . . .</p>
                                    <div class="top-mover-table" v-show="isLoadingCrypto != 1">
                                        <div class="table-responsive">
                                            <template>
                                                <b-table striped hover :items="coindata" :fields="fields"></b-table>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>    
</template>
<script>
import StockHighchart from '../../components/stock-highchart/stock-highchart'
import MyPortfolioSummary from '../../components/my-portfolio-summary/my-portfolio-summary'
import newssection from '../news/news'
import coinsApi from '../../api-service/coins'
export default {
    name: 'myfeed_page',
    data(){
        return {
            
            isLoadingCrypto: 0, //1=loading, 2= success, 3= error
            fields: ['id'],
            //fields: [ 'first_name', 'last_name', 'age' ],
            items: [
                { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
                { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
                { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
                { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' },
                { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
                { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
            ],   
            striped: true,
            coindata:[],
            coindataitem:[], 

        }
    },
    created: function(){
        this.getCoinData(1)
    },
    components: {
        'stock-highchart': StockHighchart,
        'latest-news':newssection,
        'my-portfolio-summary': MyPortfolioSummary
    },
    breadcrumb () {
        return {
            label: 'Myfeed'
        }
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    },
    methods: {
        getCoinData(pageNo)
        {
            //console.log("isloadingcrypto=======================");
            //console.log(this.isLoadingCrypto);

            this.isLoadingCrypto = 1;

            //console.log("isloadingcrypto=======================");
            //console.log(this.isLoadingCrypto);

            let params = {
                page: pageNo,
                per_page: 50
            }  
            this.getCoinsReq = coinsApi.getCoins({ params: params })
            this.getCoinsReq.promise.then(response => {
                if(response.data.success){
                    console.log("crypto detail==========================",response.data.coins)
                    this.coindata = response.data.market_data;
                    // this.getRedditCount()
                    // this.title = this.cryptoData.name
                    this.isLoadingCrypto = 2;
                    //console.log("isloadingcrypto=======================");
                    //console.log(this.isLoadingCrypto);
                }
                else{
                    //this.isLoadingData = 3;
                    if(response.data.hasOwnProperty("message")){
                        alert(response.data.message)
                    }
                    else{
                        alert("Unable to get coin data")
                    }
                }
            }).catch((thrown) => {
                console.log("Exception ",thrown);
                //this.isLoadingData = 3; //error occured
            });
            
        },
    }    

}
</script>

<style>
@import './myfeed.css';
</style>
