<template>
  <div class="element-box"> 
      <p class="text-center" v-if="getPortfolioDataStatus == 1">Loading portfolio...</p>
      <p class="text-center text-danger" v-else-if="getPortfolioDataStatus == 3">Unable to load portfolio</p>
      <div class="element-wrapper pb-0" v-else>
          <h6 class="element-header">
              Your portfolio <span class="font-weight-bold">${{totalValue | formatNumberForLen(7)}}</span>
          </h6>
          <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Holdings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in coins" :key="index">
                            <td>
                                <div class="portfolio-logo">
                                    <img :src="item.image_url"></div> 
                                    <div class="portfolio-name">
                                        <span>{{item.name}} [{{item.symbol}}]</span>
                                    </div>
                            </td>
                            <td>${{ item.price | formatNumberForLen(7)}}</td>
                            <td>
                                <div v-if="item.total_quantity != 0">
                                    <span>${{(item.total_quantity * item.price) | formatNumberForLen(7)}}</span> 
                                    <br>
                                    <span class="font-weight-light text-secondary">{{ item.total_quantity }}</span>
                                </div>
                                <div v-else class="btn utrum-btn-primary btn-xs" @click="addTransaction(item)">
                                    Add
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
          </div>
      </div>
      <add-transaction :cryptoData="cryptoData" :show.sync="showAddTransaction" />
  </div>
</template>
<script>
import coinsApi from '../../api-service/coins'
import AddTransaction from '../../components/add-transaction/add-transaction'
export default {
  data(){
      return{
            fieldsportfolio: [ 'Name'],
            getPortfolioDataStatus: 0,//1=loading, 2=loaded, 3= error
            getPortfolioReq: null,
            totalValue: 0,
            coins: [],
            showAddTransaction: false,
            cryptoData: {}
      }
  },
  components: {       
    'add-transaction': AddTransaction,
  },
  created: function() {
      this.getPortfolioData()
  },
  methods:{
    getPortfolioData(){
        if(this.getPortfolioReq && this.getPortfolioReq.source) {
            console.log("Cancel old req");
            this.getPortfolioReq.source.cancel("cancel")
        }
        this.getPortfolioDataStatus = 1; //error occured
        this.getPortfolioReq = coinsApi.getPortfolioCoins()
        this.getPortfolioReq.promise.then(response => {
            console.log({response})
            if(response.hasOwnProperty('data')){
                if(response.data.success){
                    let tempCoins = response.data.coins.map(item => {
                        item['total_quantity'] = 0;
                        for(let t of item.transactions){
                            if(t['trade_type'].toLowerCase() == 'buy')
                                item['total_quantity'] += t.quantity
                            else{
                                item['total_quantity'] -= t.quantity
                            }
                        }
                        
                        this.totalValue += item['total_quantity'] * item['price'];

                        return item;
                    })
                    // this.coins = response.data.coins
                    this.coins = tempCoins
                    this.getPortfolioDataStatus = 2 //error occured
                }
                else{
                    this.getPortfolioDataStatus = 3 //error occured
                }
                
            }
            else{
                this.getPortfolioDataStatus = 3
            }
        }).catch((thrown) => {
            console.log("Exception ",thrown);
            this.getPortfolioDataStatus = 3; //error occured
        });
    },
    addTransaction(item){
        console.log({item})
        this.cryptoData = {
            price: item.price,
            id: item.coin_id
        }
        this.showAddTransaction = !this.showAddTransaction;
    }
  }
}
</script>