.my-profile-summary h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 2rem;
  }
  .my-profile-summary h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1rem;
  }
  .my-profile-summary a {
    color: #047bf8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  .my-profile-summary a:hover {
    color: #0356ad;
    text-decoration: underline;
  }
  .my-profile-summary svg:not(:root) {
    overflow: hidden;
  }
  .my-profile-summary .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .my-profile-summary .col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .my-profile-summary .btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    outline: none;
    line-height: 1;
  }
  .my-profile-summary .btn:hover {
    text-decoration: none;
  }
  .my-profile-summary .btn:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .my-profile-summary .btn:disabled {
    opacity: 0.65;
  }
  .my-profile-summary .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .my-profile-summary .btn-primary {
    color: #fff;
    background-color: #047bf8;
    border-color: #047bf8;
  }
  .my-profile-summary .btn-primary:hover {
    color: #fff;
    background-color: #0368d2;
    border-color: #0362c6;
  }
  .my-profile-summary .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 123, 248, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(4, 123, 248, 0.5);
  }
  .my-profile-summary .btn-primary:disabled {
    color: #fff;
    background-color: #047bf8;
    border-color: #047bf8;
  }
  .my-profile-summary .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-size: 0.775rem;
    line-height: 1.5;
    border-radius: 4px;
  }
  .my-profile-summary .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    font-size: 0.81rem;
  }
  .my-profile-summary .badge:empty {
    display: none;
  }
  .my-profile-summary .badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
  }
  .my-profile-summary .badge-success {
    color: #fff;
    background-color: #24b314;
  }
  .my-profile-summary .text-right {
    text-align: right !important;
  }
  .my-profile-summary .user-profile {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  }
  .my-profile-summary .user-profile .up-head-w {
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    border-radius: 6px 6px 0px 0px;
  }
  .my-profile-summary .user-profile .up-head-w .decor {
    position: absolute;
    bottom: -1px;
    right: 0px;
    max-width: 100%;
    z-index: 3;
  }
  .my-profile-summary .user-profile .up-head-w .decor .decor-path {
    fill: #fff;
  }
  .my-profile-summary .user-profile .up-head-w:before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(0, 0, 0, 0.2)), color-stop(70%), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2), 70%, rgba(0, 0, 0, 0.5));
  }
  .my-profile-summary .user-profile .up-head-w .up-social {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 5;
  }
  .my-profile-summary .user-profile .up-head-w .up-social a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
  }
  .my-profile-summary .user-profile .up-head-w .up-social a:hover {
    color: white;
    text-decoration: none;
  }
  .my-profile-summary .user-profile .up-main-info {
    padding: 20% 5% 5% 5%;
    position: relative;
    z-index: 4;
  }
  .my-profile-summary .user-profile .up-header {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 3.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .my-profile-summary .user-profile .up-sub-header {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
  }
  .my-profile-summary .user-profile .up-controls {
    padding: 20px 5%;
  }
  .my-profile-summary .user-profile .up-controls + .up-contents {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  .my-profile-summary .user-profile .up-contents {
    padding: 20px 5%;
    padding-top: 3rem;
  }
  .my-profile-summary .user-profile.compact .up-contents {
    padding-top: 0px;
  }
  .my-profile-summary .user-profile.compact .up-main-info {
    padding-top: 35%;
  }
  .my-profile-summary .user-profile.compact .up-head-w .up-social a {
    font-size: 20px;
  }
  .my-profile-summary .user-profile.compact .up-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .my-profile-summary .user-profile.compact .up-sub-header {
    font-size: 0.81rem;
  }
  .my-profile-summary .value-pair {
    display: inline-block;
  }
  .my-profile-summary .value-pair .label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.63rem;
    text-transform: uppercase;
    display: inline-block;
  }
  .my-profile-summary .value-pair .value {
    display: inline-block;
    font-size: 0.63rem;
    text-transform: uppercase;
  }
  .my-profile-summary .el-tablo {
    display: block;
  }
  .my-profile-summary .el-tablo .label {
    display: block;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
  }
  .my-profile-summary .el-tablo .value {
    font-size: 2.43rem;
    font-weight: 500;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
  }
  .my-profile-summary .el-tablo.centered {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .my-profile-summary .os-progress-bar {
    margin-bottom: 1rem;
  }
  .my-profile-summary .os-progress-bar .bar-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .my-profile-summary .os-progress-bar .bar-labels span {
    font-size: 0.72rem;
  }
  .my-profile-summary .os-progress-bar .bar-label-left span {
    margin-right: 5px;
  }
  .my-profile-summary .os-progress-bar .bar-label-left span.positive {
    color: #619b2e;
  }
  .my-profile-summary .os-progress-bar .bar-label-left span.negative {
    color: #d83536;
  }
  .my-profile-summary .os-progress-bar .bar-label-right span {
    margin-left: 5px;
  }
  .my-profile-summary .os-progress-bar .bar-label-right span.info {
    color: #456cf9;
  }
  .my-profile-summary .os-progress-bar .bar-level-1 {
    border-radius: 12px;
    height: 6px;
  }
  .my-profile-summary .os-progress-bar .bar-level-2 {
    border-radius: 12px;
    height: 6px;
  }
  .my-profile-summary .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
  }
  .my-profile-summary .os-progress-bar.primary .bar-level-1 {
    background-color: #f2f2f2;
  }
  .my-profile-summary .os-progress-bar.primary .bar-level-2 {
    background-color: #65affd;
  }
  .my-profile-summary .os-progress-bar.primary .bar-level-3 {
    background-color: #0362c6;
  }
  .my-profile-summary .padded-v {
    padding: 1rem 10px;
  }
  .my-profile-summary .padded {
    padding: 1rem 2rem;
  }
  .my-profile-summary .b-r {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  .my-profile-summary .b-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .my-profile-summary .m-b {
    margin-bottom: 1rem;
  }
  @media (min-width: 576px) {
    .my-profile-summary .col-sm-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media print {
    .my-profile-summary * {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .my-profile-summary *::before {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .my-profile-summary *::after {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .my-profile-summary h2 {
      orphans: 3;
      widows: 3;
      page-break-after: avoid;
    }
    .my-profile-summary .badge {
      border: 1px solid #000;
    }
  }
  @media (min-width: 1100px) and (max-width: 1350px) {
    .my-profile-summary .padded {
      padding: 0.5rem 1rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .my-profile-summary .padded {
      padding: 0.3rem 0.8rem;
    }
    .my-profile-summary .user-profile .up-header {
      font-size: 2.5rem;
    }
    .my-profile-summary .user-profile .up-sub-header {
      font-size: 1rem;
    }
  }
  @media (max-width: 767px) {
    .my-profile-summary .padded {
      padding: 1rem;
    }
    .my-profile-summary .user-profile .up-head-w .up-social {
      top: 5px;
      right: 10px;
    }
    .my-profile-summary .user-profile .up-head-w .up-social a {
      font-size: 24px;
    }
    .my-profile-summary .user-profile .up-main-info {
      padding-bottom: 10%;
    }
    .my-profile-summary .user-profile .up-header {
      font-size: 1.75rem;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
    .my-profile-summary .user-profile .up-sub-header {
      font-size: 1rem;
    }
    .my-profile-summary .user-profile .up-controls {
      text-align: center;
    }
    .my-profile-summary .user-profile .up-controls .value-pair {
      margin-bottom: 1rem;
    }
    .my-profile-summary .user-profile .up-controls .text-right {
      text-align: center !important;
    }
  }