<template>
    <div class="social-info" v-if="cryptoData">

        <div class="add-detail">
            <router-link :to="{ name: 'add-review', params: { cryptoId: this.cryptoData.id } }">
                <div class="btn utrum-btn-primary btn-sm" style="display:inline-block; width: 130px;" ><i class="os-icon os-icon-plus-circle addbtn"></i><span class="right-add-btn">Add Review</span></div>
            </router-link>
            <router-link :to="{ name: 'add-insight', params: { cryptoId: this.cryptoData.id } }">
                <div class="btn utrum-btn-primary btn-sm" style="display:inline-block; width: 130px;" ><i class="os-icon os-icon-plus-circle addbtn"></i><span class="right-add-btn">Add Insight</span></div>
            </router-link>
        </div>
        <div class="add-detail mb-3">
            <div class="btn utrum-btn-primary btn-sm" style="display:inline-block; width: 130px;" ><i class="os-icon os-icon-plus-circle addbtn"></i><span class="right-add-btn">Add News</span></div>
            <router-link :to="{ name: 'add-prediction', params: { cryptoId: this.cryptoData.id } }">
                <div class="btn utrum-btn-primary btn-sm" style="display:inline-block; width: 130px;" ><i class="os-icon os-icon-plus-circle addbtn"></i><span class="right-add-btn">Add Prediction</span></div>
            </router-link>
        </div>

                   
    </div>
</template>
<script>
export default {
    name: 'add-social-info',
    props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            //console.log("add social data========");
            //console.log(this.cryptoData);
        },
    components: {},   
    }
    

</script>
<style>

@import './market-social.css';

</style>
