ul.social-analytics li
{
    color: #293145;
}
.social-analytics .text, .social-analytics .count
{
    color: #293145;
    font-size: 0.9rem;
}
.market-info .market-analytic-title, .code-info .code-analytic-title {
    color: #303a46;
    font-weight: 500;
    font-size: 0.8rem;
    /* color: #25aadf; */
}
.market-info .count , .code-info .count{
    color: #7f838f;
    font-size: 0.8rem;
}
.market-info .roi{
    color: #54b700;
}
.utrum-rightsidebar h6.element-header
{
    font-size: 0.9rem !important;
}
.social-info .social-circle i {
    font-size: 1.4rem;
    display: block;
}
.social-info .col-3
{
    padding-right: 5px;
    padding-left: 5px;
}
.social-info .social-analytics
{
    border: 1px solid rgba(37, 170, 223, 0.12);
    padding: 5px;   
}