<template>
    <div class="market-info" v-if="cryptoData">

        <div class="element-box-tp mb-3">
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">MarketCap Rank: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="text-center count">{{ cryptoData.cmc_rank ? cryptoData.cmc_rank : '-' }}</span>                                       
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">ROI: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="utrum-change-pill pl-3" v-bind:class=" (roi < 0) ? 'utrum-ch-red' : 'utrum-ch-green' " style="font-size:0.8rem;">{{ (roi ? roi : '-' ) }}{{ roi ? '%' : '' }}</span>                                     
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">Current Price: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="text-center pt-2 count">{{cryptoData.price ? '$' : ''}} {{ ( cryptoData.price ? cryptoData.price : '-' ) | roundOff(0) }}</span>                                      
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">Start Price: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="text-center pt-2 count">{{cryptoData.start_price ? '$' : ''}} {{ ( cryptoData.start_price ? cryptoData.start_price : '-' ) | roundOff(0) }}</span>                                     
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">All Time High: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="count">{{cryptoData.high_all_time ? '$' : ''}} {{ ( cryptoData.high_all_time ? cryptoData.high_all_time : '-' ) | roundOff(0) }}</span> 
                        <span class="count" v-bind:class=" (percentageChangeATH < 0) ? 'text-danger' : 'text-success' ">
                            &nbsp;
                            (<i v-if="percentageChangeATH < 0" class="fas fa-arrow-down"></i>
                            <i v-else class="fas fa-arrow-up"></i>
                            &nbsp;{{ percentageChangeATH | roundOff(2) }}%)
                        </span>                                      
                    </div>
                    <div class="input-group pt-2">                          
                        <span class="text-center count">{{ cryptoData.high_all_time_date | date('YYYY-MM-DD') }}</span>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">                   
                    <label for="" class="market-analytic-title">All Time Low: </label>                    
                </div>
                <div class="col-6 mb-2">
                    <div class="input-group">
                        <span class="count">{{cryptoData.low_all_time ? '$' : ''}} {{ ( cryptoData.low_all_time ? cryptoData.low_all_time : '-' ) | roundOff(0) }}</span>
                        <span class="count" v-bind:class=" (percentageChangeATL < 0) ? 'text-danger' : 'text-success' ">
                            &nbsp;
                            (<i v-if="percentageChangeATL < 0" class="fas fa-arrow-down"></i>
                            <i v-else class="fas fa-arrow-up"></i>
                            &nbsp;{{ percentageChangeATL | roundOff(2) }}%)
                        </span>                                      
                    </div>
                    <div class="input-group pt-2">                          
                        <span class="text-center count">{{ cryptoData.low_all_time_date | date('YYYY-MM-DD') }}</span>
                    </div> 
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">MarketCap Rank</label>
                        <div class="input-group">
                            <span class="text-center pt-2 count">{{ cryptoData.cmc_rank ? cryptoData.cmc_rank : '-' }}</span>                                       
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">ROI</label>
                        <div class="input-group">
                            <span class="utrum-font utrum-change-pill pl-3" v-bind:class=" (roi < 0) ? 'utrum-ch-red' : 'utrum-ch-green' ">{{ (roi ? roi : '-' ) }}{{ roi ? '%' : '' }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">Current Price</label>
                        <div class="input-group">
                            <span class="text-center pt-2 count">{{cryptoData.price ? '$' : ''}} {{ ( cryptoData.price ? cryptoData.price : '-' ) | roundOff(0) }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">Start Price</label>
                        <div class="input-group">
                            <span class="text-center pt-2 count">{{cryptoData.start_price ? '$' : ''}} {{ ( cryptoData.start_price ? cryptoData.start_price : '-' ) | roundOff(0) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">All Time High</label>
                        <div class="input-group">
                            <span class="pt-2 count">{{cryptoData.high_all_time ? '$' : ''}} {{ ( cryptoData.high_all_time ? cryptoData.high_all_time : '-' ) | roundOff(0) }}</span> 
                            <span class="pt-2 count" v-bind:class=" (percentageChangeATH < 0) ? 'text-danger' : 'text-success' ">
                                &nbsp;
                                (<i v-if="percentageChangeATH < 0" class="fas fa-arrow-down"></i>
                                <i v-else class="fas fa-arrow-up"></i>
                                &nbsp;{{ percentageChangeATH | roundOff(2) }}%)
                            </span>
                        </div>
                        <!-- <div class="input-group">
                            <span class="utrum-font utrum-change-pill pl-3" v-bind:class=" (percentageChangeATH < 0) ? 'utrum-ch-red' : 'utrum-ch-green' ">{{ percentageChangeATH | roundOff(2) }}%</span>
                        </div> --
                        <div class="input-group pt-2">                          
                            <span class="text-center count">{{ cryptoData.high_all_time_date | date('YYYY-MM-DD') }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="" class="market-analytic-title">All Time Low</label>                       
                        <div class="input-group">                          
                            <span class="pt-2 count">{{cryptoData.low_all_time ? '$' : ''}} {{ ( cryptoData.low_all_time ? cryptoData.low_all_time : '-' ) | roundOff(0) }}</span>
                            <span class="pt-2 count" v-bind:class=" (percentageChangeATL < 0) ? 'text-danger' : 'text-success' ">
                                &nbsp;
                                (<i v-if="percentageChangeATL < 0" class="fas fa-arrow-down"></i>
                                <i v-else class="fas fa-arrow-up"></i>
                                &nbsp;{{ percentageChangeATL | roundOff(2) }}%)
                            </span>
                        </div>
                        <!-- <div class="input-group" v-if="cryptoData">
                            <span class="utrum-font utrum-change-pill pl-3" v-bind:class=" (percentageChangeATL < 0) ? 'utrum-ch-red' : 'utrum-ch-green' ">{{ percentageChangeATL | roundOff(2) }}%</span>
                        </div> --
                        <div class="input-group pt-2">                          
                            <span class="text-center count">{{ cryptoData.low_all_time_date | date('YYYY-MM-DD') }}</span>
                        </div>
                    </div>
                </div>
            </div> -->
            
        </div>
              
    </div>
</template>
<script>
export default {
    name: 'crypto-market-info',
    props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            // console.log("crypto market data========");
            // console.log(this.cryptoData);
        },
    components: {},
    data(){
        return {

            roi:68,
        }
    },
    computed: {
    percentageChangeATH: function () {
      let perChange = 0
      if(this.cryptoData && this.cryptoData.hasOwnProperty('price') && this.cryptoData.hasOwnProperty('high_all_time')){
          perChange = this.$options.filters.percentageChange(this.cryptoData.high_all_time, this.cryptoData.price)
      }
      return perChange
    },
    percentageChangeATL: function () {
      let perChange = 0
      if(this.cryptoData && this.cryptoData.hasOwnProperty('price') && this.cryptoData.hasOwnProperty('low_all_time')){
          perChange = this.$options.filters.percentageChange(this.cryptoData.low_all_time, this.cryptoData.price)
      }
      return perChange
    }
  }

}
    

</script>
<style>
    /* @import './crypto-portfolio-info.css';  */
</style>