<template>
    <div class="social-info" v-if="cryptoData">

        <div class="element-box-tp mb-3">
            <!-- <div class="row mb-2">
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.website_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.website_url ? cryptoData.website_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.website_url ? 'show-link' : 'hide-link' ">
                    <!-- <router-link :to="{ name: cryptoData.website_url }"> --
                        <i class="fas fa-globe utrum-blue"></i>                        
                        <span class="text">Website</span>
                    <!-- </router-link> --
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.whitepaper_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.whitepaper_url ? cryptoData.whitepaper_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.whitepaper_url ? 'show-link' : 'hide-link' ">
                        <i class="far fa-file-alt utrum-blue"></i>                        
                        <span class="text">WP</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.blog_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.blog_url ? cryptoData.blog_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.blog_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-medium utrum-blue"></i>                       
                        <span class="text">Blog</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.explorer_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.explorer_url ? cryptoData.explorer_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.explorer_url ? 'show-link' : 'hide-link' ">
                        <i class="fas fa-link" style="color:#25aadf"></i>
                        <span class="text">Explorer</span>
                    </a>
                    </div>
                </b-col>               
            </div>                       -->
            <div class="row mb-2">
                <b-col cols="3 mb-2" v-if="cryptoData.BTCTforum">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.BTCTforum ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.BTCTforum ? cryptoData.BTCTforum : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.twitter_url ? 'show-link' : 'hide-link' ">
                        <img src="/static/forum.png" style="width:50%">
                        <span class="count d-block">{{ cryptoData.BTCTforum_count ? cryptoData.BTCTforum_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                 <b-col cols="3 mb-2" v-if="cryptoData.slack_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.slack_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.slack_url ? cryptoData.slack_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.twitter_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-slack"></i>
                        <span class="count">{{ cryptoData.slack_count ? cryptoData.slack_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.twitter_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.twitter_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.twitter_url ? cryptoData.twitter_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.twitter_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-twitter" style="color:#1DA1F2"></i>                        
                        <span class="count">{{ cryptoData.twitter_count ? cryptoData.twitter_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.telegram_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.telegram_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.telegram_url ? cryptoData.telegram_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.telegram_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-telegram" style="color:#0088cc"></i>
                        <span class="count">{{ cryptoData.telegram_count ? cryptoData.telegram_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.reddit_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.reddit_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.reddit_url ? cryptoData.reddit_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.reddit_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-reddit" style="color:#ff4301"></i>
                        <span class="count">{{ cryptoData.reddit_count ? cryptoData.reddit_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.facebook_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.facebook_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.facebook_url ? cryptoData.facebook_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.facebook_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-facebook" style="color:#3B5998"></i>
                        <span class="count">{{ cryptoData.facebook_count ? cryptoData.facebook_count : '-' }}</span>
                    </a>
                    </div>
                </b-col> 
                 <b-col cols="3 mb-2" v-if="cryptoData.github_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.github_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.github_url ? cryptoData.github_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.github_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-github" style="color:#333"></i>
                        <span class="count">{{ cryptoData.github_commit_count ? cryptoData.github_commit_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.youtube_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.youtube_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.youtube_url ? cryptoData.youtube_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.youtube_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-youtube" style="color:#ff0000"></i>
                        <span class="count">{{ cryptoData.youtube ? cryptoData.youtube : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.linkedin_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.linkedin_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.linkedin_url ? cryptoData.linkedin_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.linkedin_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-linkedin" style="color:#0077B5"></i>
                        <span class="count">{{ cryptoData.linkedin ? cryptoData.linkedin : '-' }}</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3 mb-2" v-if="cryptoData.discord_url">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.discord_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.discord_url ? cryptoData.discord_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.discord_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-discord" style="color:#7289da"></i>
                        <span class="count">{{ cryptoData.discord_count ? cryptoData.discord_count : '-' }}</span>
                    </a>
                    </div>
                </b-col>              
            </div>
           
        </div>              
    </div>
</template>
<script>
export default {
    name: 'crypto-social-info',
    props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            // console.log("crypto social data========");
            // console.log(this.cryptoData);
        },
    components: {},   
    }
    

</script>
<style>

@import './market-social.css';

</style>
