<template>
    <div class="social-info" v-if="cryptoData">

        <div class="element-box-tp mb-4 mt-4">
            <div class="row mb-2">
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.website_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.website_url ? cryptoData.website_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.website_url ? 'show-link' : 'hide-link' ">
                    <!-- <router-link :to="{ name: cryptoData.website_url }"> -->
                        <i class="fas fa-globe" v-bind:class=" cryptoData.website_url ? 'utrum-blue' : 'text-muted' "></i>                        
                        <span class="text">Website</span>
                    <!-- </router-link> -->
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.whitepaper_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.whitepaper_url ? cryptoData.whitepaper_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.whitepaper_url ? 'show-link' : 'hide-link' ">
                        <i class="far fa-file-alt" v-bind:class=" cryptoData.whitepaper_url ? 'utrum-blue' : 'text-muted' "></i>                        
                        <span class="text">WP</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.blog_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.blog_url ? cryptoData.blog_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.blog_url ? 'show-link' : 'hide-link' ">
                        <i class="fab fa-medium" v-bind:class=" cryptoData.blog_url ? 'utrum-blue' : 'text-muted' "></i>                       
                        <span class="text">Blog</span>
                    </a>
                    </div>
                </b-col>
                <b-col cols="3">
                    <div class="social-analytics text-center" v-bind:class=" cryptoData.explorer_url ? 'show-link' : 'hide-link' ">
                    <a v-bind:href="cryptoData.explorer_url ? cryptoData.explorer_url : 'javascript: void(0)'" target="_blank" class="social-circle" v-bind:class=" cryptoData.explorer_url ? 'show-link' : 'hide-link' ">
                        <i class="fas fa-link" v-bind:class=" cryptoData.explorer_url ? 'utrum-blue' : 'text-muted' "></i>
                        <span class="text">Explorer</span>
                    </a>
                    </div>
                </b-col>               
            </div>                      
            
        </div>              
    </div>
</template>
<script>
export default {
    name: 'crypto-visit-info',
    props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            // console.log("crypto social data========");
            // console.log(this.cryptoData);
        },
    components: {},   
    }
    

</script>
<style>

@import './market-social.css';

</style>
