<template>
    <div class="content-i">
        <div class="content-box">   
            <b-container>
                <b-row >
                    <b-col md="3" class="mb-4" v-for="(val, index) in analysts" :key="`analyst-${index}`">
                        <userinfo-card :user="val"/>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>

<script>
import analystsApi from '../../api-service/analysts'
import UserinfoCard from '@/components/userinfo-card/userinfo-card.vue';

export default {
    name: 'analysts',
    components: {
        'userinfo-card': UserinfoCard
    },
    data(){
        return {
            total: 0,
            currentPage: 0,
            itemsPerPage: 50,
            totalPages: 0,
            paginationCount: 0,
            pagination: [],
            getAnalystsReq: null,
            isLoadingAnalysts: 0, //1=loading, 2=loaded, 3= error
            analysts: []
        }
    },
    breadcrumb () {
        return {
            label: 'Analysts'
        }
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
        this.getAnalysts(1)
    },
    methods: {
        getAnalysts(pageNo){
        
            this.isLoadingAnalysts = 1;
            let params = {
                page: pageNo,
                per_page: this.itemsPerPage
            }
            this.analysts = [];
            this.currentPage = pageNo
            if(this.getAnalystsReq && this.getAnalystsReq.source) {
                console.log("Cancel old req");
                this.getAnalystsReq.source.cancel("cancel")
            }
            this.getAnalystsReq = analystsApi.getAnalysts({ params: {role: "analyst"} })
            this.getAnalystsReq.promise.then(response => {
                console.log("Response: ",response);
                
                this.total = response.headers["x-total"]
                this.totalPages = Math.ceil(this.total / this.itemsPerPage)
                
                if(this.pagination.length <= 0){
                    let tempSegment = []
                    for(let i=1; i<=this.totalPages; i++){
                        tempSegment.push(i)
                        if(i % 6 == 0){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                        else if(i == this.totalPages){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                    }
                    if(this.pagination.length > 0){
                        this.paginationCount = 0
                    }
                }
                if(response.hasOwnProperty('data')){
                    if(response.data.hasOwnProperty("users")){
                        this.analysts = response.data.users
                        console.log("got analysts data: ",this.analysts)
                        this.isLoadingAnalysts = 2;
                    }
                    else{
                        this.isLoadingAnalysts = 3; //error occured
                        if(response.data.hasOwnProperty("message")){
                            alert(response.data.message)
                        }
                        else{
                            alert("Unable to get analysts data.")
                        }
                    }
                }
                else{
                    this.isLoadingAnalysts = 3;
                    alert("Unable to get analysts data.")
                }
                
                
            }).catch((thrown) => {
                console.log("Exception ",thrown);
                this.isLoadingAnalysts = 3; //error occured
            });
        }
    }
}
</script>

