<template>
  <div class="profile-tile">
        <div class="profile-tile-box">
            <div class="pt-avatar-w">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWlEwIxnbpUOVZKitE7g7Bg_OUtYUy9Etc6BEfxF_S0z2VmeWy">
            </div>
            <div class="pt-user-name">
                Ben  Gossman
                <br>
                {{user.email}}
            </div>
            <div class="pt-user-info mb-2">
                <a class="text-primary" title="Insights">
                    <i class="far fa-chart-bar"></i> 
                    {{ user.total_insights }}
                </a>
                &nbsp;
                <a class="text-primary" title="Predictions">
                    <i class="fas fa-chart-line"></i> 
                    {{ user.total_predictions }}
                </a>
                &nbsp;
                <a class="text-primary" title="Reviews">
                    <i class="far fa-comments"></i> 
                    {{ user.total_reviews }} 
                </a>
            </div>
        </div>                                   
    </div>
</template>
<script>
export default {
  name: 'userinfo-card',
  props:{
    user: Object
  },
}
</script>

<style>
    @import './userinfo-card.css';
</style>
