/* profile-tile css */
.profile-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}
.profile-tile a {
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.profile-tile img {
  vertical-align: middle;
  border-style: none;
}
.profile-tile .profile-tile-box {
  width: 100%;
  text-align: center;
  border-radius: 6px;
  padding: 1.2rem 0.5rem 0.5rem;
  background-color: #007bff1a;
  -webkit-box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
  box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
  text-decoration: none;
  color: #3e4b5b;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: block;
}
.profile-tile .profile-tile-box:hover {
  -webkit-transform: translateY(-5px) scale(1.02);
  transform: translateY(-5px) scale(1.02);
  -webkit-box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
  box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
}
.profile-tile .pt-avatar-w {
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  width: 75%;
}
.profile-tile .pt-avatar-w img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.profile-tile .pt-user-name {
  border-top: 0;
  padding-top: 0;
  text-transform: none;
  /* font-size: 24px; */
  line-height: 1.2;
  margin-top: 3px;
  margin-bottom: 6px;
  font-weight: normal;
  word-break: break-word;
  /* white-space: pre-line; */

}
@media (min-width: 1100px) and (max-width: 1350px) {
  .profile-tile .pt-avatar-w img {
      width: 50px;
  }
}