<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-team">
            <!-- <div class="row">
                <b-col cols="12">
                    <div class="element-wrapper">
                        <h5 class="element-header utrum-blue utrum-cap-all utrum-font">
                          Teams
                          <div class="team-members"><span>Members Count: <span class="count utrum-blue">97</span></span></div>
                        </h5>
                    </div>
                </b-col>
            </div> -->
            <b-container>
                <div class="row">
                    <b-col cols="6">
                        <div class="element-wrapper">
                            <h6 class="element-header team-member-name">
                            Mark Parson
                            </h6>
                    <div class="element-box-tp">
                        <div class="profile-tile">
                                <a class="profile-tile-box" href="users_profile_small.html">
                                    <div class="pt-avatar-w">
                                        <img alt="" src="/static/avatar1.jpg">
                                    </div>
                                    <div class="pt-user-name">
                                        Founder and co-CEO
                                    </div>
                                    <div class="pt-user-name">                                       
                                         <ul class="social-links">
                                            <li><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                            <li><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                            <li><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                            <li><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            <div class="profile-tile-meta">
                                <ul>
                                    <li>
                                    Rating:<div class="rating-section"><star-rating active-color="#25aadf" :star-size="22" :show-rating="false" :rating="5" :read-only="true"></star-rating></div>
                                    </li>
                                    <li>
                                    Coin/ICO:<strong>Bitcoin</strong>
                                    </li>
                                    <li>
                                    Location:<strong>USA</strong>
                                    </li>
                                    <li>
                                    Trend score:<strong>17</strong>
                                    </li>
                                </ul>
                                <div class="pt-btn">
                                    <router-link to="team-detail"><div class="btn btn-success btn-sm">Read More</div></router-link>                                   
                                </div>
                            </div>
                        </div>                          
                    </div>
                  </div>
                    </b-col>
                    <b-col cols="6">
                    <div class="element-wrapper">
                        <h6 class="element-header team-member-name">
                        David Cohen
                        </h6>
                        <div class="element-box-tp">
                        <div class="profile-tile">
                            <a class="profile-tile-box" href="users_profile_small.html">
                            <div class="pt-avatar-w">
                                <img alt="" src="/static/avatar2.jpg">
                            </div>
                            <div class="pt-user-name">
                                Managining Prtner
                            </div>
                            <div class="pt-user-name">                                       
                                    <ul class="social-links">
                                    <li><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                    <li><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                    <li><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                    <li><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                </ul>
                            </div>
                            </a>
                            <div class="profile-tile-meta">
                            <ul>
                                <li>
                                Rating:<div class="rating-section"><star-rating active-color="#25aadf" :star-size="22" :show-rating="false" :rating="4" :read-only="true"></star-rating></div>
                                </li>
                                <li>
                                Coin/ICO:<strong>Bitcoin</strong>
                                </li>
                                <li>
                                Location:<strong>USA</strong>
                                </li>
                                <li>
                                Trend score:<strong>80</strong>
                                </li>
                            </ul>
                            <div class="pt-btn">
                                <router-link to="team-detail"><div class="btn btn-success btn-sm">Read More</div></router-link>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </b-col>
            </div>
             <div class="row">
                    <b-col cols="6">
                        <div class="element-wrapper">
                            <h6 class="element-header team-member-name">
                            Sunil Sharma
                            </h6>
                    <div class="element-box-tp">
                        <div class="profile-tile">
                                <a class="profile-tile-box" href="users_profile_small.html">
                                    <div class="pt-avatar-w">
                                        <img alt="" src="/static/avatar3.jpg">
                                    </div>
                                    <div class="pt-user-name">
                                        Program Manaager
                                    </div>
                                    <div class="pt-user-name">                                       
                                         <ul class="social-links">
                                            <li><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                            <li><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                            <li><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                            <li><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                        </ul>
                                    </div>
                                </a>
                            <div class="profile-tile-meta">
                                <ul>
                                    <li>
                                    Rating:<div class="rating-section"><star-rating active-color="#25aadf" :star-size="22" :show-rating="false" :rating="2" :read-only="true"></star-rating></div>
                                    </li>
                                    <li>
                                    Coin/ICO:<strong>Bitcoin</strong>
                                    </li>
                                    <li>
                                    Location:<strong>USA</strong>
                                    </li>
                                    <li>
                                    Trend score:<strong>20</strong>
                                    </li>
                                </ul>
                                <div class="pt-btn">
                                   <router-link to="team-detail"><div class="btn btn-success btn-sm">Read More</div></router-link>
                                </div>
                            </div>
                        </div>                          
                    </div>
                  </div>
                    </b-col>
                    <b-col cols="6">
                    <div class="element-wrapper">
                        <h6 class="element-header team-member-name">
                       Katie Derr
                        </h6>
                        <div class="element-box-tp">
                        <div class="profile-tile">
                            <a class="profile-tile-box" href="users_profile_small.html">
                            <div class="pt-avatar-w">
                                <img alt="" src="/static/avatar4.jpg">
                            </div>
                            <div class="pt-user-name">
                                Managining Director
                            </div>
                            <div class="pt-user-name">                                       
                                    <ul class="social-links">
                                    <li><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                    <li><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                    <li><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                    <li><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                </ul>
                            </div>
                            </a>
                            <div class="profile-tile-meta">
                            <ul>
                                <li>
                                Rating:<div class="rating-section"><star-rating active-color="#25aadf" :star-size="22" :show-rating="false" :rating="3" :read-only="true"></star-rating></div>
                                </li>
                                <li>
                                Coin/ICO:<strong>Bitcoin</strong>
                                </li>
                                <li>
                                Location:<strong>USA</strong>
                                </li>
                                <li>
                                Trend score:<strong>50</strong>
                                </li>
                            </ul>
                            <div class="pt-btn">
                                <router-link to="team-detail"><div class="btn btn-success btn-sm">Read More</div></router-link>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </b-col>
            </div>
             <a class="centered-load-more-link" href="#"><span>Load More..</span></a>
            </b-container>
        </div>
    </div>
</div>
   
    
</template>
<script>

import Vue from 'vue';
import StarRating from 'vue-star-rating'
Vue.component('star-rating', StarRating);
export default {
    name: 'team',
     data: {
    rating: "No Rating Selected",
    currentRating: "No Rating",
    currentSelectedRating: "No Current Rating",
    boundRating: 3,
  },       
    components: {
    "star-rating": StarRating
    
    },
    breadcrumb () {
        return {
            label: 'People'
        }
    },
    methods: { 
    setRating: function(rating) {
      this.rating = "You have Selected: " + rating + " stars";
    },
    showCurrentRating: function(rating) {
      this.currentRating = (rating === 0) ? this.currentSelectedRating : "Click to select " + rating + " stars"
    },
    setCurrentSelectedRating: function(rating) {
      this.currentSelectedRating = "You have Selected: " + rating + " stars";
    }

    }
}
</script>
<style>
    @import './team.css';
</style>