
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
/* .utrum-team h6{
    margin-top:0;
    margin-bottom:0.5rem;
} */
.utrum-team ul{
    margin-top:0;
    margin-bottom:1rem;
}
.utrum-team strong{
    font-weight:bolder;
}
.utrum-team a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
.utrum-team a:hover{
    color:#0356ad;
    text-decoration:underline;
}
.utrum-team img{
    vertical-align:middle;
    border-style:none;
}
/* .utrum-team h6{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
.utrum-team h6{
    font-size:1rem;
} */
.utrum-team .col-sm-6,.col-lg-4,.col-xl-3{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:10px;
    padding-left:10px;
}
 @media (min-width: 576px){
    .utrum-team .col-sm-6{
        -webkit-box-flex:0;
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%;
    }
}
 @media (min-width: 992px){
    .utrum-team .col-lg-4{
        -webkit-box-flex:0;
        -ms-flex:0 0 33.3333333333%;
        flex:0 0 33.3333333333%;
        max-width:33.3333333333%;
    }
}
 @media (min-width: 1250px){
    .utrum-team .col-xl-3{
        -webkit-box-flex:0;
        -ms-flex:0 0 25%;
        flex:0 0 25%;
        max-width:25%;
    }
}
.utrum-team .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid transparent;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    border-radius:4px;
    -webkit-transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.utrum-team .btn:hover,.btn:focus{
    text-decoration:none;
}
.utrum-team .btn:focus{
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.utrum-team .btn:disabled{
    opacity:0.65;
}
.utrum-team .btn:not(:disabled):not(.disabled){
    cursor:pointer;
}
.utrum-team .btn-secondary{
    color:#fff;
    background-color:#292b2c;
    border-color:#292b2c;
}
.utrum-team .btn-secondary:hover{
    color:#fff;
    background-color:#171818;
    border-color:#101112;
}
.utrum-team .btn-secondary:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(41, 43, 44, 0.5);
    box-shadow:0 0 0 0.2rem rgba(41, 43, 44, 0.5);
}
.utrum-team .btn-secondary:disabled{
    color:#fff;
    background-color:#292b2c;
    border-color:#292b2c;
}
.utrum-team .btn-success{
    color:#fff;
    background-color:#24b314;
    border-color:#24b314;
}
.utrum-team .btn-success:hover{
    color:#fff;
    background-color:#1d9110;
    border-color:#1b850f;
}
.utrum-team .btn-success:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(36, 179, 20, 0.5);
    box-shadow:0 0 0 0.2rem rgba(36, 179, 20, 0.5);
}
.utrum-team .btn-success:disabled{
    color:#fff;
    background-color:#24b314;
    border-color:#24b314;
}
.utrum-team .btn-sm{
    padding:0.25rem 0.5rem;
    font-size:0.8rem;
    line-height:1.5;
    border-radius:4px;
}
 @media (min-width: 576px){
    .utrum-team .d-sm-none{
        display:none!important;
    }
}
 @media (min-width: 1250px){
    .utrum-team .d-xl-flex{
        display:-webkit-box!important;
        display:-ms-flexbox!important;
        display:flex!important;
    }
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .utrum-team img{
        page-break-inside:avoid;
    }
}
.utrum-team .btn-sm{
    padding:0.25rem 0.5rem;
    font-size:0.775rem;
    line-height:1.5;
    border-radius:4px;
}
.utrum-team .btn{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
    outline:none;
    line-height:1;
}
.utrum-team .btn.btn-secondary:focus{
    -webkit-box-shadow:none;
    box-shadow:none;
}
.utrum-team strong{
    font-weight:500;
}
.utrum-team .element-wrapper{
    padding-bottom:3rem;
}
.utrum-team .element-wrapper .element-header.team-member-name:after{
    content:"";
    background-color:#25aadf;
    width:30px;
    height:2px;
    border-radius:0px;
    display:block;
    position:absolute;
    bottom:-2px;
    left:0px;
}
.utrum-team .profile-tile{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding-bottom:1rem;
    margin-bottom:1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.utrum-team .profile-tile .profile-tile-box{
    width:110px;
    text-align:center;
    border-radius:6px;
    padding:1.2rem 0.5rem 0.5rem;
    background-color:#fff;
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    text-decoration:none;
    color:#3E4B5B;
    -webkit-transition:all 0.25s ease;
    transition:all 0.25s ease;
    display:block;
    min-height: 145px;
}
.utrum-team .profile-tile .profile-tile-box:hover{
    -webkit-transform:translateY(-5px) scale(1.02);
    transform:translateY(-5px) scale(1.02);
    -webkit-box-shadow:0px 5px 12px rgba(126, 142, 177, 0.2);
    box-shadow:0px 5px 12px rgba(126, 142, 177, 0.2);
}
.utrum-team .profile-tile .pt-avatar-w{
    display:inline-block;
    border-radius:50px;
    overflow:hidden;
}
.utrum-team .profile-tile .pt-avatar-w img{
    width:60px;
    height:auto;
}
.utrum-team .profile-tile .pt-user-name{
    border-top:1px solid rgba(0, 0, 0, 0.1);
    padding-top:0.5rem;
    margin-top:0.5rem;
    font-size:0.63rem;
    text-transform:uppercase;
}
.utrum-team .profile-tile .profile-tile-meta{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    padding-left:30px;
}
.utrum-team .profile-tile .profile-tile-meta ul{
    list-style:none;
    font-size:0.63rem;
    text-transform:uppercase;
    color:rgba(0, 0, 0, 0.4);
    margin:0px;
    padding:0px;
}
.utrum-team .profile-tile .profile-tile-meta ul li{
    margin-bottom:12px;
}
.utrum-team .profile-tile .profile-tile-meta ul strong{
    color:#3E4B5B;
    margin-left:5px;
}
.utrum-team .profile-tile .pt-btn{
    margin-top:10px;
}
 @media (min-width: 1100px) and (max-width: 1350px){
    .utrum-team .profile-tile .profile-tile-box{
        width:95px;
    }
    .utrum-team .profile-tile .pt-avatar-w img{
        width:50px;
    }
    .utrum-team .profile-tile .profile-tile-meta{
        padding-left:15px;
    }
}
 @media (min-width: 768px) and (max-width: 1024px){
    .utrum-team .element-wrapper{
        padding-bottom:2rem;
    }
}
 @media (max-width: 767px){
    .utrum-team .element-wrapper{
        padding-bottom:1.5rem;
    }
}

.utrum-team .team-members
{
    float: right;
    font-weight: 400;
}
.utrum-team .team-members .count
{    
    padding-left: 5px;
    font-weight: 500;
}
/* .utrum-team h6.element-header i
{    
    padding-right: 8px;
    font-size: 20px;
    vertical-align: bottom;
} */
.utrum-team h6.team-member-name
{
    font-size: 14px;
    color: #25aadfc7;  
}
.utrum-team .rating-section .vue-star-rating span svg.vue-star-rating-star
{
   color: #047bf8c7;
   height: 15px;
   width: 15px;   
}
.utrum-team .rating-section
{
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: -4px;  
}
.utrum-team a.centered-load-more-link span
{
    border-bottom: none !important;  
}
.utrum-team ul.social-links
{
    padding: 0;
    list-style-type: none;
}
.utrum-team ul.social-links li
{
    display: inline-block;
    padding: 0rem 0.08rem;
}
.utrum-team ul.social-links li img
{
    width: 45%;
}


/* team detail page css start here */

.utrum-team-detail .user-profile-img
{
    text-align: center;
}
.utrum-team-detail .user-profile-img img
{
   height:150px;
   width: 150px;
}
.utrum-team-detail .element-wrapper.education-section, .utrum-team-detail .element-wrapper.advisor-section-title
{
   padding-bottom: 0 !important;
}
.utrum-team-detail .education-table
{
  padding-bottom: 50px;
}
.utrum-team-detail .advisor-section .profile-tile
{
    border-bottom: none;
}
.utrum-team-detail .social-link-section
{
    text-align: center;
    padding-top: 25px;
}
.utrum-team-detail .social-link-section ul li
{
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
}

.education-table a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
.education-table  a:hover{
    color:#0356ad;
    text-decoration:underline;
}
.education-table img{
    vertical-align:middle;
    border-style:none;
}
.education-table table{
    border-collapse:collapse;
}
.education-table th{
    text-align:inherit;
}
.education-table input{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
.education-table input{
    overflow:visible;
}
.education-table input[type="checkbox"]{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
}
.education-table .table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
.education-table .table th,.table td{
    padding:0.75rem;
    vertical-align:top;
    border-top:1px solid rgba(83, 101, 140, 0.33);
}
.education-table .table thead th{
    vertical-align:bottom;
    border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
.education-table .table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
.education-table .form-control{
    display:block;
    width:100%;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:2px solid #dde2ec;
    border-radius:4px;
    -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.education-table .form-control::-ms-expand{
    background-color:transparent;
    border:0;
}
.education-table .form-control:focus{
    color:#495057;
    background-color:#fff;
    border-color:#047bf8;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.education-table .form-control::-webkit-input-placeholder{
    color:#636c72;
    opacity:1;
}
.education-table .form-control:-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.education-table .form-control::-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.education-table .form-control::placeholder{
    color:#636c72;
    opacity:1;
}
.education-table .form-control:disabled{
    background-color:#e9ecef;
    opacity:1;
}
.education-table .badge{
    display:inline-block;
    padding:0.25em 0.4em;
    font-size:75%;
    font-weight:500;
    line-height:1;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:4px;
}
.education-table .badge:empty{
    display:none;
}
.education-table .text-center{
    text-align:center!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .education-table thead{
        display:table-header-group;
    }
    .education-table tr, .education-table img{
        page-break-inside:avoid;
    }
    .education-table .badge{
        border:1px solid #000;
    }
    .education-table .table{
        border-collapse:collapse!important;
    }
    .education-table .table td, .education-table .table th{
        background-color:#fff!important;
    }
}
.education-table .table .user-with-avatar{
    white-space:nowrap;
}
.education-table .table .user-with-avatar img{
    width:35px;
    height:35px;
    display:inline-block;
    vertical-align:middle;
    border-radius:50px;
}
.education-table .table .user-with-avatar span{
    display:inline-block;
    vertical-align:middle;
}
.education-table .table .user-with-avatar img + span{
    margin-left:10px;
}
.education-table .table th{
    font-weight:500;
}
.education-table .table .smaller{
    font-size:0.72rem;
}
.education-table .table .lighter{
    color:rgba(90, 99, 126, 0.49);
}
.education-table .table th, .education-table .table td{
    vertical-align:middle;
}
.education-table .table td img{
    max-width:100%;
}
.education-table .table thead th{
    border-bottom:1px solid #999;
}
.education-table .table thead th{
    font-size:0.63rem;
    text-transform:uppercase;
    border-top:none;
}
.education-table .table td.nowrap{
    white-space:nowrap;
}
.education-table .table .row-actions{
    text-align:center;
}
.education-table .table .row-actions .os-icon{
    font-size:16px;
}
.education-table .table .row-actions a{
    margin-right:0.8rem;
    color:#3E4B5B;
}
.education-table .table .row-actions a.danger{
    color:#9d1818;
}
.education-table .table .row-actions a:last-child{
    margin-right:0px;
}
 @media (min-width: 1100px){
    .education-table .table-responsive{
        overflow:visible;
    }
}
.education-table .table.table-padded{
    border-collapse:separate;
    border-spacing:0 5px;
}
.education-table .table.table-padded thead tr th{
    border:none;
    font-size:0.81rem;
    color:rgba(90, 99, 126, 0.49);
    letter-spacing:1px;
    padding:0.3rem 1.1rem;
}
.education-table .table.table-padded tbody tr{
    border-radius:4px;
    -webkit-transition:all 0.1s ease;
    transition:all 0.1s ease;
}
.education-table .table.table-padded tbody tr:hover{
    -webkit-box-shadow:0px 2px 5px rgba(69, 101, 173, 0.1);
    box-shadow:0px 2px 5px rgba(69, 101, 173, 0.1);
    -webkit-transform:translateY(-1px) scale(1.01);
    transform:translateY(-1px) scale(1.01);
}
.education-table .table.table-padded tbody td{
    padding:0.9rem 1.1rem;
    background-color:#fff;
    border:none;
    border-right:1px solid rgba(0, 0, 0, 0.03);
}
.education-table .table.table-padded tbody td img{
    display:inline-block;
    vertical-align:middle;
}
.education-table .table.table-padded tbody td img + span{
    display:inline-block;
    margin-left:10px;
    vertical-align:middle;
}
.education-table .table.table-padded tbody td span + span{
    margin-left:5px;
}
.education-table .table.table-padded tbody td .status-pill + span{
    margin-left:10px;
}
.education-table .table.table-padded tbody td:first-child{
    border-radius:4px 0px 0px 4px;
}
.education-table .table.table-padded tbody td:last-child{
    border-radius:0px 4px 4px 0px;
    border-right:none;
}
.education-table input{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}
.education-table .form-control{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.education-table .form-control[type="checkbox"]{
    width:auto;
    display:inline-block;
}
.education-table .form-control::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.education-table .form-control:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.education-table .form-control::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.education-table .form-control::placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.education-table .badge{
    font-size:0.81rem;
}
.education-table .badge-primary-inverted{
    background-color:#cce4ff;
    border:1px solid #0362c6;
    color:#0356ad;
    font-weight:300;
}
.education-table .badge-primary-inverted[href]:hover,.badge-primary-inverted[href]:focus{
    background-color:#99caff;
    border:1px solid #024994;
    color:#0356ad;
    font-weight:300;
}
.education-table .badge-success-inverted{
    background-color:#c5f0c0;
    border:1px solid #1b850f;
    color:#166e0c;
    font-weight:300;
}
.education-table .badge-success-inverted[href]:hover, .education-table .badge-success-inverted[href]:focus{
    background-color:#9fe697;
    border:1px solid #12570a;
    color:#166e0c;
    font-weight:300;
}
.education-table .badge-warning-inverted{
    background-color:white;
    border:1px solid #f9d66f;
    color:#f8cf57;
    font-weight:300;
}
.education-table .badge-warning-inverted[href]:hover, .education-table .badge-warning-inverted[href]:focus{
    background-color:#fff9e8;
    border:1px solid #f7c83e;
    color:#f8cf57;
    font-weight:300;
}
.education-table .badge-danger-inverted{
    background-color:#fdebeb;
    border:1px solid #e02525;
    color:#ce1e1e;
    font-weight:300;
}
.education-table .badge-danger-inverted[href]:hover, .education-table .badge-danger-inverted[href]:focus{
    background-color:#fabcbc;
    border:1px solid #b71b1b;
    color:#ce1e1e;
    font-weight:300;
}
.education-table .form-control{
    font-weight:300;
}
.education-table .status-pill{
    width:12px;
    height:12px;
    border-radius:30px;
    background-color:#eee;
    display:inline-block;
    vertical-align:middle;
}
.education-table .status-pill.yellow{
    background-color:#f8bc34;
}
.education-table .status-pill.red{
    background-color:#c21a1a;
}
.education-table .status-pill.green{
    background-color:#71c21a;
}
.education-table .status-pill.smaller{
    width:8px;
    height:8px;
}
.education-table .status-pill + span{
    margin-left:10px;
    display:inline-block;
    vertical-align:middle;
}
.education-table .os-icon{
    font-family:'osfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.utrum-team-detail h6.element-header .user-name
{
    vertical-align: middle;
    padding-left: 0.5rem;
}



@media (max-width: 1024px){
    .education-table .table th,.table td{
        padding:0.7rem 0.5rem;
    }
}
 @media (max-width: 767px){
    .education-table table{
        max-width:100%;
    }
}



/*! CSS Used fontfaces */
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nDrXyi0A.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nPrXyi0A.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
