<template>
  <div class="chart">
    <div v-if="stockOptions">
      <highcharts class="stock" :constructor-type="'stockChart'" :options="stockOptions" ref="chart"></highcharts>
      <!-- <highcharts :options="stockOptions" ref="chart"></highcharts> -->
      <!-- <highstock :options="stockOptions" ref="chart"></highstock> -->
      <button @click="getChartData(null, null)">Load Data</button>
    </div>
  </div>
</template>

<script>
// import HighchartsVueComponent from './vue-chartcomponent'
import {Chart} from 'highcharts-vue'
// import Chart from 'vue-highcharts';


import Highcharts from 'highcharts';
// load these modules as your need
import loadStock from 'highcharts/modules/stock';
loadStock(Highcharts);

import dpInit from 'highcharts/modules/drag-panes'
dpInit(Highcharts)

import exportingInit from 'highcharts/modules/exporting'
exportingInit(Highcharts)

import indicatorsInit from 'highcharts/indicators/indicators'
indicatorsInit(Highcharts)

// import vbpInit from 'highcharts/indicators/volume-by-price'
// vbpInit(Highcharts)
import coinsApi from '../../api-service/coins'

export default {
  components: {
    "highcharts": Chart
  },
  data () {
    return {
      /*
      stockOptions: {
        rangeSelector: {
          selected: 1
        },
        title: {
          text: 'BTC Stock Price'
        },
        xAxis: {
            events: {
                afterSetExtremes: this.afterSetExtremes
            },
            minRange: 3600 * 1000 // one hour
        },
        series: [{
          name: 'BTC',
          data: [10, 20, 10, 23, 65, 121, 44, 66, 98, 30, 32, 56, 25, 12, 53],
          pointStart: Date.UTC(2018, 1, 1),
          pointInterval: 1000 * 3600 * 24,
          tooltip: {
            valueDecimals: 2
          }
        }],
        events: (e) => {
          console.log("selected: ",e)
        }
      }
      */
      stockOptions: null,
      getReq: null,
      isLoading: 0
    }
  },
  created: function(){
    // split the data set into ohlc and volume
  
    /*let data = [];

    var ohlc = [],
        lineData = [],
        volume = [],
        dataLength = data.length,
        // set the allowed units for data grouping
        groupingUnits = [[
            'week',                         // unit name
            [1]                             // allowed multiples
        ], [
            'month',
            [1, 2, 3, 4, 6]
        ]],

        i = 0;

    for (i; i < dataLength; i += 1) {
        ohlc.push([
            data[i][0], // the date
            data[i][1], // open
            data[i][2], // high
            data[i][3], // low
            data[i][4] // close
        ]);

        lineData.push([ data[i][0], data[i][2] ])

        volume.push([
            data[i][0], // the date
            data[i][5] // the volume
        ]);
    }*/
    let groupingUnits = [[
        'week',                         // unit name
        [1]                             // allowed multiples
    ], [
        'month',
        [1, 2, 3, 4, 6]
    ]];

    this.stockOptions = {

        rangeSelector: {
            selected: 2
        },

        title: {
            text: 'BTC Historical'
        },

        // subtitle: {
        //     text: 'With SMA and Volume by Price technical indicators'
        // },
        xAxis: {
          events: {
              afterSetExtremes: this.afterSetExtremes
          }
        },
        yAxis: [{
            startOnTick: false,
            endOnTick: false,
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Price(USD)'
            },
            height: '60%',
            lineWidth: 2,
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'right',
                x: -3
            },
            title: {
                text: 'Volume'
            },
            top: '65%',
            height: '35%',
            offset: 0,
            lineWidth: 2
        }],

        tooltip: {
            split: true
        },

        plotOptions: {
            series: {
                dataGrouping: {
                    units: groupingUnits
                }
            }
        },

        series: [
        {
            name: 'BTC Stock Price',
            id: 'aapl',
            data: [],//lineData,
            marker: {
                enabled: true,
                radius: 3
            },
            shadow: true,
            tooltip: {
                valueDecimals: 2
            }
        },
        //   {
        //     type: 'candlestick',
        //     name: 'AAPL',
        //     id: 'aapl',
        //     zIndex: 2,
        //     data: ohlc
        // }, 
        {
            // type: 'column',
            name: 'Volume',
            id: 'volume',
            data: [],//volume,
            yAxis: 1
        }, 
        // {
        //     type: 'vbp',
        //     linkedTo: 'aapl',
        //     params: {
        //         volumeSeriesID: 'volume'
        //     },
        //     dataLabels: {
        //         enabled: false
        //     },
        //     zoneLines: {
        //         enabled: false
        //     }
        // }, 
        {
            type: 'sma',
            linkedTo: 'aapl',
            zIndex: 1,
            marker: {
                enabled: false
            }
        }
        ]
    };
    
  },
  methods:{
    afterSetExtremes(e){
      console.log("%c afterSetExtremes", "color: red; font-size: 20px;")
      /*
      console.log("afterSetExtremes",e);
      console.log(this)
      this.$refs.chart.chart.showLoading()
      setTimeout(()=>{
        // this.stockOptions.series[0].data = [44, 66, 98, 30, 32, 56, 25, 12, 53, 10, 20, 10, 23, 65, 121]
        this.$refs.chart.chart.hideLoading()
      }, 2000)
      */
    //  this.getChartData()
    },
    getChartData(sdt, edt){
        this.isLoading = 1;
        if(this.$refs.chart) this.$refs.chart.chart.showLoading()
        if(this.getReq && this.getReq.source) {
            this.getReq.source.cancel("cancel")
        }
        this.getReq = coinsApi.getDataForGraph(sdt, edt)
        this.getReq.promise.then(response => {
            console.log({response})
            if(response.hasOwnProperty('data')){
                let data = response.data;

                var ohlc = [], lineData = [], volume = [], dataLength = data.length,
                // set the allowed units for data grouping
                i = 0;

                for (i; i < dataLength; i += 1) {
                    ohlc.push([
                        data[i][0], // the date
                        data[i][1], // open
                        data[i][2], // high
                        data[i][3], // low
                        data[i][4] // close
                    ]);

                    lineData.push([ data[i][0], data[i][2] ])

                    volume.push([
                        data[i][0], // the date
                        data[i][5] // the volume
                    ]);
                }

                // this.stockOptions.series[0].data = lineData
                // this.stockOptions.series[1].data = volume
                // this.$refs.chart.chart.redraw()

                this.$refs.chart.chart.series[0].setData(lineData, true)
                this.$refs.chart.chart.series[1].setData(volume, true)
                this.$refs.chart.chart.redraw()
            }
            this.isLoading = 2;
            if(this.$refs.chart) this.$refs.chart.chart.hideLoading()
        }).catch((thrown) => {
            console.log("Exception ",thrown);
            this.isLoading = 3; //error occured
            if(this.$refs.chart) this.$refs.chart.chart.hideLoading()
        });
    }
  }
}
</script>
<style scoped>
.stock {
  width: 100%;
  margin: 0 auto
}
</style>