<template>
    <div class="content-i"> 
        <div class="content-box">
            <div class="utrum-review">
                <!-- <p v-show="reviewGetReqStatus == 1">Loading</p> -->

                <div  v-show="reviewGetReqStatus == 1" id="loftloader-wrapper" class="pl-imgloading" data-show-close-time="15000">
                    <div class="loader-inner">
                        <div id="loader"><span></span><img src="https://utrum.io/wp-content/uploads/Logo500x500.png" alt="preloder"></div>
                    </div>
                    <div class="loader-section section-fade"></div>
                    <div class="loader-close-button" style=""><span class="screen-reader-text">Close</span></div>
                </div>
                <div class="element-wrapper" v-if="reviews">
                    <!-- <h5 class="element-header">
                        <span class="utrum-blue utrum-font utrum-cap-all">Reviews</span>
                        <div class="review-sorting-section pr-4">
                            <form class="form-inline justify-content-sm-end">
                                <label class="smaller pr-2 utrum-blue utrum-font utrum-cap-all" for="">Sort by</label>
                                <select class="form-control form-control-sm form-control-faded">
                                    <option value="Pending">
                                        Coin Name
                                    </option>
                                    <option value="Active">
                                        Date
                                    </option>
                                    <option value="Cancelled">
                                        Rating
                                    </option>
                                </select>
                            </form>
                        </div>
                    </h5> -->
                    <b-row>                    
                        <b-col cols="3" v-for="(r, index) in reviews.slice().reverse()" :key="`coin-${index}`">
                            <b-card tag="article"
                                    class="mb-2"> 
                                        <div class="date-section">
                                            <i class="fas fa-calendar-alt"></i> <span>{{r.created_at | formatDate}}</span>
                                        </div>
                                        <div class="user-profile-rating-section">
                                            <span class="profile-section">
                                                <img class="review-user-img" src="static/avatar4.jpg"/>
                                            </span>
                                            <span class="profile-section">
                                                <star-rating v-model="r.team_approval_rate" read-only :show-rating="false" :star-size="20" active-color="#4c97fa"></star-rating>
                                            </span>
                                            <p class="mt-2 review-tag">
                                                <strong>Shantael Clewis</strong><span class="text-muted"> reviewed</span>
                                                <span><img class="reviewed-coin" :src="r.coin_image_url">
                                                <span class="utrum-blue"> {{r.coin_name}} [ {{r.coin_symbol}} ]</span></span>
                                            </p>                                                
                                        </div>
                                        <h4 class="utrum-font utrum-cap-all">{{r.title}} - 
                                            &nbsp;
                                            <router-link :to="{ name: 'details', params: {'id': r.coin_id}}">
                                                <img class="coin-icon" :src="r.coin_image_url">
                                                <span class="utrum-blue"> {{r.coin_name}} [ {{r.coin_symbol}} ]</span> 
                                            </router-link>
                                        </h4>
                                <div class="card-text pt-4 mb-4">
                                    <b-row>
                                        <b-col cols="6">
                                            <div class="pros-section ">
                                                <label class="title utrum-font utrum-blue utrum-cap-all">Pros</label>
                                                <p class="utrum-font text-justify">{{ r.pros }}</p>
                                            </div>
                                        </b-col>
                                        <b-col cols="6">
                                            <div class="cons-section ">
                                                <label class="title utrum-font utrum-blue utrum-cap-all">Cons</label>
                                                <p class="utrum-font text-justify">{{ r.cons }}</p>
                                            </div>
                                        </b-col>
                                    </b-row>                            
                                </div>
                                
                                <p class="rating"> Team Approval <star-rating v-model="r.team_approval_rate" read-only :show-rating="false" :star-size="20"></star-rating> </p>

                                <p class="rating"> Team communication <star-rating v-model="r.team_commu_rate" read-only :show-rating="false" :star-size="20"></star-rating> </p>
                                
                                <p class="rating"> Product/Service <star-rating v-model="r.prod_serv_rate" read-only :show-rating="false" :star-size="20"></star-rating> </p>
                                
                                <p class="rating"> Projected Growth <star-rating v-model="r.proj_growth_rate" read-only :show-rating="false" :star-size="20"></star-rating> </p>
                                
                                <p class="rating"> Investor Confidence <star-rating v-model="r.invester_conf_rate" read-only :show-rating="false" :star-size="20"></star-rating> </p>

                                <b-button size="sm" variant="primary" v-on:click="editReview(r, index)" v-if="r.is_current_user_created == true">Edit</b-button>
                                <b-button size="sm" variant="danger" v-on:click="removeReview(r, index)" v-if="r.is_current_user_created == true">
                                    <i class="fas fa-circle-notch fa-spin" v-show="r.reviewDelReqStatus == 1"></i> Remove
                                </b-button>
                            </b-card>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
        <!-- <right-sidebar/> -->
    </div>
</template>
<script>
import filter from '../../api-service/filters'
import reviewsApi from '../../api-service/reviews'
import StarRating from 'vue-star-rating'
import ComponentRightSidebar from '../../components/right_sidebar/rightsidebar'
export default {
    name: 'reviews',
    data(){
        return {
            rating: 4,
            reviews: null,
            reviewGetReq: null,
            reviewGetReqStatus: 0, // 1=loading, 2=success, 3= error 
            reviewDelReq: null,
        }
    },
    components: {
      'star-rating': StarRating,
       "right-sidebar": ComponentRightSidebar  
    },
    breadcrumb () {
        return {
            label: 'Reviews'
        }
    },
    computed: {
        sortedItems: function() {
            this.reviews.sort( ( a, b) => {
                return new Date(a.created_at) - new Date(b.created_at);
            });
            return this.reviews;
        }
    },
    created: function(){
        this.getReviews();       
    },   
    methods: {
        getReviews(){
            this.reviewGetReqStatus = 1;
            this.reviewGetReq = reviewsApi.getAll({})
            this.reviewGetReq.promise.then(response => {
                console.log("reviews detail: ",response.data)
                if(response.data.hasOwnProperty("reviews")){
                    this.reviews = response.data.reviews;
                    console.log("reviews detail============",response.data.reviews)                     
                    this.reviewGetReqStatus = 2;
                }
                else{
                    this.reviewGetReqStatus = 3; //error occured
                    alert("Reviews data not present.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.reviewGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        removeReview(r, idx){
            console.log("Remove Review: ",r);
            if(r.hasOwnProperty('reviewDelReqStatus') && r['reviewDelReqStatus'] == 1) return;
            this.$set(r, 'reviewDelReqStatus', 1);

            console.log(r);
            this.reviewDelReq = reviewsApi.delete(r.id, {})
            this.reviewDelReq.promise.then(response => {
                r.reviewDelReqStatus = 2;
                this.reviews.splice(idx, 1);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                r['reviewDelReqStatus'] = 3; //error occured
                alert("Something went wrong");
            });
        },
        editReview(r, idx){
            console.log("editReview ",r);
            this.$router.push({name: 'edit-review', params: { reviewId: r.id }})
        }
    }
}
</script>
<style>	
    @import './reviews.css';
</style>
