.utrum-review .pt-avatar-w img
{
    border-radius: 50%;
    width: 90%;
}
.utrum-review ul.profile-info
{
    padding: 0;
    list-style: none;
}
.utrum-review .profile-info-section
{
    padding: 0px;
}
.utrum-review ul.profile-info .name
{
    font-size: 18px;
    color: #047bf8;
    margin-bottom: 0px;
}
.utrum-review ul.profile-info .designation
{
    font-size: 12px;
    color:#ccc;
}
.utrum-review ul.profile-info li span
{
    color: #8e8c8c;
    font-weight: 400;
}
.utrum-review ul.profile-info-option
{
    padding: 0;
    list-style: none;
}
.utrum-review ul.profile-info-option li
{
    border-bottom: 1px solid #17a2b840;
    line-height: 30px;
}

.utrum-review ul.profile-info-option .pio-border:after 
{
    width: 0;
    height: 0;
    content: '';
    border: 2px solid transparent;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    display: block !important;
}
.utrum-review ul.profile-info-option .pio-border:hover::after {
-webkit-transition: border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s;
transition: border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s;
border-bottom-color: #047bf8;
width: 100%;
height: 96.3%;
}
.utrum-review .review-sorting-section
{
    float: right;
}
.utrum-review label.smaller{
    font-size:0.8rem;
    line-height:1.5;
}
.utrum-review .element-wrapper .element-actions select.form-control-sm {
    height: 1.75rem;
}
.utrum-review .form-control.form-control-faded {
    background-color: #dde2ec;
}
.utrum-review .form-control {
    font-weight: 300;
}
.utrum-review .form-control {
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.utrum-review .form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 4px;
}
.utrum-review p.rating {
    position: relative;   
}
.utrum-review p.rating .vue-star-rating {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 0rem;
    left: 12rem;  
}
.utrum-review .coin-icon{
    max-height: 17px;
    margin-top: -3px;
}



/***************************** New Design css here ***************************************/
/* .card-body 
{
    padding: 1rem;
} */
.date-section
{
    text-align: center;
    margin-bottom: 10px;
}
.user-profile-rating-section
{
    margin-bottom: 15px;
}
.user-profile-rating-section img
{
    border-radius: 50%;
    width: 42px;
    margin-right: 10px;
}
.user-profile-rating-section img.reviewed-coin
{
    border-radius: 50%;
    width: 30px;
    margin-right: 0px;
}
.user-profile-rating-section span.profile-section
{
    display: inline-block;
}
.user-profile-rating-section p.review-tag
{
    letter-spacing: 0.05rem;
    text-align: center;
}