<template>
  <div class="content-i"> 
        <div class="content-box">
          <b-container class="bv-example-row">
              <b-row>
                  <b-col md="4" v-for="(data, index) in icos" :key="`ico-list-${index}`" class="mb-4">
                    <b-card>
                      <a v-bind:href="data.url" target="_blank">
                        <h4> {{data.title}} </h4>
                      </a>
                      <p class="card-text">
                        {{data.description}}
                      </p>
                    </b-card>
                  </b-col>
              </b-row>
          </b-container>
        </div>
  </div>
</template>
<script>
export default {
  name: 'services',
  breadcrumb () {
        return {
            label: 'Services'
        }
  },
  data: function(){
    return{
      icos: [
        {
          title: 'Exchanges',
          url: 'https://coinmarketcap.com/',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget fermentum velit. Aenean viverra convallis metus ut molestie. Duis ipsum eros, eleifend eu rhoncus a, efficitur eget enim. Morbi sodales porttitor tortor, at ornare dui aliquam in. Cras libero libero, euismod ac auctor et, ornare quis eros. Vivamus interdum urna ut ullamcorper convallis. Phasellus placerat libero metus, sed ullamcorper nibh vulputate in. Proin quis aliquet arcu.'
        },
        {
          title: 'Products',
          url: 'https://coinmarketcap.com/',
          description: 'Morbi sapien nulla, vehicula nec nibh id, vulputate dignissim eros. Aenean eu sagittis sem, sit amet malesuada nisl. Cras molestie tempor tellus, quis ultrices velit. Proin vitae est sapien. Praesent vehicula, ex nec hendrerit tempor, libero dui dictum mauris, quis rutrum lorem augue ac leo. Quisque sem orci, elementum eget condimentum eget, gravida ac urna. Donec sagittis, ligula vel sollicitudin volutpat, ante augue porttitor lectus, feugiat efficitur lectus magna id magna. Donec vitae egestas magna.'
        },
        {
          title: 'Hardware wallets',
          url: 'https://coinmarketcap.com/',
          description: 'Quisque lacinia quam sapien, eget interdum velit finibus eget. Quisque a volutpat erat, a pretium lorem. Nullam tempus euismod convallis. Donec quis turpis scelerisque, lobortis tortor ut, bibendum enim. Integer enim quam, rutrum euismod nibh ac, tincidunt finibus sapien. Aliquam ut justo quis sem venenatis mattis ac sit amet metus. Nullam venenatis lacus eros, ac imperdiet odio efficitur quis. Vestibulum rutrum nulla quis lorem aliquet lacinia.'
        }
      ]
    }
  }
}
</script>

