<template>
    <div class="utrum-topbar">        
        <div class="top-bar color-scheme-transparent">
            <nav-breadcrumb/>
            <div class="top-menu-controls">
                <div class="element-search autosuggest-search-activator">
                    <input placeholder="Search for Coin, Person or Company..." type="text">
                </div>

                <!-- <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                    <! Add .over class to show sub menu 
                    <router-link :to="{ name: 'user-portfolio'}">
                    <img src="/static/briefcase.png" @mouseleave="toggleActiveClass('teams', 'left')" @mouseenter="toggleActiveClass('teams', 'enter')" v-bind:class="{ active: activeMenu == 'teams' }"> 
                    <! <i class="fa fa-suitcase" style="font-size: 21px;"></i> 
                    <div class="os-dropdown">
                        <div class="icon-w">
                            <i class="fa fa-suitcase" style="font-size: 21px;"></i>
                        </div>                        
                    </div>
                    </router-link>
                </div> -->

                <!-- <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                    <! Add .over class to show sub menu 
                    <router-link :to="{ name: 'user-setting'}">
                    <! <i class="os-icon os-icon-ui-46"></i> 
                    <i class="fa fa-cog" style="font-size: 20px;"></i>
                    <div class="os-dropdown">
                        <div class="icon-w">
                            <i class="fa fa-cog" style="font-size: 20px;"></i>
                        </div>                        
                    </div>
                    </router-link>
                </div>                   -->

                <!-- <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-left">
                    <! Add .over class to show sub menu 
                    <router-link :to="{ name: 'crypto_page'}">
                    <img src="/static/grid.png"> 
                    <! <i class="fa fa-th-large" style="font-size: 20px;"></i> 
                    <div class="os-dropdown">
                        <div class="icon-w">
                            <i class="fa fa-th-large" style="font-size: 20px;"></i>
                        </div>                        
                    </div>
                    </router-link>
                </div> -->

                <div class="logged-user-w setting-feed-portfolio-menu">
                    <router-link :to="{ name: 'user-portfolio'}">
                    <div class="logged-user-i">
                        <div class="">
                            <img alt="" src="/static/briefcase.png">
                        </div>
                        <div class="logged-user-menu color-style-bright">
                            <div class="logged-user-avatar-info">                                   
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        Portfolio
                                    </div>                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    </router-link>
                </div> 
                <div class="logged-user-w setting-feed-portfolio-menu">
                    <router-link :to="{ name: 'myfeed_page'}">
                    <div class="logged-user-i">
                        <div class="">
                            <img alt="" src="/static/rss-feed-button.png">
                        </div>
                        <div class="logged-user-menu color-style-bright">
                            <div class="logged-user-avatar-info">                                   
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        My Feed
                                    </div>                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    </router-link>
                </div> 

                <div class="logged-user-w setting-feed-portfolio-menu">
                    <!-- <router-link :to="{ name: 'user-setting'}"> -->
                    <div class="logged-user-i">
                        <div class="position-relative">
                            <img alt="" src="/static/notification.png">
                            <span class="notification-count">0</span>
                        </div>
                        <div class="logged-user-menu color-style-bright">
                            <div class="logged-user-avatar-info">                                   
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        Notifications
                                    </div>                                       
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </router-link> -->
                </div>                
    
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="/static/utrum_logo.png">
                        </div>
                        <div class="logged-user-menu color-style-bright">                         
                            <router-link :to="{ name: 'user-profile'}">
                                <div class="logged-user-avatar-info">
                                    <div class="avatar-w">
                                        <img alt="" src="/static/utrum_logo_white.png">
                                    </div>
                                    <div class="logged-user-info-w">
                                        <div class="logged-user-name">
                                            Maria Gomez
                                        </div>
                                        <div class="logged-user-role">
                                            Administrator
                                        </div>
                                    </div>
                                </div>
                            </router-link>
                            <div class="bg-icon">
                                <i class="os-icon os-icon-wallet-loaded"></i>
                            </div>
                            <ul>
                                <!-- <li>
                                    <router-link :to="{ name: 'user-profile'}">
                                        <i class="os-icon os-icon-mail-01"></i>
                                        <span>Incoming Mail</span>
                                    </router-link>
                                </li> -->
                                <li>
                                    <router-link :to="{ name: 'user-profile'}">
                                        <i class="os-icon os-icon-user-male-circle2"></i>
                                        <span>Profile Details</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link :to="{ name: 'user-setting'}">                                        
                                        <i class="fa fa-cog"></i>
                                        <span>Settings</span>
                                    </router-link>
                                </li>
                                <!-- <li>
                                    <router-link :to="{ name: 'user-profile'}">
                                        <i class="os-icon os-icon-coins-4"></i>
                                        <span>Billing Details</span>
                                    </router-link>
                                </li> -->
                                <!-- <li>
                                    <router-link :to="{ name: 'user-profile'}">
                                        <i class="os-icon os-icon-others-43"></i>
                                        <span>Notifications</span>
                                    </router-link>
                                </li> -->
                                <li>
                                    <a href="javascript: void(0)" v-on:click="logout()">
                                        <i class="os-icon os-icon-signs-11"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</template>
<script>
    import NavBreadcrumb from '../nav-breadcrumb/nav-breadcrumb'
    import authApi from '../../api-service/auth'
    export default {
        name: 'topbar',
        components: {
            'nav-breadcrumb': NavBreadcrumb
        },
        methods: {
            toggleActiveClass: function(menuLbl, action){
                // console.log(`${action} ${menuLbl}`);
                if(action == 'left'){
                    this.activeMenu = null
                }
                else if(action == 'enter'){
                    this.activeMenu = menuLbl
                }
            },
            logout: function(evt){
                console.log("logout");
                authApi.logout().then((response) => {
                    localStorage.removeItem("utrum-token");
                    this.$router.push({name: 'login'});
                })
                .catch(function (error) {
                    console.log("Error Response :",error);
                });
            },
            
        }
    }
</script>
<style>
    @import './topbar.css';
</style>