.utrum-topbar 
{
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}
.utrum-topbar .breadcrumb{
  background: transparent;
}
  .utrum-topbar h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1rem;
  }
  .utrum-topbar ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .utrum-topbar a {
    color: #25aadf;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  .utrum-topbar a:hover {
    color: #0356ad;
    text-decoration: underline;
  }
  .utrum-topbar img {
    vertical-align: middle;
    border-style: none;
  }
  .utrum-topbar input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    font-weight: 400;
  }
  .utrum-topbar .logged-user-w {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  .utrum-topbar .logged-user-w .avatar-w {
    padding: 5px;
    border: 1px solid #262626;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
  }
  .utrum-topbar .logged-user-w .avatar-w img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
  .utrum-topbar .logged-user-w .logged-user-role {
    display: block;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
    letter-spacing: 1px;
  }
  .utrum-topbar .os-icon {
    font-family: osfont !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .utrum-topbar .os-dropdown-trigger {
    position: relative;
    cursor: pointer;
  }
  .utrum-topbar .os-dropdown-trigger.os-dropdown-position-left .os-dropdown {
    right: 0;
    -webkit-transform: translate3d(0%, 110%, 0);
    transform: translate3d(0%, 110%, 0);
  }
  .utrum-topbar .os-dropdown {
    background-color: #25aadf;
    color: #fff;
    padding: 20px 15px;
    position: absolute;
    z-index: 999;
    bottom: 5px;
    right: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(100%, 110%, 0);
    transform: translate3d(100%, 110%, 0);
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 25px 0 rgba(26, 32, 39, .1);
    box-shadow: 0 10px 25px 0 rgba(26, 32, 39, .1);
    overflow: hidden;
    font-size: 0.9rem;
    text-align: left;
  }
  .utrum-topbar .os-dropdown > .icon-w {
    position: absolute;
    top: -30px;
    right: -30px;
    color: rgba(0, 0, 0, .08);
    font-size: 100px;
  }
  .utrum-topbar .os-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .utrum-topbar .os-dropdown ul li {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }
  .utrum-topbar .os-dropdown ul li:last-child {
    border-bottom: 0;
  }
  .utrum-topbar .os-dropdown ul li a {
    display: block;
    white-space: nowrap;
    padding: 10px;
    line-height: 1;
    color: #fff;
    font-size: 0.9rem;
  }
  .utrum-topbar .os-dropdown ul li a:hover {
    text-decoration: none;
  }
  .utrum-topbar .os-dropdown ul li a:hover i {
    color: #fff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .utrum-topbar .os-dropdown ul li a:hover span {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  .utrum-topbar .os-dropdown ul li a i {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 22px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .utrum-topbar .os-dropdown ul li a span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .utrum-topbar .os-dropdown ul li a i + span {
    padding-right: 10px;
  }
  .utrum-topbar .os-dropdown.message-list {
    padding: 15px 10px;
  }
  .utrum-topbar .os-dropdown.message-list li {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }
  .utrum-topbar .os-dropdown.message-list li:last-child {
    border-bottom: 0;
  }
  .utrum-topbar .os-dropdown.message-list li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
  }
  .utrum-topbar .os-dropdown.message-list li > a:hover {
    background-color: rgba(124, 137, 234, .07);
  }
  .utrum-topbar .os-dropdown.message-list li > a:hover .user-avatar-w img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .utrum-topbar .os-dropdown.message-list li > a:hover .message-content {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  .utrum-topbar .os-dropdown.message-list li > a .user-avatar-w {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    margin-right: 15px;
  }
  .utrum-topbar .os-dropdown.message-list li > a .user-avatar-w img {
    width: 40px;
    border-radius: 30px;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: block;
  }
  .utrum-topbar .os-dropdown.message-list li > a .message-content {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .utrum-topbar .os-dropdown.message-list li > a .message-content .message-from {
    color: #fff;
    margin-bottom: 5px;
  }
  .utrum-topbar .os-dropdown.message-list li > a .message-content .message-title {
    color: rgba(255, 255, 255, .6);
    font-size: 0.54rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 0;
  }
  .utrum-topbar .os-dropdown.light {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 75px 0 rgba(12, 76, 140, .21), 0 3px 7px 0 rgba(12, 76, 140, .14);
    box-shadow: 0 5px 75px 0 rgba(12, 76, 140, .21), 0 3px 7px 0 rgba(12, 76, 140, .14);
  }
  .utrum-topbar .os-dropdown.light.message-list li {
    border-bottom: 1px solid rgba(113, 133, 171, .09);
  }
  .utrum-topbar .os-dropdown.light.message-list li:last-child {
    border-bottom: 0;
  }
  .utrum-topbar .os-dropdown.light.message-list li > a .message-content .message-from {
    color: #334152;
  }
  .utrum-topbar .os-dropdown.light.message-list li > a .message-content .message-title {
    color: #25aadf;
  }
  .utrum-topbar .os-dropdown-trigger.over .os-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
  }
  .utrum-topbar .os-dropdown-trigger.os-dropdown-position-left.over .os-dropdown {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0);
  }
  .utrum-topbar .top-bar {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    padding: 0 20px 0 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 0 6px 0 0;
  }
  .utrum-topbar .top-bar .top-menu-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    padding: 7px 0;
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search {
    position: relative;
    margin: 0 1rem;
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search:before {
    font-family: osfont !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    content: "\e92c";
    color: rgba(0, 0, 0, .4);
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search input {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 8px 15px 8px 40px;
    display: block;
    /* width: 220px; */
    width: 305px;
    outline: 0;
    border: 0;
    box-shadow: none;
    background: #eee;
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .5);
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, .5);
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, .5);
  }
  .utrum-topbar .top-bar .top-menu-controls .element-search input::placeholder {
    color: rgba(0, 0, 0, .5);
  }
  .utrum-topbar .top-bar .messages-notifications {
    margin: 0 1rem;
    position: relative;
    font-size: 24px;
    color: #25aadf;
  }
  .utrum-topbar .top-bar .messages-notifications .new-messages-count {
    background-color: #e65252;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    right: -12px;
    padding: 4px;
    vertical-align: middle;
    font-size: 0.72rem;
    line-height: 1;
  }
  .utrum-topbar .top-bar .messages-notifications i {
    vertical-align: middle;
  }
  .utrum-topbar .top-bar .top-icon {
    margin: 0 1rem;
    color: #25aadf ;
    font-size: 26px;
  }
  .utrum-topbar .top-bar .top-icon i {
    vertical-align: middle;
  }
  .utrum-topbar .top-bar .logged-user-w {
    position: relative;
    padding: 0 0.8rem;
    border-bottom: 0;
  }
  .utrum-topbar .top-bar .logged-user-w .avatar-w {
    padding: 0;
    border: 0;
    vertical-align: middle;
  }
  .utrum-topbar .top-bar .logged-user-w .avatar-w img {
    width: 40px;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-i {
    display: inline-block;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-i:hover {
    cursor: pointer;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-i:hover .logged-user-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu {
    background: #1d97c8;
    -webkit-box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
    box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
    position: absolute;
    top: -7px;
    right: -20px;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    border-radius: 6px;
  }
  .utrum-topbar .top-bar .logged-user-w.setting-feed-portfolio-menu .logged-user-menu {  
    /* top: -6px !important;
    right: 45px !important; */
    top: 28px !important;
    right: -12px !important;
    padding: 0.5rem !important;   
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu.logged-user-setting {
    background: #1d97c8;
    -webkit-box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
    box-shadow: 0 10px 30px 0 rgba(27, 30, 35, .27);
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    visibility: hidden;
    opacity: 0;   
    text-align: left;
    border-radius: 6px;
    width: 400px;
  }
  .setting-feed-portfolio-menu .notification-count
  {
    /* background-color: red;
    border-radius: 50%;
    padding: 2px 5px;
    color: #fff;
    border-color: red;
    position: absolute;
    top: -2px;
    right: -1px;
    font-size: 9px; */

    background-color: red;
    border-radius: 50%;
    padding: 1px 4px;
    color: #fff;
    border-color: red;
    position: absolute;
    top: -8px;
    right: -3px;
    font-size: 9px;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .logged-user-avatar-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 0 30px 10px 13px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }
  .utrum-topbar .top-bar .logged-user-w.setting-feed-portfolio-menu .logged-user-menu .logged-user-avatar-info {
    
    margin-bottom: 0px !important;
    padding: 0px !important;
    border-bottom: none !important;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .avatar-w {
    border-color: #fff;
    vertical-align: middle;
    margin-right: 20px;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .logged-user-info-w {
    vertical-align: middle;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-name {
    color: #fff;
    white-space: nowrap;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .logged-user-info-w .logged-user-role {
    color: rgba(255, 255, 255, .6);
    white-space: nowrap;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu.logged-user-setting .logged-user-info-w .logged-user-role {
    color: #fff;
    white-space: pre-line;    
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li {
    border-bottom: 1px solid rgba(255, 255, 255, .05);
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a i {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a span {
    vertical-align: middle;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a:hover {
    text-decoration: none;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a:hover i {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li a:hover span {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  /* .utrum-topbar .top-bar .logged-user-w .logged-user-menu.logged-user-setting ul li a:hover i {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  } */
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu.logged-user-setting ul li a:hover span {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu ul li:last-child {
    border-bottom: 0;
  }
  .utrum-topbar .top-bar .logged-user-w .logged-user-menu .bg-icon {
    font-size: 100px;
    color: rgba(255, 255, 255, .1);
    position: absolute;
    bottom: -40px;
    right: -20px;
  }
  .utrum-topbar .top-bar.color-scheme-transparent {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  .utrum-topbar .top-bar.color-scheme-transparent .top-menu-controls .element-search input {
    background-color: rgba(121, 138, 185, .07);
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .utrum-topbar .top-bar {
      padding: 0;
    }
  }
  @media (max-width: 767px) {
    .utrum-topbar .top-bar {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .utrum-topbar .top-settings a:hover
  {
    text-decoration: none;
    color: #25aadf;
  }
  .utrum-topbar .logged-user-menu a
  {
    text-decoration: none;
  }
  
  