<template>

    <div class="content-i">
        <div class="content-box">   
            <data-table></data-table>
        </div>
        <!-- <div class="content-panel compact color-scheme-dark">                    
            <right-sidebar></right-sidebar>
        </div> -->
    </div>
   
</template>

<script>
import datatable from '../../components/data-table/data-table'
import ComponentRightSidebar from '../../components/right_sidebar/rightsidebar'
export default {
    name: 'crypto_page',
    components: {
        "data-table": datatable,
        "right-sidebar": ComponentRightSidebar        
    },   
    breadcrumb () {
        return {
            label: 'Cryptos'
        }
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    }
}
</script>

