h5,h6{
    margin-top:0;
    margin-bottom:0.5rem;
}
 a{
    color:#25aadf;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
 a:hover{
    color:#0356ad;
    text-decoration:underline;
}
 table{
    border-collapse:collapse;
}
 th{
    text-align:inherit;
}
 button{
    border-radius:0;
}
 button:focus{
    outline:1px dotted;
    outline:5px auto -webkit-focus-ring-color;
}
 input,button,select{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
 button,input{
    overflow:visible;
}
 button,select{
    text-transform:none;
}
 button{
    -webkit-appearance:button;
}
 button::-moz-focus-inner{
    padding:0;
    border-style:none;
}
 h5,h6{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
 h5{
    font-size:1.25rem;
}
 h6{
    font-size:1rem;
}
 .row{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-10px;
    margin-left:-10px;
}
 .col-6{
    position:relative;
    width:100%;
    min-height:1px;
    padding-right:10px;
    padding-left:10px;
}
 .col-6{
    -webkit-box-flex:0;
    -ms-flex:0 0 50%;
    flex:0 0 50%;
    max-width:50%;
}
 .table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
 .table th,.table td{
    padding:0.75rem;
    vertical-align:top;
    border-top:1px solid rgba(83, 101, 140, 0.33);
}
 .table thead th{
    vertical-align:bottom;
    border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
 .form-control{
    display:block;
    width:100%;
    padding:0.375rem 0.75rem;
    font-size:0.7rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:2px solid #dde2ec;
    border-radius:4px;
    -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
 .form-control::-ms-expand{
    background-color:transparent;
    border:0;
}
 .form-control:focus{
    color:#495057;
    background-color:#fff;
    border-color:#25aadf;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
 .form-control::-webkit-input-placeholder{
    color:#636c72;
    opacity:1;
}
 .form-control:-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
 .form-control::-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
 .form-control::placeholder{
    color:#636c72;
    opacity:1;
}
 .form-control:disabled{
    background-color:#e9ecef;
    opacity:1;
}
 select.form-control:not([size]):not([multiple]){
    height:calc(2.1rem + 4px);
}
 .form-group{
    margin-bottom:1rem;
}
 .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid transparent;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    border-radius:4px;
    -webkit-transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
 .btn:hover,.btn:focus{
    text-decoration:none;
}
 .btn:focus{
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
 .btn:disabled{
    opacity:0.65;
}
 .btn:not(:disabled):not(.disabled){
    cursor:pointer;
}
.btn-primary{
    color:#fff;
    background-color:#25aadf;
    border-color:#25aadf;
}
 .btn-primary:hover{
    color:#fff;
    background-color:#25aadf;
    border-color:#25aadf;
}
 .btn-primary:focus{
    -webkit-box-shadow:0 0 0 0.2rem #25aadf;
    box-shadow:0 0 0 0.2rem #25aadf;
}
 .btn-primary:disabled{
    color:#fff;
    background-color:#25aadf;
    border-color:#25aadf;
}
 .btn-lg{
    padding:0.5rem 1rem;
    font-size:1.25rem;
    line-height:1.5;
    border-radius:6px;
}
 .btn-sm{
    padding:0.25rem 0.5rem;
    font-size:0.8rem;
    line-height:1.5;
    border-radius:4px;
}
 .btn-block{
    display:block;
    width:100%;
}
 .input-group{
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    width:100%;
}
 .input-group > .form-control{
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    width:1%;
    margin-bottom:0;
}
 .input-group > .form-control:focus{
    z-index:3;
}
 .input-group > .form-control:not(:last-child){
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
 .input-group-append{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
 .input-group-append{
    margin-left:-2px;
}
 .input-group-text{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:0.375rem 0.75rem;
    margin-bottom:0;
    font-size:0.9rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    text-align:center;
    white-space:nowrap;
    background-color:#e9ecef;
    border:2px solid #dde2ec;
    border-radius:4px;
}
 .input-group > .input-group-append > .input-group-text{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
 @media (min-width: 1450px){
     .d-xxl-none{
        display:none!important;
    }
}
.text-danger{
    color:#e65252!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
     thead{
        display:table-header-group;
    }
     tr{
        page-break-inside:avoid;
    }
     .table{
        border-collapse:collapse!important;
    }
     .table td,.table th{
        background-color:#fff!important;
    }
}
 .table .icon-separator{
    margin:0px 4px;
    opacity:0.6;
}
 .table th{
    font-weight:500;
}
 .table.smaller{
    font-size:0.72rem;
}
 .table.table-compact td{
    padding:0.3rem 0.45rem;
}
 .table th,.table td{
    vertical-align:middle;
}
 .table thead th{
    border-bottom:1px solid #999;
}
 .table thead th{
    font-size:0.63rem;
    text-transform:uppercase;
    border-top:none;
}
 label{
    margin-bottom:4px;
}
 button,input,select{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}
 .form-control{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 .form-control::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
 .form-control:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
 .form-control::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
 .form-control::placeholder{
    color:rgba(0, 0, 0, 0.4);
}
 .btn-sm{
    padding:0.25rem 0.5rem;
    font-size:0.775rem;
    line-height:1.5;
    border-radius:4px;
}
 .btn{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
    outline:none;
    line-height:1;
}
 .btn .os-icon{
    font-size:0.9rem;
    display:inline-block;
    vertical-align:middle;
}
 .btn .os-icon + span{
    margin-left:5px;
    display:inline-block;
    vertical-align:middle;
}
 .form-control{
    font-weight:300;
}
 .content-panel{
    -webkit-animation-name:fadeLeft;
    animation-name:fadeLeft;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}
 .content-panel{
    vertical-align:top;
    -webkit-box-flex:0;
    -ms-flex:0 0 400px;
    flex:0 0 400px;
    border-left: 2px solid #e6e8eb;
    padding:2rem 2.5rem;
    background-color:transparent;
}
 .content-panel.compact
 {
    padding:2rem 1.5rem;
    -webkit-box-flex:0;
    -ms-flex:0 0 320px;
    flex:0 0 320px;
}
 .content-panel .content-panel-close{
    display:none;
    position:absolute;
    top:10px;
    right:10px;
    font-size:14px;
    color:#25aadf;
    z-index:999;
    cursor:pointer;
}
 .content-panel.color-scheme-dark{
    background-color:#2d3756;
}
 .element-wrapper{
    padding-bottom:3rem;
}
 .element-wrapper.compact{
    padding-bottom:2rem;
}
 .element-wrapper .element-actions{
    float:right;
    position:relative;
    z-index:2;
    margin-top:-0.2rem;
}
 .element-wrapper .element-actions.actions-only{
    margin-top:0px;
}
 .element-wrapper .element-actions .element-action{
    text-decoration:none;
    color:rgba(90, 99, 126, 0.49);
}
 .element-wrapper .element-actions .element-action:hover{
    color:#3E4B5B;
}
 .cta-w{
    border-radius:6px;
    position:relative;
}
 .cta-w.orange{
    background-image:url("http://localhost:8100/utrum_admin_template/img/cta-pattern-light.png"), -webkit-gradient(linear, left top, left bottom, from(#FF218E), to(#E36C0F));
    background-image:url("http://localhost:8100/utrum_admin_template/img/cta-pattern-light.png"), linear-gradient(-180deg, #FF218E 0%, #E36C0F 100%);
    background-size:cover;
    color:#fff;
}
 .cta-w.orange .highlight-header{
    background-color:#2283FF;
}
 .cta-w .highlight-header{
    background-color:#a42cef;
    color:#fff;
    padding:2px 5px;
    line-height:1.2;
    border-radius:6px;
    text-transform:uppercase;
    font-weight:500;
    letter-spacing:2px;
    margin-bottom:10px;
    display:inline-block;
}
 .cta-w .cta-header{
    color:#fff;
    text-shadow:0px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom:2rem;
}
 .cta-w .cta-content{
    padding:12% 8%;
}
 .cta-w .cta-content.extra-padded{
    padding:24% 9%;
}
 .cta-w .newsletter-field-w{
    position:relative;
}
 .cta-w .newsletter-field-w input{
    background-color:#fff;
    border:none;
    display:block;
    width:100%;
    border-radius:6px;
    padding:7px 15px;
}
 .cta-w .newsletter-field-w .btn{
    position:absolute;
    top:50%;
    right:5px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
 .todo-list .todo-item{
    text-decoration:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    border:1px solid #25aadf;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:10px 20px;
    border-radius:4px;
    margin-bottom:0.5rem;
}
 .todo-list .todo-item .ti-header{
    font-weight:500;
    color:#25aadf;
}
 .todo-list .todo-item .ti-sub-header{
    font-size:0.8rem;
    color:rgba(90, 99, 126, 0.49);
    line-height:1.2;
}
 .todo-list .todo-item .ti-icon{
    margin-left:auto;
    font-size:20px;
    color:#25aadf;
}
 .todo-list .todo-item.complete{
    opacity:0.7;
    border-color:#24b314;
}
 .todo-list .todo-item.complete .ti-icon{
    color:#24b314;
}
 .todo-list .todo-item.complete .ti-header{
    color:#1b850f;
}
 .fancy-progress-with-label{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:2rem;
}
 .fancy-progress-with-label .fpl-label{
    font-size:1.35rem;
    font-weight:500;
    padding-right:20px;
}
 .fancy-progress-with-label .fpl-progress-w{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    border-radius:20px;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.05);
}
 .fancy-progress-with-label .fpl-progress-w .fpl-progress-i{
    height:20px;
    background-color:#28EF58;
    background-image:-webkit-gradient(linear, left top, right top, from(#28EF58), color-stop(98%, #3386EF));
    background-image:linear-gradient(-270deg, #28EF58 0%, #3386EF 98%);
    border-radius:20px;
}
 .centered-load-more-link{
    display:block;
    padding:10px;
    padding-bottom:15px;
    text-align:center;
    cursor:pointer;
}
 .centered-load-more-link span{
    display:inline-block;
    vertical-align:middle;
    border-bottom:1px solid #25aadf;
}
 .centered-load-more-link:hover span{
    border-bottom-color:#0362c6;
}
 .centered-load-more-link.smaller{
    font-size:0.8rem;
}
 .text-faded{
    color:rgba(90, 99, 126, 0.49);
}
 .text-bright{
    color:#1D1F28;
}
 .content-panel.color-scheme-dark{
    background-color:#293145;
    color:#ccd9e8;
}
 .content-panel.color-scheme-dark .content-panel-close{
    color:#fff;
}
 .content-panel.color-scheme-dark .centered-load-more-link{
    color:#717BAA;
}
 .content-panel.color-scheme-dark .centered-load-more-link span{
    border-color:#717BAA;
}
 .content-panel.color-scheme-dark .element-wrapper .element-actions .element-action{
    color:#6C739C;
}
 .content-panel.color-scheme-dark .element-wrapper .element-actions .element-action:hover{
    color:#fff;
}
 .content-panel.color-scheme-dark .text-faded{
    color:#B7BAC6;
}
 .content-panel.color-scheme-dark .text-bright{
    color:#fff;
}
 .content-panel.color-scheme-dark:before{
    background:-webkit-gradient(linear, left top, right bottom, from(#633d7d), to(#2867ab));
    background:linear-gradient(to bottom right, #633d7d, #2867ab);
}
 .content-panel.color-scheme-dark .fancy-progress-with-label .fpl-progress-w{
    background-color:rgba(255, 255, 255, 0.05);
}
 .content-panel.color-scheme-dark .todo-list .todo-item{
    border-color:#A3A6B3;
}
 .content-panel.color-scheme-dark .todo-list .todo-item .ti-header{
    color:#fff;
}
 .content-panel.color-scheme-dark .todo-list .todo-item .ti-sub-header{
    color:#979DA8;
}
 .content-panel.color-scheme-dark .todo-list .todo-item .ti-icon{
    color:#fff;
}
 .content-panel.color-scheme-dark .todo-list .todo-item.complete{
    border-color:#166e0c;
}
 .content-panel.color-scheme-dark .todo-list .todo-item.complete .ti-icon{
    color:#24b314;
}
 .content-panel.color-scheme-dark .todo-list .todo-item.complete .ti-sub-header{
    color:#71AA91;
}
 .content-panel.color-scheme-dark .todo-list .todo-item.complete .ti-header{
    color:#F2F4F8;
}
 .content-panel.color-scheme-dark h5,.content-panel.color-scheme-dark h6{
    color:#fff;
}
 .content-panel.color-scheme-dark .element-wrapper .element-header{
    border-bottom-color:rgba(255, 255, 255, 0.05);
}
 .content-panel.color-scheme-dark .form-control{
    background-color:rgba(18, 22, 41, 0.22);
    border-color:rgba(18, 22, 41, 0.34);
    color:#ccd9e8;
}
 .content-panel.color-scheme-dark .form-control::-webkit-input-placeholder{
    color:rgba(218, 226, 243, 0.4);
}
 .content-panel.color-scheme-dark .form-control:-ms-input-placeholder{
    color:rgba(218, 226, 243, 0.4);
}
 .content-panel.color-scheme-dark .form-control::-ms-input-placeholder{
    color:rgba(218, 226, 243, 0.4);
}
 .content-panel.color-scheme-dark .form-control::placeholder{
    color:rgba(218, 226, 243, 0.4);
}
 .content-panel.color-scheme-dark .input-group-text{
    background-color:rgba(18, 22, 41, 0.22);
    border-color:rgba(18, 22, 41, 0.14);
    color:rgba(218, 226, 243, 0.4);
}
 .content-panel.color-scheme-dark .table th,.content-panel.color-scheme-dark .table td{
    border-color:rgba(159, 172, 199, 0.12);
}
 .content-panel.color-scheme-dark .table thead th{
    border-bottom-color:rgba(255, 255, 255, 0.05);
    color:rgba(218, 226, 243, 0.4);
}
 @media (max-width: 1650px){
     .content-panel{
        padding:2rem;
        -webkit-box-flex:0;
        -ms-flex:0 0 350px;
        flex:0 0 350px;
    }
     .content-panel.compact{
        -webkit-box-flex:0;
        -ms-flex:0 0 300px;
        flex:0 0 300px;
        padding:2rem 1rem;
    }
}
 @media (min-width: 1100px) and (max-width: 1350px){
     .content-panel{
        -webkit-box-flex:0;
        -ms-flex:0 0 300px;
        flex:0 0 300px;
        padding:1.5rem;
    }
}
 @media (max-width: 1150px){
     .content-panel{
        max-width:400px;
        position:absolute;
        top:0px;
        bottom:0px;
        right:0px;
        background-color:#fff;
        background-image:-webkit-gradient(linear, right top, left top, color-stop(8%, #EFF2F9), color-stop(90%, #fff));
        background-image:linear-gradient(-90deg, #EFF2F9 8%, #fff 90%);
        z-index:4;
        border:none;
        -webkit-transform:translateX(100%);
        transform:translateX(100%);
        -webkit-transition:all 0.6s ease;
        transition:all 0.6s ease;
        visibility:hidden;
        z-index:11;
    }
     .content-panel.compact{
        max-width:320px;
    }
     .content-panel .content-panel-close{
        display:block;
    }
     .content-panel.color-scheme-dark{
        background-color:#293145;
        background-image:-webkit-gradient(linear, right top, left top, from(#293145), to(#293145));
        background-image:linear-gradient(-90deg, #293145, #293145);
    }
}
 @media (max-width: 1024px){
     .table th,.table td{
        padding:0.7rem 0.5rem;
    }
}
 @media (min-width: 768px) and (max-width: 1024px){
     .element-wrapper{
        padding-bottom:2rem;
    }
}
 @media (max-width: 767px){
     .element-wrapper .element-actions{
        float:none;
        margin-bottom:20px;
    }
     .element-wrapper .element-actions.actions-only{
        float:right;
        margin-bottom:0;
    }
     .content-i .content-panel{
        padding:30px 15px;
        border-left:none;
        display:block;
        width:auto;
    }
     .element-wrapper{
        padding-bottom:1.5rem;
    }
     .element-wrapper.compact{
        padding-bottom:1rem;
    }
     table{
        max-width:100%;
    }
}

.utrum-rightsidebar .add-detail
{
    padding-bottom: 10px;
}

.utrum-rightsidebar .show-hide-rightsidebar
{
    position: relative;
}
.utrum-rightsidebar .show-hide-rightsidebar i.openclose
{
    position: absolute;
    top: -24px;
    left: -15px;
}
.utrum-rightsidebar .add-detail span.right-add-btn
{
    white-space: pre-line;    
}

/* Custome tab section css */

.tab-section-rightbar .utrum-tabs
{
  margin: 0px;
}
.tab-section-rightbar .utrum-tabs ul li.nav-item
{
  padding: 5px 8px !important; 
  border-bottom: 1px solid #fff;
}
.tab-section-rightbar .utrum-tabs .tab-background
{
  padding: 0px 0px !important; 
  border-right: 1px solid #dee2e6;
}
.tab-section-rightbar .utrum-tabs .nav-link
{  
  color: #7f838f !important;
  padding: 0.5rem 0.4rem !important;  
  background-color: #FFFFFF !important;
}
.tab-section-rightbar .utrum-tabs .nav-link.active
{
  background-color: transparent !important; 
  color: #2a3246 !important;   
}
.tab-section-rightbar .utrum-tabs .nav-item .nav-link.active::before {   
    bottom: -2px !important;
    left: 0px !important;
}
.tab-section-rightbar .card-body 
{   
    padding: 1.25rem 0.2rem !important;
}

.code-info .code-analytic-title {
    color: #303a46;
    font-weight: 400;
    font-size: 0.8rem;
    /* color: #25aadf; */
}
.code-info .count{
    color: #7f838f;
    font-size: 0.8rem;
}





