<template>
<div class="content-panel compact color-scheme-dark" v-bind:class="{ 'utrum-menu-expand': isexpand , 'utrum-menu-collapse': iscollapse }">    
    <div class="utrum-rightsidebar">
        <div class="show-hide-rightsidebar pb-1">
            <!-- <i class="os-icon os-icon-arrow-right4 openclose" v-if="isexpand" v-on:click="collapseExpand()"></i>
            <i class="os-icon os-icon-arrow-left4 openclose" v-if="iscollapse" v-on:click="collapseExpand()"></i> -->
            <!-- <i class="os-icon os-icon-arrow-right4 close" v-on:click="collapseExpand()"></i> -->
        </div>
        <add-social-info :cryptoData="cryptoData" />        
        <!-- <div class="content-panel-close">
            <i class="os-icon os-icon-close"></i>
        </div> -->

        <h6 class="element-header pb-2 border-bottom position-relative mb-2">
            Visit
        </h6>
        <visit-blog :cryptoData="cryptoData" />        

        <h6 class="element-header pb-2 border-bottom position-relative mb-2 analytics">
            Analytics
        </h6>

        <div class="element-wrapper" v-if="cryptoData">
            <div class="tab-section-rightbar" >
             <b-tabs card v-model="tabIndex" class="utrum-tabs">
                 <b-tab :title-link-class="linkClass(0)">
                        <template slot="title">                                    
                            <p class="text-center mb-0"><i class="os-icon os-icon-users utrum-blue"></i> Social</p>
                        </template>
                        <crypto-social-info :cryptoData="cryptoData" />
                 </b-tab>
                 <b-tab :title-link-class="linkClass(1)" >
                        <template slot="title">                                    
                            <p class="text-center mb-0"><i class="os-icon os-icon-bar-chart-stats-up utrum-blue"></i> Market</p>
                        </template>
                         <crypto-marketcap-info :cryptoData="cryptoData" />
                 </b-tab>                 
                 <b-tab :title-link-class="linkClass(2)">
                        <template slot="title">                                    
                            <p class="text-center mb-0"><i class="os-icon os-icon-code utrum-blue"></i> Code</p>
                        </template>
                        
                        <div class="element-box-tp code-info">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Contributors</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">50</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Total Commits</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count ">60</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last 7 days</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">56</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last 30 days</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count ">20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Top Contributor</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">XYZ</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last updated on</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">2018-06-02</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>                   
                 </b-tab>
             </b-tabs>
            
            </div>
           
        </div>
        <div class="element-wrapper" v-if="!cryptoData">
            <div class="tab-section-rightbar" >
             <b-tabs card v-model="tabIndex" class="utrum-tabs">                 
                 <b-tab :title-link-class="linkClass(2)">
                        <template slot="title">                                    
                            <p class="text-center mb-0"><i class="os-icon os-icon-code utrum-blue"></i> Code</p>
                        </template>
                        
                        <div class="element-box-tp code-info">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Contributors</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">50</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Total Commits</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count ">60</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last 7 days</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">56</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last 30 days</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count ">20</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Top Contributor</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">XYZ</span>                                       
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="" class="code-analytic-title">Last updated on</label>
                                        <div class="input-group">
                                            <span class="text-center pt-2 count">2018-06-02</span>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>                   
                 </b-tab>
             </b-tabs>
            
            </div>
        </div>
       
    </div>
</div>
</template>
<script>
import CryptoMarketCapInfo from '../../components/crypto-rightsidebar-social/market-info'
import CryptoSocialInfo from '../../components/crypto-rightsidebar-social/social-info'
import addsocialinfo from '../../components/crypto-rightsidebar-social/add-social-info'
import visitblog from '../../components/crypto-rightsidebar-social/visit-blog'
import LineChart from './LineChart.vue'

    export default {
        name: 'rightsidebar',
        props: ['cryptoData'],
        data () {
            return {
             similarCoinsToggle: true,
             socialToggle: true,
             gitToggle: true,
             isexpand:true,
             iscollapse:false,
             tabIndex: 0
            }
        },      
        components: {
            'line-chart':LineChart, 
            'crypto-marketcap-info': CryptoMarketCapInfo,
            'crypto-social-info':CryptoSocialInfo,
            'add-social-info':addsocialinfo,
            'visit-blog':visitblog

        },
        created: function()
        {
            //alert("Hii");
            //console.log("right sidebar data========");
            //console.log(this.cryptoData);
            //this.cryptoData ? this.tabIndex = 0 : this.tabIndex = 2;
        },
        methods:{
            collapseExpand()
            {
                this.iscollapse = !this.iscollapse;
                this.isexpand = !this.isexpand;
            },
            linkClass (idx) 
            {
                // if (this.tabIndex === idx) {
                //     // return ['bg-primary', 'text-light']
                // } else {
                //     // return ['bg-light', 'text-info']
                // }
            },
        }
    }
</script>
<style>
    @import './rightsidebar.css';
    @import './rightsidebar_white.css';
</style>