/* White Right Sidebar css start here */

.content-panel.color-scheme-dark {
    /* background-color: #293145; */
    background-color: #ffffff;
    color: #ccd9e8;
}
.content-panel.color-scheme-dark h6 {
    color: #444;
}
.content-panel.color-scheme-dark h6:after {
    content: "";
    background-color: #25aadf;
    width: 15%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}
.content-panel.color-scheme-dark h6.analytics:after 
{
    content: none;
}

.content-panel.color-scheme-dark .form-control {
    background-color: #293145;
    border-color: #293145;
    color: #ccd9e8;
}

.utrum-rightsidebar .show-hide-rightsidebar i.openclose {
    position: absolute;
    top: -24px;
    left: -15px;
    color: #25aadf;
}
.content-panel.color-scheme-dark .element-wrapper .element-actions .element-action:hover {
    color: #25aadf;
}
.content-panel.color-scheme-dark .element-wrapper .element-header {
    border-bottom-color: rgba(37, 170, 223, 0.12);
}
.market-analytic-title
{
    color: #6c757d;
}
.col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 6px;
}
ul.social-analytics{
    padding: 0px;
}
ul.social-analytics li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 4px;
}
ul.social-analytics li .social-circle i {
    font-size: 1rem;
    display: block;
}
ul.social-analytics li .social-circle span.count {
    font-size: 12px;    
}
.tab-section-rightbar .utrum-tabs .nav-item .nav-link.active::before {
    content: "";
    background-color: #25aadf;
    width: 95%;
    height: 2px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}