<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-people">
            <div class="utrum-people-detail">
            <div class="row">
                <b-col cols="12">
                    <div class="element-wrapper">
                        <h6 class="element-header">
                          <i class="fa fa-user utrum-blue"></i><span class="user-name">David Cohen</span>                         
                        </h6>
                    </div>
                </b-col>
            </div>
            <b-container>
                <div class="row">
                    <b-col cols="4">
                    <div class="element-wrapper">
                        <div class="user-profile-img">
                            <img alt="" src="/static/avatar2.jpg"> 
                        </div>
                    </div>
                    </b-col>
                    <b-col cols="8">
                    <div class="element-wrapper">                       
                        <div class="element-box-tp">
                        <div class="profile-tile">                            
                            <div class="profile-tile-meta">
                            <ul>
                                <li>
                                Job Title :<strong>Managining Partner</strong>
                                </li>
                                <li>
                                Location:<strong>USA</strong>
                                </li>
                                <li>
                                Crypto Experience:<strong>True</strong>
                                </li>
                                 <li>
                                Rating:<div class="rating-section"><i class="fa fa-star" style="color: #047bf8;"></i><i class="fa fa-star" style="color: #047bf8;"></i><i class="fa fa-star" style="color: #047bf8;"></i><i class="fa fa-star" style="color: #047bf8;"></i><i class="fa fa-star"></i></div>
                                </li>
                                <li>
                                <router-link to="people-detail"><div class="btn utrum-btn-primary btn-sm">Read Blog</div></router-link>
                                </li>
                            </ul>                           
                            </div>
                        </div>
                        </div>
                    </div>
                    </b-col>
                    <b-col cols="12">
                         <div class="element-wrapper education-section">
                            <h6 class="element-header team-member-name">
                            Education Details
                            </h6>
                         </div>
                         <div class="education-table">
                             <div class="element-box-tp">
                                <div class="table-responsive">
                                    <table class="table table-padded">           
                                        <tbody>
                                            <tr>                                                
                                                <td>
                                                    <div class="smaller lighter">
                                                        <strong>2010-14</strong>  B.E. (Computers) From Shivaji University Kolhapur, India with 67 %.
                                                    </div>
                                                </td>          
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                         </div>
                     </b-col>
                     <b-col cols="12 advisor-section">
                         <div class="element-wrapper advisor-section-title">
                            <h6 class="element-header team-member-name">
                            Board Member / Advisor
                            </h6>
                         </div>
                         <div class="row">
                             <b-col cols="3">
                                 <div class="element-box-tp">
                                    <div class="profile-tile">
                                        <a class="profile-tile-box" href="users_profile_small.html">
                                            <div class="pt-avatar-w">
                                                <img alt="" src="/static/avatar1.jpg">
                                            </div>
                                            <div class="pt-user-name">
                                                Program Manaager
                                            </div>
                                        </a>                           
                                    </div>                          
                                </div>
                             </b-col>
                             <b-col cols="3">
                                 <div class="element-box-tp">
                                    <div class="profile-tile">
                                        <a class="profile-tile-box" href="users_profile_small.html">
                                            <div class="pt-avatar-w">
                                                <img alt="" src="/static/avatar3.jpg">
                                            </div>
                                            <div class="pt-user-name">
                                                Program Manaager
                                            </div>
                                        </a>                           
                                    </div>                          
                                </div>
                             </b-col>
                             <b-col cols="3">
                                 <div class="element-box-tp">
                                    <div class="profile-tile">
                                        <a class="profile-tile-box" href="users_profile_small.html">
                                            <div class="pt-avatar-w">
                                                <img alt="" src="/static/avatar4.jpg">
                                            </div>
                                            <div class="pt-user-name">
                                                Program Manaager
                                            </div>
                                        </a>                           
                                    </div>                          
                                </div>
                             </b-col>
                             <b-col cols="3">
                                 <div class="element-box-tp">
                                    <div class="profile-tile">
                                        <a class="profile-tile-box" href="users_profile_small.html">
                                            <div class="pt-avatar-w">
                                                <img alt="" src="/static/avatar5.jpg">
                                            </div>
                                            <div class="pt-user-name">
                                                Program Manaager
                                            </div>
                                        </a>                           
                                    </div>                          
                                </div>
                             </b-col>
                         </div>
                         
                     </b-col>
                    <b-col cols="12 social-link-section">
                        <ul>
                            <li><img alt="" src="/static/facebook-icon.png"></li>
                            <li><img alt="" src="/static/telegram-icon.png"></li>
                            <li><img alt="" src="/static/raddit-icon.png"></li>
                            <li><img alt="" src="/static/twitter-icon.png"></li>
                        </ul>
                    </b-col>
            </div>
            </b-container>
           
        </div>
    </div>    
    </div>
    <!-- <div class="content-panel compact color-scheme-dark">                     -->
        <!-- <right-sidebar></right-sidebar> -->
    <!-- </div> -->
</div>
   
    
</template>
<script>

import Vue from 'vue';
import StarRating from 'vue-star-rating'

Vue.component('star-rating', StarRating);

import ComponentRightSidebar from '../../components/right_sidebar/rightsidebar'

export default {
    name: 'people-detail',
     data: {
    rating: "No Rating Selected",
    currentRating: "No Rating",
    currentSelectedRating: "No Current Rating",
    boundRating: 3,
  },       
    components: {       
    "right-sidebar": ComponentRightSidebar ,
    "star-rating": StarRating
    
    },
    breadcrumb () {
        return {
            label: 'People'
        }
    },
    methods: { 
    setRating: function(rating) {
      this.rating = "You have Selected: " + rating + " stars";
    },
    showCurrentRating: function(rating) {
      this.currentRating = (rating === 0) ? this.currentSelectedRating : "Click to select " + rating + " stars"
    },
    setCurrentSelectedRating: function(rating) {
      this.currentSelectedRating = "You have Selected: " + rating + " stars";
    }

    }
}
</script>
<style>
    @import './people-detail.css';
</style>