/*! CSS Used from: http://localhost:8100/utrum_admin_template/css/main.css?version=4.4.0 */

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

a {
	color: #047bf8;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

a:hover {
	color: #0356ad;
	text-decoration: underline;
}

img {
	vertical-align: middle;
	border-style: none;
}

table {
	border-collapse: collapse;
}

th {
	text-align: inherit;
}

input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input {
	overflow: visible;
}

input[type="checkbox"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

h6 {
	margin-bottom: 0.5rem;
	font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
	line-height: 1.2;
	color: #334152;
}

h6 {
	font-size: 1rem;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.table th,
.table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid rgba(83, 101, 140, 0.33);
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid rgba(83, 101, 140, 0.33);
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid #dde2ec;
	border-radius: 4px;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #047bf8;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control::-ms-input-placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control::placeholder {
	color: #636c72;
	opacity: 1;
}

.form-control:disabled {
	background-color: #e9ecef;
	opacity: 1;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 4px;
}

.badge:empty {
	display: none;
}

.text-center {
	text-align: center!important;
}

@media print {
	*,
	*::before,
	*::after {
		text-shadow: none!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	.badge {
		border: 1px solid #000;
	}
	.table {
		border-collapse: collapse!important;
	}
	.table td,
	.table th {
		background-color: #fff!important;
	}
}

.table .user-with-avatar {
	white-space: nowrap;
}

.table .user-with-avatar img {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50px;
}

.table .user-with-avatar span {
	display: inline-block;
	vertical-align: middle;
}

.table .user-with-avatar img+span {
	margin-left: 10px;
}

.table th {
	font-weight: 500;
}

.table .smaller {
	font-size: 0.72rem;
}

.table .lighter {
	color: rgba(90, 99, 126, 0.49);
}

.table th,
.table td {
	vertical-align: middle;
}

.table td img {
	max-width: 100%;
}

.table thead th {
	border-bottom: 1px solid #999;
}

.table thead th {
	font-size: 0.63rem;
	text-transform: uppercase;
	border-top: none;
}

.table td.nowrap {
	white-space: nowrap;
}

.table .row-actions {
	text-align: center;
}

.table .row-actions .os-icon {
	font-size: 16px;
}

.table .row-actions a {
	margin-right: 0.8rem;
	color: #3E4B5B;
}

.table .row-actions a.danger {
	color: #9d1818;
}

.table .row-actions a:last-child {
	margin-right: 0px;
}

@media (min-width: 1100px) {
	.table-responsive {
		overflow: visible;
	}
}

.table.table-padded {
	border-collapse: separate;
	border-spacing: 0 5px;
}

.table.table-padded thead tr th {
	border: none;
	font-size: 0.81rem;
	color: rgba(90, 99, 126, 0.49);
	letter-spacing: 1px;
	padding: 0.3rem 1.1rem;
}

.table.table-padded tbody tr {
	border-radius: 4px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.table.table-padded tbody tr:hover {
	-webkit-box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
	box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
	-webkit-transform: translateY(-1px) scale(1.01);
	transform: translateY(-1px) scale(1.01);
}

.table.table-padded tbody td {
	padding: 0.9rem 1.1rem;
	background-color: #fff;
	border: none;
	border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.table.table-padded tbody td img {
	display: inline-block;
	vertical-align: middle;
}

.table.table-padded tbody td img+span {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

.table.table-padded tbody td span+span {
	margin-left: 5px;
}

.table.table-padded tbody td .status-pill+span {
	margin-left: 10px;
}

.table.table-padded tbody td:first-child {
	border-radius: 4px 0px 0px 4px;
}

.table.table-padded tbody td:last-child {
	border-radius: 0px 4px 4px 0px;
	border-right: none;
}

input {
	font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
}

.form-control {
	font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.form-control[type="checkbox"] {
	width: auto;
	display: inline-block;
}

.form-control::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form-control:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form-control::-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.form-control::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

.badge {
	font-size: 0.81rem;
}

.badge-primary-inverted {
	background-color: #cce4ff;
	border: 1px solid #0362c6;
	color: #0356ad;
	font-weight: 300;
}

.badge-primary-inverted[href]:hover,
.badge-primary-inverted[href]:focus {
	background-color: #99caff;
	border: 1px solid #024994;
	color: #0356ad;
	font-weight: 300;
}

.badge-success-inverted {
	background-color: #c5f0c0;
	border: 1px solid #1b850f;
	color: #166e0c;
	font-weight: 300;
}

.badge-success-inverted[href]:hover,
.badge-success-inverted[href]:focus {
	background-color: #9fe697;
	border: 1px solid #12570a;
	color: #166e0c;
	font-weight: 300;
}

.badge-warning-inverted {
	background-color: white;
	border: 1px solid #f9d66f;
	color: #f8cf57;
	font-weight: 300;
}

.badge-warning-inverted[href]:hover,
.badge-warning-inverted[href]:focus {
	background-color: #fff9e8;
	border: 1px solid #f7c83e;
	color: #f8cf57;
	font-weight: 300;
}

.badge-danger-inverted {
	background-color: #fdebeb;
	border: 1px solid #e02525;
	color: #ce1e1e;
	font-weight: 300;
}

.badge-danger-inverted[href]:hover,
.badge-danger-inverted[href]:focus {
	background-color: #fabcbc;
	border: 1px solid #b71b1b;
	color: #ce1e1e;
	font-weight: 300;
}

.form-control {
	font-weight: 300;
}

.element-wrapper {
	padding-bottom: 3rem;
}

.element-wrapper .element-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	position: relative;
	z-index: 1;
}

.element-wrapper .element-header:after {
	content: "";
	background-color: #047bf8;
	width: 25px;
	height: 4px;
	border-radius: 0px;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0px;
}

.status-pill {
	width: 12px;
	height: 12px;
	border-radius: 30px;
	background-color: #eee;
	display: inline-block;
	vertical-align: middle;
}

.status-pill.yellow {
	background-color: #f8bc34;
}

.status-pill.red {
	background-color: #c21a1a;
}

.status-pill.green {
	background-color: #71c21a;
}

.status-pill.smaller {
	width: 8px;
	height: 8px;
}

.status-pill+span {
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.os-icon {
	font-family: 'osfont'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.os-icon-grid-10:before {
	content: "\e96b";
}

.os-icon-ui-44:before {
	content: "\e955";
}

.os-icon-ui-15:before {
	content: "\e956";
}

@media (max-width: 1024px) {
	.table th,
	.table td {
		padding: 0.7rem 0.5rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.element-wrapper {
		padding-bottom: 2rem;
	}
}

@media (max-width: 767px) {
	.element-wrapper {
		padding-bottom: 1.5rem;
	}
	table {
		max-width: 100%;
	}
}

/* people table custome css */

.people-table .people-from
{
	display: block !important;	
	color: rgba(90, 99, 126, 0.49);
    letter-spacing: 0.1rem;
}
.people-table table tr td:nth-child(2)
{
	min-width: 12rem;
}
.people-table table tr td a
{		
	color: #333;   
}
.people-table table tr td a:hover
{		
	color: #25aadf; 
}
.people-table .social-info ul.social-links, .people-table .score-info ul.score-links
{
	padding: 0;
	list-style-type: none;
}
.people-table .social-info ul.social-links li
{
	display: inline-block;
	padding: 0rem 0.1rem;
}
.people-table .score-info ul.score-links li
{
	display: inline-block;
	padding: 0rem 0.6rem;
}
.people-table .score-info ul.score-links li a
{
	text-decoration: none;
}

/**** Change table design like crypto table ****/

.people-table .element-box-tp
{
	padding: 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}
.people-table .table thead tr th
{
	background-color: #f2f4f8;
	border-bottom: none;
	padding: 15px;
	font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 0.9rem !important;
    color: #888c99;    
}
.people-table .table tbody tr:first-child td
{
	border-top: none !important;
}

