<template>
    <div class="content-i"> 
        <div class="content-box">
            <!-- <p v-show="predictionsGetReqStatus == 1">Loading</p> -->

            <!-- <div  v-show="predictionsGetReqStatus == 1" id="loftloader-wrapper" class="pl-imgloading" data-show-close-time="15000">
                <div class="loader-inner">
                    <div id="loader"><span></span><img src="https://utrum.io/wp-content/uploads/Logo500x500.png" alt="preloder"></div>
                </div>
                <div class="loader-section section-fade"></div>
                <div class="loader-close-button" style=""><span class="screen-reader-text">Close</span></div>
            </div> -->

            <div class="people-table">
               <div class="element-wrapper">
                    <div class="element-box"> 
                        <div class="table-responsive">
                            <!-- User Interface controls -->
                            <b-row>

                            <b-col md="6" class="my-1">
                                <b-form-group horizontal label="Per page" class="mb-0">
                                <b-form-select :options="pageOptions" v-model="perPage" />
                                </b-form-group>
                            </b-col>

                            <b-col md="6" class="my-1">
                                <b-form-group horizontal label="Filter" class="mb-0">
                                <b-input-group>
                                    <b-form-input v-model="filter" placeholder="Type to Search" />                                   
                                </b-input-group>
                                </b-form-group>
                            </b-col>                          
                            </b-row>

                            <!-- Main table element -->
                            <b-table show-empty
                                    stacked="md"
                                    :items="peopledata"
                                    :fields="fields"
                                    :current-page="currentPage"
                                    :per-page="perPage"
                                    :filter="filter"
                                    :sort-by.sync="sortBy"
                                    :sort-desc.sync="sortDesc"
                                    :sort-direction="sortDirection"
                                    
                            >
                            <template slot="user" slot-scope="row">

                                <div class="user-with-avatar">
                                    <router-link :to="{name:'people-detail'}">
                                        <img alt="" :src="row.item.user.img"><span>{{row.item.user.name}}<span class="people-from"><i class="fas fa-map-marker-alt pr-2 utrum-blue"></i>{{row.item.user.address}}</span> </span>
                                    </router-link>
                                </div>

                            </template>
                            <template slot="social" slot-scope="row">

                                <div class="social-info">
                                    <ul class="social-links mb-0">
                                        <li class="smaller"><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                        <li class="smaller"><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                        <li class="smaller"><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                        <li class="smaller"><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                    </ul>
                                </div>

                            </template>
                            <template slot="count" slot-scope="row">

                                <div class="score-info text-left">
                                    <ul class="score-links mb-0">
                                            <li><i class="fas fa-users fb-fc align-middle pr-2" data-toggle="tooltip" data-placement="top" title="Followers"></i><span class="lighter" data-toggle="tooltip" data-placement="top" title="Followers">{{row.item.count.followers}}</span></li>
                                            <li><i class="fas fa-signal align-middle pr-2" data-toggle="tooltip" data-placement="top" title="Reputation"></i><span class="lighter" data-toggle="tooltip" data-placement="top" title="Reputation">{{row.item.count.reputation}}</span></li>
                                            <!-- <li><span class="smaller text-white p-2 rounded" v-bind:class="{ 'bg-success': data.uts >= 70 && data.uts < 100, 'bg-warning': data.uts >= 40 && data.uts < 70, 'bg-danger': data.uts < 40 }" data-toggle="tooltip" data-placement="top" title="UTS">{{data.uts}} UTS</span></li>                                                -->
                                    </ul>
                                </div>

                            </template>
                            <template slot="uts" slot-scope="row">

                                <div class="score-info text-left">
                                    <ul class="score-links mb-0">
                                            <li><span class="smaller text-white p-2 rounded" v-bind:class="{ 'bg-success': row.item.uts >= 70 && row.item.uts < 100, 'bg-warning': row.item.uts >= 40 && row.item.uts < 70, 'bg-danger': row.item.uts < 40 }" data-toggle="tooltip" data-placement="top" title="UTS">{{row.item.uts}} UTS</span></li>                                               
                                    </ul>
                                </div>

                            </template>
                            <template slot="actions" slot-scope="row">

                                <div class="btn utrum-btn-primary btn-sm w-75" v-on:click="follow_unfollow(row.item)">
                                    <span class="utrum-cap-first">
                                        <i class="fas fa-circle-notch fa-spin" v-if="followReqStatus == 1"></i>
                                        <i v-else class="fas fa-rss pr-1"></i>
                                        
                                        <span v-if="row.item.following" class="text-capitalize">Unfollow</span>
                                        <span v-else class="text-capitalize">Follow</span>
                                        <span class="smaller d-block">1k Followers</span>
                                    </span>
                                </div>

                            </template>
                            <!-- <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
                            <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template> -->
                            <!-- <template slot="actions" slot-scope="row">
                                <! We use @click.stop here to prevent a 'row-clicked' event from also happening --
                                <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
                                Info modal
                                </b-button>
                                <b-button size="sm" @click.stop="row.toggleDetails">
                                {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
                                </b-button>
                            </template> -->
                            <!-- <template slot="row-details" slot-scope="row">
                                <b-card>
                                <ul>
                                    <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
                                </ul>
                                </b-card>
                            </template> -->
                            </b-table>

                            <b-row>
                            <b-col md="6" class="my-1">
                                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
                            </b-col>
                            </b-row>
                        </div>
                    </div>
               </div> 
            </div>       
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
export default {
    name: 'people-new',
    data(){
        return {

            //fields: [ 'profile'],
            followReq: null,
            followReqStatus: 0, // 1=loading, 2=success, 3= error

            fields: [
                { key: 'id', label: 'ID', sortable: true, sortDirection: 'desc' },
                { key: 'user', label: 'People', sortable: true, sortDirection: 'desc' },
                { key: 'social', label: 'Social'},           
                { key: 'count', label: 'Count', sortable: true, 'class': 'text-center' },
                { key: 'uts', label: 'uts'},                
                { key: 'actions', label: 'Actions' }
            ],
            currentPage: 1,
            perPage: 2,
            totalRows: 0,
            pageOptions: [ 2, 5, 10, 15 ],
            sortBy: null,
            sortDesc: false,
            sortDirection: 'asc',
            filter: null,           
            people:[{
                id:1,
                profile: 'static/avatar1.jpg',
                name: 'John Mayers',
                adderss: 'India',
                followers: 1234,
                reputation: 6523,
                uts: 75,
                following:false
            },
            {
                id:2,
                profile: 'static/avatar2.jpg',
                name: 'Signal Swiss',
                adderss: 'Switzerland',
                followers: 124,
                reputation: 623,
                uts: 25,
                following:false
            },
            {
                id:3,
                profile: 'static/avatar3.jpg',
                name: 'TomProTrader',
                adderss: 'United Kingdom',
                followers: 412,
                reputation: 652,
                uts: 80,
                following:false
            },
            {
                id:4,
                profile: 'static/avatar4.jpg',
                name: 'Alanmasters',
                adderss: 'Nirvana',
                followers: 341,
                reputation: 523,
                uts: 40,
                following:false
            },
            {
                id:5,
                profile: 'static/avatar5.jpg',
                name: 'DACapitalTrading',
                adderss: 'Germany',
                followers: 1234,
                reputation: 6523,
                uts: 75,
                following:false
            }],
            peopledata:[],               
        }
    },
    computed: {
        sortOptions () {
        // Create an options list from our fields
        return this.fields
            .filter(f => f.sortable)
            .map(f => { return { text: f.label, value: f.key } })
        }
    },    
    breadcrumb () {
        return {
            label: 'Predictions'
        }
    },
    created: function()
    {
        this.getpeople();
        
    },
    methods: { 
        getpeople()
        {
            //console.log("people data==");
            //console.log(this.people);
            this.totalRows = this.people.length;
            this.people.forEach(element => {
                   //console.log("people===");
                    //console.log(element);
                    let data = {
                   
                    id: element.id,
                    user:{
                            img:element.profile,
                            name:element.name, 
                            address:element.adderss                               
                        },
                    count:{
                        followers:element.followers,
                        reputation:element.reputation
                    },
                    uts:element.uts,
                    following:element.following,
                        
                    }

                    this.peopledata.push(data);
                });
                console.log("data data people===");
                console.log(this.peopledata);
        },
        follow_unfollow(user)
        {
            console.log("follower count=====");
            console.log(user);
            this.followReqStatus = 1;           
            Vue.set(this.peopledata, this.peopledata.findIndex(f => f.id === user.id), {id:user.id,profile:user.profile,name:user.name,adderss:user.adderss,followers:user.followers,reputation:user.reputation,uts:user.uts,following:!user.following});
            this.followReqStatus = 0;
        }
    }
}
</script>

<style>
@import './people-new.css';
</style>
