/*! CSS Used from: http://localhost:8100/utrum_admin_template/css/main.css?version=4.4.0 */
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
 h5{
    margin-top:0;
    margin-bottom:0.5rem;
}
 code{
    font-family:monospace, monospace;
    font-size:1em;
}
 img{
    vertical-align:middle;
    border-style:none;
}
 table{
    border-collapse:collapse;
}
 th{
    text-align:inherit;
}
 h5{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
 h5{
    font-size:1.25rem;
}
 code{
    font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
 code{
    font-size:87.5%;
    color:#e83e8c;
    word-break:break-word;
}
 .table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
 .table th,.table td{
    padding:0.8rem;
    vertical-align:top;
    border-top:1px solid rgba(83, 101, 140, 0.33);
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 0.9rem !important;
}
 .table thead th{
    vertical-align:bottom;
    border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
 .table-striped tbody tr:nth-of-type(odd){
    background-color:rgba(94, 130, 152, 0.05);
}
 .table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
 .text-right{
    text-align:right!important;
}
 .text-center{
    text-align:center!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
     thead{
        display:table-header-group;
    }
     tr,img{
        page-break-inside:avoid;
    }
     .table{
        border-collapse:collapse!important;
    }
     .table td,.table th{
        background-color:#fff!important;
    }
}
 .table th{
    font-weight:500;
    color: #888c99;
}
 .table th,.table td{
    vertical-align:middle;
    text-align: center;
}
 .table td img{
    max-width:100%;
}
 .table thead th{
    border-bottom:1px solid #999;
}
 .table thead th{
    font-size:0.9rem;
    text-transform:uppercase;
    border-top:none;
    text-align: center;
}
 @media (min-width: 1100px){
     .table-responsive{
        overflow:visible;
    }
}
 .element-box .table:last-child{
    margin-bottom:0;
}
 .form-header{
    margin-bottom:1rem;
    padding-top:0.5rem;
    display:block;
}
 .form-desc{
    color:#999;
    margin-bottom:1.5rem;
    font-weight:300;
    font-size:0.9rem;
    padding-bottom:1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    display:block;
}
 .element-box{
    -webkit-animation-name:fadeUp;
    animation-name:fadeUp;
    -webkit-animation-duration:1s;
    animation-duration:1s;
}
 .element-wrapper{
    padding-bottom:3rem;
}
 .element-box{
    border-radius:6px;
    background-color:#fff;
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
}
 .element-box{
    padding:1.5rem 2rem;
    margin-bottom:1rem;
}
 .status-pill{
    width:12px;
    height:12px;
    border-radius:30px;
    background-color:#eee;
    display:inline-block;
    vertical-align:middle;
}
 .status-pill.yellow{
    background-color:#f8bc34;
}
 .status-pill.red{
    background-color:#c21a1a;
}
 .status-pill.green{
    background-color:#71c21a;
}
 @media (max-width: 1250px){
     .element-box{
        padding:1rem 1.5rem;
    }
}
 @media (max-width: 1024px){
     .table th,.table td{
        padding:0.7rem 0.5rem;
    }
}
 @media (min-width: 768px) and (max-width: 1024px){
     .element-wrapper{
        padding-bottom:2rem;
    }
     .element-box{
        padding:1rem 1rem;
    }
}
 @media (max-width: 767px){
     .element-wrapper{
        padding-bottom:1.5rem;
    }
     .element-box{
        padding:1rem;
    }
     table{
        max-width:100%;
    }
}
/*! CSS Used keyframes */
 @-webkit-keyframes fadeUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(30px);
        transform:translateY(30px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
}
 @keyframes fadeUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(30px);
        transform:translateY(30px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
}

 


/******************************/
.table tbody td img {
    display: inline-block;
    vertical-align: middle;
}
.table .user-with-avatar img {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px;
}
.table td img {
    max-width: 100%;
}
.people-table .people-from {   
    color: rgba(90, 99, 126, 0.49);
    letter-spacing: 0.1rem;
}