<template>
<div class="content-i">
    <b-container>
       <div class="people-table pt-4">
           <div class="element-wrapper">
               <div class="element-box-tp">
                   <b-row class="mb-1">     
                        <b-col>
                        <div class="table-responsive">
                            <table class="table"> <!--table-padded  --> 
                                <thead class="pt-5">
                                    <tr>
                                        <th>id</th>
                                        <th>People</th>
                                        <th>Social</th>
                                        <th>count</th>
                                        <th>UTS</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>                     
                                <tbody>
                                    <tr v-for="(data, index) in people" :key="`people-list-${index}`"> 
                                        <td>
                                            <span>{{data.id}}</span>
                                        </td>                                   
                                        <td class="text-left">
                                            <div class="user-with-avatar">
                                                <router-link :to="{name:'people-detail'}">
                                                    <img alt="" :src="data.profile"><span>{{data.name}}<span class="people-from"><i class="fas fa-map-marker-alt pr-2 utrum-blue"></i>{{data.adderss}}</span> </span>
                                                </router-link>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="social-info">
                                            <ul class="social-links mb-0">
                                                    <li class="smaller"><i class="fab fa-facebook-square fb-fc fa-2x"></i></li>
                                                    <li class="smaller"><i class="fab fa-reddit reddit-fc fa-2x"></i></li>
                                                    <li class="smaller"><i class="fab fa-twitter-square twitter-fc fa-2x"></i></li>
                                                    <li class="smaller"><i class="fab fa-telegram telegram-fc fa-2x"></i></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="score-info text-left">
                                            <ul class="score-links mb-0">
                                                    <li><i class="fas fa-users fb-fc align-middle pr-2" data-toggle="tooltip" data-placement="top" title="Followers"></i><span class="lighter" data-toggle="tooltip" data-placement="top" title="Followers">{{data.followers}}</span></li>
                                                    <li><i class="fas fa-signal align-middle pr-2" data-toggle="tooltip" data-placement="top" title="Reputation"></i><span class="lighter" data-toggle="tooltip" data-placement="top" title="Reputation">{{data.reputation}}</span></li>
                                                    <!-- <li><span class="smaller text-white p-2 rounded" v-bind:class="{ 'bg-success': data.uts >= 70 && data.uts < 100, 'bg-warning': data.uts >= 40 && data.uts < 70, 'bg-danger': data.uts < 40 }" data-toggle="tooltip" data-placement="top" title="UTS">{{data.uts}} UTS</span></li>                                                -->
                                                </ul>
                                            </div>
                                        </td>   
                                        <td>
                                            <div class="score-info text-left">
                                            <ul class="score-links mb-0">
                                                    <li><span class="smaller text-white p-2 rounded" v-bind:class="{ 'bg-success': data.uts >= 70 && data.uts < 100, 'bg-warning': data.uts >= 40 && data.uts < 70, 'bg-danger': data.uts < 40 }" data-toggle="tooltip" data-placement="top" title="UTS">{{data.uts}} UTS</span></li>                                               
                                                </ul>
                                            </div>
                                        </td>                                                                                                      
                                        <td class="">
                                            <div class="btn utrum-btn-primary btn-sm w-75" v-on:click="follow_unfollow(data)">
                                                <span class="utrum-cap-first">
                                                    <i class="fas fa-circle-notch fa-spin" v-if="followReqStatus == 1"></i>
                                                    <i v-else class="fas fa-rss pr-1"></i>
                                                    
                                                    <span v-if="data.following" class="text-capitalize">Unfollow</span>
                                                    <span v-else class="text-capitalize">Follow</span>
                                                    <span class="smaller d-block">1k Followers</span>
                                                </span>
                                            </div>
                                        </td>
                                        <!-- <td class="row-actions">
                                            <a href="#"><i class="os-icon os-icon-grid-10"></i></a><a href="#"><i class="os-icon os-icon-ui-44"></i></a><a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </b-col>                        
                   </b-row>
               </div>
           </div>
       </div>
    </b-container>
</div>
</template>

<script>
import Vue from 'vue'
export default {
    name: 'people',
    data: function()
    {
        return{

            followReq: null,
            followReqStatus: 0, // 1=loading, 2=success, 3= error
            
            people:[{
                id:1,
                profile: 'static/avatar1.jpg',
                name: 'John Mayers',
                adderss: 'India',
                followers: 1234,
                reputation: 6523,
                uts: 75,
                following:false
            },
            {
                id:2,
                profile: 'static/avatar2.jpg',
                name: 'Signal Swiss',
                adderss: 'Switzerland',
                followers: 124,
                reputation: 623,
                uts: 25,
                following:false
            },
            {
                id:3,
                profile: 'static/avatar3.jpg',
                name: 'TomProTrader',
                adderss: 'United Kingdom',
                followers: 412,
                reputation: 652,
                uts: 80,
                following:false
            },
            {
                id:4,
                profile: 'static/avatar4.jpg',
                name: 'Alanmasters',
                adderss: 'Nirvana',
                followers: 341,
                reputation: 523,
                uts: 40,
                following:false
            },
            {
                id:5,
                profile: 'static/avatar5.jpg',
                name: 'DACapitalTrading',
                adderss: 'Germany',
                followers: 1234,
                reputation: 6523,
                uts: 75,
                following:false
            }



            ]

        }

    },
    created: function()
        { },
    components: {},
    breadcrumb () {
        return {
            label: 'People'
        }
    },
    methods:
    {
        follow_unfollow(user)
        {
            console.log("follower count=====");
            console.log(user);
            this.followReqStatus = 1;           
            Vue.set(this.people, this.people.findIndex(f => f.id === user.id), {id:user.id,profile:user.profile,name:user.name,adderss:user.adderss,followers:user.followers,reputation:user.reputation,uts:user.uts,following:!user.following});
            this.followReqStatus = 0;
        }
    }       
}    

</script>
<style>
    @import './people.css'; 
</style>
