<template>
    <div class="utrum-form utrum-review-form">
        <div class="element-wrapper">
                <form>
                    <div class="form-desc mb-3">
                        It only takes a minute! And your anonymous review will help others.
                    </div>
                    <div class="form-group">
                           <label for="">Review Title</label><input class="form-control" v-model="title"  placeholder="Review Title" type="text">
                    </div>
                    <div class="form-group">
                        <label>Pros</label><textarea class="form-control" rows="3" placeholder="Share some of the best reasone to work"></textarea>
                    </div>
                   <div class="form-group">
                        <label>Cons</label><textarea class="form-control" rows="3"  placeholder="Share some of the downsides of working"></textarea>
                    </div>

                    <div class="row pt-3">
                        <div class="col-sm-6">
                            <div class="form-group">
                            <label for="">Are you a Investor?</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group text-right">
                                <toggle-button :value="false" :sync="true" :labels="true"/>                                
                            </div>
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Recommend to a Friend?</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group text-right">
                                <toggle-button v-model="recommend_friend" :options="{ on: 'Yes', off: 'No' }" :sync="true" :labels="true"/>                               
                            </div>
                        </div> 
                    </div>

                    <div class="row pt-3">
                        <div class="col-sm-12">
                            <div class="form-group rating-header">
                                <label for="">Rating</label>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                 <label for="" class="rating-title">Team Approval</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false"></star-rating>                              
                            </div>
                        </div> 

                         <div class="col-sm-12">
                            <div class="form-group">
                                 <label for="" class="rating-title">Team Communication</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false"></star-rating>                              
                            </div>
                        </div>  

                         <div class="col-sm-12">
                            <div class="form-group">
                                 <label for="" class="rating-title">Product/Service</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false"></star-rating>                              
                            </div>
                        </div>  

                         <div class="col-sm-12">
                            <div class="form-group">
                                 <label for="" class="rating-title">Projected Growth</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false"></star-rating>                              
                            </div>
                        </div> 

                        <div class="col-sm-12">
                            <div class="form-group">
                                 <label for="" class="rating-title">Investor Confidence</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false"></star-rating>                              
                            </div>
                        </div> 
                    </div>

                    <div class="form-group pt-3">
                        <label>Advice to Team</label><textarea class="form-control" rows="3" placeholder="Share some of the Advice to Team"></textarea>
                    </div>                    
                  
                    <div class="form-buttons-w">
                    <button class="btn utrum-btn-primary" type="submit" :disabled="completeData"> Submit Review</button>                     
                    </div>
                </form>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import StarRating from 'vue-star-rating'

Vue.component('star-rating', StarRating);

export default {
    name: 'review-from',
    props: [
        "formData"
    ],
    data() {
        return {
            recommend_friend: true,
            disabled:true,
            title:'',
        }
    },
    components: {
        "star-rating": StarRating
    },
    created: function(){
        console.log("from data in form: ",this.formData);
    },
    computed: {
        completeData() {
           return !(this.title != "");
        }
    }
}
</script>


