/* profile-tile css */

.profile-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}
.profile-tile a {
    color: #047bf8;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.profile-tile img {
    vertical-align: middle;
    border-style: none;
}
.profile-tile .profile-tile-box {
    width: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 1.2rem 0.5rem 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    text-decoration: none;
    color: #3e4b5b;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
}
.profile-tile .profile-tile-box:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
    box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
}
.profile-tile .pt-avatar-w {
    display: inline-block;
    border-radius: 50px;
    overflow: hidden;
}
.profile-tile .pt-avatar-w img {
    width: 55%;
    height: auto;
}
.profile-tile .pt-user-name {
    border-top: 0;
    padding-top: 0;
    text-transform: none;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 3px;
    margin-bottom: 6px;
    font-weight: 600;
}
@media (min-width: 1100px) and (max-width: 1350px) {
    .profile-tile .profile-tile-box {
        width: 95px;
    }
    .profile-tile .pt-avatar-w img {
        width: 50px;
    }
}
