<template>
<div class="profile-tile">
        <a class="profile-tile-box" href="#">
            <div class="pt-avatar-w">
                <img alt="" src="./img/btc.png">
            </div>
            <div class="pt-user-name">
            Bitcoin
            </div>
        </a>    
</div>
</template>

<script>

export default {
    name: 'profile-tile',
    components: { },    
}
</script>

<style>
@import './profile-tile.css';
</style>

