<template>
    <b-container class="profile-row-container">
        <b-row>
            <b-col>
                <user-profile-summary/>
                <div class="element-wrapper">
                    <user-activity></user-activity>
                </div>
            </b-col>
            <b-col>
                <default-form />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import UserProfileSummary from '../../components/user-profile-summary/user-profile-summary'
import UserActivity from '../../components/user-activity/user-activity'
import DefaultForm from '../../components/default-form/default-form'
export default {
    name: 'user-profile',
    components: {
        "user-profile-summary": UserProfileSummary,
        "user-activity": UserActivity,
        "default-form": DefaultForm
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    }
}
</script>

<style scoped>
@import './user-profile.css';
</style>

