<template>
    <div class="content-i"> 
        <b-container>
            <div class="utrum-review pt-5">
                <div class="element-wrapper" v-if="cryptoData">
                    <!-- <h6 class="element-header pt-4">
                        Prediction
                    </h6> -->
                    <b-row class="mb-1">
                        <!-- <b-col cols="2"></b-col> -->
                        <b-col cols="12">
                            <div class="element-box">  
                                <h6 class="element-header">
                                    <img class="prediction-title-img" :src="cryptoData.image_url"/> {{ cryptoData.name }} [ {{cryptoData.symbol}} ] - Write prediction
                                </h6>
                                <div class="utrum-form utrum-review-form">
                                    <div class="element-wrapper">
                                        <form @submit="addPrediction">
                                            <div class="form-desc mb-3">
                                                Add {{ cryptoData.name }} Prediction.
                                            </div>
                                            <div class="form-group">
                                                <label for="">Comment</label><input class="form-control" v-model="fd.comment"  placeholder="Comment" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>Time Period</label>
                                                <b-form-select v-model="fd.time_period"  class="mb-3">						
                                                    <template slot="first">
                                                        <!-- this slot appears above the options from 'options' prop -->
                                                        <option :value="null" disabled>-- Please select an option --</option>
                                                    </template>
                                                    <!-- these options will appear after the ones from 'options' prop -->
                                                    <option value="1 Day">1 Day</option>
                                                    <option value="1 Week">1 Week</option>
                                                    <option value="1 Month">1 Month</option>
                                                </b-form-select>                                               
                                            </div>
                                            <div class="form-group">
                                                <label>Current Price</label>
                                                <b-input-group size="lg" prepend="$" >
                                                    <b-form-input class="form-control" disabled="disabled"  v-model="fd.current_price" type="text"></b-form-input>
                                                </b-input-group>                                                
                                            </div>
                                            <div class="form-group">
                                                <label>Forecast Price</label>
                                                <b-input-group size="lg" prepend="$" >
                                                    <b-form-input class="form-control" v-model="fd.forcast_price" type="text"></b-form-input>
                                                </b-input-group>                                                
                                            </div>
                                            <div class="form-group">
                                                <label> Deadline</label>
                                                <datetime
                                                type="datetime"
                                                v-model="fd.deadline"
                                                input-class="my-class"
                                                value-zone="America/New_York"
                                                zone="local"
                                                format="d MMM yyyy hh:mm a"
                                                :phrases="{ok: 'Continue', cancel: 'Exit'}"
                                                :hour-step="1"
                                                :minute-step="5"                                   
                                                :week-start="7"
                                                use12-hour
                                                auto
                                                ></datetime>
                                            </div>
                                            <div class="form-group pt-3">
                                                <label>Reason</label>
                                                <textarea class="form-control" rows="3" placeholder="Write the Reason" v-model="fd.status"></textarea>
                                            </div>
                                        
                                            <div class="form-buttons-w">
                                                <button class="btn utrum-btn-primary" type="submit" v-if="!predictionId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addPredictionStatus == 1"></i>
                                                    Submit
                                                </button>

                                                <button class="btn utrum-btn-primary" type="submit" v-if="predictionId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addPredictionStatus == 1"></i>
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                        <!-- <b-col cols="2"></b-col> -->
                    </b-row>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>
import coinsApi from '../../api-service/coins'
import predictionsApi from '../../api-service/predictions'

export default {
    name: 'prediction-add',
    data(){
        return {
            reviewData: null,
            cryptoData: null,
            predictionStatus: 0, // 1=loading, 2=success, 3= error
            getCoinsReq: null,
            coinReqStatus: 0, // 1=loading, 2=success, 3= error
            addReviewReq: null,
            addPredictionStatus: 0, // 1=loading, 2=success, 3= error
            predictionId: null,           
            fd: { 
                comment: '',
                time_period: null,
                current_price: '',
                forcast_price: '',
                deadline: null,
                status: ''
            } //form data
        }
    },
    breadcrumb () {
        return {
            label: 'Add Prediction',
            parentsList: [
                {
                    to: {
                        name: 'details',
                        params: { id: this.cryptoData ? this.cryptoData.id : ''}
                    },
                    label: this.cryptoData ? this.cryptoData.name : ''
                },
                {
                    to: {
                        name: 'crypto_page'
                    },
                    label: 'Cryptos'
                }
            ]
        }
    },
    created: function(){
        if(this.$route.name == "edit-prediction"){
            this.predictionId = this.$route.params.predictionId
            this.getReview()
        }
        else{
            this.getCoinData()
        }
    },
    methods: {
        getCoinData(){
            console.log(`Crypto Id: ${this.$route.params.cryptoId}`);
            this.coinReqStatus = 1;
            this.getCoinsReq = coinsApi.getCoinsDetail(this.$route.params.cryptoId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("crypto detail: ",response.data)
                
                if(response.data.success){
                    this.coinReqStatus = 2;
                    this.cryptoData = response.data.market_data;
                    this.fd.current_price = this.cryptoData.price;
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.coinReqStatus = 3;
                }
                else{
                    this.coinReqStatus = 3; //error occured
                    alert("Failed to get coin data.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.coinReqStatus = 3; //error occured
            });
        },
        getReview(){
            this.predictionStatus = 1;
            this.getCoinsReq = predictionsApi.getById(this.predictionId, {})
            this.getCoinsReq.promise.then(response => {
                if(response.data.success){
                    this.reviewData = response.data.prediction;

                    for (var key in this.fd){
                        if(this.reviewData.hasOwnProperty(key)){
                            this.fd[key] = this.reviewData[key]
                        }
                    }
                    this.cryptoData = {
                        id: this.coin_id,
                        name: this.reviewData.coin_name,
                        symbol: this.reviewData.coin_symbol
                    }

                    this.predictionStatus = 2;
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.predictionStatus = 2;
                }
                else{
                    this.predictionStatus = 2; //error occured
                    alert("Failed to get predictions data.");
                }
            })
            .catch((thrown) => {
                console.log("Get Review Exception ",thrown);
                this.predictionStatus = 3; //error occured
            });
        },
        addPrediction(evt){
            evt.preventDefault();
            console.log(this.fd);
            
            if(this.addPredictionStatus == 1) return;//post is in progress
            this.addPredictionStatus = 1;
            let postParam = {
                prediction: this.fd
            }
            postParam['prediction']["coin_id"] = this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId;
            console.log("post params: ",postParam);
            console.log(this.reviewsApi);

            if(this.predictionId){
                //update exising API
                this.addReviewReq = predictionsApi.update(this.$route.params.predictionId, postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Updated Response : ",response);
                    this.addPredictionStatus = 2 
                    alert("Updated successfully");
                })
                .catch(error => {
                    this.addPredictionStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
            else{
                // add new review 
                this.addReviewReq = predictionsApi.add(postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Added Response : ",response);
                    this.addPredictionStatus = 2 
                    alert("Added successfully");
                })
                .catch(error => {
                    this.addPredictionStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
        }
    },
    computed: {
        completeData() {
            for(let key in this.fd){
                console.log("Key ",key);
                if(!this.fd[key] || this.fd[key].trim() == ""){
                    console.log("-------- Return false")
                    return false
                }
            }
            console.log("-------- Return true")
            return true
        }
    }
}
</script>
<style>	
    @import './prediction-add.css';
</style>