<template>
    <div class="content-i"> 
        <div class="content-box">
            <div class="utrum-insights">
                <!-- <p v-show="insightGetReqStatus == 1">Loading</p> -->

                 <div  v-show="insightGetReqStatus == 1" id="loftloader-wrapper" class="pl-imgloading" data-show-close-time="15000">
                    <div class="loader-inner">
                        <div id="loader"><span></span><img src="https://utrum.io/wp-content/uploads/Logo500x500.png" alt="preloder"></div>
                    </div>
                    <div class="loader-section section-fade"></div>
                    <div class="loader-close-button" style=""><span class="screen-reader-text">Close</span></div>
                </div>
                <div class="element-box"> 
                        <div class="element-wrapper pb-0">
                            <!-- <h6 class="element-header">
                                SWOT Analysis
                            </h6> -->
                            <div class="swot-analysis">
                                <div class="title mb-5">
                                    <div class="img-circle"><img src="/static/grid.png"/></div>
                                    <div class="img-title">SWOT Analysis</div>
                                </div>                            
                                <b-row v-for="(i, index) in insights" :key="`insight-${index}`" v-if="i.insight_type == 'swot'">
                                    <b-col cols="12">
                                        <p class="swot-title"><i class="fas fa-angle-right pr-2"></i>{{i.title}}</p>
                                    </b-col>
                                    <div class="swot-content">
                                        <b-row>
                                        <b-col cols="6">
                                            <div class="title mb-2">
                                                <span><i class="fas fa-thumbs-up swot-icon green"></i></span><span class="icon-title green">Strengths</span>
                                            </div>
                                            <div class="content mb-2">
                                                <p class="text-justify">{{i.swot.swot.strength}}</p>
                                            </div>
                                            
                                        </b-col>
                                        <b-col cols="6">
                                            <div class="title mb-2">
                                                <span><i class="fas fa-thumbs-down swot-icon red"></i></span><span class="icon-title red">Weakness</span>
                                            </div>
                                            <div class="content mb-2">
                                                <p class="text-justify">{{i.swot.swot.weakness}}</p>
                                            </div>
                                            
                                        </b-col>
                                        <b-col cols="6">
                                            <div class="title mb-2">
                                                <span><i class="fas fa-globe-asia swot-icon blue"></i></span><span class="icon-title blue">Opportunity</span>
                                            </div>
                                            <div class="content mb-2">
                                            <p class="text-justify">{{i.swot.swot.opportunity}}</p>
                                            </div>
                                            
                                        </b-col>
                                        <b-col cols="6">
                                            <div class="title mb-2">
                                                <span><i class="fas fa-smile swot-icon red"></i></span><span class="icon-title red">Threats</span>
                                            </div>
                                            <div class="content mb-2">
                                            <p class="text-justify">{{i.swot.swot.threats}}</p>
                                            </div>                                        
                                        </b-col>
                                        <b-col cols="12">
                                            <div class="mt-2 mb-4">
                                                <b-button size="sm" variant="primary" v-on:click="edit(i, index)" v-if="i.is_current_user_created == true">Edit</b-button>
                                                <!-- <b-button size="sm" variant="danger" v-on:click="removeReview(r, index)" v-if="i.is_current_user_created == true">
                                                    <i class="fas fa-circle-notch fa-spin" v-show="i.reviewDelReqStatus == 1"></i> Remove
                                                </b-button> -->
                                            </div>
                                        </b-col>
                                        </b-row>
                                    </div>
                                </b-row>                                
                            </div>
                            <div class="text-analysis mt-3">
                                <div class="title mb-3">
                                    <div class="img-circle"><img src="/static/grid.png"/></div>
                                    <div class="img-title">Text Analysis</div>
                                </div>                            
                                <b-row v-for="(i, index) in insights" :key="`insight-${index}`" v-if="i.insight_type == 'text'">
                                    <b-col cols="12">
                                        <p class="swot-title"><i class="fas fa-angle-right pr-2"></i>{{i.title}}</p>
                                    </b-col>
                                    <div class="swot-content">
                                        <b-row>
                                        <b-col cols="12">
                                            <!-- <div class="title mb-2">
                                                <span><i class="fas fa-thumbs-up swot-icon green"></i></span><span class="icon-title green">Strengths</span>
                                            </div> -->
                                            <div class="content mb-2">                                                
                                                <div class="text-justify" v-html="i.text.text"></div>
                                            </div>
                                            
                                        </b-col>                                       
                                        <b-col cols="12">
                                            <div class="mt-2 mb-4">
                                                <b-button size="sm" variant="primary" v-on:click="edit(i, index)" v-if="i.is_current_user_created == true">Edit</b-button>
                                                <!-- <b-button size="sm" variant="danger" v-on:click="removeReview(r, index)" v-if="i.is_current_user_created == true">
                                                    <i class="fas fa-circle-notch fa-spin" v-show="i.reviewDelReqStatus == 1"></i> Remove
                                                </b-button> -->
                                            </div>
                                        </b-col>
                                        </b-row>
                                    </div>
                                </b-row>                                
                            </div>
                        </div>
                </div>                
            </div>
        </div>
    </div>
    <!-- <div>
        <vue-ckeditor v-model="content" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />

        <div> 
            Preview Of model: 
            <pre> {{ content }}</pre> 
        </div>
        <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
    </div> -->
</template>
<script>
import VueCkeditor from '../../components/vue-ckeditor/vue-ckeditor';
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import insightsApi from '../../api-service/insights'
export default {
    components: { 
        "vue-ckeditor": VueCkeditor,
         "vueDropzone": vue2Dropzone
    },
    data() {
        return {
            content: '',
            config: {
                // toolbar: [
                //     ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript']
                // ],
                height: 300
            },
            dropzoneOptions: {
                url: 'http://45.32.118.48/coins',
                thumbnailWidth: 150,
                maxFilesize: 0.5,
                headers: { "test-header": "test header value" }
            },
            insights: [],
            insightGetReqStatus: 0, //1=loading, 2=success, 3=error
            insightGetReq: null
        };
    },
    breadcrumb () {
        return {
            label: 'Insights'
        }
    },
    created: function(){
        this.getInsights()
    },
    methods: {
        onBlur(editor) {
            console.log(editor);
        },
        onFocus(editor) {
            console.log(editor);
        },
        getInsights(){
            this.insightGetReqStatus = 1;
            this.insightGetReq = insightsApi.getAll({})
            this.insightGetReq.promise.then(response => {
                console.log("insights detail: ",response.data)
                if(response.data.hasOwnProperty("insight")){
                    this.insights = response.data.insight;
                    console.log("insights data=========================");
                    console.log(this.insights);
                    this.insightGetReqStatus = 2;
                }
                else{
                    this.insightGetReqStatus = 3; //error occured
                    alert("Reviews data not present.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.insightGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        edit(r, idx){
            console.log({r})
            this.$router.push({name: 'edit-insight', params: { cryptoId: r.crypto.id, insightId:  r.id}})
        }
    }
}
</script>

<style>
@import './insights.css';
</style>

