.icon-title
{
    padding-left: 5px;
    font-size: 1rem;
}
.swot-icon
{
    font-size: 1.2rem;
    vertical-align: baseline;
}
.green
{
    color:#54b700;    
}
.red
{
    color: #f9006e;    
}
.blue
{
    color: #25aadf;    
}
.img-circle
{
    border: 1px solid #ffffff;
    border-radius: 50%;   
    -webkit-box-shadow: 0px 1px 6px 6px rgba(250, 252, 251, 1);
    box-shadow: 0px 1px 6px 6px rgba(250, 252, 251, 1);
    padding: 8px;
    display: inline-block;
    
}
.img-title
{
    font-size: 1.2rem;
    padding-left: 18px;
    display: inline-block;
    font-weight: 500;
}
.swot-title
{
    font-size: 1.05rem;
    font-weight: 500;
}
.swot-title i
{
    vertical-align: middle;
}
.swot-content
{
    padding: 0px 32px;
    /* border-bottom: 1px solid #ddd; */
}