<template>
  <div class="content-i"> 
        <div class="content-box">
          <p v-if="icosLoadStatus == 1" class="text-center"> Loading...</p>

          <div v-if="icos.length > 0">
            <b-form-select v-model="selected" :options="options" class="mb-3" />

            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center">Description</th>
                  <th scope="col" class="text-center">Starts At</th>
                  <th scope="col" class="text-center">Ends At</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(data, index) in icos" :key="`ico-list-${index}`">
                  <th scope="row">{{index + 1}}</th>
                  <td style="width: 200px" class="text-center">
                    <a v-bind:href="data.url" target="_blank">
                        <img :src="data.logo" style="width: 25px;" class="mr-2"> 
                        {{data.name}}
                    </a>
                  </td>
                  <td style="width: 600px" class="text-left">{{data.desc}}</td>
                  <td class="text-center">{{data.dates.icoStart | date('YYYY-MM-DD')}}</td>
                  <td class="text-center">{{data.dates.icoEnd | date('YYYY-MM-DD')}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</template>
<script>
import coinsApi from '../../api-service/coins'
export default {
  name: 'ico-list',
  breadcrumb () {
        return {
            label: 'ICOs'
        }
  },
  data: function(){
    return{
      icosLoadStatus: 0,//1=loading, 2= loaded, 3= error
      icos: [],
      selected: null,
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'upcoming', text: 'Upcoming' },
        { value: 'ongoing', text: 'Ongoing' },
        { value: 'completed', text: 'Completed' },
        { value: 'sponsored', text: 'Sponsored' }
      ]
    }
  },
  created: function(){
    this.getIcos()
  },
  methods: {
    getIcos(){
      this.icosLoadStatus = 1
      let icosReq = coinsApi.getIcos()
      icosReq.promise.then(response => {
          console.log("Got ICOs Data: ",response);
          if(response.hasOwnProperty('data')){
            this.icos = response.data.icos.results
            this.icosLoadStatus = 2
          }
          else{
            this.icosLoadStatus = 3
            alert('Unable to load ICO data.');
          }
      })
      .catch((thrown) => {
          console.log("Exception ",thrown);
          alert("Something went wrong.")
      });
    }
  }
}
</script>

