<template>
  <b-modal v-model="showModal" title="Add to portfolio" ref="addTransactionRef" @hidden="onHidden" @shown="initData" :no-close-on-backdrop="false" :no-close-on-esc="false"  @ok="handleOk">
       <b-container>
         <p v-if="cryptoData">Current Price: $ {{cryptoData.price}}</p>
         
         <b-form-select v-model="fd.trade_type" :options="trade_optns" class="mb-3"/>

          <div class="form-group">
            <label>Trade Price</label>
            <input type="number" class="form-control" placeholder="Enter trade price" v-model="fd.trade_price">
          </div>

          <div class="form-group">
            <label>Quantity</label>
            <input type="number" v-model="fd.quantity" class="form-control" placeholder="Quantity">
          </div>

          <div class="form-group">
              <label> Trade Date</label>
              <datetime
              type="date"
              v-model="fd.trade_date"
              input-class="form-control"
              value-zone="America/New_York"
              zone="local"
              format="d MMM yyyy"
              :phrases="{ok: 'Continue', cancel: 'Exit'}"
              :hour-step="1"
              :minute-step="5"                                   
              :week-start="7"
              use12-hour
              auto
              ></datetime>
          </div>

          <div class="form-group">
            <label>Notes</label>
            <input type="text" class="form-control" placeholder="Notes">
          </div>
       </b-container>
    </b-modal>
</template>
<script>
import transactionsApi from '../../api-service/transaction'
export default {
  name: 'add-transaction',
  props:[
    'show',
    'cryptoData'
  ],
  data(){
    return {
      showModal: false,
      addStatus: 0, //1= loading, 2=loaded, 3=error
      addReq: null,
      fd:{
        trade_type: null,
        trade_date: null,
        quantity: 0,
        trade_price: 0,
        note: "",
        coin_id: null
      },
      trade_optns: [
        { value: null, text: 'Please select trade type.' },
        { value: 'sell', text: 'Sell' },
        { value: 'buy', text: 'Buy' }
      ]
    }
  },
  watch:{
    show: function(){
        this.showModal = this.show
    }
  },
  methods: {
    initData: function(evt){
      this.fd.trade_date = new Date(new Date().setHours(0, 0, 0, 0)).toISOString()//this.$options.filters.date(new Date(), "YYYY-MM-DD")
      this.fd.trade_price = this.cryptoData && this.cryptoData.hasOwnProperty("price") ? this.cryptoData.price : 0
      this.fd.coin_id = this.cryptoData.id
    },
    onHidden: function(evt){
      console.log("Event: ",evt);
      this.$emit('update:show', false)
    },
    handleOk: function(evt){
      evt.preventDefault()
      console.log("Fd: ",this.fd)
      if(this.addStatus == 1) return
      if(!this.fd.trade_type){
        alert("Please select trade type.")
        return
      }
      else if(!this.fd.quantity){
        alert("Please enter quantity.")
        return
      }
      else if(!this.fd.trade_price){
        alert("Please enter trade price.")
        return
      }
      else{
        this.addStatus = 1  
        this.addReq = transactionsApi.add(this.fd)
        this.addReq.promise.then(response => {
            console.log("Add Portfolio Response: ",response);
            if(response.data.success){
                this.addStatus = 2
                this.$refs.addTransactionRef.hide()
            }
            else{
                this.addStatus = 3;
                if(response.data.hasOwnProperty("message")){
                    alert(response.data.message)
                }
                else{
                    alert("Unable to add to portfolio.")
                }
            }
        })
        .catch((thrown) => {
            console.log("Exception ",thrown);
            this.addStatus = 3; //error occured
            alert("Something went wrong");
        });
      }
    }
  }
}
</script>
<style scoped>

</style>
<style>
@import './add-trasnsaction.css';
</style>

