
*,*::before,*::after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.utrum-portfolio h6{
    margin-top:0;
    margin-bottom:0.5rem;
}
.utrum-portfolio a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
.utrum-portfolio a:hover{
    color:#0356ad;
    text-decoration:underline;
}
.utrum-portfolio img{
    vertical-align:middle;
    border-style:none;
}
.utrum-portfolio table{
    border-collapse:collapse;
}
.utrum-portfolio th{
    text-align:inherit;
}
.utrum-portfolio h6{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
.utrum-portfolio h6{
    font-size:1rem;
}
.utrum-portfolio .table{
    width:100%;
    max-width:100%;
    margin-bottom:1rem;
    background-color:transparent;
}
.utrum-portfolio .table th,.table td{
    padding:0.75rem;
    vertical-align:top;
    border-top:1px solid rgba(83, 101, 140, 0.33);
}
.utrum-portfolio .table thead th{
    vertical-align:bottom;
    border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
.utrum-portfolio .table-responsive{
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}
.utrum-portfolio .badge{
    display:inline-block;
    padding:0.25em 0.4em;
    font-size:75%;
    font-weight:500;
    line-height:1;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:4px;
}
.utrum-portfolio .badge:empty{
    display:none;
}
.utrum-portfolio .badge-primary{
    color:#fff;
    background-color:#047bf8;
}
.utrum-portfolio .badge-primary[href]:hover,.badge-primary[href]:focus{
    color:#fff;
    text-decoration:none;
    background-color:#0362c6;
}
.utrum-portfolio .badge-success{
    color:#fff;
    background-color:#24b314;
}
.utrum-portfolio .badge-success[href]:hover,.badge-success[href]:focus{
    color:#fff;
    text-decoration:none;
    background-color:#1b850f;
}
.utrum-portfolio .badge-warning{
    color:#292b2c;
    background-color:#fbe4a0;
}
.utrum-portfolio .badge-warning[href]:hover,.badge-warning[href]:focus{
    color:#292b2c;
    text-decoration:none;
    background-color:#f9d66f;
}
.utrum-portfolio .badge-danger{
    color:#fff;
    background-color:#e65252;
}
.utrum-portfolio .badge-danger[href]:hover,.badge-danger[href]:focus{
    color:#fff;
    text-decoration:none;
    background-color:#e02525;
}
.utrum-portfolio .text-right{
    text-align:right!important;
}
.utrum-portfolio .text-center{
    text-align:center!important;
}
.utrum-portfolio .text-success{
    color:#24b314!important;
}
.utrum-portfolio .text-danger{
    color:#e65252!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .utrum-portfolio thead{
        display:table-header-group;
    }
    .utrum-portfolio tr, .utrum-portfolio img{
        page-break-inside:avoid;
    }
    .utrum-portfolio .badge{
        border:1px solid #000;
    }
    .utrum-portfolio .table{
        border-collapse:collapse!important;
    }
    .utrum-portfolio .table td, .utrum-portfolio .table th{
        background-color:#fff!important;
    }
}
.utrum-portfolio .table th{
    font-weight:500;
}
.utrum-portfolio .table .smaller{
    font-size:0.72rem;
}
.utrum-portfolio .table .lighter{
    color:rgba(90, 99, 126, 0.49);
}
.utrum-portfolio .table th,.utrum-portfolio .table td{
    vertical-align:middle;
}
.utrum-portfolio .table td img{
    max-width:100%;
}
.utrum-portfolio .table thead th{
    border-bottom:1px solid #999;
}
.utrum-portfolio .table thead th{
    font-size:0.63rem;
    text-transform:uppercase;
    border-top:none;
}
.utrum-portfolio .table td.nowrap{
    white-space:nowrap;
}
 @media (min-width: 1100px){
    .utrum-portfolio .table-responsive{
        overflow:visible;
    }
}
.utrum-portfolio .table.table-padded{
    border-collapse:separate;
    border-spacing:0 5px;
}
.utrum-portfolio .table.table-padded thead tr th{
    border:none;
    font-size:0.81rem;
    color:rgba(90, 99, 126, 0.49);
    letter-spacing:1px;
    padding:0.3rem 1.1rem;
}
.utrum-portfolio .table.table-padded tbody tr{
    border-radius:4px;
    -webkit-transition:all 0.1s ease;
    transition:all 0.1s ease;
}
.utrum-portfolio .table.table-padded tbody tr:hover{
    -webkit-box-shadow:0px 2px 5px rgba(69, 101, 173, 0.1);
    box-shadow:0px 2px 5px rgba(69, 101, 173, 0.1);
    -webkit-transform:translateY(-1px) scale(1.01);
    transform:translateY(-1px) scale(1.01);
}
.utrum-portfolio .table.table-padded tbody td{
    padding:0.9rem 1.1rem;
    background-color:#fff;
    border:none;
    border-right:1px solid rgba(0, 0, 0, 0.03);
}
.utrum-portfolio .table.table-padded tbody td.bolder{
    font-weight:500;
    font-size:0.99rem;
}
.utrum-portfolio .table.table-padded tbody td img{
    display:inline-block;
    vertical-align:middle;
}
.utrum-portfolio .table.table-padded tbody td img + span{
    display:inline-block;
    margin-left:10px;
    vertical-align:middle;
}
.utrum-portfolio .table.table-padded tbody td span + span{
    margin-left:10px;
    vertical-align: text-top;
}
.utrum-portfolio .table.table-padded tbody td .status-pill + span{
    margin-left:10px;
}
.utrum-portfolio .table.table-padded tbody td:first-child{
    border-radius:4px 0px 0px 4px;
}
.utrum-portfolio .table.table-padded tbody td:last-child{
    border-radius:0px 4px 4px 0px;
    border-right:none;
}
.utrum-portfolio .badge{
    font-size:0.81rem;
}
.utrum-portfolio .element-wrapper{
    padding-bottom:3rem;
}
.utrum-portfolio .element-wrapper .element-header{
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    padding-bottom:1rem;
    margin-bottom:2rem;
    position:relative;
    z-index:1;
}
.utrum-portfolio .element-wrapper .element-header:after{
    content:"";
    background-color:#047bf8;
    width:25px;
    height:4px;
    border-radius:0px;
    display:block;
    position:absolute;
    bottom:-3px;
    left:0px;
}
.utrum-portfolio .status-pill{
    width:12px;
    height:12px;
    border-radius:30px;
    background-color:#eee;
    display:inline-block;
    vertical-align:middle;
}
.utrum-portfolio .status-pill.yellow{
    background-color:#f8bc34;
}
.utrum-portfolio .status-pill.red{
    background-color:#c21a1a;
}
.utrum-portfolio .status-pill.green{
    background-color:#71c21a;
}
.utrum-portfolio .status-pill.smaller{
    width:8px;
    height:8px;
}
.utrum-portfolio .status-pill + span{
    margin-left:10px;
    display:inline-block;
    vertical-align:middle;
}
 @media (max-width: 1024px){
    .utrum-portfolio .table th,.table td{
        padding:0.7rem 0.5rem;
    }
}
 @media (min-width: 768px) and (max-width: 1024px){
    .utrum-portfolio .element-wrapper{
        padding-bottom:2rem;
    }
}
 @media (max-width: 767px){
    .utrum-portfolio .cell-with-media{
        text-align:center;
    }
    .utrum-portfolio .cell-with-media img{
        margin-bottom:5px;
    }
    .utrum-portfolio .cell-with-media img + span{
        margin-left:0px!important;
    }
    .utrum-portfolio .element-wrapper{
        padding-bottom:1.5rem;
    }
    .utrum-portfolio table{
        max-width:100%;
    }
}
/*! CSS Used fontfaces */
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nDrXyi0A.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nPrXyi0A.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
