<template>
    <b-container class="portfolio-row-container">
        <b-row>
            <b-col cols="12">
                <div class="utrum-portfolio">  

                    <div class="element-wrapper">
                        <!-- <h6 class="element-header pt-4 utrum-blue utrum-font utrum-cap-all">
                            Portfolio List
                        </h6> -->
                        <div class="element-box-tp">
                            <div class="table-responsive">
                                <table class="table table-padded">
                                    <thead>
                                        <tr>
                                            <th class="">
                                                Name
                                            </th>
                                            <!-- <th>
                                                Utrum Trust Score
                                            </th> -->
                                            <th class="text-center">
                                                Reviews
                                            </th>
                                            <th class="text-center">
                                                Predictions
                                            </th>
                                            <th class="text-center">
                                                Insights
                                            </th>
                                             <th class="text-center" style="width: 20%;">
                                                Trade date
                                            </th>
                                             <th class="text-center">
                                                amount purchased
                                            </th>
                                             <th class="text-center">
                                                price paid
                                            </th>
                                            <th class="text-center">
                                                Social Score
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span><img src="/static/eth.png" style="width:10%;"/></span><span>ETHEREUM</span>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 2}, query: { activetab: 'reviews' }}">
                                                    <span>50</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 2 }, query: { activetab: 'predictions' }}">
                                                    <span>50</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 2 }, query: { activetab: 'insights' }}">
                                                    <span>50</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <span>Jan 19th</span><span class="smaller lighter">3:22pm</span>
                                            </td>
                                            <td class="text-right bolder nowrap">
                                                <span class="text-success">1,250 USD</span>
                                            </td>
                                             <td class="text-right bolder nowrap">
                                                <span class="text-success">1,250 USD</span>
                                            </td>
                                             <td class="text-center bolder nowrap">
                                                <span >1,250</span>
                                            </td>                                            
                                        </tr>                                        
                                        <tr>
                                            <td>
                                                <span><img src="/static/litecoin.png" style="width:10%;"/></span><span>LITECOIN</span>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 7 }, query: { activetab: 'reviews' }}">
                                                    <span>56</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 7 }, query: { activetab: 'predictions' }}">
                                                    <span>20</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <router-link :to="{ name: 'details', params: {'id': 7 }, query: { activetab: 'insights' }}">
                                                    <span>50</span>
                                                </router-link>
                                            </td>
                                            <td class="text-center">
                                                <span>Jan 25th</span><span class="smaller lighter">3:22pm</span>
                                            </td>
                                            <td class="text-right bolder nowrap">
                                                <span class="text-success">1,250 USD</span>
                                            </td>
                                             <td class="text-right bolder nowrap">
                                                <span class="text-success">1,250 USD</span>
                                            </td>
                                             <td class="text-center bolder nowrap">
                                                <span >1,250</span>
                                            </td>                                            
                                        </tr>
                                        
                                                                               
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>              
               
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

export default {
    name: 'user-portfolio',
    components: {},
    breadcrumb () {
        return {
            label: 'Portfolio'
        }
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    }
}
</script>

<style scoped>
@import './user-portfolio.css'
</style>

