<template>
    <div class="portfolio-info" v-if="cryptoData">
        <div class="left-pane">
            <div class="left-pane-title mb-1">
                {{cryptoData.name}} Price   
            </div>
            <div class="left-pane-info">
                <span class="big-txt mb-1">${{ ( cryptoData.price ? cryptoData.price : '0' ) | formatNumberForLen(7)}}</span>
                <div class="small-txt mb-1">
                    {{  cryptoData.eth_price | currencyConversion(cryptoData.price) | roundOff(8) }} ETH <br>
                    {{  cryptoData.btc_price | currencyConversion(cryptoData.price) | roundOff(8)  }} BTC 
                </div>
                <!-- <span class="percent-indicator" v-bind:class="cryptoData.price_change_percentage_24h < 0 ? 'red' : 'green'">
                    <span> {{ cryptoData.price_change_percentage_24h | roundOff(2) }} %</span>
                    <i class="fas fa-long-arrow-alt-down" v-bind:class="cryptoData.price_change_percentage_24h < 0 ? 'fa-long-arrow-alt-down' : 'fa-long-arrow-alt-up'"></i>
                </span> -->
            </div>            
        </div>
        <div class="right-pane">
            <table class="tbl">
                <tbody class="tbl-body">
                    <tr class="tbl-row">
                        <td class="tbl-td">
                            <strong>
                                <span v-show="cryptoData.market_cap">$</span>{{ ( cryptoData.market_cap ? cryptoData.market_cap : '-' ) | numFormatter(1) }}
                            </strong>
                            <div class="sym-nm">
                                Market Cap
                            </div>
                        </td>
                        <td class="tbl-td d-flex">
                            <div class="left border-right p-1">
                                <strong class="utrum-change-pill" v-bind:class=" (cryptoData.percent_change_1h < 0) ? 'utrum-ch-red' : 'utrum-ch-green' "> {{ ( cryptoData.percent_change_1h ? cryptoData.percent_change_1h : '-' ) | roundOff(2) | abs }}{{ cryptoData.percent_change_1h ? '%' : '' }} </strong>
                                <div class="sym-nm">
                                    Change 1 hr
                                </div>
                            </div>
                            <div class="right ml-auto p-1">
                                <strong class="utrum-change-pill" v-bind:class=" (cryptoData.percent_change_24h < 0) ? 'utrum-ch-red' : 'utrum-ch-green' "> {{ ( cryptoData.percent_change_24h ? cryptoData.percent_change_24h : '-' ) | roundOff(2) | abs }}{{ cryptoData.percent_change_24h ? '%' : '' }}</strong>
                                <div class="sym-nm">
                                    Change 24 hrs
                                </div>
                            </div>
                        </td>
                        <!-- <td class="tbl-td">
                            <strong class="utrum-change-pill" v-bind:class=" (cryptoData.percent_change_7d < 0) ? 'utrum-ch-red' : 'utrum-ch-green' ">{{ ( cryptoData.percent_change_7d ? cryptoData.percent_change_7d : '-' ) | roundOff(2) | abs }}{{ cryptoData.percent_change_7d ? '%' : '' }}</strong>
                            <div class="sym-nm">
                                Change 7 days
                            </div>
                        </td> -->
                        <!-- <td class="tbl-td">
                            <strong>{{ ( cryptoData.low_all_time ? cryptoData.low_all_time : '-' ) | roundOff(2)}}</strong>
                            <div class="sym-nm">
                                All Time Low
                            </div>
                        </td> -->
                       
                    </tr>
                    <tr class="tbl-row">
                        
                        <td class="tbl-td">
                            <strong> {{ ( cryptoData.circulating_supply ? cryptoData.circulating_supply : '-' ) | convertToInt | numbersWithComma }}</strong>
                            <div class="sym-nm">
                                Circulating Supply
                            </div>
                        </td>
                        <td class="tbl-td d-flex">
                            <div class="left border-right p-1">
                                <strong class="utrum-change-pill" v-bind:class=" (cryptoData.percent_change_7d < 0) ? 'utrum-ch-red' : 'utrum-ch-green' ">{{ ( cryptoData.percent_change_7d ? cryptoData.percent_change_7d : '-' ) | roundOff(2) | abs }}{{ cryptoData.percent_change_7d ? '%' : '' }}</strong>
                                <div class="sym-nm">
                                    Change 7 days
                                </div>
                            </div>
                            <div class="right ml-auto p-1">
                                <strong class="" > {{ ( cryptoData.percent_change_30d ? cryptoData.percent_change_30d : '-' ) | roundOff(2)  }}{{ cryptoData.percent_change_30d ? '%' : '' }}</strong>
                                <div class="sym-nm">
                                    Change 30 days
                                </div>
                            </div>
                        </td>
                        <!-- <td class="tbl-td">
                            <strong class="" > {{ ( cryptoData.percent_change_30d ? cryptoData.percent_change_30d : '-' ) | roundOff(2)  }}{{ cryptoData.percent_change_30d ? '%' : '' }}</strong>
                            <div class="sym-nm">
                                Change 30 days
                            </div>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    name: 'crypto-portfolio-info',
    props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            console.log("crypto data========");
            console.log(this.cryptoData);
        },
    components: {},   
    }
    

</script>
<style>
    @import './crypto-portfolio-info.css'; 
</style>