/* Portfolio section css */
.portfolio-info {
    color: #3e4b5b;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #f2f4f8;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* max-width: 620px; */
    max-width: 715px;
    border-radius: 5px;
}
.portfolio-info .element-box{
  padding: 0px !important;
}
.portfolio-info .card-header{
  padding: 0px !important;
}
.portfolio-info .left-pane-title {
    box-sizing: border-box;
    color: #25aadf;
    font-family: "Avenir Next W01", "Proxima Nova W01", Rubik, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.08rem;
    line-height: 1.5;
  }
  .portfolio-info .left-pane-info {
    box-sizing: border-box;
    color: #303a46;
  }
  .portfolio-info .left-pane-info .big-txt {
    box-sizing: border-box;
    color: #303a46;
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1;
  }
  .portfolio-info .left-pane-info .small-txt {
    box-sizing: border-box;
    color: #303a46;
    display: block;
    vertical-align: middle;
    font-size: 0.8rem;
  }

  .portfolio-info .percent-indicator {
    /* vertical-align: middle; */
    font: normal normal 500 normal 15.84px / 17.424px "Avenir Next W01", "Proxima Nova W01", Rubik, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* margin: 0px 0px 0px 10px; */
    display: block;
  }
  .red{
    color: #e65252;
  }
  .green{
    color: #52e656;
  }
  .portfolio-info .percent-indicator span {
    /* color: #e65252; */
    vertical-align: middle;
    font-size: 0.99rem;
  }
  /* .portfolio-info .percent-indicator i {
    color: #e65252;
  } */
  .portfolio-info .right-pane {
    padding: 0px 0px 0px 8px;
  }
  .portfolio-info .tbl {
    border-collapse: collapse;
  }
  .portfolio-info .tbl-row {
    font-size: 0.9rem;
    outline: #3e4b5b none 0px;
  }
  .portfolio-info .tbl-td {
    color: #3e4b5b;
    text-align: left;
    border: 1px solid #dfdfdf;
    padding: 0.3rem 0.75rem;
  }
  .portfolio-info .tbl-td strong {
    font-weight: 500;
  }
  .portfolio-info .sym-nm {
    color: rgba(90, 99, 126, 0.49);
    border: 0px none rgba(90, 99, 126, 0.49);
    border-spacing: 2px 2px;
    font-size: 0.72rem;
  }