<template>
    <div class="content-i"> 
        <b-container>
            <div class="utrum-review pt-5">
                <div class="element-wrapper" v-if="cryptoData">
                    <!-- <h6 class="element-header pt-4">
                        Add Insight
                    </h6> -->
                    <b-row class="mb-1">
                        <b-col cols="12">
                            <div class="element-box">
                                <h6 class="element-header">
                                    <img class="insight-title-img" :src="cryptoData.image_url"/> {{ cryptoData.name }} [ {{cryptoData.symbol}} ] - {{insightData ? 'Edit' : 'Write'}} Insight
                                </h6>
                                <b-form-radio-group id="radios2" v-model="fdInsight.insight_type" name="radioSubComponent" class="mb-3">
                                    <b-form-radio value="text" :disabled="insightData != null">Plain Text</b-form-radio>
                                    <b-form-radio value="swot" :disabled="insightData != null">SWOT</b-form-radio>
                                    <b-form-radio value="template" :disabled="insightData != null">Template</b-form-radio>
                                </b-form-radio-group>
                                <div class="utrum-form utrum-review-form">
                                    <div class="element-wrapper">
                                        <form @submit="addInsight">
                                            
                                            <div class="form-group">
                                                <label for="">Title</label><input class="form-control" v-model="fdInsight.title"  placeholder="Title" type="text">
                                            </div>
                                            <!-- <div class="form-group">
                                                <label for="">Insight</label><input class="form-control" v-model="fd.description"  placeholder="Comment" type="text">
                                            </div> -->

                                            <!-- <div class="form-group">
                                                <label for="">Website</label><input class="form-control" v-model="fd.website"  placeholder="Comment" type="text">
                                            </div> -->
                                            
                                            <div v-if="fdInsight.insight_type == 'text'">
                                                <vue-ckeditor v-model="fd.insight_text" :config="config"  />
                                            </div>
                                            <div v-if="fdInsight.insight_type == 'swot'">
                                                <label for="">Strengths</label>
                                                <b-form-textarea id="textarea1"
                                                placeholder="Strengths"
                                                v-model="fdSwot.strength"
                                                :rows="3"
                                                :max-rows="6">
                                                </b-form-textarea>
                                                <br>                                                
                                                <label for="">Weaknesses</label>
                                                <b-form-textarea id="textarea2"
                                                placeholder="Weaknesses"
                                                v-model="fdSwot.weakness"
                                                :rows="3"
                                                :max-rows="6">
                                                </b-form-textarea>
                                                <br>

                                                <label for="">Opportunities</label>
                                                <b-form-textarea id="textarea2"
                                                v-model="fdSwot.opportunity"
                                                placeholder="Opportunities"
                                                :rows="3"
                                                :max-rows="6">
                                                </b-form-textarea>
                                                <br>

                                                <label for="">Threats</label>
                                                <b-form-textarea id="textarea2"
                                                v-model="fdSwot.threats"
                                                placeholder="Threats"
                                                :rows="3"
                                                :max-rows="6">
                                                </b-form-textarea>
                                            </div>
                                            <!-- <div class="form-group">
                                                <h6 class="element-header pt-4">
                                                    Upload images
                                                </h6>
                                                <div class="element-box">
                                                    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
                                                </div>
                                            </div> -->

                                            <div class="form-buttons-w">
                                                <button class="btn utrum-btn-primary" type="submit" v-if="!insightId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addStatus == 1"></i>
                                                    Submit
                                                </button>

                                                <button class="btn utrum-btn-primary" type="submit" v-if="insightId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addStatus == 1"></i>
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>
import coinsApi from '../../api-service/coins'
import insightsApi from '../../api-service/insights'
import VueCkeditor from '../../components/vue-ckeditor/vue-ckeditor';
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    name: 'insight-add',
    components: {
        'vue-ckeditor': VueCkeditor,
        "vueDropzone": vue2Dropzone
    },
    data(){
        return {
            config: {
                // toolbar: [
                //     ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript']
                // ],
                height: 300
            },
            // dropzoneOptions: {
            //     url: 'http://45.32.118.48/coins',
            //     thumbnailWidth: 150,
            //     maxFilesize: 0.5,
            //     headers: { "test-header": "test header value" }
            // },
            insightData: null,
            cryptoData: null,
            insightGetStatus: 0, // 1=loading, 2=success, 3= error
            getCoinsReq: null,
            coinReqStatus: 0, // 1=loading, 2=success, 3= error
            addReviewReq: null,
            addStatus: 0, // 1=loading, 2=success, 3= error
            insightId: null,
            fdInsight: {
                insight_type: 'text',
                title: ''
            },
            fd: {
                insight_text: ''
            }, //form data
            fdSwot: {
                strength: "",
                weakness: "",
                threats: "",
                opportunity: ""
            }
        }
    },
    breadcrumb () {
        return {
            label: 'Add Insight',
            parentsList: [
                {
                    to: {
                        name: 'details',
                        params: { id: this.cryptoData ? this.cryptoData.id : ''}
                    },
                    label: this.cryptoData ? this.cryptoData.name : '' //this.cryptoTitle
                },
                {
                    to: {
                        name: 'crypto_page'
                    },
                    label: 'Cryptos'
                }
            ]
        }
    },
    created: function(){
        if(this.$route.name == "edit-insight"){
            this.insightId = this.$route.params.insightId
            this.getInsight()
        }
        else{
            this.getCoinData()
        }
    },
    methods: {
        getCoinData(){
            console.log(`Crypto Id: ${this.$route.params.cryptoId}`);
            this.coinReqStatus = 1;
            this.getCoinsReq = coinsApi.getCoinsDetail(this.$route.params.cryptoId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("crypto detail: ",response.data)
                if(response.data.success){
                    this.cryptoData = response.data.market_data
                    this.coinReqStatus = 2
                }
                else{
                    if(response.data.hasOwnProperty("message")){
                        alert(response.data.message)
                    }
                    else{
                        alert("Unable to get coin data.")
                    }
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.coinReqStatus = 3; //error occured
            });
        },
        getInsight(){
            this.insightGetStatus = 1;
            this.getCoinsReq = insightsApi.getById(this.insightId, {})
            this.getCoinsReq.promise.then(response => {
                if(response.data.success){
                    this.insightData = response.data.insight;
                    this.fdInsight.insight_type = this.insightData.insight_type
                    this.fdInsight.title = this.insightData.title
                    
                    this.cryptoData = this.insightData.crypto

                    switch(this.insightData.insight_type){
                        case 'text':{
                            if(this.insightData.hasOwnProperty('text')){
                                this.fd.insight_text = this.insightData.text.text
                            }
                            break;
                        }
                        case 'swot':{

                            for(let key in this.insightData.swot.swot){
                                if(this.fdSwot.hasOwnProperty(key)){
                                    this.fdSwot[key] = this.insightData.swot.swot[key]
                                }
                            }
                            break;
                        }
                    }
                    // for (var key in this.fd){
                    //     if(this.insightData.hasOwnProperty(key)){
                    //         this.fd[key] = this.insightData[key]
                    //     }
                    // }
                    // this.cryptoData = {
                    //     id: this.coin_id,
                    //     name: this.insightData.coin_name,
                    //     symbol: this.insightData.coin_symbol
                    // }

                    this.insightGetStatus = 2;
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.insightGetStatus = 2;
                }
                else{
                    this.insightGetStatus = 2; //error occured
                    alert("Failed to get predictions data.");
                }
            })
            .catch((thrown) => {
                console.log("Get Review Exception ",thrown);
                this.insightGetStatus = 3; //error occured
            });
        },
        addInsight(evt){
            evt.preventDefault();
            console.log(this.fd);
            
            if(this.fd.insight_type == "template"){
                alert(`Functionality for ${this.fdInsight.insight_type} is not implemented yet.`)
                return
            }

            let postParam = {}
            switch(this.fdInsight.insight_type){
                case 'swot':{
                    postParam = { 
                        insight: {...this.fdInsight, ...{coin_id: this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId}},
                        swot: this.fdSwot
                    }
                    break;
                }
                case 'text':{
                    postParam = { 
                        insight: {
                            ...this.fdInsight, 
                            ...{coin_id: this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId}
                            },
                        text: this.fd
                    }
                    break;
                }
            }
            console.log("postParam: ",postParam)
            
            if(this.addStatus == 1) return;//post is in progress
            this.addStatus = 1;
            // let postParam = {
            //     insight: this.fd
            // }
            // postParam['insight']["coin_id"] = this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId;
            console.log("post params: ",postParam);

            if(this.insightId){
                //update exising API
                this.addReviewReq = insightsApi.update(this.$route.params.insightId, postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Updated Response : ",response);
                    this.addStatus = 2 
                    alert("Updated successfully");
                })
                .catch(error => {
                    this.addStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
            else{
                // add new review 
                this.addReviewReq = insightsApi.add(postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Added Response : ",response);
                    
                    if(response.data.success){
                        this.addStatus = 2 
                        alert("Added successfully");
                    }
                    else if(response.data.hasOwnProperty("message")){ 
                        alert(response.data.message)
                        this.addStatus = 2
                    }
                    else{
                        this.addStatus = 2 //error occured
                        alert("Somenting went wrong while adding insight.");
                    }

                })
                .catch(error => {
                    this.addStatus = 3 //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error)
                    }
                    else{
                        alert("Something went wrong.")
                    }
                });
            }
        }
    },
    computed: {
        completeData() {
            for(let key in this.fd){
                console.log("Key ",key);
                if(!this.fd[key] || this.fd[key].trim() == ""){
                    console.log("-------- Return false")
                    return false
                }
            }
            console.log("-------- Return true")
            return true
        }
    }
}
</script>
<style>	
    .insight-title-img
    {
        width: 25px;
        margin-right: 5px;
    }
</style>