<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-news">
            <div class="element-wrapper compact pt-4">
                <!-- <div class="element-actions d-none d-sm-block">
                    <form class="form-inline justify-content-sm-end">
                        <label class="smaller" for="">News For</label>
                        <select class="form-control form-control-sm form-control-faded">
                            <option value="Pending">
                                Bitcoin
                            </option>
                            <option value="Active">
                                Etherium
                            </option>
                            <option value="Cancelled">
                                Litecoin
                            </option>
                        </select>
                    </form>
                </div> -->
                <!-- <h5 class="element-header utrum-blue utrum-font utrum-cap-all">
                    Crypto News
                </h5> -->
                <div class="element-box-tp">                  
                <!--Start news array -->
                <div v-for="(item, index) in newsList.slice().reverse()" :key="index">                  
                <div class="post-box">
                    <div class="post-media">
                        <img :src="item.thumbnail" style="width:100%;"/>
                    </div>
                    <div class="post-content">
                        <h6 class="post-title">
                            {{item.title}}
                        </h6>
                        <h6 class="post-date">
                            {{ item.publishedAt | date('YYYY-MM-DD hh:mm a') }}
                        </h6>
                        <div class="post-text">
                            {{ item.description }}
                        </div>
                        <div class="post-foot">
                            <div class="post-tags">
                                <div class="social-share-count-section">
                                    <i class="fa fa-heart" aria-hidden="true"></i><span>0</span>
                                </div>
                                <div class="social-share-count-section">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i><span>0</span>
                                </div>
                            </div>
                            <a :href="item.url" class="post-link" target="_blank">
                                <span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- End news array  -->
                    <!-- <a class="centered-load-more-link" href="#"><span>Read Our Blog</span></a> -->
                </div>
            </div>

        </div>
    </div>
</div>
   
    
</template>
<script>
import coinsApi from '../../api-service/coins'
export default {
    name: 'news',
    newsList:[],      
    data()
    {
        return {
            newsList:[],
            
        }

    },     
    components: {
    },  
    created:function(){
        this.sortedItems();
        this.getNews()
    },
    computed: {
    
    },
    breadcrumb () {
        return {
            label: 'News'
        }
    }, 
    methods: { 
        sortedItems: function() {
            console.log(this.newsList);
            this.newsList.sort((a, b) => new Date(a.date) - new Date(b.date))
            //return this.newsList.slice().reverse();
        },
        getNews(){
            let redditReq = coinsApi.getNews()
            redditReq.promise.then(response => {
                if(response.hasOwnProperty('data')){
                    if(response.data.news.top){
                        this.newsList = response.data.news.top
                    }
                }
                else{
                    alert('Something went wrong.');
                }
                console.log("Got News Data: ",response);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
            });
        }
    }
}
</script>
<style>
    @import './news.css';
</style>