.utrum-news h6{
    margin-top:0;
    margin-bottom:0.5rem;
}
.utrum-news a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
.utrum-news a:hover{
    color:#0356ad;
    text-decoration:underline;
}
.utrum-news label{
    display:inline-block;
    margin-bottom:.5rem;
}
.utrum-news select{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
.utrum-news select{
    text-transform:none;
}
.utrum-news h6{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
.utrum-news h6{
    font-size:1rem;
}
.utrum-news .form-control{
    display:block;
    width:100%;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:2px solid #dde2ec;
    border-radius:4px;
    -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.utrum-news .form-control::-ms-expand{
    background-color:transparent;
    border:0;
}
.utrum-news .form-control:focus{
    color:#495057;
    background-color:#fff;
    border-color:#047bf8;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.utrum-news .form-control::-webkit-input-placeholder{
    color:#636c72;
    opacity:1;
}
.utrum-news .form-control:-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.utrum-news .form-control::-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.utrum-news .form-control::placeholder{
    color:#636c72;
    opacity:1;
}
.utrum-news .form-control:disabled{
    background-color:#e9ecef;
    opacity:1;
}
.utrum-news select.form-control:not([size]):not([multiple]){
    height:calc(2.1rem + 4px);
}
.utrum-news .form-control-sm{
    padding:0.25rem 0.5rem;
    font-size:0.8rem;
    line-height:1.5;
    border-radius:4px;
}
.utrum-news select.form-control-sm:not([size]):not([multiple]){
    height:calc(1.7rem + 4px);
}
.utrum-news .form-inline{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
 @media (min-width: 576px){
    .utrum-news .form-inline label{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin-bottom:0;
    }
    .utrum-news .form-inline .form-control{
        display:inline-block;
        width:auto;
        vertical-align:middle;
    }
}
.utrum-news .badge{
    display:inline-block;
    padding:0.25em 0.4em;
    font-size:75%;
    font-weight:500;
    line-height:1;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:4px;
}
.utrum-news .badge:empty{
    display:none;
}
.utrum-news .badge-primary{
    color:#fff;
    background-color:#047bf8;
}
.utrum-news .d-none{
    display:none!important;
}
 @media (min-width: 576px){
    .utrum-news .d-sm-block{
        display:block!important;
    }
}
 @media (min-width: 576px){
    .utrum-news .justify-content-sm-end{
        -webkit-box-pack:end!important;
        -ms-flex-pack:end!important;
        justify-content:flex-end!important;
    }
}
.utrum-news .pt-4{
    padding-top:1.5rem!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .utrum-news .badge{
        border:1px solid #000;
    }
}
.utrum-news label{
    margin-bottom:4px;
}
.utrum-news select{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}
.utrum-news .form-control{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.utrum-news .form-control.form-control-faded{
    background-color:#dde2ec;
}
.utrum-news .form-control::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.utrum-news .form-control:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.utrum-news .form-control::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.utrum-news .form-control::placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.utrum-news label.smaller{
    font-size:0.8rem;
    line-height:1.5;
}
.utrum-news .badge{
    font-size:0.81rem;
}
.utrum-news .form-control{
    font-weight:300;
}
.utrum-news .element-wrapper{
    padding-bottom:3rem;
}
.utrum-news .element-wrapper.compact{
    padding-bottom:2rem;
}
.utrum-news .element-wrapper .element-actions{
    float:right;
    position:relative;
    z-index:2;
    margin-top:-0.2rem;
}
.utrum-news .element-wrapper .element-actions select.form-control-sm{
    height:1.75rem;
}
.utrum-news .element-wrapper .element-actions label{
    margin-right:7px;
    color:rgba(90, 99, 126, 0.49);
}

.utrum-news .post-box{
    border-radius:6px;
    background-color:#fff;
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
}
.utrum-news .post-box{
    margin-bottom:15px;
    padding:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-news .post-box:hover{
    -webkit-transform:translateY(-5px);
    transform:translateY(-5px);
    -webkit-box-shadow:0px 5px 12px rgba(126, 142, 177, 0.2);
    box-shadow:0px 5px 12px rgba(126, 142, 177, 0.2);
}
.utrum-news .post-box .post-media{
    -webkit-box-flex:0;
    -ms-flex:0 0 30%;
    flex:0 0 20%;
    background-size:cover;
    background-position:center center;
}
.utrum-news .post-box .post-content{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    padding:10px;
    padding-left:20px;
}
.utrum-news .post-box .post-text{
    color:rgba(90, 99, 126, 0.49);
    margin-bottom:10px;
    font-size:0.81rem;
}
.utrum-news .post-box .post-foot{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
.utrum-news .post-box .post-foot .post-link{
    font-size:0.81rem;
}
.utrum-news .post-box .post-foot .post-link i{
    margin-left:10px;
    display:inline-block;
    vertical-align:middle;
}
.utrum-news .post-box .post-foot .post-link span{
    display:inline-block;
    vertical-align:middle;
}
.utrum-news .centered-load-more-link{
    display:block;
    padding:10px;
    padding-bottom:15px;
    text-align:center;
    cursor:pointer;
}
.utrum-news .centered-load-more-link span{
    display:inline-block;
    vertical-align:middle;
    border-bottom:1px solid #047bf8;
}
.utrum-news .centered-load-more-link:hover span{
    border-bottom-color:#0362c6;
}
 @media (min-width: 768px) and (max-width: 1024px){
    .utrum-news .element-wrapper{
        padding-bottom:2rem;
    }
}
 @media (max-width: 767px){
    .utrum-news .element-wrapper .element-actions{
        float:none;
        margin-bottom:20px;
    }
    .utrum-news .post-box{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
    .utrum-news .post-box .post-media{
        -webkit-box-flex:0;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        padding-bottom:60%;
    }
    .utrum-news .post-box .post-content{
        padding:20px 15px;
    }
    .utrum-news .element-wrapper{
        padding-bottom:1.5rem;
    }
    .utrum-news .element-wrapper.compact{
        padding-bottom:1rem;
    }
}
.utrum-news .social-share-count-section {
     display: inline-block;
     color: rgba(90, 99, 126, 0.72);
     padding-right: 10px;
}
.utrum-news .social-share-count-section span
{
    margin-left: 10px;
}
.utrum-news .post-date
{
    font-size: 12px;
    color: #8a8a8ac7;
    padding-left: 10px;
}
.utrum-news .post-date:before
{
    content:"-";
    padding: 0;
    margin: 0 auto;
    color: #8a8a8ac7;
}
.utrum-news .post-media:hover
{
    opacity: 0.5;
}
.related-news-section .post-content
{
    padding-left: 10px !important;
}
/* .utrum-news .element-wrapper .element-header.related-news-title:after
{
    background-color: #334152 !important;   
} */