<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-news">
            <div class="element-wrapper compact pt-4">               
                <h6 class="element-header utrum-blue">
                    Crypto News Detail
                </h6>
                <div class="element-box-tp">
                    <div class="post-box">
                         <div class="post-media">
                            <img :src="this.news[0].img" style="width:100%;"/>
                        </div>
                        <div class="post-content">
                            <h6 class="post-title">
                                {{this.news[0].title}}
                            </h6>
                            <h6 class="post-date">
                                {{this.news[0].date}}
                            </h6>
                            <div class="post-text">
                               {{this.news[0].newsDescription }}
                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="social-share-count-section">
                                        <i class="fa fa-heart" aria-hidden="true"></i><span>{{this.news[0].likeCount}}</span>
                                    </div>
                                    <div class="social-share-count-section">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i><span>{{this.news[0].shareCount}}</span>
                                    </div>                                                                                                
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <h6 class="element-header pt-5 utrum-blue related-news-title">
                        Related News
                    </h6>
                    <b-row class="related-news-section">                       
                        <b-col cols="4">
                        <div class="post-box">
                            <b-row>
                                <b-col cols="12">
                                    <div class="post-media">
                                        <img src="https://i1.wp.com/smartereum.com/wp-content/uploads/2018/02/Bitcoin-price-predictions-2018-Bitcoin-will-reach-25000-in-2018-and-125000-by-2022-Bitcoin-News-Today-.jpg?resize=696%2C373&ssl=1" style="width:100%;"/> 
                                    </div>
                                </b-col>
                                <b-col cols="12">
                                    <div class="post-content">
                                        <h6 class="post-title">
                                            Is Crypto the Future of Film Funding?
                                        </h6>
                                        <h6 class="post-date">
                                            7/18/2018 02:04:30 PM
                                        </h6>
                                        <div class="post-text">
                                            Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait
                                        </div>
                                        <div class="post-foot">
                                            <div class="post-tags">
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                                </div>
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                                </div>                                                                                                
                                            </div>
                                            <a class="post-link" href="javascript:void(0)"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                                        </div>
                                     </div>
                                </b-col>
                            </b-row>                          
                        </div>
                        </b-col>
                        <b-col cols="4">
                        <div class="post-box">
                            <b-row>
                                <b-col cols="12">
                                    <div class="post-media">
                                        <img src="https://s3.amazonaws.com/bnfpv/wp-content/uploads/2018/08/20195757/the-company-3338207_960_720-384x220.jpg" style="width:100%;"/> 
                                    </div>
                                </b-col>
                                <b-col cols="12">
                                    <div class="post-content">
                                        <h6 class="post-title">
                                            Is Crypto the Future of Film Funding?
                                        </h6>
                                        <h6 class="post-date">
                                            7/18/2018 02:04:30 PM
                                        </h6>
                                        <div class="post-text">
                                            Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait
                                        </div>
                                        <div class="post-foot">
                                            <div class="post-tags">
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                                </div>
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                                </div>                                                                                                
                                            </div>
                                            <a class="post-link" href="javascript:void(0)"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                                        </div>
                                     </div>
                                </b-col>
                            </b-row>                          
                        </div>
                        </b-col>
                        <b-col cols="4">
                        <div class="post-box">
                            <b-row>
                                <b-col cols="12">
                                    <div class="post-media">
                                        <img src="https://i1.wp.com/smartereum.com/wp-content/uploads/2018/02/Bitcoin-price-predictions-2018-Bitcoin-will-reach-25000-in-2018-and-125000-by-2022-Bitcoin-News-Today-.jpg?resize=696%2C373&ssl=1" style="width:100%;"/> 
                                    </div>
                                </b-col>
                                <b-col cols="12">
                                    <div class="post-content">
                                        <h6 class="post-title">
                                            Is Crypto the Future of Film Funding?
                                        </h6>
                                        <h6 class="post-date">
                                            7/18/2018 02:04:30 PM
                                        </h6>
                                        <div class="post-text">
                                            Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait
                                        </div>
                                        <div class="post-foot">
                                            <div class="post-tags">
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                                </div>
                                                <div class="social-share-count-section">
                                                    <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                                </div>                                                                                                
                                            </div>
                                            <a class="post-link" href="javascript:void(0)"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                                        </div>
                                     </div>
                                </b-col>
                            </b-row>                          
                        </div>
                        </b-col>
                    </b-row>
                    
                </div>
            </div>

        </div>
        
    </div>
    <!-- <div class="content-panel compact color-scheme-dark">                     -->
        <right-sidebar></right-sidebar>
    <!-- </div> -->
</div>
   
    
</template>
<script>

import ComponentRightSidebar from '../../components/right_sidebar/rightsidebar'

export default {
    name: 'newsDetail',
    data()
    {
        return{
            news:[],
        }
    },       
    components: {       
    "right-sidebar": ComponentRightSidebar 
    },
    created: function(){
        this.getNewsDetail()
    },    
    methods: { 

        getNewsDetail()
        {
            this.news.push({
				img: this.$route.params.img,
				title: this.$route.params.title,
                date: this.$route.params.date,
                newsDescription: this.$route.params.newsDescription,
                likeCount: this.$route.params.likeCount,
                shareCount: this.$route.params.shareCount
			});            
        }
    }
}
</script>
<style>
    @import './news.css';
</style>