.utrum-user-activity h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1rem;
  }
  .utrum-user-activity strong {
    font-weight: 500;
  }
  .utrum-user-activity a {
    color: #047bf8;
    text-decoration: none;
    background-color: #000 0;
    -webkit-text-decoration-skip: objects;
  }
  .utrum-user-activity a:hover {
    color: #0356ad;
    text-decoration: underline;
  }
  .utrum-user-activity .element-box {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
  }
  .utrum-user-activity .user-profile + .element-wrapper {
    margin-top: 2rem;
  }
  .utrum-user-activity .element-wrapper {
    padding-bottom: 3rem;
  }
  .utrum-user-activity .element-wrapper .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }
  .utrum-user-activity .element-wrapper .element-header:after {
    content: "";
    background-color: #047bf8;
    width: 25px;
    height: 4px;
    border-radius: 0;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  .utrum-user-activity .timed-activities {
    margin-bottom: 1rem;
  }
  .utrum-user-activity .timed-activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.08rem;
  }
  .utrum-user-activity .timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    color: rgba(0, 0, 0, .4);
    position: relative;
    text-align: center;
  }
  .utrum-user-activity .timed-activity .ta-date span {
    position: relative;
    display: inline-block;
  }
  .utrum-user-activity .timed-activity .ta-date span:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
    width: 16px;
    height: 16px;
    border: 3px solid #c76dc8;
    border-radius: 8px;
    background-color: #fff;
  }
  .utrum-user-activity .timed-activity .ta-date:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -20px;
    width: 1px;
    top: 70px;
    background-color: rgba(0, 0, 0, .1);
  }
  .utrum-user-activity .timed-activity .ta-record-w {
    padding-left: 40px;
  }
  .utrum-user-activity .timed-activity .ta-record {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .utrum-user-activity .timed-activity .ta-timestamp {
    position: relative;
    padding-right: 40px;
    color: rgba(0, 0, 0, .4);
    width: 110px;
    white-space: nowrap;
  }
  .utrum-user-activity .timed-activity .ta-timestamp strong {
    color: #3e4b5b;
  }
  .utrum-user-activity .timed-activity .ta-timestamp:after {
    content: '\e910';
    font-family: osfont !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, .3);
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    display: block;
  }
  .utrum-user-activity .timed-activity .ta-activity a {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid #047bf8;
  }
  .utrum-user-activity .timed-activity .ta-activity a:hover {
    text-decoration: none;
    color: #024994;
    border-bottom-color: #024994;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity {
    display: block;
    padding-left: 30px;
    position: relative;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity:before {
    position: absolute;
    width: 1px;
    background-color: rgba(0, 0, 0, .1);
    bottom: 0;
    top: 45px;
    content: "";
    left: 8px;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-date:before {
    display: none;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-date span:after {
    left: -30px;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-record-w {
    padding-left: 20px;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-record {
    display: block;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-timestamp {
    font-size: 0.81rem;
    margin-bottom: 5px;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-timestamp:after {
    right: auto;
    left: -20px;
    font-size: 8px;
  }
  .utrum-user-activity .timed-activities.compact .timed-activity .ta-activity {
    font-size: 0.9rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
  @media print {
    .utrum-user-activity * {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .utrum-user-activity *::before {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .utrum-user-activity *::after {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
  @media (max-width: 1250px) {
    .utrum-user-activity .element-box {
      padding: 1rem 1.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .utrum-user-activity .element-wrapper {
      padding-bottom: 2rem;
    }
    .utrum-user-activity .element-box {
      padding: 1rem;
    }
  }
  @media (max-width: 767px) {
    .utrum-user-activity .timed-activities {
      padding: 0;
    }
    .utrum-user-activity .timed-activity {
      display: block;
      font-size: 0.9rem;
    }
    .utrum-user-activity .timed-activity .ta-date {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-bottom: 3rem;
      text-align: left;
    }
    .utrum-user-activity .timed-activity .ta-date span:after {
      -webkit-transform: none;
      transform: none;
      left: 0;
    }
    .utrum-user-activity .timed-activity .ta-record-w {
      padding-left: 0;
    }
    .utrum-user-activity .timed-activity .ta-record {
      display: block;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
    }
    .utrum-user-activity .timed-activity .ta-activity {
      font-size: 0.81rem;
    }
    .utrum-user-activity .element-wrapper {
      padding-bottom: 1.5rem;
    }
    .utrum-user-activity .element-box {
      padding: 1rem;
    }
  }
  