<template>
    <div class="utrum-user-activity">
        <div class="element-wrapper">
            <div class="element-box">
                <h6 class="element-header">
                    User Activity
                </h6>
                <div class="timed-activities compact">
                    <div class="timed-activity">
                        <div class="ta-date">
                            <span>21st Jan, 2017</span>
                        </div>
                        <div class="ta-record-w">
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong>11:55</strong> am
                                </div>
                                <div class="ta-activity">
                                    Created a post called
                                    <a href="#">Register new symbol</a> in Rogue
                                </div>
                            </div>
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong>2:34</strong> pm
                                </div>
                                <div class="ta-activity">
                                    Commented on story
                                    <a href="#">How to be a leader</a> in
                                    <a href="#">Financial</a> category
                                </div>
                            </div>
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong>7:12</strong> pm
                                </div>
                                <div class="ta-activity">
                                    Added
                                    <a href="#">John Silver</a> as a friend
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timed-activity">
                        <div class="ta-date">
                            <span>3rd Feb, 2017</span>
                        </div>
                        <div class="ta-record-w">
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong>9:32</strong> pm
                                </div>
                                <div class="ta-activity">
                                    Added
                                    <a href="#">John Silver</a> as a friend
                                </div>
                            </div>
                            <div class="ta-record">
                                <div class="ta-timestamp">
                                    <strong>5:14</strong> pm
                                </div>
                                <div class="ta-activity">
                                    Commented on story
                                    <a href="#">How to be a leader</a> in
                                    <a href="#">Financial</a> category
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'user-activity',
    components: {}
}
</script>
<style>
    @import './user-activity.css';
</style>