<template>
    <b-container class="profile-row-container">
        <b-row>
            <b-col cols="9">
                <div class="utrum-form">                
                <div class="element-wrapper pt-5">
                    <!-- <h6 class="element-header pt-4">
                        Settings
                    </h6> -->
                    <div class="element-box">
                        <form> 
                            <h5 class="form-header">
                                Social Authentication
                            </h5>                           
                            <div class="form-desc mb-5">
                            Connect at least one social network account to contribute to Crunchbase:
                            </div>                            
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""><img alt="" src="/static/facebook-icon.png"> <span class="pl-2">Facebook</span></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="padding-top:10px;">
                                    <toggle-button :value="false" :sync="true" :labels="true"/>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""><img alt="" src="/static/linkedin-icon.png"> <span class="pl-2">Linkedin</span></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="padding-top:10px;">
                                    <toggle-button :value="false" :sync="true" :labels="true"/>
                                </div>
                            </div>
                            </div>

                            <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""><img alt="" src="/static/twitter-icon.png"> <span class="pl-2">Twitter</span></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" style="padding-top:10px;">
                                    <toggle-button :value="true" :sync="true" :labels="true"/>
                                </div>
                            </div>
                            </div>


                            <div class="form-buttons-w">
                            <button class="btn btn-primary" type="submit" :disabled="completeData"> Submit</button>                  
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

export default {
    name: 'user-setting',
    components: {},
    breadcrumb () {
        return {
            label: 'Settings'
        }
    },
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    }
}
</script>

<style scoped>

</style>

