<template>
    <div class="content-i"> 
        <div class="content-box">
            <!-- <p v-show="predictionsGetReqStatus == 1">Loading</p> -->

            <div  v-show="predictionsGetReqStatus == 1" id="loftloader-wrapper" class="pl-imgloading" data-show-close-time="15000">
                <div class="loader-inner">
                    <div id="loader"><span></span><img src="https://utrum.io/wp-content/uploads/Logo500x500.png" alt="preloder"></div>
                </div>
                <div class="loader-section section-fade"></div>
                <div class="loader-close-button" style=""><span class="screen-reader-text">Close</span></div>
            </div>

            <div class="element-wrapper" v-if="predictions">
                <!-- <h5 class="element-header utrum-blue utrum-font utrum-cap-all">
                    Predictions
                </h5> -->
                <b-card :title="r.comment"
                        tag="article"
                        class="mb-2" v-for="(r, index) in predictions" :key="`prediction-${index}`">
                    
                    <div class="card-text">
                        <p v-if="r.current_price">Current Price: {{ r.current_price }}</p>
                        <p v-if="r.deadline"> Deadline: {{ r.deadline | date }}</p>
                        <p v-if="r.time_period"> Time Period: {{ r.time_period }}  </p>
                    </div>
                    

                    <!-- <b-button size="sm" variant="primary" v-on:click="editPrediction(r, index)" v-if="r.is_current_user_created == true">Edit</b-button> -->
                    <!-- <b-button size="sm" variant="danger" v-on:click="removeReview(r, index)" v-if="r.is_current_user_created == true">
                        <i class="fas fa-circle-notch fa-spin" v-show="r.predictionwDelReqStatus == 1"></i> Remove
                    </b-button> -->
                </b-card>
            </div>
        </div>
    </div>
</template>
<script>
import predictionsApi from '../../api-service/predictions'
export default {
    name: 'predictions',
    data(){
        return {
            predictions: null,
            predictionsGetReq: null,
            predictionsGetReqStatus: 0, // 1=loading, 2=success, 3= error 
            predictionsDelReq: null,

            predictionwDelReq: null
        }
    },
    created: function(){
        this.getPredictions()
    },
    breadcrumb () {
        return {
            label: 'Predictions'
        }
    },
    methods: {
        getPredictions(){
            this.predictionsGetReqStatus = 1;
            this.predictionsGetReq = predictionsApi.getAll({})
            this.predictionsGetReq.promise.then(response => {
                console.log("reviews detail: ",response.data)
                if(response.data.success){
                    this.predictions = response.data.predictions;
                    this.predictionsGetReqStatus = 2;
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.predictionsGetReqStatus = 3;
                }
                else{
                    this.predictionsGetReqStatus = 3; //error occured
                    alert("Failed to get predictions data.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.predictionsGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        removeReview(r, idx){
            console.log("Remove Review: ",r);
            if(r.hasOwnProperty('predictionwDelReqStatus') && r['predictionwDelReqStatus'] == 1) return;
            this.$set(r, 'predictionwDelReqStatus', 1);

            console.log(r);
            this.predictionwDelReq = predictionsApi.delete(r.id, {})
            this.predictionwDelReq.promise.then(response => {
                r.predictionwDelReqStatus = 2;
                this.predictions.splice(idx, 1);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                r['predictionwDelReqStatus'] = 3; //error occured
                alert("Something went wrong");
            });
        }
        // editPrediction(r, idx){
        //     console.log("editPrediction ",r);
        //     this.$router.push({name: 'edit-prediction', params: { predictionId: r.id }})
        // }
    }
}
</script>