<template>
    <div class="content-i"> 
        <div class="content-box">
            <!-- <p v-show="predictionsGetReqStatus == 1">Loading</p> -->

            <div  v-show="predictionsGetReqStatus == 1" id="loftloader-wrapper" class="pl-imgloading" data-show-close-time="15000">
                <div class="loader-inner">
                    <div id="loader"><span></span><img src="https://utrum.io/wp-content/uploads/Logo500x500.png" alt="preloder"></div>
                </div>
                <div class="loader-section section-fade"></div>
                <div class="loader-close-button" style=""><span class="screen-reader-text">Close</span></div>
            </div>
            

            <div class="prediction-table">
                <div class="element-wrapper" v-if="predictions">
                    <div class="element-box"> 
                         <router-link :to="{ name: 'add-prediction', params: { cryptoId: 0 } }">
                            <div class="btn utrum-btn-primary btn-sm float-right" style=" width: 130px;" ><i class="os-icon os-icon-plus-circle align-baseline pr-1"></i><span>Add Prediction</span></div>
                         </router-link>
                        <div class="table-responsive">
                           <b-table :striped="striped" :items="predictiondata" :fields="fields" v-if="predictions">
                                <template slot="date" slot-scope="row">
                                    <span class="text-dark">{{ row.item.date.date}}</span><span class="d-block text-secondary pl-1">{{ row.item.date.time}}</span>
                                    <!-- <label>{{row.item.date.date}}</label><span class="symbol">{{row.item.coin.symbol}}</span> -->
                                </template>

                                <template slot="coin" slot-scope="row">
                                    <span class="text-dark">{{row.item.coin.coin_name}}</span><span class="text-secondary pl-1">{{row.item.coin.coin_symbol}}</span>
                                </template>

                                <template slot="status" slot-scope="row">
                                    <span v-bind:class="{ 'text-success': row.item.status == 'Success' , 'text-danger': row.item.status == 'Fails' , 'text-info': row.item.status == 'In_Progress' }">{{row.item.status == 'Success' ? row.item.status : (row.item.status == 'In_Progress' ? 'In Progress' : 'Failed')  }}</span>
                                </template>

                                <template slot="show_details" slot-scope="row">
                                    <div class="btn utrum-btn-primary btn-sm" @click.stop="row.toggleDetails">
                                        {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
                                    </div>                               
                                </template>
                                
                                <template slot="row-details" slot-scope="row">
                                <b-card>                       
                                    <b-row>
                                        <b-col cols="2" class="text-left">
                                            <label class="text-info">Coin Name:</label>
                                        </b-col>
                                        <b-col cols="10" class="text-left pl-0">
                                            {{row.item.coin.coin_name}}
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="2" class="text-left">
                                            <label class="text-info">Comment:</label>
                                        </b-col>
                                        <b-col cols="10" class="text-left pl-0">
                                            {{row.item.comment}}
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols="2" class="text-left">
                                            <label class="text-info">Time Period:</label>
                                        </b-col>
                                        <b-col cols="10" class="text-left pl-0">
                                            {{row.item.time_period}}
                                        </b-col>
                                    </b-row>
                                     <b-row>
                                        <b-col cols="2" class="text-left">
                                            <label class="text-info">Author:</label>
                                        </b-col>
                                        <b-col cols="10" class="text-left pl-0">
                                            {{row.item.author}}
                                        </b-col>
                                    </b-row>
                                    <!-- <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button> -->
                                </b-card>
                                </template>
                            </b-table>                        
                        
                        </div>
                    </div>
                </div>

            </div>        
        </div>
    </div>
</template>
<script>
import moment from 'moment';
import predictionsApi from '../../api-service/predictions';
export default {
    name: 'predictions',
    data(){
        return {
            predictions: null,
            predictionsGetReq: null,
            predictionsGetReqStatus: 0, // 1=loading, 2=success, 3= error 
            predictionsDelReq: null,

            predictionwDelReq: null,
            fields: [ 'date','coin','current_price','forcast','deadline','status','show_details' ],           
            striped: true,
            predictiondata:[],            
        }
    },
    created: function(){
        this.getPredictions()
    },
    breadcrumb () {
        return {
            label: 'Predictions'
        }
    },
    methods: {
        getPredictions(){
            this.predictionsGetReqStatus = 1;
            this.predictionsGetReq = predictionsApi.getAll({})
            this.predictionsGetReq.promise.then(response => {
                console.log("reviews detail: ",response.data)
                if(response.data.success){
                    this.predictions = response.data.predictions;
                    this.predictions.forEach(element => { 

                        let data = {
                            
                            date:{                               
                                date:moment(String(element.created_at)).format('D MMM'),
                                time:moment(String(element.created_at)).format('h:mm')
                            },                            
                            coin:{
                                coin_name:element.coin_name,
                                coin_symbol:element.coin_symbol,                                
                            },
                            current_price:element.current_price,
                            forcast: element.forcast_price ? element.forcast_price : '-',
                            deadline:  moment(String(element.deadline)).format('D MMM YYYY'),
                            status: element.status,
                            comment:element.comment,
                            coin_id:element.coin_id,
                            time_period:element.time_period,
                            author:element.author ? element.author : '-'
                        }

                        this.predictiondata.push(data);
                        
                    });
                    //console.log("predictiondata new array=======");
                    //console.log(this.predictiondata);

                    this.predictionsGetReqStatus = 2;
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.predictionsGetReqStatus = 3;
                }
                else{
                    this.predictionsGetReqStatus = 3; //error occured
                    alert("Failed to get predictions data.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.predictionsGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        removeReview(r, idx){
            console.log("Remove Review: ",r);
            if(r.hasOwnProperty('predictionwDelReqStatus') && r['predictionwDelReqStatus'] == 1) return;
            this.$set(r, 'predictionwDelReqStatus', 1);

            console.log(r);
            this.predictionwDelReq = predictionsApi.delete(r.id, {})
            this.predictionwDelReq.promise.then(response => {
                r.predictionwDelReqStatus = 2;
                this.predictions.splice(idx, 1);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                r['predictionwDelReqStatus'] = 3; //error occured
                alert("Something went wrong");
            });
        }
        // editPrediction(r, idx){
        //     console.log("editPrediction ",r);
        //     this.$router.push({name: 'edit-prediction', params: { predictionId: r.id }})
        // }
    }
}
</script>

<style>
@import './prediction.css';
</style>
