<template>

    <div class="review-chart-section p-4">
        <b-row>
            <b-col cols="4" class="position-relative">
               <div class="set-size charts-container">
                    <div class="pie-wrapper progress-48">
                        <span class="label">48<span class="smaller">%</span></span>
                        <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                        </div>
                    </div>                    
               </div> 
               <div class="chart-info">
                    <span class="chart-title">Recommend to a friend</span>
                </div>               
            </b-col>
            <b-col cols="4" class="position-relative">
               <div class="set-size charts-container">
                    <div class="pie-wrapper progress-63">
                        <span class="label">63<span class="smaller">%</span></span>
                        <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                        </div>
                    </div>                    
               </div> 
               <div class="chart-info">
                    <span class="chart-title">Team Approval</span>
                </div>               
            </b-col> 
            <b-col cols="4" class="position-relative">
               <div class="set-size charts-container">
                    <div class="pie-wrapper progress-70">
                        <span class="label">70<span class="smaller">%</span></span>
                        <div class="pie">
                        <div class="left-side half-circle"></div>
                        <div class="right-side half-circle"></div>
                        </div>
                    </div>                    
               </div> 
               <div class="chart-info">
                    <span class="chart-title">Investor Confidence</span>
                </div>               
            </b-col>             
            
        </b-row>        
    </div>
</template>
<script>
export default {
    name: 'review-chart2',   
    created: function()
    {
        //alert("Hii");
        //console.log("add social data========");
        //console.log(this.cryptoData);
    },
    components: {},

}
</script>

<style>
@import './review-chart2.css';
</style>
