<template>

    <div class="review-chart-section p-4">
        <b-row>
            <b-col cols="4 position-relative">
                <div class="c100 p48 small">
                    <span>48%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="d-inline pt-3">
                    <span class="chart-title">Recommend to a friend</span>
                </div>
            </b-col>
            <b-col cols="4 position-relative">
                <div class="c100 p63 small">
                    <span>63%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="d-inline pt-3">
                    <span class="chart-title">Team Approval</span>
                </div>
            </b-col>
            <b-col cols="4 position-relative">
                <div class="c100 p39 small">
                    <span>39%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="d-inline pt-3">
                    <span class="chart-title">Investor Confidence</span>
                </div>
            </b-col>
        </b-row>
        

        <!-- <div class="c100 p12 small">
            <span>12%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="d-inline pt-3">
            <span class="chart-title">Recommend to a friend</span>
        </div> -->

                   
    </div>
</template>
<script>
export default {
    name: 'review-chart',
    //props: ['cryptoData'],
    created: function()
        {
            //alert("Hii");
            //console.log("add social data========");
            //console.log(this.cryptoData);
        },
    components: {},   
    }
    

</script>
<style>

@import './review-chart.css';

</style>
