.utrum-leftsidebar h1, .utrum-leftsidebar h4, .utrum-leftsidebar h6{
    margin-top:0;
    margin-bottom:0.5rem;
}
.utrum-leftsidebar p{
    margin-top:0;
    margin-bottom:1rem;
}
.utrum-leftsidebar ul{
    margin-top:0;
    margin-bottom:1rem;
}
.utrum-leftsidebar ul ul{
    margin-bottom:0;
}
.utrum-leftsidebar strong{
    font-weight:bolder;
}
.utrum-leftsidebar a{
    color:#047bf8;
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
}
.utrum-leftsidebar a:hover{
    color:#0356ad;
    text-decoration:underline;
}
.utrum-leftsidebar img{
    vertical-align:middle;
    border-style:none;
}
.utrum-leftsidebar input{
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
.utrum-leftsidebar input{
    overflow:visible;
}
.utrum-leftsidebar h1, .utrum-leftsidebar h4, .utrum-leftsidebar h6{
    margin-bottom:0.5rem;
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:500;
    line-height:1.2;
    color:#334152;
}
.utrum-leftsidebar h1{
    font-size:2.5rem;
}
.utrum-leftsidebar h4{
    font-size:1.5rem;
}
.utrum-leftsidebar h6{
    font-size:1rem;
}
.utrum-leftsidebar .btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid transparent;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    border-radius:4px;
    -webkit-transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.utrum-leftsidebar .btn:hover, .utrum-leftsidebar .btn:focus{
    text-decoration:none;
}
.utrum-leftsidebar .btn:focus{
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.utrum-leftsidebar .btn:disabled{
    opacity:0.65;
}
.utrum-leftsidebar .btn:not(:disabled):not(.disabled){
    cursor:pointer;
}
.utrum-leftsidebar .badge{
    display:inline-block;
    padding:0.25em 0.4em;
    font-size:75%;
    font-weight:500;
    line-height:1;
    text-align:center;
    white-space:nowrap;
    vertical-align:baseline;
    border-radius:4px;
}
.utrum-leftsidebar .badge:empty{
    display:none;
}
.utrum-leftsidebar .badge-danger{
    color:#fff;
    background-color:#e65252;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .utrum-leftsidebar img{
        page-break-inside:avoid;
    }
    .utrum-leftsidebar p{
        orphans:3;
        widows:3;
    }
    .utrum-leftsidebar .badge{
        border:1px solid #000;
    }
}
.utrum-leftsidebar input{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}
.utrum-leftsidebar .btn-white{
    color:#292b2c;
    background-color:#fff;
    border-color:#fff;
}
.utrum-leftsidebar .btn-white:hover{
    color:#292b2c;
    background-color:#ececec;
    border-color:#e6e5e5;
}
.utrum-leftsidebar .btn-white:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.utrum-leftsidebar .btn-white:disabled{
    color:#292b2c;
    background-color:#fff;
    border-color:#fff;
}
.utrum-leftsidebar .btn{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
    outline:none;
    line-height:1;
}
.utrum-leftsidebar .btn.btn-rounded{
    border-radius:40px;
}
.utrum-leftsidebar .badge{
    font-size:0.81rem;
}
.utrum-leftsidebar body.full-screen .menu-w.menu-layout-compact{
    border-radius:0px!important;
}
.utrum-leftsidebar body.full-screen .menu-position-side .logged-user-menu{
    left:0px;
    right:-1px;
    border-radius:0px;
}
.utrum-leftsidebar strong{
    font-weight:500;
}
.utrum-leftsidebar .logged-user-w{
    text-align:center;
    padding:1rem 1rem;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .logged-user-w .avatar-w{
    padding:5px;
    border:1px solid #262626;
    border-radius:50%;
    overflow:hidden;
    display:inline-block;
}
.utrum-leftsidebar .logged-user-w .avatar-w img{
    width:50px;
    height:auto;
    border-radius:50%;
}
.utrum-leftsidebar .logged-user-w .logged-user-role{
    display:block;
    font-size:0.63rem;
    text-transform:uppercase;
    color:rgba(0, 0, 0, 0.4);
    letter-spacing:1px;
}
.utrum-leftsidebar .logged-user-w .logged-user-toggler-arrow{
    padding:3px;
    font-size:14px;
    position:absolute;
    top:50%;
    right:15px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color:rgba(0, 0, 0, 0.08);
    border-radius:6px;
}
.utrum-leftsidebar .logged-user-w.avatar-inline{
    text-align:left;
    position:relative;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-i{
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding-left:0.7rem;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-i .logged-user-info-w{
    padding-left:20px;
    text-align:left;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-toggler-arrow{
    padding:3px;
    font-size:14px;
    position:absolute;
    top:50%;
    right:15px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color:rgba(0, 0, 0, 0.08);
    border-radius:6px;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-avatar-info{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-avatar-info .logged-user-info-w{
    margin-bottom:0px;
    padding:10px 10px 10px 20px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w{
    /* padding:10px 20px; */
    /* padding: 2px 55px; */
    padding: 14px 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo{
    display:inline-block;
    text-decoration:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo-element{
    content:"";
    width:26px;
    height:26px;
    border-radius:15px;
    position:relative;
    background-color:#98c9fd;
    display:inline-block;
    vertical-align:middle;
    margin-right:20px;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo-element:after{
    content:"";
    width:26px;
    height:26px;
    background-color:#fff;
    border-radius:15px;
    right:-20px;
    position:absolute;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo:hover .logo-element{
    -webkit-transform:translateX(5px);
    transform:translateX(5px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo:hover .logo-element:after{
    -webkit-transform:translateX(-10px);
    transform:translateX(-10px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo:hover .logo-label:after{
    width:100%;
    background-color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo-label{
    display:inline-block;
    vertical-align:middle;
    color:#fff;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:500;
    font-size:0.81rem;
    position:relative;
    margin-left:10px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo-label:after{
    height:2px;
    position:absolute;
    width:0%;
    left:0px;
    bottom:-5px;
    background-color:#fff;
    content:"";
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact{
    position:relative;
    /* background-color:#fff; */
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    -webkit-box-flex:0;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
    border-right:0px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .menu-page-header{
    display:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w{
    position:relative;
    padding:1rem;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w .logged-user-i:hover{
    cursor:pointer;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w .logged-user-i:hover .logged-user-menu{
    visibility:visible;
    opacity:1;
    -webkit-transform:translateY(0px);
    transform:translateY(0px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu{
    background:#323c58;
    -webkit-box-shadow:0 20px 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 20px 50px 0 rgba(0, 0, 0, 0.2);
    position:absolute;
    top:-1px;
    left:-10px;
    overflow:hidden;
    padding:1rem;
    z-index:999;
    visibility:hidden;
    opacity:0;
    -webkit-transform:translateY(20px);
    transform:translateY(20px);
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
    border-radius:6px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu .avatar-w{
    border-color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu .logged-user-avatar-info{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu .logged-user-info-w .logged-user-name{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu .logged-user-info-w .logged-user-role{
    color:rgba(255, 255, 255, 0.6);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul{
    list-style:none;
    text-align:left;
    margin:0px;
    padding:0px 30px;
    padding-bottom:20px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li{
    border-bottom:1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a{
    display:block;
    padding:10px;
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a i{
    vertical-align:middle;
    margin-right:15px;
    font-size:20px;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    display:inline-block;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a span{
    vertical-align:middle;
    font-size:0.9rem;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    display:inline-block;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a:hover{
    text-decoration:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a:hover i{
    -webkit-transform:translateX(5px);
    transform:translateX(5px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li a:hover span{
    -webkit-transform:translateX(8px);
    transform:translateX(8px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu ul li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu .bg-icon{
    font-size:100px;
    color:rgba(255, 255, 255, 0.1);
    position:absolute;
    bottom:-40px;
    right:-20px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-menu.color-style-bright{
    background-color:#1b55e2;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .side-menu-magic{
    background-image:linear-gradient(-154deg, #1643A3 8%, #2E1170 90%);
    border-radius:6px;
    padding:40px;
    text-align:center;
    margin:20px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .side-menu-magic h4{
    color:#fff;
    margin-bottom:5px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .side-menu-magic p{
    color:rgba(255, 255, 255, 0.6);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .side-menu-magic .btn-w{
    margin-top:15px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .side-menu-magic .btn-white{
    border:none;
    -webkit-box-shadow:0px 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.3);
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w{
    text-align:center;
    /* padding:14px 1rem 14px 1.7rem; */
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w a{
    display:inline-block;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w .logo{
    display:inline-block;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu{
    list-style:none;
    padding:2rem 1rem;
    margin-bottom:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li{
    display:block;
    border-bottom: 1px solid rgb(146, 213, 239);
    padding: 10px 10px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.has-sub-menu > a:before{
    font-family:'osfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    content:"\e91c";
    font-size:7px;
    color:rgba(0, 0, 0, 0.5);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    position:absolute;
    top:50%;
    right:5px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.sub-header{
    text-transform:uppercase;
    color:#448eef;
    font-size:0.72rem;
    letter-spacing:1px;
    padding-top:20px;
    padding-bottom:0px;
    border-bottom:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.sub-header:first-child{
    padding-top:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.sub-header:first-child span{
    padding-top:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a{
    color:#ffffff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    font-size:0.99rem;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:focus{
    text-decoration:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:hover{
    text-decoration:none;
}
 @media (min-width: 1025px){
    .utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:hover .icon-w{
        -webkit-transform:translateX(8px);
        transform:translateX(8px);
    }
    .utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:hover span{
        -webkit-transform:translateX(5px);
        transform:translateX(5px);
    }
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li .icon-w{
    color:#FFFFFF;
    font-size:27px;
    display:block;
    padding:1rem 1rem 1rem 0rem;
    width:70px;
    text-align:center;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li span{
    padding:1rem;
    padding-left:0.8rem;
    display:block;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li .icon-w + span{
    padding-left:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu{
    padding:0px;
    padding-left:55px;
    display:none;
    list-style:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu:first-child{
    border-top:1px solid rgba(0, 0, 0, 0.05);
    padding-top:1rem;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu li{
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu li a{
    padding:0.4rem 10px 0.4rem 10px;
    display:block;
    position:relative;
    font-size:0.81rem;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu li a:before{
    content:"";
    width:5px;
    height:5px;
    border:1px solid #047bf8;
    position:absolute;
    left:-10px;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color:#fff;
    display:block;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    border-radius:6px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu li a:hover{
    text-decoration:none;
    cursor:pointer;
    -webkit-transform:translateX(-5px);
    transform:translateX(-5px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.sub-menu li a:hover:before{
    -webkit-transform:translate(-5px, -50%);
    transform:translate(-5px, -50%);
    border-radius:6px;
    background-color:#047bf8;
    border-color:#047bf8;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark{
    background-color:#293145;
    background-image:none;
    color:rgba(255, 255, 255, 0.9);
    border-right-color:rgba(255, 255, 255, 0.05);
    -webkit-box-shadow:0px 5px 15px rgba(22, 22, 35, 0.1);
    box-shadow:0px 5px 15px rgba(22, 22, 35, 0.1);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .messages-notifications, .utrum-leftsidebar .menu-w.color-scheme-dark .top-icon{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .logged-user-menu{
    -webkit-box-shadow:0 20px 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow:0 20px 50px 0 rgba(0, 0, 0, 0.2);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .side-menu-magic{
    background-image:linear-gradient(-154deg, #6d16a3 8%, #5211e6 90%);
    -webkit-box-shadow:0px 5px 10px rgba(19, 19, 19, 0.17);
    box-shadow:0px 5px 10px rgba(19, 19, 19, 0.17);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.sub-menu li{
    border-bottom-color:rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.sub-menu li a{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark.color-style-bright ul.main-menu .icon-w{
    color:#95acff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.main-menu .icon-w{
    color:#babed0;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.main-menu > li{
    border-bottom:1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.main-menu > li > a{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.main-menu > li > a:hover > .icon-w{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark ul.main-menu > li > a:before{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .sub-menu-w{
    -webkit-box-shadow:0px 2px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow:0px 2px 40px 0px rgba(0, 0, 0, 0.2);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .logo-w{
    border-bottom-color:rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .logged-user-w{
    border-bottom-color:rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-scheme-dark .logged-user-w .avatar-w{
    border-color:#fff;
}
.utrum-leftsidebar .menu-w.color-scheme-dark .logged-user-w .logged-user-role{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.color-style-bright{
    background-image:-webkit-gradient(linear, left top, left bottom, from(#1c4cc3), to(#0e369a));
    background-image:linear-gradient(to bottom, #1c4cc3 0%, #0e369a 100%);
    background-repeat:repeat-x;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .main-menu > li.has-sub-menu{
    position:relative;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .main-menu > li.has-sub-menu > a:before{
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .sub-menu-w{
    position:absolute;
    background-color:#fff;
    padding:10px 20px 20px;
    border-radius:6px;
    right:0px;
    top:50%;
    -webkit-transform:translate(110%, -50%);
    transform:translate(110%, -50%);
    z-index:10000;
    -webkit-box-shadow:0px 15px 50px rgba(0, 0, 0, 0.1);
    box-shadow:0px 15px 50px rgba(0, 0, 0, 0.1);
    visibility:hidden;
    opacity:0;
    -webkit-transition:all 0.1s ease;
    transition:all 0.1s ease;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .sub-menu-header{
    font-size:1.35rem;
    font-weight:500;
    color:#047bf8;
    text-align:center;
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    padding-bottom:10px;
    margin-bottom:10px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .sub-menu-icon{
    display:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout .sub-menu-i{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu{
    display:block;
    padding-left:0px;
    border:none;
    -webkit-box-flex:0;
    -ms-flex:0 0 180px;
    flex:0 0 180px;
    padding:0px 5px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li{
    min-width:200px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li a{
    color:#3E4B5B;
    white-space:nowrap;
    font-size:0.9rem;
    padding:8px 12px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li a:before{
    opacity:0;
    -webkit-transform:translate(5px, -50%);
    transform:translate(5px, -50%);
    background-color:#047bf8;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li a:hover{
    color:#047bf8;
    -webkit-transform:translateX(5px);
    transform:translateX(5px);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li a:hover:before{
    opacity:1;
    -webkit-transform:translate(12px, -50%);
    transform:translate(12px, -50%);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu li .badge{
    font-size:0.72rem;
    padding:2px 5px;
    margin-left:5px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout ul.sub-menu + ul.sub-menu{
    border-left:1px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w{
    background-color:#323c58;
    -webkit-box-shadow:0px 20px 50px rgba(0, 0, 0, 0.15);
    box-shadow:0px 20px 50px rgba(0, 0, 0, 0.15);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w .sub-menu-header{
    border-bottom-color:rgba(255, 255, 255, 0.05);
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w ul.sub-menu li{
    border-bottom-color:rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w ul.sub-menu li a{
    color:#ccd9e8;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w ul.sub-menu li a:before{
    background-color:#fff;
    border-color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w ul.sub-menu li a:hover{
    color:#fff;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w ul.sub-menu + ul.sub-menu{
    border-left-color:rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w.menu-layout-compact.sub-menu-style-flyout.sub-menu-color-bright .sub-menu-w{
    background-color:#1b55e2;
}
.utrum-leftsidebar .menu-w.menu-layout-compact.menu-layout-compact{
    -webkit-box-flex:0;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w .avatar-w{
    padding:4px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w .avatar-w img{
    width:35px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logged-user-w.avatar-inline .logged-user-i .logged-user-info-w{
    padding-left:15px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu{
    /* padding:1rem 1.5rem; */
    margin-bottom:0px;
    padding:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li{
    /* border-bottom:none; */
    border-bottom:block;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.has-sub-menu > a:before{
    content:"\e91c";
    font-size:7px;
    right:5px;
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li.sub-header{
    text-transform:uppercase;
    font-size:0.72rem;
    letter-spacing:1px;
    padding-top:10px;
    padding-bottom:0px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a{
    font-size:0.9rem;
    padding: 0 0 0 10px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:focus{
    text-decoration:none;
}
 @media (min-width: 1025px){
    .utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:hover .icon-w{
        -webkit-transform:translateX(8px);
        transform:translateX(8px);
    }
    .utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li > a:hover span{
        -webkit-transform:translateX(5px);
        transform:translateX(5px);
    }
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li .icon-w{
    font-size:18px;
    padding:7px 10px 7px 0px;
    width:40px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li span{
    padding:7px;
    padding-left:5px;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li .icon-w + span{
    padding-left:0px;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-compact{
    border-radius:6px 0px 0px 6px;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-side-left .logo-w:first-child{
    border-radius:6px 0px 0px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w .menu-actions{
    -webkit-box-ordinal-group:4;
    -ms-flex-order:3;
    order:3;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:15px;
    border-bottom:1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w .menu-actions .messages-notifications,.menu-position-side.menu-w .menu-actions .top-icon{
    margin:5px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications{
    margin:0px 1rem;
    position:relative;
    font-size:24px;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications .new-messages-count{
    background-color:#e65252;
    color:#fff;
    border-radius:6px;
    font-weight:500;
    position:absolute;
    top:-5px;
    right:-12px;
    padding:4px 4px;
    vertical-align:middle;
    font-size:0.72rem;
    line-height:1;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications i{
    vertical-align:middle;
}
.utrum-leftsidebar .menu-position-side.menu-w .top-icon{
    margin:0px 1rem;
    font-size:26px;
}
.utrum-leftsidebar .menu-position-side.menu-w .top-icon i{
    vertical-align:middle;
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search{
    position:relative;
    margin:0px 1rem;
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
    order:1;
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search:before{
    font-family:'osfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    position:absolute;
    left:15px;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    font-size:16px;
    content:"\e92c";
    color:rgba(0, 0, 0, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input{
    border:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:30px;
    padding:8px 15px 8px 40px;
    display:block;
    width:100%;
    outline:none;
    border:none;
    box-shadow:none;
    background-color:rgba(91, 109, 136, 0.1);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::placeholder{
    color:rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-compact .menu-actions{
    -webkit-box-pack:space-evenly;
    -ms-flex-pack:space-evenly;
    justify-content:space-evenly;
    padding:10px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-compact .element-search{
    padding:15px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-compact .element-search,.menu-position-side.menu-w.menu-layout-compact .menu-actions{
    border-bottom:1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .logo-w{
    background-color:rgba(0, 0, 0, 0.15);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search:before{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search input{
    background-color:rgba(0, 0, 0, 0.2);
    color:#fff;
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search input::-webkit-input-placeholder{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search input:-ms-input-placeholder{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search input::-ms-input-placeholder{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-dark .element-search input::placeholder{
    color:rgba(255, 255, 255, 0.4);
}
.utrum-leftsidebar .os-icon{
    font-family:'osfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.utrum-leftsidebar .os-icon-chevron-down:before{
    content:"\e9b4";
}
.utrum-leftsidebar .os-icon-edit-32:before{
    content:"\e9e0";
}
.utrum-leftsidebar .os-icon-file-text:before{
    content:"\e9ea";
}
.utrum-leftsidebar .os-icon-grid:before{
    content:"\e9f8";
}
.utrum-leftsidebar .os-icon-layers:before{
    content:"\ea04";
}
.utrum-leftsidebar .os-icon-layout:before{
    content:"\ea05";
}
.utrum-leftsidebar .os-icon-life-buoy:before{
    content:"\ea06";
}
.utrum-leftsidebar .os-icon-mail:before{
    content:"\ea0f";
}
.utrum-leftsidebar .os-icon-package:before{
    content:"\ea27";
}
.utrum-leftsidebar .os-icon-users:before{
    content:"\ea7b";
}
.utrum-leftsidebar .os-icon-zap:before{
    content:"\ea8a";
}
.utrum-leftsidebar .os-icon-ui-49:before{
    content:"\e96d";
}
.utrum-leftsidebar .os-icon-grid-10:before{
    content:"\e96b";
}
.utrum-leftsidebar .os-icon-ui-46:before{
    content:"\e96a";
}
.utrum-leftsidebar .os-icon-mail-14:before{
    content:"\e95e";
}
.utrum-leftsidebar .os-icon-ui-44:before{
    content:"\e955";
}
.utrum-leftsidebar .os-icon-ui-15:before{
    content:"\e956";
}
.utrum-leftsidebar .os-icon-mail-01:before{
    content:"\e949";
}
.utrum-leftsidebar .os-icon-others-43:before{
    content:"\e94a";
}
.utrum-leftsidebar .os-icon-signs-11:before{
    content:"\e946";
}
.utrum-leftsidebar .os-icon-coins-4:before{
    content:"\e947";
}
.utrum-leftsidebar .os-icon-user-male-circle2:before{
    content:"\e948";
}
.utrum-leftsidebar .os-icon-wallet-loaded:before{
    content:"\e901";
}
.utrum-leftsidebar .os-dropdown-trigger{
    position:relative;
    cursor:pointer;
}
.utrum-leftsidebar .os-dropdown-trigger.os-dropdown-position-right .os-dropdown{
    right:100%;
    -webkit-transform:translate3d(100%, 110%, 0);
    transform:translate3d(100%, 110%, 0);
}
.utrum-leftsidebar .os-dropdown{
    background-color:#047bf8;
    color:#fff;
    padding:20px 15px;
    position:absolute;
    z-index:999;
    bottom:5px;
    right:0px;
    visibility:hidden;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    -webkit-transform:translate3d(100%, 110%, 0);
    transform:translate3d(100%, 110%, 0);
    opacity:0;
    border-radius:4px;
    -webkit-box-shadow:0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    box-shadow:0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    overflow:hidden;
    font-size:0.9rem;
    text-align:left;
}
.utrum-leftsidebar .os-dropdown > .icon-w{
    position:absolute;
    top:-30px;
    right:-30px;
    color:rgba(0, 0, 0, 0.08);
    font-size:100px;
}
.utrum-leftsidebar .os-dropdown ul{
    list-style:none;
    margin:0px;
    padding:0px;
    position:relative;
}
.utrum-leftsidebar .os-dropdown ul li{
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .os-dropdown ul li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .os-dropdown ul li a{
    display:block;
    white-space:nowrap;
    padding:10px 10px 10px 10px;
    line-height:1;
    color:#fff;
    font-size:0.9rem;
}
.utrum-leftsidebar .os-dropdown ul li a:hover{
    text-decoration:none;
}
.utrum-leftsidebar .os-dropdown ul li a i{
    color:#fff;
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
    font-size:22px;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown ul li a span{
    display:inline-block;
    vertical-align:middle;
    color:#fff;
    font-size:0.9rem;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown ul li a i + span{
    padding-right:10px;
}
.utrum-leftsidebar .os-dropdown ul li a:hover i{
    color:#fff;
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.utrum-leftsidebar .os-dropdown ul li a:hover span{
    -webkit-transform:translateX(3px);
    transform:translateX(3px);
}
.utrum-leftsidebar .os-dropdown.message-list{
    padding:15px 10px;
}
.utrum-leftsidebar .os-dropdown.message-list li{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}
.utrum-leftsidebar .os-dropdown.message-list li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .os-dropdown.message-list li > a{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    padding:10px 15px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover{
    background-color:rgba(124, 137, 234, 0.07);
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover .user-avatar-w img{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover .message-content{
    -webkit-transform:translateX(3px);
    transform:translateX(3px);
}
.utrum-leftsidebar .os-dropdown.message-list li > a .user-avatar-w{
    -webkit-box-flex:0;
    -ms-flex:0 0 40px;
    flex:0 0 40px;
    margin-right:15px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .user-avatar-w img{
    width:40px;
    border-radius:30px;
    height:auto;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
    display:block;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content{
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content .message-from{
    color:#fff;
    margin-bottom:5px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content .message-title{
    color:rgba(255, 255, 255, 0.6);
    font-size:0.54rem;
    letter-spacing:1px;
    text-transform:uppercase;
    margin-top:2px;
    margin-bottom:0px;
}
.utrum-leftsidebar .os-dropdown.light{
    background-color:#fff;
    -webkit-box-shadow:0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
    box-shadow:0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
}
.utrum-leftsidebar .os-dropdown.light.message-list > .icon-w{
    color:rgba(4, 123, 248, 0.1);
}
.utrum-leftsidebar .os-dropdown.light.message-list li{
    border-bottom:1px solid rgba(113, 133, 171, 0.09);
}
.utrum-leftsidebar .os-dropdown.light.message-list li:last-child{
    border-bottom:none;
}
.utrum-leftsidebar .os-dropdown.light.message-list li > a .message-content .message-from{
    color:#334152;
}
.utrum-leftsidebar .os-dropdown.light.message-list li > a .message-content .message-title{
    color:#047bf8;
}
 @media (max-width: 1024px){
    .utrum-leftsidebar .menu-w{
        display:none!important;
    }
}

/* .utrum-leftsidebar .menu-w.menu-layout-compact img {    
    max-width: 100px !important;
} */

/*! CSS Used fontfaces */
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2mT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:300;
    src:local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Fqj2md8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nDrXyi0A.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nPrXyi0A.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:400;
    src:local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmZ8WDm7Q.woff2) format('woff2');
    unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmf8WDm7Q.woff2) format('woff2');
    unicode-range:U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7EyjmmT8WDm7Q.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
 @font-face{
    font-family:'Rubik';
    font-style:normal;
    font-weight:500;
    src:local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7Eyjmmd8WA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 