.utrum-leftsidebar {
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #25aadf;
}
.utrum-leftsidebar h1, .utrum-leftsidebar h4, .utrum-leftsidebar h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
}
.utrum-leftsidebar h1 {
    font-size: 2.5rem;
}
.utrum-leftsidebar h4 {
    font-size: 1.5rem;
}
.utrum-leftsidebar h6 {
    font-size: 1rem;
}
.utrum-leftsidebar p, .utrum-leftsidebar ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.utrum-leftsidebar ul ul {
    margin-bottom: 0;
}
.utrum-leftsidebar strong {
    font-weight: bolder;
    font-weight: 500;
}
.utrum-leftsidebar a {
    color: #047bf8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.utrum-leftsidebar a:hover {
    color: #0356ad;
    text-decoration: underline;
}
.utrum-leftsidebar img {
    vertical-align: middle;
    border-style: none;
    max-width: 50px;
}
.utrum-leftsidebar input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    font-weight: 400;
}
.utrum-leftsidebar .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-weight: 400;
    outline: none;
    line-height: 1;
}
.utrum-leftsidebar .btn:hover {
    text-decoration: none;
}
.utrum-leftsidebar .btn:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.utrum-leftsidebar .btn:disabled {
    opacity: 0.65;
}
.utrum-leftsidebar .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.utrum-leftsidebar .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    font-size: 0.81rem;
}
.utrum-leftsidebar .badge:empty {
    display: none;
}
.utrum-leftsidebar .badge-danger {
    color: #fff;
    background-color: #e65252;
}
.utrum-leftsidebar .btn-white {
    color: #292b2c;
    background-color: #fff;
    border-color: #fff;
}
.utrum-leftsidebar .btn-white:hover {
    color: #292b2c;
    background-color: #ececec;
    border-color: #e6e5e5;
}
.utrum-leftsidebar .btn-white:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.utrum-leftsidebar .btn-white:disabled {
    color: #292b2c;
    background-color: #fff;
    border-color: #fff;
}
.utrum-leftsidebar .btn.btn-rounded {
    border-radius: 40px;
}
.utrum-leftsidebar body.full-screen .menu-w {
    border-radius: 0px !important;
}
.utrum-leftsidebar body.full-screen .menu-position-side .logged-user-menu {
    left: 0px;
    right: -1px;
    border-radius: 0px;
}
.utrum-leftsidebar .logged-user-w {
    text-align: center;
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .logged-user-w .avatar-w {
    padding: 5px;
    border: 1px solid #262626;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.utrum-leftsidebar .logged-user-w .avatar-w img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.utrum-leftsidebar .logged-user-w .logged-user-role {
    display: block;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}
.utrum-leftsidebar .logged-user-w .logged-user-toggler-arrow {
    padding: 3px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.utrum-leftsidebar .logged-user-w.avatar-inline {
    text-align: left;
    position: relative;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-i {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0.7rem;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-i .logged-user-info-w {
    padding-left: 20px;
    text-align: left;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-toggler-arrow {
    padding: 3px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-avatar-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.utrum-leftsidebar .logged-user-w.avatar-inline .logged-user-avatar-info .logged-user-info-w {
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
}
.utrum-leftsidebar .menu-w {
    position: relative;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
    border-right: 0px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-w .logo-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    padding: 10px 1rem 14px 0.7rem;
}
.utrum-leftsidebar .menu-w .logo-w .logo {
    display: inline-block;
    text-decoration: none;
    display: inline-block;
}
.utrum-leftsidebar .menu-w .logo-w .logo:hover .logo-element {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.utrum-leftsidebar .menu-w .logo-w .logo:hover .logo-element:after {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}
.utrum-leftsidebar .menu-w .logo-w .logo:hover .logo-label:after {
    width: 100%;
    background-color: #fff;
}
.utrum-leftsidebar .menu-w .logo-w .logo-element img{
    width: 100%;
}
.utrum-leftsidebar .menu-w .logo-w .logo-element {
    content: "";
    width: 100%;
    /* width: 26px;
    height: 26px; */
    border-radius: 15px;
    position: relative;
    background-color: #98c9fd;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/* .utrum-leftsidebar .menu-w .logo-w .logo-element:after {
    content: "";
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 15px;
    right: -20px;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
} */
.utrum-leftsidebar .menu-w .logo-w .logo-label {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.81rem;
    position: relative;
    margin-left: 10px;
}
.utrum-leftsidebar .menu-w .logo-w .logo-label:after {
    height: 2px;
    position: absolute;
    width: 0%;
    left: 0px;
    bottom: -5px;
    background-color: #fff;
    content: "";
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .menu-w .logo-w a {
    display: inline-block;
}
.utrum-leftsidebar .menu-w .menu-page-header {
    display: none;
}
.utrum-leftsidebar .menu-w .logged-user-w {
    position: relative;
    padding: 1rem;
}
.utrum-leftsidebar .menu-w .logged-user-w .logged-user-i:hover {
    cursor: pointer;
}
.utrum-leftsidebar .menu-w .logged-user-w .logged-user-i:hover .logged-user-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.utrum-leftsidebar .menu-w .logged-user-menu {
    background: #323c58;
    -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -1px;
    left: -10px;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 6px;
}
.utrum-leftsidebar .menu-w .logged-user-menu .avatar-w {
    border-color: #fff;
}
.utrum-leftsidebar .menu-w .logged-user-menu .logged-user-avatar-info {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .menu-w .logged-user-menu .logged-user-info-w .logged-user-name {
    color: #fff;
}
.utrum-leftsidebar .menu-w .logged-user-menu .logged-user-info-w .logged-user-role {
    color: rgba(255, 255, 255, 0.6);
}
.utrum-leftsidebar .menu-w .logged-user-menu ul {
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px 30px;
    padding-bottom: 20px;
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a {
    display: block;
    padding: 10px;
    color: #fff;
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a i {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a span {
    vertical-align: middle;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: inline-block;
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a:hover {
    text-decoration: none;
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a:hover i {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li a:hover span {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}
.utrum-leftsidebar .menu-w .logged-user-menu ul li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .menu-w .logged-user-menu .bg-icon {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -40px;
    right: -20px;
}
.utrum-leftsidebar .menu-w .logged-user-menu.color-style-bright {
    background-color: #1b55e2;
}
.utrum-leftsidebar .menu-w .side-menu-magic {
    background-image: linear-gradient(-154deg, #1643a3 8%, #2e1170 90%);
    border-radius: 6px;
    padding: 40px;
    text-align: center;
    margin: 20px;
}
.utrum-leftsidebar .menu-w .side-menu-magic h4 {
    color: #fff;
    margin-bottom: 5px;
}
.utrum-leftsidebar .menu-w .side-menu-magic p {
    color: rgba(255, 255, 255, 0.6);
}
.utrum-leftsidebar .menu-w .side-menu-magic .btn-w {
    margin-top: 15px;
}
.utrum-leftsidebar .menu-w .side-menu-magic .btn-white {
    border: none;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.utrum-leftsidebar .menu-w ul.main-menu {
    list-style: none;
    padding: 2rem 1rem;
    margin-bottom: 0px;
}
.utrum-leftsidebar .menu-w ul.main-menu > li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.utrum-leftsidebar .menu-w ul.main-menu > li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .menu-w ul.main-menu > li > a {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 0.99rem;
}
.utrum-leftsidebar .menu-w ul.main-menu > li > a:focus {
    text-decoration: none;
}
.utrum-leftsidebar .menu-w ul.main-menu > li > a:hover {
    text-decoration: none;
}
.utrum-leftsidebar .menu-w ul.main-menu > li .icon-w {
    color: #ffffff;
    font-size: 27px;
    display: block;
    padding: 1rem 1rem 1rem 0rem;
    width: 70px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .menu-w ul.main-menu > li span {
    padding: 1rem;
    padding-left: 0.8rem;
    display: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .menu-w ul.main-menu > li .icon-w + span {
    padding-left: 5px;
}
.utrum-leftsidebar .menu-w ul.main-menu > li.has-sub-menu > a:before {
    font-family: 'osfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e91c";
    font-size: 7px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 5px;
}
.utrum-leftsidebar .menu-w ul.main-menu > li.sub-header {
    text-transform: uppercase;
    color: #448eef;
    font-size: 0.72rem;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-bottom: none;
}
.utrum-leftsidebar .menu-w ul.main-menu > li.sub-header:first-child {
    padding-top: 0px;
}
.utrum-leftsidebar .menu-w ul.main-menu > li.sub-header:first-child span {
    padding-top: 0px;
}
.utrum-leftsidebar .menu-w ul.sub-menu {
    padding: 0px;
    padding-left: 55px;
    display: none;
    list-style: none;
}
.utrum-leftsidebar .menu-w ul.sub-menu:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 1rem;
}
.utrum-leftsidebar .menu-w ul.sub-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-w ul.sub-menu li a {
    padding: 0.4rem 10px 0.4rem 10px;
    display: block;
    position: relative;
    font-size: 0.81rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .menu-w ul.sub-menu li a:before {
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid #047bf8;
    position: absolute;
    left: -10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    display: block;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 6px;
}
.utrum-leftsidebar .menu-w ul.sub-menu li a:hover {
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
}
.utrum-leftsidebar .menu-w ul.sub-menu li a:hover:before {
    -webkit-transform: translate(-5px, -50%);
    transform: translate(-5px, -50%);
    border-radius: 6px;
    background-color: #047bf8;
    border-color: #047bf8;
}
.utrum-leftsidebar .menu-w.color-scheme-light .messages-notifications {
    color: #047bf8;
}
.utrum-leftsidebar .menu-w.color-scheme-light .top-icon {
    color: #047bf8;
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w .logo-label {
    color: #3e4b5b;
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w .logo-element {
    background-color: #0a7cf8;
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w .logo-element:after {
    background-color: #bfd6f9;
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w .logo:hover .logo-label {
    color: #047bf8;
}
.utrum-leftsidebar .menu-w.color-scheme-light .logo-w .logo:hover .logo-label:after {
    background-color: #047bf8;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over ul.main-menu > li {
    position: relative;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over ul.main-menu > li > a:hover .icon-w {
    -webkit-transform: none;
    transform: none;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over ul.main-menu > li.active .sub-menu-w {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w {
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateX(40px) scale(0.95);
    transform: translateX(40px) scale(0.95);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    background-color: #25aadf;
    color: #fff;
    left: 100%;
    top: 0;
    overflow: hidden;
    text-align: left;
    -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
    /* padding-bottom: 20px; */
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-header {
    font-size: 0.9rem;
    /* color: rgba(255, 255, 255, 0.2); */
    color: #fff;
    padding: 5px 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* margin-bottom: 15px; */
    letter-spacing: -0.5px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-icon {
    position: absolute;
    font-size: 120px;
    color: rgba(255, 255, 255, 0.1);
    bottom: -50px;
    right: -10px;
    display: block;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i .sub-menu + .sub-menu {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul {
    list-style: none;
    padding: 0px;
    min-width: 250px;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul > li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 50px;
    font-size: 0.99rem;
    position: relative;
    white-space: nowrap;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul > li > a:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #fbb463;
    border-color: #fbb463;
    position: absolute;
    left: 28px;
    top: 50%;
    -webkit-transform: translate(-10px, -50%);
    transform: translate(-10px, -50%);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-i > ul > li > a:hover:before {
    opacity: 1;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w ul.sub-menu:first-child {
    border-top: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-toggler-arrow {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logo-w {
    /* padding: 4px 15px; */
    text-align: center;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logo-w .logo-label {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini ul.main-menu {
    /* padding: 20px 0px; */
    padding: 0px 0px;
}
/* side-menu .menu-w.menu-layout-mini ul.main-menu > li span {
    display: none;
} */
.utrum-leftsidebar .menu-w.menu-layout-mini ul.main-menu > li .icon-w {
    padding: 10px 5px;
    font-size: 25px;
    width: auto;
}
.utrum-leftsidebar .menu-w.menu-layout-mini ul.main-menu > li > a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* padding-left: 5px; */
}
.utrum-leftsidebar .menu-w.menu-layout-mini ul.main-menu > li.sub-header {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .side-menu-magic {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .main-menu > li.has-sub-menu > a:before {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-w.avatar-inline .logged-user-i {
    padding-left: 0px;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-w.avatar-inline .logged-user-i > .logged-user-info-w {
    display: none;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-w {
    text-align: center;
    padding: 15px;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-w .logged-user-i > .avatar-w img {
    max-width: 100%;
    height: auto;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logged-user-menu {
    width: 280px;
}
.utrum-leftsidebar .menu-position-side.menu-w {
    border-radius: 6px 0px 0px 6px;
}
.utrum-leftsidebar .menu-position-side.menu-w .menu-actions {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w .menu-actions .messages-notifications {
    margin: 5px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w .menu-actions .top-icon {
    margin: 5px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications {
    margin: 0px 1rem;
    position: relative;
    font-size: 24px;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications .new-messages-count {
    background-color: #e65252;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    position: absolute;
    top: -5px;
    right: -12px;
    padding: 4px 4px;
    vertical-align: middle;
    font-size: 0.72rem;
    line-height: 1;
}
.utrum-leftsidebar .menu-position-side.menu-w .messages-notifications i {
    vertical-align: middle;
}
.utrum-leftsidebar .menu-position-side.menu-w .top-icon {
    margin: 0px 1rem;
    font-size: 26px;
}
.utrum-leftsidebar .menu-position-side.menu-w .top-icon i {
    vertical-align: middle;
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search {
    position: relative;
    margin: 0px 1rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search:before {
    font-family: 'osfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    content: "\e92c";
    color: rgba(0, 0, 0, 0.4);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    padding: 8px 15px 8px 40px;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: rgba(91, 109, 136, 0.1);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w .element-search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-side-left .logo-w:first-child {
    border-radius: 6px 0px 0px 0px;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .logo-w {
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .menu-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0px 10px;
    border-radius: 50px;
    border: none;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px 0px;
    margin: 0px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search:before {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 22px;
    color: #fff;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search input {
    opacity: 0;
    background-color: transparent;
    width: 100%;
    color: transparent;
    cursor: pointer;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search input::-webkit-input-placeholder {
    color: transparent;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search input:-ms-input-placeholder {
    color: transparent;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search input::-ms-input-placeholder {
    color: transparent;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .element-search input::placeholder {
    color: transparent;
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini .menu-actions + .element-search {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini.color-scheme-light .menu-actions {
    background-color: rgba(0, 0, 0, 0.03);
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini.color-scheme-light .menu-actions + .element-search {
    border-top-color: rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w.menu-layout-mini.color-scheme-light .element-search:before {
    color: #047bf8;
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-light.menu-layout-mini .element-search {
    border-bottom-color: rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .menu-position-side.menu-w.color-scheme-light.menu-layout-mini .menu-actions {
    border-bottom-color: rgba(0, 0, 0, 0.05);
}
.utrum-leftsidebar .os-icon {
    font-family: 'osfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.utrum-leftsidebar .os-dropdown-trigger {
    position: relative;
    cursor: pointer;
}
.utrum-leftsidebar .os-dropdown-trigger.os-dropdown-position-right .os-dropdown {
    right: 100%;
    -webkit-transform: translate3d(100%, 110%, 0);
    transform: translate3d(100%, 110%, 0);
}
.utrum-leftsidebar .os-dropdown {
    background-color: #047bf8;
    color: #fff;
    padding: 20px 15px;
    position: absolute;
    z-index: 999;
    bottom: 5px;
    right: 0px;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translate3d(100%, 110%, 0);
    transform: translate3d(100%, 110%, 0);
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    box-shadow: 0px 10px 25px 0px rgba(26, 32, 39, 0.1);
    overflow: hidden;
    font-size: 0.9rem;
    text-align: left;
}
.utrum-leftsidebar .os-dropdown > .icon-w {
    position: absolute;
    top: -30px;
    right: -30px;
    color: rgba(0, 0, 0, 0.08);
    font-size: 100px;
}
.utrum-leftsidebar .os-dropdown ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.utrum-leftsidebar .os-dropdown ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.utrum-leftsidebar .os-dropdown ul li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .os-dropdown ul li a {
    display: block;
    white-space: nowrap;
    padding: 10px 10px 10px 10px;
    line-height: 1;
    color: #fff;
    font-size: 0.9rem;
}
.utrum-leftsidebar .os-dropdown ul li a:hover {
    text-decoration: none;
}
.utrum-leftsidebar .os-dropdown ul li a:hover i {
    color: #fff;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.utrum-leftsidebar .os-dropdown ul li a:hover span {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
.utrum-leftsidebar .os-dropdown ul li a i {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 22px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown ul li a span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.9rem;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown ul li a i + span {
    padding-right: 10px;
}
.utrum-leftsidebar .os-dropdown.message-list {
    padding: 15px 10px;
}
.utrum-leftsidebar .os-dropdown.message-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.utrum-leftsidebar .os-dropdown.message-list li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .os-dropdown.message-list li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover {
    background-color: rgba(124, 137, 234, 0.07);
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover .user-avatar-w img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.utrum-leftsidebar .os-dropdown.message-list li > a:hover .message-content {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}
.utrum-leftsidebar .os-dropdown.message-list li > a .user-avatar-w {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    margin-right: 15px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .user-avatar-w img {
    width: 40px;
    border-radius: 30px;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: block;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content .message-from {
    color: #fff;
    margin-bottom: 5px;
}
.utrum-leftsidebar .os-dropdown.message-list li > a .message-content .message-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.54rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 0px;
}
.utrum-leftsidebar .os-dropdown.light {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
    box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.21), 0px 3px 7px 0px rgba(12, 76, 140, 0.14);
}
.utrum-leftsidebar .os-dropdown.light.message-list > .icon-w {
    color: rgba(4, 123, 248, 0.1);
}
.utrum-leftsidebar .os-dropdown.light.message-list li {
    border-bottom: 1px solid rgba(113, 133, 171, 0.09);
}
.utrum-leftsidebar .os-dropdown.light.message-list li:last-child {
    border-bottom: none;
}
.utrum-leftsidebar .os-dropdown.light.message-list li > a .message-content .message-from {
    color: #334152;
}
.utrum-leftsidebar .os-dropdown.light.message-list li > a .message-content .message-title {
    color: #047bf8;
}
@media (min-width: 1025px) {
    .utrum-leftsidebar .menu-w ul.main-menu > li > a:hover .icon-w {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    }
    .utrum-leftsidebar .menu-w ul.main-menu > li > a:hover span {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    }
}
.utrum-leftsidebar .os-dropdown-trigger.os-dropdown-position-right.over .os-dropdown {
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0);
    visibility: visible;
    opacity: 1;
}
.menu-toggle i
{
    color: #ffffff;
    float: right;
}
.menu-toggle
{
    margin: 0 0 0 20px;
}
.utrum-leftsidebar .menu-w.menu-layout-mini .logo-w {    
    padding: 0px 10px 4px 18px;
}