<template>
    <div class="utrum-leftsidebar">
        <div class="menu-w color-scheme-light color-style-default menu-position-side menu-side-left sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link" v-bind:class="{ 'menu-layout-compact': menuCompact, 'menu-layout-mini': menuMini }">
            <div class="logo-w">
                <!-- <a class="logo" href="#"> -->
                <router-link class="logo" to="/crypto">
                    <!-- <div class="logo-element">
                        <img src="utrum.jpg">
                    </div>
                    <div class="logo-label">
                        Utrum
                    </div> -->
                    <img src="/static/utrum_logo.png" v-if="this.menuMini" v-on:click="makeActiveMenu()">
                    <img src="/static/utrum_black.png" v-if="this.menuCompact" v-on:click="makeActiveMenu()">
                    
                </router-link>
                <!-- <div class="menu-toggle" v-on:click="makeActiveMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div> -->
            </div>
            
            <ul class="main-menu">
                <li class="sub-header">
                    <!-- <span>Layouts</span> -->
                </li>
                <li class="has-sub-menu" v-on:click="activedMenu('myfeed')" @mouseleave="toggleActiveClass('myfeed', 'left')" @mouseenter="toggleActiveClass('myfeed', 'enter')" v-bind:class="{ active: activeMenu == 'myfeed' , selected: selectedMenu == 'myfeed' }"> <!-- Apply class .active to show submenu -->
                    <router-link to="/myfeed">
                        <div class="icon-w">
                            <!-- <i class="fas fa-rss-square"></i> -->
                            <div class="fas fa-rss-square"></div>                            
                        </div>
                        <span>My Feed</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Cryptos
                        </div>
                    </div> -->
                </li>
                <li class="has-sub-menu" v-on:click="activedMenu('cryptos')" @mouseleave="toggleActiveClass('cryptos', 'left')" @mouseenter="toggleActiveClass('cryptos', 'enter')" v-bind:class="{ active: activeMenu == 'cryptos' , selected: selectedMenu == 'cryptos' }"> <!-- Apply class .active to show submenu -->
                    <router-link to="/crypto">
                        <div class="icon-w">
                            <div class="fab fa-bitcoin"></div>                            
                        </div>
                        <span>Cryptos</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Cryptos
                        </div>
                    </div> -->
                </li>
                <!-- <li class="selected has-sub-menu"  @mouseleave="toggleActiveClass('icos', 'left')" @mouseenter="toggleActiveClass('icos', 'enter')" v-bind:class="{ active: activeMenu == 'icos' }"> <!-- Apply class .active to show submenu --
                    <router-link to="/ico-list">
                        <div class="icon-w">
                            <div class="fas fa-coins"></div>
                        </div>
                        <span>ICOs</span>
                    </router-link>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            ICOs
                        </div>
                    </div>
                </li> -->
                <!-- <li class="selected has-sub-menu"  @mouseleave="toggleActiveClass('services', 'left')" @mouseenter="toggleActiveClass('services', 'enter')" v-bind:class="{ active: activeMenu == 'services' }"> <!-- Apply class .active to show submenu --
                    <router-link to="/services-list">
                        <div class="icon-w">
                            <div class="fas fa-hands-helping"></div>
                        </div>
                        <span>Services</span>
                    </router-link>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Services
                        </div>
                    </div>
                </li> -->
                <!-- <li class="has-sub-menu" @mouseleave="toggleActiveClass('teams', 'left')" @mouseenter="toggleActiveClass('teams', 'enter')" v-bind:class="{ active: activeMenu == 'teams' }">
                    <router-link to="/people">
                        <div class="icon-w">
                            <div class="fas fa-users"></div>
                        </div>
                        <span>People</span>
                    </router-link>
                    <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            People
                        </div>
                    </div>
                </li> -->
                
                <li class="has-sub-menu" v-on:click="activedMenu('reviews')" @mouseleave="toggleActiveClass('reviews', 'left')" @mouseenter="toggleActiveClass('reviews', 'enter')" v-bind:class="{ active: activeMenu == 'reviews' , selected: selectedMenu == 'reviews'  }">
                    <router-link to="/reviews">
                        <div class="icon-w">
                            <div class="far fa-comments"></div>
                        </div>
                        <span>Reviews</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Reviews
                        </div>
                    </div> -->
                </li>
                
                <li class="has-sub-menu" v-on:click="activedMenu('insights')" @mouseleave="toggleActiveClass('insights', 'left')" @mouseenter="toggleActiveClass('insights', 'enter')" v-bind:class="{ active: activeMenu == 'insights' , selected: selectedMenu == 'insights'  }">
                    <router-link to="/insights">
                        <div class="icon-w">
                            <div class="far fa-chart-bar"></div>
                        </div>
                        <span>Insights</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Insights
                        </div>
                    </div> -->
                </li>
                <li class="has-sub-menu" v-on:click="activedMenu('predictions')" @mouseleave="toggleActiveClass('predictions', 'left')" @mouseenter="toggleActiveClass('predictions', 'enter')" v-bind:class="{ active: activeMenu == 'predictions' , selected: selectedMenu == 'predictions' }">
                    <router-link to="/predictions">
                        <div class="icon-w">
                            <div class="fas fa-chart-line"></div>
                        </div>
                        <span>Predictions</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Predictions
                        </div>
                    </div> -->
                </li>
                
                <li class="has-sub-menu" v-on:click="activedMenu('events')" @mouseleave="toggleActiveClass('events', 'left')" @mouseenter="toggleActiveClass('events', 'enter')" v-bind:class="{ active: activeMenu == 'events' , selected: selectedMenu == 'events' }">
                    <router-link to="/event">
                        <div class="icon-w">
                            <div class="far fa-calendar-alt"></div>
                        </div>
                        <span>Events</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Events
                        </div>
                    </div> -->
                </li>
                <li class="has-sub-menu" v-on:click="activedMenu('news')" @mouseleave="toggleActiveClass('news', 'left')" @mouseenter="toggleActiveClass('news', 'enter')" v-bind:class="{ active: activeMenu == 'news' , selected: selectedMenu == 'news'  }">
                    <router-link to="/news">
                        <div class="icon-w">
                            <div class="far fa-newspaper"></div>
                        </div>
                        <span>News</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            News
                        </div>
                    </div> -->
                </li>
                <li class="has-sub-menu analysts" v-on:click="activedMenu('Analysts')" @mouseleave="toggleActiveClass('Analysts', 'left')" @mouseenter="toggleActiveClass('Analysts', 'enter')" v-bind:class="{ active: activeMenu == 'Analysts' , selected: selectedMenu == 'Analysts' }"> <!-- Apply class .active to show submenu -->
                    <router-link to="/analysts">
                        <div class="icon-w">                            
                            <i class="fas fa-search"></i>
                        </div>
                        <span>Analysts</span>
                    </router-link>
                    <!-- <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Analysts
                        </div>
                    </div> -->
                </li>
                <!-- <li class="has-sub-menu parent" v-on:click="activedMenu('Main menu')" @mouseleave="toggleActiveClass('Main menu', 'left')" @mouseenter="toggleActiveClass('Main menu', 'enter')" v-bind:class="{ active: activeMenu == 'Main menu' , selected: selectedMenu == 'Main menu' }">
                    <router-link to="/news">
                        <div class="icon-w">                            
                            <div class="fas fa-bars"></div>
                        </div>
                        <span>Main menu</span>
                    </router-link>
                    <!-- <ul class="child">
                        <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 1</li>
                        <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 2</li>
                        <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 3</li>
                    </ul> --
                    <div class="sub-menu-w">
                        <div class="sub-menu-header single-option">
                            Main menu
                        </div>
                        <ul class="child">
                            <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 1

                            <ul class="sub-child">
                                <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>sub item 1</li>
                                <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>sub item 2</li>
                                <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>sub item 3</li>
                            </ul>
                            
                            </li>
                            <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 2</li>
                            <li><i class="fa fa-angle-right pr-1" aria-hidden="true"></i>item 3</li>
                        </ul>
                    </div>
                </li> -->
                
            </ul>
        </div>                
    </div>
</template>
<script>
    export default {
        name: 'leftsidebar',
        data: function () {
            return {
                activeMenu: null,
                selectedMenu:'myfeed',
                menuCompact:true,
                menuMini:false,
            }
        },
        components: {},
        methods: {
            toggleActiveClass: function(menuLbl, action){
                // console.log(`${action} ${menuLbl}`);
                if(action == 'left'){
                    this.activeMenu = null
                }
                else if(action == 'enter'){
                    this.activeMenu = menuLbl
                }
            },
            makeActiveMenu()
            {                          
                this.menuCompact = !this.menuCompact;
                this.menuMini = !this.menuMini;
                
            },
            activedMenu(menuLbl)
            {
                //alert(menuLbl);
              this.selectedMenu = menuLbl  
            }
        }
    }
</script>
<style>
    @import './leftsidebar.css';
    @import './leftsidebar_white.css';
    @import './leftsidebar-compact.css';
</style>