ul.main-menu li a, ul.main-menu li .icon-w
{
    color: #5d5f65 !important;
}
ul.main-menu li.active a, ul.main-menu li.active .icon-w
{
    color: #25aadf !important;
}
ul.main-menu li.selected a, ul.main-menu li.selected .icon-w
{
    color: #25aadf !important;
}
ul.main-menu li.analysts a
{
    background-color: #25aadf !important;
    border-radius: 20px;
    
}
ul.main-menu li.analysts a, ul.main-menu li.analysts .icon-w
{
    color: #fff !important;
}
/* ul.main-menu li a
{
    padding-left: 10px;
} */

/* .utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li .icon-w
{
    color: #333 !important;
} */
.utrum-leftsidebar
{
    background-color: #fff !important;
    border-right: 2px solid #e6e8eb  !important;
}
.utrum-leftsidebar .menu-w.menu-layout-compact ul.main-menu > li {
    display: block;
    border-bottom: 1px solid #e6e8eb !important;
    padding: 10px 15px;
}
.utrum-leftsidebar .menu-w.menu-layout-mini ul.main-menu > li {
    display: block;
    border-bottom: 1px solid #e6e8eb !important;
    padding: 10px 15px;
}
ul.child
{
    visibility: hidden;
}
ul.child li
{
    position: relative;
}
ul.sub-child
{
    display: none;
    list-style-type: none;
    color: #888c99 !important;
    /* padding: 4px 0px 0px 8px; */

    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px;
    background: #fff;
    width: 150px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
}
ul.child li, ul.sub-child li
{
    margin-bottom: 0.4rem;
}
ul.main-menu li.active:hover ul.child
{
    visibility: visible;
    list-style-type: none;
    color: #888c99 !important;
}
ul.main-menu li.active ul.child li:hover ul.sub-child
{
    display: block;
    color: #888c99 !important;
}
ul.child li:hover
{
    color: #25aadf !important;
}
.utrum-leftsidebar .menu-w
{
    box-shadow: none !important;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w
{
    background-color: #fff !important;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w .sub-menu-header
{
    color: #888c99 !important;
}
.utrum-leftsidebar .menu-w.sub-menu-style-over .sub-menu-w
{
    overflow: initial !important;
}

.menu-layout-mini .logo-w
{
    border-bottom: 1px solid #e6e8eb !important;  
}
.utrum-leftsidebar .menu-w.menu-layout-compact .logo-w
{
    padding: 8px 20px !important;
}
.utrum-leftsidebar .menu-w .logo-w
{
    background-color: #f2f4f8 !important;
    border-right: 2px solid #f2f4f8;
    margin-right: -2px;
    position: relative;
    z-index: 999;
}
.utrum-leftsidebar .menu-w.menu-layout-compact img
{
    width: 120px !important;
    max-width: 120px !important;
}