.data-table {
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #3e4b5b !important;
}
.search-icon
{
    position: absolute;
    margin: 0 auto;    
    top: 0px;
    right: 5px;
    background-color: #25aaff;
    padding: 0.32rem 0.6rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.data-table table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    color: #3e4b5b !important;
    clear: both;
    margin-top: 6px !important;
    border-collapse: collapse !important;
}
.data-table table.dataTable th, data-table table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.data-table table.dataTable thead > tr, .data-table table.dataTable tfoot > tr{
    background-color: #f2f4f8;
    color: #888c99;
}
.data-table table.dataTable thead > tr > th:active {
    outline: none;
}
.data-table table.dataTable thead th{
  padding-right: 5px !important; 
}
.icolor
{
    color: #888c99 !important;
}
.data-table div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
.data-table div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}
.data-table div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
.data-table div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
.data-table div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.data-table div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
}
.data-table div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}
.data-table div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.data-table div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0;
}
.data-table div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-left: 0;
}
.data-table div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-right: 0;
}
.data-table .ps {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}
.data-table .ps > .ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 0px;
    height: 15px;
}
.data-table .ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out;
    -moz-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out, -moz-border-radius 0.2s ease-in-out;
    -o-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out, -moz-border-radius 0.2s ease-in-out;
    bottom: 2px;
    height: 6px;
}
.data-table .ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
    height: 11px;
}
.data-table .ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
    height: 11px;
}
.data-table .ps > .ps__scrollbar-y-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 0;
    width: 15px;
}
.data-table .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    position: absolute;
    background-color: #aaa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out;
    -moz-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out, -moz-border-radius 0.2s ease-in-out;
    -o-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out, -webkit-border-radius 0.2s ease-in-out, -moz-border-radius 0.2s ease-in-out;
    right: 2px;
    width: 6px;
}
.data-table .ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    width: 11px;
}
.data-table .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
    width: 11px;
}
.data-table .ps:hover > .ps__scrollbar-x-rail {
    opacity: 0.6;
}
.data-table .ps:hover > .ps__scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9;
}
.data-table .ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
    background-color: #999;
}
.data-table .ps:hover > .ps__scrollbar-y-rail {
    opacity: 0.6;
}
.data-table .ps:hover > .ps__scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9;
}
.data-table .ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    background-color: #999;
}
.data-table h5 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1.25rem;
}
.data-table h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1rem;
}
.data-table ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.data-table a {
    /* color: #0356ad; */
    color: #0366d6;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.data-table a:hover {
    /* color: #0356ad; */
    color: #0366d6;
    text-decoration: underline;
}
.data-table img {
    vertical-align: middle;
    border-style: none;
}
.data-table table {
    border-collapse: collapse;
}
.data-table th {
    text-align: inherit;
}
.data-table label {
    display: inline-block;
    margin-bottom: 4px;
}
.data-table input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    overflow: visible;
    font-weight: 400;
}
.data-table select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    font-weight: 400;
}
.data-table [type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}
.data-table .container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.data-table .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.data-table .col-md-5, .data-table .col-md-6, .data-table .col-md-7, .data-table .col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.data-table .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.data-table .crypto-name{
    position: relative;
    padding-left: 35px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.data-table .crypto-name img{
    position: absolute;
    left: 20px;
}
.data-table .table tbody tr:first-child td {
    border-top: none;
}
.data-table .table th, .data-table .table td {
    padding: 0.75rem 0.5rem;
    vertical-align: top;
    border-top: 1px solid #d4d6da;
    vertical-align: middle;
}
.data-table .table th {
    font-weight: 500;
}
.data-table .table tbody  .coin-nm-td {
    font-size: 1rem;
}
.data-table .table tbody  td {
    font-weight: 400;
    font-size: 0.9rem;
}
.data-table .table thead th {
    vertical-align: bottom;
    /* border-bottom: 1px solid #999; */
    /* font-size: 0.63rem; */
    font-size: 0.9rem;
    text-transform: uppercase;
    border-top: none;
    border-bottom: none !important;
    padding: 0.75rem 0.4rem !important;
}
.data-table .table tfoot th {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-top: none;
    white-space: nowrap;
}
/* .data-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(94, 130, 152, 0.05);
} */
.data-table .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.data-table .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a9adb5;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-weight: 300;
}
.data-table .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.data-table .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #25aadf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.data-table .form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
}
.data-table .form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
}
.data-table .form-control::-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
}
.data-table .form-control::placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, 0.4);
}
.data-table .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}
.data-table select.form-control:not([size]):not([multiple]) {
    height: calc(2.1rem + 4px);
}
.data-table .form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 4px;
}
.data-table select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.7rem + 4px);
}
.data-table .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
}
.data-table .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #25aadf;
    background-color: #fff;
    border: 1px solid #a9adb5;
}
.data-table .page-link:hover {
    color: #0356ad;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #a9adb5;
}
.data-table .page-link:focus {
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.data-table .page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.data-table .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.data-table .page-item:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.data-table .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #25aadf;
    border-color: #25aadf;
}
.data-table .page-item.disabled .page-link {
    color: #636c72;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #a9adb5;
}
.data-table .element-box {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}
.data-table .element-box .table:last-child {
    margin-bottom: 0;
}
.data-table .form-header {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    display: block;
}
.data-table .form-desc {
    color: #999;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: block;
}
.data-table .os-toggler-w {
    display: inline-block;
    margin-right: 10px;
}
.data-table .os-toggler-w .os-toggler-i {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 20px;
    width: 35px;
    position: relative;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.data-table .os-toggler-w .os-toggler-i .os-toggler-pill {
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 3px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.data-table .dataTables_length select {
    display: inline-block;
    width: 50px;
    margin: 0px 5px;
    vertical-align: middle;
}
.data-table .dataTables_filter input {
    display: inline-block;
    width: 130px;
    margin: 0px 5px;
    vertical-align: middle;
}
.data-table .dataTables_wrapper .row:first-child {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}
.data-table .dataTables_wrapper .row:last-child {
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}
.data-table .content-box {
    vertical-align: top;
    padding: 2rem 2.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.data-table .content-box > .element-wrapper:first-child {
    padding-top: 0px !important;
}
.data-table .element-wrapper {
    padding-bottom: 3rem;
}
.data-table .os-icon {
    font-family: 'osfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ch-green{
    background-color: #54b700
}
.ch-green:before, .ch-red:before{
    font-family: 'Font Awesome 5 Free';
    position: absolute;    
    display: block;
    opacity: 1;
    font-weight: bold;
    font-size: 0.7em;
    margin: 0 auto;
    padding: 0px;   
    top: -0.1rem;
    left: 0.5rem;
    font-size: 10px;
}
.ch-green:before{   
    content: '\F062';   
}
.ch-red:before{    
    content: '\F063';   
}
.ch-red{
    background-color: #f9006e;
}
.data-table .change-pill{
    color: #fff;
    text-align: center;
    height: 27px;
    font-size: 1rem;
    border-radius: 27px;
    line-height: 28px;
    display: inline-block;
    padding: 0 12px;
    position: relative;
    width: 85px;
}

@media screen and (max-width: 767px) {
    .data-table div.dataTables_wrapper div.dataTables_length, .data-table div.dataTables_wrapper div.dataTables_filter, data-table div.dataTables_wrapper div.dataTables_info, data-table div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
    }
}
@media screen and (-ms-high-contrast: active) {
    .data-table .ps {
    overflow: auto !important;
    }
}
@media (-ms-high-contrast: none) {
    .data-table .ps {
    overflow: auto !important;
    }
}
@media (min-width: 576px) {
    .data-table .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }
}
@media (min-width: 768px) {
    .data-table .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    }
    .data-table .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    }
    .data-table .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    }
}
@media (min-width: 1100px) {
    .data-table .table-responsive {
    overflow: visible;
    }
}
@media (max-width: 1650px) {
    .data-table .content-box {
    padding: 2rem;
    }
}
@media (min-width: 1100px) and (max-width: 1350px) {
    .data-table .content-box {
    padding: 1.5rem;
    }
}
@media (max-width: 1250px) {
    .data-table .element-box {
    padding: 1rem 1.5rem;
    }
}
@media (max-width: 1150px) {
    .data-table .content-box:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(4, 36, 113, 0.6);
    content: "";
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    }
    .data-table .content-i .content-box {
    display: block;
    }
}
@media (max-width: 1024px) {
    .data-table .table th, .data-table .table td {
    padding: 0.7rem 0.5rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .data-table .element-wrapper {
    padding-bottom: 2rem;
    }
    .data-table .content-box {
    padding: 1.5rem;
    }
    .data-table .element-box {
    padding: 1rem 1rem;
    }
}
@media (max-width: 767px) {
    .data-table .content-i .content-box {
    display: block;
    padding: 15px;
    }
    .data-table .element-wrapper {
    padding-bottom: 1.5rem;
    }
    .data-table .element-box {
    padding: 1rem;
    }
    .data-table table {
    max-width: 100%;
    }
}

/* Custome css */

.data-table #dataTable1_wrapper
{
    overflow: auto !important;
}

.data-table .table.table-lightfont td img {
    width: 21px;
    border-radius: 50%; 
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-bottom;
    float: left;
}
.data-table .crypto-name-img
{
    position: relative;
}
.data-table .crypto-name-img .img, 
{
    display: inline-block;
}
.data-table .crypto-name-img .name 
{
    display: block;
    
}
.data-table .crypto-name-img .img 
{
    float: left;
}
.data-table th i{
    color: #c5c5c5;
}
.data-table th i.down
{
    position: absolute;
    height: 8px;
    top: 1px;
    left: 0px;    
}
.data-table th span.sorting-icon{
    position: relative;
       
}
.data-table th.sorting i.active{
    color: #888c99
}
.fa-sort-up-down::before
{
    content: "\f0dc";    
}