<template>
<div class="data-table">
    <div class="element-wrapper">
        <!-- <h5 class="element-header utrum-blue utrum-font utrum-cap-all">
            Cryptos
        </h5> -->
        <div class="element-box">                      
            <div class="table-responsive">
                <div id="dataTable1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="dataTable1_length">
                                <label>Show
                                    <select name="dataTable1_length" aria-controls="dataTable1" class="form-control form-control-sm"  v-model="itemsPerPage" v-on:change="onPerPageChange">
                                        <option v-for="(val, index) in [10, 25, 50, 100]" :key="`perpg-optn-${index}`" :value="val">{{val}}</option>
                                    </select></label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable1_filter" class="dataTables_filter">
                                <label>
                                    <input type="search" class="form-control form-control-sm position-relative" placeholder="Search" aria-controls="dataTable1" v-model="searchKeyword" v-on:keyup.enter="search(1)">
                                    <span class="search-icon"><i class="fas fa-search" style="color:#FFF"></i></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-show="isLoadingCrypto != 1">
                        <div class="col-sm-12">
                            <table id="dataTable1" width="100%" class="table table-lightfont dataTable" role="grid"
                                aria-describedby="dataTable1_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-sort="ascending" @click="sortCoinsBy('cmc_rank')" v-bind:class="{ 'sorting': sortBy == 'cmc_rank' }">
                                            Rank                                                                                                                                   
                                            <span class="sorting-icon">
                                            <i class="fas mr-1 up"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'cmc_rank'},
                                                {'fa-sort-up': ( sortBy == 'cmc_rank') },
                                                {'active': ( sortType == 'ASC') }
                                               
                                            ]"/>
                                            <i class="fas mr-1 down"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'cmc_rank'},
                                                {'fa-sort-down': ( sortBy == 'cmc_rank') },
                                                {'active': ( sortType == 'DESC') },
                                               
                                            ]"/>
                                            </span>
                                        </th>
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" style="max-width: 100px;"> Name</th>
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" @click="sortCoinsBy('market_cap')" v-bind:class="{ 'sorting': sortBy == 'market_cap' }">
                                            <i class="fas fa-coins icolor"></i> Market Cap                                           
                                            <span class="sorting-icon">
                                            <i class="fas mr-1 up"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'market_cap'},
                                                {'fa-sort-up': ( sortBy == 'market_cap') },
                                                {'active': ( sortType == 'ASC') }
                                               
                                            ]"/>
                                            <i class="fas mr-1 down"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'market_cap'},
                                                {'fa-sort-down': ( sortBy == 'market_cap') },
                                                {'active': ( sortType == 'DESC') },
                                               
                                            ]"/>
                                            </span>
                                        </th>
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" style="min-width: 6rem;" @click="sortCoinsBy('price')" v-bind:class="{ 'sorting': sortBy == 'price' }">
                                            <i class="fas fa-dollar-sign icolor"></i> Price                                           
                                            <span class="sorting-icon">
                                            <i class="fas mr-1 up"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'price'},
                                                {'fa-sort-up': ( sortBy == 'price') },
                                                {'active': ( sortType == 'ASC') }
                                               
                                            ]"/>
                                            <i class="fas mr-1 down"
                                            v-bind:class="[
                                                {'fa-sort': sortBy != 'price'},
                                                {'fa-sort-down': ( sortBy == 'price') },
                                                {'active': ( sortType == 'DESC') },
                                               
                                            ]"/>
                                            </span>
                                        </th>
                                        <!-- <th class="sorting" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39px;">24hr Volume $</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39px;">24hr Change %</th> -->
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" style="min-width: 6rem;">
                                            <i class="fas fa-percentage icolor"></i> Change 24H
                                        </th>
                                        <!-- <th class="sorting" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 39px;">Mine? Y/N</th> -->
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 200px;"><i class="fas fa-chart-line icolor"></i> Analysis</th>
                                        
                                        <th class="text-center" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 35px;"> <i class="fas fa-star icolor"></i> UTS</th>
                                        <!-- <th class="sorting" tabindex="0" aria-controls="dataTable1" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 85px;">Actions</th> -->
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Rank</th>
                                        <th  class="text-center" rowspan="1" colspan="1"> Name</th>
                                        <th  class="text-center" rowspan="1" colspan="1"><i class="fas fa-coins icolor"></i> Market Cap</th>
                                        <th  class="text-center" rowspan="1" colspan="1"><i class="fas fa-dollar-sign icolor"></i> Price</th>
                                        <!-- <th rowspan="1" colspan="1">24hr Volume $</th>
                                        <th rowspan="1" colspan="1">24hr Change %</th> -->
                                        <th class="text-center" rowspan="1" colspan="1"><i class="fas fa-percentage icolor"></i> Change 24H</th>
                                        <!-- <th rowspan="1" colspan="1">Mine? Y/N</th> -->
                                        <th class="text-center" rowspan="1" colspan="1"><i class="fas fa-chart-line icolor"></i> Analysis</th>
                                        <th class="text-center" rowspan="1" colspan="1"><i class="fas fa-star icolor"></i> UTS</th>
                                        <!-- <th rowspan="1" colspan="1">Actions</th> -->
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr role="row" v-for="(coin, index) in coins" :key="`coin-${index}`">
                                        <td class="sorting_1">
                                            <!-- {{ (currentPage == 1 ? currentPage : ((currentPage - 1) *  itemsPerPage + 1)) + index }} -->
                                            {{ coin.cmc_rank }}
                                        </td>
                                        <td class="coin-nm-td">
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}}">                                               
                                                <div class="crypto-names" v-bind:title="`${coin.name} (${coin.symbol})`">
                                                    <img alt="" :src="coin.image_url"> <span style="padding-left:10px; display:table;">{{coin.name}} ({{ coin.symbol }})</span> 
                                                </div>
                                            </router-link>
                                        </td>
                                        <!-- <td class="coin-nm-td">
                                            <router-link :to="{ name: 'details', params: {'id': coin.id}}">                                               
                                                <div class="crypto-name-img" v-bind:title="`${coin.name} (${coin.symbol})`">
                                                    <div class="img">
                                                        <img alt="" :src="coin.image_url">
                                                    </div>
                                                    <div class="name"> 
                                                        {{coin.name}} ({{ coin.symbol }}) 
                                                    </div>
                                                </div>
                                            </router-link>
                                        </td> -->
                                        <td class="text-center">
                                            <span v-show="coin.market_cap">$</span>{{ (coin.market_cap ? (coin.market_cap)  : '0') | numFormatter(1)  }}
                                        </td>
                                        <td class="text-center utrum-blue">
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'price' }}" > 
                                                <span v-show="coin.price">$</span>{{ ( coin.price ? coin.price : '0' ) | formatNumberForLen(7) }} 
                                            </router-link>
                                        </td>
                                        <td class="text-center">
                                            <div class="utrum-change-pill" v-bind:class=" (coin.percent_change_24h < 0) ? 'ch-red' : 'ch-green' ">
                                                {{ (coin.percent_change_24h ? coin.percent_change_24h : 0) | numFormatter(1) | abs }}{{ coin.percent_change_24h ? '%' : '' }}
                                            </div>
                                        </td>
                                        
                                        <td class="text-center">
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'reviews' }}" title="Reviews"> 
                                                <i class="far fa-comments mr-1"></i><span>{{ coin.review_count }}</span>
                                            </router-link> 
                                            &nbsp;
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'insights' }}" title="Insights"> 
                                                <i class="far fa-chart-bar mr-1"></i><span>{{ coin.insight_count }}</span> 
                                            </router-link>
                                            &nbsp;
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'predictions' }}" title="Predictions"> 
                                                <i class="fas fa-chart-line mr-1"></i><span>{{ coin.prediction_count }}</span>
                                            </router-link>
                                            &nbsp;
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'news' }}" title="News"> 
                                                <i class="far fa-newspaper mr-1" ></i><span >0</span>
                                            </router-link>
                                            &nbsp;
                                            <router-link :to="{ name: 'details', params: {'id': coin.id, 'name': coin.name}, query: { activetab: 'events' }}" title="Events"> 
                                                <i class="far fa-calendar-alt mr-1"></i><span>{{coin.events_count}}</span>
                                            </router-link>
                                        </td>
                                        <td class="text-center">N/A</td>
                                    </tr>                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p v-show="isLoadingCrypto == 1" class="text-center">Loading . . </p>
                    <div class="row">
                        <div class="col-sm-12 col-md-5" v-show="isLoadingCrypto != 1">
                            <div class="dataTables_info" id="dataTable1_info" role="status" aria-live="polite">Showing {{currentPage == 1 ? currentPage : ((currentPage - 1) *  itemsPerPage + 1)}} to {{itemsPerPage * currentPage}} of {{total}} entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable1_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous" id="dataTable1_previous" v-bind:class="{ disabled: (paginationCount == 0) }">
                                        <a href="javascript: void(0)" aria-controls="dataTable1" data-dt-idx="0" tabindex="0" class="page-link" v-on:click="goToNextPageSegment('prev')">Previous</a>
                                    </li>
                                    <!-- v-for="(coin, index) in coins" :key="`coin-${index}`" -->
                                    <li class="paginate_button page-item" v-for="n in pagination[paginationCount]" :key="`pagination-${n}`" v-bind:class="{ active: (currentPage == n) }">
                                        <a href="javascript:void(0)" aria-controls="dataTable1" data-dt-idx="1" tabindex="0" class="page-link" v-on:click="getCoinsData(n)">
                                            {{ n }}
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item next" id="dataTable1_next" v-bind:class="{ disabled: (paginationCount == pagination.length-1) }">
                                        <a href="javascript:void(0)" aria-controls="dataTable1" data-dt-idx="4" tabindex="0" class="page-link" v-on:click="goToNextPageSegment('next')">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import coinsApi from '../../api-service/coins'
export default {
    name: 'data-table',
    data() {
        return{
            searchKeyword: '',
            total: 0,
            currentPage: 0,
            itemsPerPage: 50,
            coins: [],
            totalPages: 0,
            paginationCount: 0,
            pagination: [],
            getCoinsReq: null,
            isLoadingCrypto: 0, //1=loading, 2= success, 3= error
            sortBy: null,
            sortType: null
        }
    },
    components: { },
    created: function(){
        this.initQueryParams()
        this.getCoinsData(1);
    },
    watch:{
        $route (to, from){
            console.log(`route changed to : ${to} from: ${from}`)
            this.initQueryParams()
            this.getCoinsData(1)
        }
    },
    methods: {
        initQueryParams(){
            if(this.$route.query.hasOwnProperty('sort_by')){
                this.sortBy = this.$route.query.sort_by
            }
            else{
                this.sortBy = 'market_cap'
            }
            if(this.$route.query.hasOwnProperty('sort_type')){
                //ASC and DESC are acceptable
                this.sortType = this.$route.query.sort_type.toUpperCase()
            }
            else{
                this.sortType = "DESC"
            }
        },
        getCoinsData(pageNo){
            this.isLoadingCrypto = 1;
            let params = {
                page: pageNo,
                per_page: this.itemsPerPage
            }

            if(this.sortBy){
                params["sort"] = this.sortBy
            }
            if(this.sortType){
                //ASC and DESC are acceptable
                params["sort_type"] = this.sortType
            }

            this.coins = [];
            this.currentPage = pageNo
            if(this.getCoinsReq && this.getCoinsReq.source) {
                console.log("Cancel old req");
                this.getCoinsReq.source.cancel("cancel")
            }
            this.getCoinsReq = coinsApi.getCoins({ params: params })
            this.getCoinsReq.promise.then(response => {
                this.total = response.headers["x-total"]
                // this.currentPage = response.headers["x-page"]
                // this.itemsPerPage = response.headers["x-per-page"]
                this.totalPages = Math.ceil(this.total / this.itemsPerPage)
                // console.log("Total Pages ",this.totalPages)

                if(this.pagination.length <= 0){
                    // prepare pagination section first time only
                    let tempSegment = []
                    for(let i=1; i<=this.totalPages; i++){
                        tempSegment.push(i)
                        if(i % 6 == 0){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                        else if(i == this.totalPages){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                    }
                    if(this.pagination.length > 0){
                        this.paginationCount = 0
                    }
                }

                // console.log(this.pagination)
                if(response.hasOwnProperty('data')){
                    this.coins = response.data.coins
                    console.log("got coins data: ",this.coins)
                }
                this.isLoadingCrypto = 2;
                // this.info = response;
            }).catch((thrown) => {
                console.log("Exception ",thrown);
                this.isLoadingCrypto = 3; //error occured
            });
        },
        onPerPageChange(){
            // reset all data and load again
            this.currentPage = 0
            this.pagination = []
            this.paginationCount = 0
            this.coins = []
            this.getCoinsData(1)
        },
        goToNextPageSegment(optn){
            switch(optn){
                case 'next':{
                    if(this.paginationCount < this.pagination.length) {
                        this.paginationCount ++
                        this.getCoinsData(this.pagination[this.paginationCount][0])
                    }
                    break;
                }
                case 'prev':{
                    if(this.paginationCount > 0) {
                        this.paginationCount --
                        this.getCoinsData(this.pagination[this.paginationCount][0])
                    }
                }
            }
            console.log(" paginationCount :",this.paginationCount)
        },
        search(pageNo){
            console.log("Search  ",this.searchKeyword);
            this.isLoadingCrypto = 1;
            let params = {
                page: pageNo,
                per_page: this.itemsPerPage,
                search: this.searchKeyword
            }
            if(this.getCoinsReq && this.getCoinsReq.source) {
                console.log("Cancel old req");
                this.getCoinsReq.source.cancel("cancel")
            }
            this.getCoinsReq = coinsApi.search(params)
            this.getCoinsReq.promise.then(response => {
                this.total = response.headers["x-total"]
                this.currentPage = response.headers["x-page"]
                // this.itemsPerPage = response.headers["x-per-page"]
                this.totalPages = Math.ceil(this.total / this.itemsPerPage)
                // console.log("Total Pages ",this.totalPages)

                if(this.pagination.length <= 0){
                    // prepare pagination section first time only
                    let tempSegment = []
                    for(let i=1; i<=this.totalPages; i++){
                        tempSegment.push(i)
                        if(i % 6 == 0){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                        else if(i == this.totalPages){
                            this.pagination.push(tempSegment)
                            tempSegment = []
                        }
                    }
                    if(this.pagination.length > 0){
                        this.paginationCount = 0
                    }
                }
                console.log("Got Searched Res",response);
                if(response.data.success){
                    this.coins = response.data.coin
                    console.log("searched coins: ",this.coins);
                    this.isLoadingCrypto = 2
                }
                else{
                    if(response.data.hasOwnProperty("message")){
                        alert(response.data.message)
                    }
                    else{
                        alert("Seach failed")
                    }
                    this.isLoadingCrypto = 3
                }

            }).catch((thrown) => {
                console.log("Exception ",thrown);
                this.isLoadingCrypto = 3; //error occured
            });
        },
        sortCoinsBy(colNm){
            console.log(`column name: ${colNm} `)
            let sort_type = this.sortType.toLowerCase() == 'asc' ? 'DESC' : 'ASC' 
            this.$router.push({ name: this.$route.name, params: this.$route.params, query: { sort_by: colNm, sort_type: sort_type }})
        }
    }
}
</script>

<style>
@import './data-table.css';
</style>

