<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-news">
            <div class="element-wrapper compact pt-4">
                <div class="element-actions d-none d-sm-block">
                    <form class="form-inline justify-content-sm-end">
                        <label class="smaller" for="">News For</label>
                        <select class="form-control form-control-sm form-control-faded">
                            <option value="Pending">
                                Bitcoin
                            </option>
                            <option value="Active">
                                Etherium
                            </option>
                            <option value="Cancelled">
                                Litecoin
                            </option>
                        </select>
                    </form>
                </div>
                <h6 class="element-header">
                    Crypto News
                </h6>
                <div class="element-box-tp">
                    <div class="post-box">
                        <div class="post-media" style="background-image: url(https://totalbitcoin.org/wp-content/uploads/2016/11/bitcoin-news.png)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <h6 class="post-date">
                                7/18/2018 02:04:30 PM
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="social-share-count-section">
                                        <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                    </div>
                                    <div class="social-share-count-section">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                    </div>                                                                                                
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post-media" style="background-image: url(https://i2.wp.com/branzel.com/wp-content/uploads/2018/04/Bitcoin-News-today-April-27-e1524887911743.jpg?resize=561%2C373)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <h6 class="post-date">
                                7/18/2018 02:04:30 PM
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="social-share-count-section">
                                        <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                    </div>
                                    <div class="social-share-count-section">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                    </div>                                                                                                
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post-media" style="background-image: url(https://i1.wp.com/smartereum.com/wp-content/uploads/2018/02/Bitcoin-price-predictions-2018-Bitcoin-will-reach-25000-in-2018-and-125000-by-2022-Bitcoin-News-Today-.jpg?resize=696%2C373&ssl=1)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <h6 class="post-date">
                                7/18/2018 02:04:30 PM
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="social-share-count-section">
                                        <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                    </div>
                                    <div class="social-share-count-section">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                    </div>                                                                                                
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post-media" style="background-image: url(https://s3.amazonaws.com/bnfpv/wp-content/uploads/2018/08/20195757/the-company-3338207_960_720-384x220.jpg)"></div>
                        <div class="post-content">
                            <h6 class="post-title">
                                Is Crypto the Future of Film Funding?
                            </h6>
                            <h6 class="post-date">
                                7/18/2018 02:04:30 PM
                            </h6>
                            <div class="post-text">
                                Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

                            </div>
                            <div class="post-foot">
                                <div class="post-tags">
                                    <div class="social-share-count-section">
                                        <i class="fa fa-heart" aria-hidden="true"></i><span>55</span>
                                    </div>
                                    <div class="social-share-count-section">
                                        <i class="fa fa-share-alt" aria-hidden="true"></i><span>50</span>
                                    </div>                                                                                                
                                </div>
                                <a class="post-link" href="#"><span>Read Full Story</span><i class="os-icon os-icon-arrow-right7"></i></a>
                            </div>
                        </div>
                    </div>
                    <a class="centered-load-more-link" href="#"><span>Read Our Blog</span></a>
                </div>
            </div>

        </div>
        
    </div>
    <div class="content-panel compact color-scheme-dark">                    
        <ComponentRightSidebar></ComponentRightSidebar>
    </div>
</div>
   
    
</template>
<script>

import ComponentRightSidebar from '../right_sidebar/rightsidebar.vue'

    export default {
        name: 'news',       
        components: {       
        ComponentRightSidebar
        },
        methods: {
            
        }
    }
</script>
<style>
    @import './news.css';
</style>