<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <!-- <router-view/> -->
    <component v-bind:is="layout"></component>
  </div>
</template>

<script>
import LeftMenuLayout from './layouts/left-menu'
import SimpleLayout from './layouts/simple'

export default {
  name: 'App',
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    'left-menu-layout': LeftMenuLayout,
    'simple-layout': SimpleLayout
    // Here we will define as many layouts as we want
  }
}
</script>

<style>
@import 'assets/css/app.css';
@import 'assets/css/utrum-loader.css';
</style>
<style lang="scss">
  @import './assets/scss/app.scss';
</style>
