<template>
    <div class="layout-w">
        <ComponentLeftSidebar/>
        <div class="content-w">
            <ComponentTopbar/>
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import ComponentTopbar from '../components/topbar/topbar.vue'
import ComponentLeftSidebar from '../components/left_sidebar/leftsidebar.vue'
import ComponentRightSidebar from '../components/right_sidebar/rightsidebar.vue'

export default {
    name: 'left-menu',
    components: {
        ComponentTopbar,
        ComponentLeftSidebar,
        ComponentRightSidebar      
    },
    
}
</script>
