.calendar-type
{
    text-align: right;
}
.calendar-type ul li
{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.calendar-type ul li.suggest-event
{
	float: left;
}
.calendar-controls {
	margin-right: 1rem;
	min-width: 14rem;
	max-width: 14rem;
}
.calendar-parent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 485px;
    background-color: white;
    height: 100%;
}
/* For long calendars, ensure each week gets sufficient height. The body of the calendar will scroll if needed */
.cv-wrapper.period-month.periodCount-2 .cv-week,
.cv-wrapper.period-month.periodCount-3 .cv-week,
.cv-wrapper.period-year .cv-week {
	min-height: 6rem;
}
/* These styles are optional, to illustrate the flexbility of styling the calendar purely with CSS. */
/* Add some styling for events tagged with the "birthday" class */
.calendar .event.birthday {
	background-color: #e0f0e0;
	border-color: #d7e7d7;
}
.calendar .event.birthday::before {
	content: "\1F382";
	margin-right: 0.5em;
}



.Event-list .form-control{
    display:block;
    width:100%;
    padding:0.375rem 0.75rem;
    font-size:0.9rem;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:2px solid #dde2ec;
    border-radius:4px;
    -webkit-transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.Event-list .form-control::-ms-expand{
    background-color:transparent;
    border:0;
}
.Event-list .form-control:focus{
    color:#495057;
    background-color:#fff;
    border-color:#047bf8;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.Event-list .form-control::-webkit-input-placeholder{
    color:#636c72;
    opacity:1;
}
.Event-list .form-control:-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.Event-list .form-control::-ms-input-placeholder{
    color:#636c72;
    opacity:1;
}
.Event-list .form-control::placeholder{
    color:#636c72;
    opacity:1;
}
.Event-list .form-control:disabled{
    background-color:#e9ecef;
    opacity:1;
}
.Event-list select.form-control:not([size]):not([multiple]){
    height:calc(2.1rem + 4px);
}
.Event-list .form-control-sm{
    padding:0.25rem 0.5rem;
    font-size:0.8rem;
    line-height:1.5;
    border-radius:4px;
}
.Event-list select.form-control-sm:not([size]):not([multiple]){
    height:calc(1.7rem + 4px);
}
.Event-list .form-inline{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
 @media (min-width: 576px){
    .Event-list .form-inline label{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        margin-bottom:0;
    }
    .Event-list .form-inline .form-control{
        display:inline-block;
        width:auto;
        vertical-align:middle;
    }
}

.Event-list .d-none{
    display:none!important;
}
 @media (min-width: 576px){
    .Event-list .d-sm-block{
        display:block!important;
    }
}
 @media (min-width: 576px){
    .Event-list .justify-content-sm-end{
        -webkit-box-pack:end!important;
        -ms-flex-pack:end!important;
        justify-content:flex-end!important;
    }
}
.Event-list .pt-4{
    padding-top:1.5rem!important;
}
 @media print{
     *,*::before,*::after{
        text-shadow:none!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
    .Event-list .badge{
        border:1px solid #000;
    }
}
.Event-list label{
    margin-bottom:4px;
}
.Event-list select{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight:400;
}
.Event-list .form-control{
    font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.Event-list .form-control.form-control-faded{
    background-color:#dde2ec;
}
.Event-list .form-control::-webkit-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.Event-list .form-control:-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.Event-list .form-control::-ms-input-placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.Event-list .form-control::placeholder{
    color:rgba(0, 0, 0, 0.4);
}
.Event-list label.smaller{
    font-size:0.8rem;
    line-height:1.5;
}
.Event-list .badge{
    font-size:0.81rem;
}
.Event-list .form-control{
    font-weight:300;
}
.Event-list .element-wrapper{
    padding-bottom:3rem;
}
.Event-list .element-wrapper.compact{
    padding-bottom:2rem;
}
.Event-list .element-wrapper .element-actions{
    float:right;
    position:relative;
    z-index:2;
    margin-top:-0.2rem;
}
.Event-list .element-wrapper .element-actions select.form-control-sm{
    height:1.75rem;
}
.Event-list .element-wrapper .element-actions label{
    margin-right:7px;
    color:rgba(90, 99, 126, 0.49);
}
.Event-list .element-wrapper .element-header{
    border-bottom:1px solid rgba(0, 0, 0, 0.05);
    padding-bottom:1rem;
    margin-bottom:2rem;
    position:relative;
    z-index:1;
}
.Event-list .element-wrapper .element-header:after{
    content:"";
    background-color:#047bf8;
    width:25px;
    height:4px;
    border-radius:0px;
    display:block;
    position:absolute;
    bottom:-3px;
    left:0px;
}
.Event-list .post-box{
    border-radius:6px;
    background-color:#fff;
    -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
}
.Event-list .post-box{
    margin-bottom:15px;
    padding:10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
    -webkit-transition:all 0.2s ease;
    transition:all 0.2s ease;
}
.Event-list .post-box .post-media{
    -webkit-box-flex:0;
    -ms-flex:0 0 30%;
    flex:0 0 15%;
    background-size:cover;
    background-position:center center;
}
.Event-list .post-box .post-content{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    padding:10px;
    padding-left:20px;
}
.Event-list .post-box .post-text{
    color:rgba(90, 99, 126, 0.49);
    margin-bottom:10px;
    font-size:0.81rem;
}
.Event-list .post-box .post-foot{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
}
.Event-list .post-box .post-foot .post-link{
    font-size:0.81rem;
}
.Event-list .post-box .post-foot .post-link i{
    margin-left:10px;
    display:inline-block;
    vertical-align:middle;
}
.Event-list .post-box .post-foot .post-link span{
    display:inline-block;
    vertical-align:middle;
}
.Event-list .centered-load-more-link{
    display:block;
    padding:10px;
    padding-bottom:15px;
    text-align:center;
    cursor:pointer;
}
.Event-list .centered-load-more-link span{
    display:inline-block;
    vertical-align:middle;
    border-bottom:1px solid #047bf8;
}
.Event-list .centered-load-more-link:hover span{
    border-bottom-color:#0362c6;
}
.Event-list .os-icon{
    font-family:'osfont'!important;
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.Event-list .os-icon-arrow-right7:before{
    content:"\e998";
}
 @media (min-width: 768px) and (max-width: 1024px){
    .Event-list .element-wrapper{
        padding-bottom:2rem;
    }
}
 @media (max-width: 767px){
    .Event-list .element-wrapper .element-actions{
        float:none;
        margin-bottom:20px;
    }
    .Event-list .post-box{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
    .Event-list .post-box .post-media{
        -webkit-box-flex:0;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        padding-bottom:60%;
    }
    .Event-list .post-box .post-content{
        padding:20px 15px;
    }
    .Event-list .element-wrapper{
        padding-bottom:1.5rem;
    }
    .Event-list .element-wrapper.compact{
        padding-bottom:1rem;
    }
}
.Event-list .social-share-count-section {
     display: inline-block;
     color: rgba(90, 99, 126, 0.72);
     padding-right: 10px;
}
.Event-list .post-date
{
    font-size: 12px;
    color: #8a8a8ac7;
    padding-left: 10px;
}
.Event-list .post-date:before
{
    content:"-";
    padding: 0;
    margin: 0 auto;
    color: #8a8a8ac7;
}
.Event-list .post-media:hover
{
    opacity: 0.5;
}
.Event-list .post-box:hover {
	border-left: 3px solid #047bf8;
	text-decoration: none;
}
.Event-list .element-box-tp a
{
    text-decoration: none;
}

/* Event details page css */

.event-detail-header .date
{
	font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.event-detail-header .title
{
	font-size: 25px;   
    font-weight: 500;
}
.event-detail-header .event-img img
{
	width: 98%;
} 
.event-detail-header .detail-title
{
	padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
.event-detail-content span.title
{
	padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
.event-detail-content .sub-section, .event-detail-header .sub-section
{
	color: #969696;
	font-weight: 400;
}
.event-detail-content .links-section:hover
{
	background: rgba(0, 123, 255, 0.2);
}
.event-detail-content .links-section label
{
	padding: 10px 0px 0px 0px;
}
.utrum-eventdetail .element-box.comment-section-header
{
    padding: 0px;
}
.utrum-eventdetail .element-box.comment-section-header .comment-reply-title
{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    background: #fff;
    color: #232323bf;
    text-align: center;
    padding: 12px;
    margin-bottom: 0px;
    font-size: 22px;
}
.utrum-eventdetail .comment-section-content
{
    padding: 25px;
    background-color: #f9f9f9;
}
.utrum-eventdetail .comment-section-content .element-box
{   
    background-color: #f9f9f9;
    box-shadow: none;
}

.suggested-event-section
{
    /* float: right; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    text-align: right;    
    margin-bottom: 1rem;
}
.suggested-event-section ul li
{
    list-style: none;
}
/* Suggested event list css */
.utrum-suggested-event-list .event-date
{
    color: #ccc;
}
.event_coin_logo
{
    width: 18%;
    padding: 4px;
    margin-bottom: 0.5rem;
}
.event-title
{
    font-size: 1.1rem;
    color: #3e5ca7;
    font-weight: 600;
    line-height: 1.3em;
}
.social-share-count-section {
    display: inline-block;
    color: rgba(90, 99, 126, 0.72);
    padding-right: 10px;
}
.share .social-share-count-section
{
    font-size: 1rem;
}
.utrum-suggested-event-list article.card
{
    position: relative;
}
.utrum-suggested-event-list article.card:hover
{
    border: 1px solid rgb(37, 170, 223);
    background-color: #25aadf1c;
}
.utrum-suggested-event-list .like-msg
{
    position: absolute;
    margin: 0 auto;
    padding: 0;
    top: 20px; 
    visibility: hidden;    
}
.utrum-suggested-event-list .like-msg .social-share-count-section {
    display: block;       
}
.utrum-suggested-event-list article.card:hover .like-msg
{
    visibility: visible;
}
