<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-eventdetail">
            <div class="element-wrapper compact pt-4">               
                <h6 class="element-header">
                    AUGUST, 2018
                </h6>
                <div class="mb-5">
                <div class="element-box">                    
                    <div class="event-detail-header mb-3">
                        <b-row class="mb-1">
                            <b-col cols="2" class="text-center">
                                <div class="date mb-3">31 Aug</div>
                            </b-col>
                            <b-col cols="10">
                                <div class="utrum-blue title mb-3">Is Crypto the Future of Film Funding?</div>
                            </b-col>                           
                        </b-row>                       
                        <b-row class="mb-1">
                            <b-col cols="6">
                                <div class="event-img">
                                    <img src="https://i2.wp.com/branzel.com/wp-content/uploads/2018/04/Bitcoin-News-today-April-27-e1524887911743.jpg?resize=561%2C373"/>
                                </div> 
                            </b-col>
                            <b-col cols="6">
                                 <label><i class="fa fa-bars" aria-hidden="true" style="font-size: 20px; color: rgba(0, 0, 0, 0.5);"></i><span class="detail-title">EVENT DETAILS</span></label>
                                <div class="sub-section mb-3 pl-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                            </b-col>                           
                        </b-row>
                    </div>
                    <div class="event-detail-content">                       
                        <b-row class="mb-1">
                            <b-col cols="12">
                                <!-- <a href="#"><i class="fa fa-clock-o"></i><span>fa fa-clock-o</span></a> -->
                                <label><i class="fa fa-calendar" aria-hidden="true" style="font-size: 20px; color: rgba(0, 0, 0, 0.5);"></i><span class="title">Time</span></label>
                                <div class="sub-section mb-3 pl-3">All Day(Friday)</div>
                            </b-col>                                                       
                        </b-row>
                        <b-row>
                            <b-col cols="6" class="links-section">
                                <label class="mb-3"><i class="fa fa-link" aria-hidden="true" style="font-size: 20px; color: rgba(0, 0, 0, 0.5);"></i><span class="title">LEARN MORE</span></label>
                            </b-col>
                            <b-col cols="6" class="links-section">
                                <label class="mb-3"><i class="fa fa-calendar" aria-hidden="true" style="font-size: 20px; color: rgba(0, 0, 0, 0.5);"></i><span class="title">CALENDAR GOOGLECAL</span></label>
                            </b-col>                           
                        </b-row>
                    </div>

                </div>
                </div> 

                <div class="element-box comment-section-header">                    
                 <h3 class="comment-reply-title">Leave a Comment</h3>
                    <div class="comment-section-content">                 
                        <comment-form/>                        
                    </div>

                </div>
                                 
            </div>

        </div>
        
    </div>
    <div class="content-panel compact color-scheme-dark">                    
        <right-sidebar></right-sidebar>
    </div>
</div>
   
    
</template>
<script>

import ComponentRightSidebar from '../../components/right_sidebar/rightsidebar'
import CommentForm from '../../components/comment-form/comment-form'

export default {
    name: 'eventDetail',       
    components: {       
    "right-sidebar": ComponentRightSidebar,
    "comment-form": CommentForm 
    },
    methods: { }
}
</script>
<style>
    @import './event.css'; 
</style>