<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-events">

        <!-- Add Event Section -->	
		<b-modal id="modalAdd"
				ref="modal"
				title="Submit your Event"							
				@ok="addEvent">
		<form @submit.stop.prevent="submitEvent">
			<b-container fluid>
				<b-row class="mb-1">
                <b-col cols="4">Event Title</b-col>
                <b-col>
                    <b-form-input type="text"
                        id="title"
                        placeholder="Enter Event Title"					 
                        v-model="newEventTitle"></b-form-input>
                </b-col>           
                </b-row>
				<b-row class="mb-1">
                <b-col cols="4">Event Start Date</b-col>
                <b-col>
                    <b-form-input type="date"
                        id="startDate"
                        disabled="disabled"					 
                        v-model="newEventStartDate"></b-form-input>
                </b-col>           
                </b-row>
				<b-row class="mb-1">
                <b-col cols="4">Event End Date</b-col>
                <b-col>
                    <b-form-input type="date"
                        id="endDate"
                        placeholder="Enter End Date"					 
                        v-model="newEventEndDate"></b-form-input>
                </b-col>           
                </b-row>
			</b-container>			
		</form>
		</b-modal>		

		<!-- Edit Event Section -->
		<b-modal id="modalEdit"
             title="Update the Event">				   
       		<b-container fluid>
         		<b-row class="mb-1 text-center">
           			<b-col cols="4"></b-col>
           			<b-col></b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Event Title</b-col>
           			<b-col>
			   		<b-form-input type="text"
						id="title"
						placeholder="Enter Event Title"					 
						v-model="updateEventTitle">
					</b-form-input>
		   			</b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Event Start Date</b-col>
           			<b-col>
			   		<b-form-input type="date"
						id="startDate" 
						disabled="disabled"                     
						v-model="updateEventStartDate"></b-form-input>
		   			</b-col>          
         		</b-row>
         		<b-row>
           			<b-col cols="4">Event End Date</b-col>
           			<b-col>
			   		<b-form-input type="date"
						id="endDate"
						placeholder="Enter End Date"
						v-model="updateEventEndDate"></b-form-input>
		   			</b-col>           
         		</b-row>
		  		<b-row>
           			<b-col cols="4"></b-col>
           			<b-col>
			   			<b-form-input type="text"
						id="id"
						value = updateEventid
						hidden="hidden"
						placeholder="id"
						v-model="updateEventid"></b-form-input>
		   			</b-col>           
         		</b-row>
       		</b-container>
       		<div slot="modal-footer" class="w-100">         
		  		<b-row>
		    		<b-col cols="6">		
		   			</b-col>
           			<b-col cols="3">			    
						<b-btn size="sm" class="float-right" variant="primary" @click="eventUpdate(updateEvent)">
						Update
					</b-btn>
		   			</b-col>
		   			<b-col>
			   		<b-btn size="sm" class="float-left" variant="danger" @click="deleteEvent(updateEventid)">
           				Delete
         	   		</b-btn>
					</b-col>           
         		</b-row>         
       		</div>
    	</b-modal>


        <!-- Add Suggest Event Section -->
		<b-modal id="modalSuggest"
             title="Add the Suggest Event">				   
       		<b-container fluid>
         		<b-row class="mb-1 text-center">
           			<b-col cols="4"></b-col>
           			<b-col></b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Proof Link</b-col>
           			<b-col>
			   		<b-form-input type="text"
						id="proof-link"										 
					>
					</b-form-input>
		   			</b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Coin</b-col>
           			<b-col>
			   		<b-form-input type="text"
						id="coin" 						                     
					></b-form-input>
		   			</b-col>          
         		</b-row>
                 <b-row class="mb-1">
           			<b-col cols="4">Caption</b-col>
           			<b-col>
			   		<b-form-input type="text"
						id="caption" 						                     
					></b-form-input>
		   			</b-col>          
         		</b-row>
                <b-row class="mb-1">
           			<b-col cols="4">Discription</b-col>
           			<b-col>
			   		<b-form-textarea id="discription"
                     v-model="text"
                     placeholder="Enter something"
                     :rows="3"
                     :max-rows="6">
                    </b-form-textarea>
		   			</b-col>          
         		</b-row>
                <b-row class="mb-1">
           			<b-col cols="4">Discription</b-col>
           			<b-col>
			   		<b-form-textarea id="discription"
                     v-model="text"
                     placeholder="Enter something"
                     :rows="3"
                     :max-rows="6">
                    </b-form-textarea>
		   			</b-col>          
         		</b-row>
         		<b-row>
           			<b-col cols="4">Event End Date</b-col>
           			<b-col>
			   		<b-form-input type="date"
						id="endDate"
						placeholder="Enter End Date"
						v-model="updateEventEndDate"></b-form-input>
		   			</b-col>           
         		</b-row>
		  		<b-row>
           			<b-col cols="4"></b-col>
           			<b-col>
			   			<b-form-input type="text"
						id="id"
						value = updateEventid
						hidden="hidden"
						placeholder="id"
						v-model="updateEventid"></b-form-input>
		   			</b-col>           
         		</b-row>
       		</b-container>
       		<div slot="modal-footer" class="w-100">         
		  		<b-row>
		    		<b-col cols="6">		
		   			</b-col>
           			<b-col cols="3">			    
						<b-btn size="sm" class="float-right" variant="primary" @click="eventUpdate(updateEvent)">
						Update
					</b-btn>
		   			</b-col>
		   			<b-col>
			   		<b-btn size="sm" class="float-left" variant="danger" @click="deleteEvent(updateEventid)">
           				Delete
         	   		</b-btn>
					</b-col>           
         		</b-row>         
       		</div>
    	</b-modal>
                
        <div class="calendar-type">
            <ul>
                <li class="suggest-event" @click="addsuggestEvent()"><div class="btn btn-info btn-sm" >Suggest Event</div></li>
                <li @click="calendartypeChanged('month')"><div class="btn btn-info btn-sm" >Month</div></li>
                <li @click="calendartypeChanged('week')"><div class="btn btn-info btn-sm">Week</div></li>
                <li @click="calendartypeChanged('year')"><div class="btn btn-info btn-sm">Year</div></li>
            </ul>
        </div>
		<div class="calendar-parent">
			<calendar-view
				:events="events"
				:show-date="showDate"
				:time-format-options="{hour: 'numeric', minute:'2-digit'}"
				:enable-drag-drop="true"
				:disable-past="disablePast"
				:disable-future="disableFuture"
				:show-event-times="showEventTimes"
				:display-period-uom="displayPeriodUom"
				:display-period-count="displayPeriodCount"
				:starting-day-of-week="startingDayOfWeek"
				:class="themeClasses"
				:on-period-change="periodChanged"
				@drop-on-date="onDrop"
				@click-date="onClickDay"
				@click-event="onClickEvent"
			>
				<calendar-view-header slot="header" slot-scope="{ headerProps }" :header-props="headerProps" @input="setShowDate" />
			</calendar-view>
		</div>
           
        </div>
    </div>    
</div>
</template>
<script>

import Vue from 'vue';
import moment from 'moment';
import {
	CalendarView,
	CalendarViewHeader,
	CalendarMathMixin,
} from "vue-simple-calendar"
require("vue-simple-calendar/static/css/default.css")
require("vue-simple-calendar/static/css/holidays-us.css")

export default {
    name: 'event2',         
    components: {
    "calendar-view":CalendarView
    },
    mixins: [CalendarMathMixin],
    data() {
		return {
			/* Show the current month, and give it some fake events to show */
			showDate: this.thisMonth(1),
			message: "",
			startingDayOfWeek: 0,
			disablePast: false,
			disableFuture: false,
			displayPeriodUom: "month",
			displayPeriodCount: 1,
			showEventTimes: true,
			newEventTitle: "",
			newEventStartDate: "",
			newEventEndDate: "",
			updateEventTitle: "",
			updateEventStartDate: "",
			updateEventEndDate: "",
			updateEventid: "",
			useDefaultTheme: true,
			useHolidayTheme: true,
			updateEvent:[],			
			events: [
				{
					id: "e0",
					startDate: "2018-01-05",
				},				
				{
					id: "e1",
					startDate: this.thisMonth(15),
					title: "Single-day event with a long title",
				},
				{
					id: "e2",
					startDate: this.thisMonth(29),
					title: "Same day 1",
				},
				
			],
			index: null
		}
    },
    computed: {
		userLocale() {
			return this.getDefaultBrowserLocale
		},
		dayNames() {
			return this.getFormattedWeekdayNames(this.userLocale, "long", 0)
		},
		themeClasses() {
			return {
				"theme-default": this.useDefaultTheme,
				"holiday-us-traditional": this.useHolidayTheme,
				"holiday-us-official": this.useHolidayTheme,
			}
		},
	},
	mounted() {
		this.newEventStartDate = this.isoYearMonthDay(this.today())
		this.newEventEndDate = this.isoYearMonthDay(this.today())
	},
	methods: {
        calendartypeChanged(type)
        {            
            return this.displayPeriodUom = type;
        },
        addsuggestEvent()
        {
            this.$root.$emit('bv::show::modal','modalSuggest'); 
        },
		periodChanged(range) {
			// Demo does nothing with this information, just including the method to demonstrate how
			// you can listen for changes to the displayed range and react to them (by loading events, etc.)
			console.log(range)
		},
		thisMonth(d, h, m) {
			const t = new Date()
			return new Date(t.getFullYear(), t.getMonth(), d, h || 0, m || 0)
		},
		onClickDay(d) {			
			this.newEventStartDate = moment(String(d)).format('YYYY-MM-DD'); 
			this.newEventEndDate = moment(String(d)).format('YYYY-MM-DD');  
            this.$root.$emit('bv::show::modal','modalAdd','#focusThisOnClose'); 			
		},
		addEvent()
		{
			if (!this.newEventTitle) {
				this.$root.$emit('bv::hide::modal','modalAdd');
				alert('Please enter your name');
				
			} else {
				this.submitEvent();
			}
		},
		submitEvent()
		{
			this.events.push({
				startDate: this.newEventStartDate,
				endDate: this.newEventEndDate,
				title: this.newEventTitle,
			});
			this.newEventTitle = "";
		},
		onClickEvent(e) {				
			this.updateEventTitle = e.title; 
			this.updateEventStartDate = moment(String(e.startDate)).format('YYYY-MM-DD');
			this.updateEventEndDate = moment(String(e.endDate)).format('YYYY-MM-DD');
			this.updateEventid = e.originalEvent.id;
			
			this.$root.$emit('bv::show::modal','modalEdit');			
		},
		eventUpdate(event)
		{	
			this.updateEvent.push({
				startDate: this.updateEventStartDate,
				endDate: this.updateEventEndDate,
				title: this.updateEventTitle,
				id:this.updateEventid
			});	
			
			Vue.set(this.events, this.events.findIndex(f => f.id === this.updateEvent[0].id), {title:this.updateEvent[0].title,startDate:this.updateEvent[0].startDate,endDate:this.updateEvent[0].endDate});
		
			this.updateEvent = [];
			this.$root.$emit('bv::hide::modal','modalEdit');
		},
		deleteEvent(id)
		{
			this.updateEvent.push({
				startDate: this.updateEventStartDate,
				endDate: this.updateEventEndDate,
				title: this.updateEventTitle,
				id:this.updateEventid
			});
			var index = this.events.findIndex(x => x.id== this.updateEventid);
		
			this.events.splice(index, 1);
			this.updateEvent = [];
			this.$root.$emit('bv::hide::modal','modalEdit');
		},
		setShowDate(d) {
			this.message = `Changing calendar view to ${d.toLocaleDateString()}`
			this.showDate = d
		},
		onDrop(event, date) {
			this.message = `You dropped ${event.id} on ${date.toLocaleDateString()}`
			// Determine the delta between the old start date and the date chosen,
			// and apply that delta to both the start and end date to move the event.
			const eLength = this.dayDiff(event.startDate, date)
			event.originalEvent.startDate = this.addDays(event.startDate, eLength)
			event.originalEvent.endDate = this.addDays(event.endDate, eLength)
		},
		clickTestAddEvent() {
			this.events.push({
				startDate: this.newEventStartDate,
				endDate: this.newEventEndDate,
				title: this.newEventTitle,
			})
			this.message = "You added an event!"
		},
	},
    
}
</script>
<style>
    @import './event.css';
</style>

