<template>
    <div class="content-i"> 
        <b-container>
            <div class="utrum-suggested-event-list pt-5">
                <!-- <p v-show="suggested_eventGetReqStatus == 1">Loading</p> -->
                <!-- <b-row>
                    <b-col>
                        <div class="element-box"> 
                        <div class="element-wrapper">
                            <div class="event-upcoming-past">
                                <ul>
                                    <li>Upcoming Events</li>
                                    <li>Past Events</li>
                                </ul>
                            </div>
                            <!-- <Topeventaddedsection/> --
                            <div class="utrum-form event-form">

                                <form>
                    
                    

                    <div class="row pt-3">
                        <div class="col-sm-2">
                            <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                            <!-- <div class="form-group">
                            <label for="">Are you a Investor?</label>
                            </div> --
                        </div>

                        <div class="col-sm-2">
                            <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                        </div> 
                        <div class="col-sm-2">
                           <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                        </div>

                        <div class="col-sm-2">
                            <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                        </div> 
                        <div class="col-sm-2">
                            <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                        </div>
                        <div class="col-sm-2">
                            <b-form-select class="mb-2 mr-sm-2 mb-sm-0"
                     :value="null"
                     :options="{ '1': 'One', '2': 'Two', '3': 'Three' }"
                     id="inlineFormCustomSelectPref">
        <option slot="first" :value="null">Choose...</option>
      </b-form-select>
                        </div>
                       
                        
                    </div>          
                  
                    <div class="form-buttons-w">
                    <button class="btn utrum-btn-primary" type="submit" :disabled="completeData"> Submit Review</button>                     
                    </div>
                </form>

                            </div>                            
                        </div>
                    </div>
                    </b-col>
                </b-row> -->
                <b-row>                    
                    <b-col cols="3" v-for="(sugg_event, index) in suggested_event" :key="`event-${index}`">
                        <div class="element-wrapper" >
                            <!-- <h6 class="element-header pt-4">
                                Suggested Event List
                            </h6> -->
                            <b-card tag="article" class="mb-2">                            
                                <div class="card-text text-center">
                                    <img :src="sugg_event.img_url" class="event_coin_logo"/> 
                                    <p class="event-title utrum-blue mb-0">{{sugg_event.coin_name}}<span class="text-secondary pl-1">{{sugg_event.coin_symbol}}</span></p>                                  
                                    <p class="event-title mb-1 pt-2">{{sugg_event.name}}</p>
                                    <p class="event-date">- {{sugg_event.event_date}}</p>
                                    <div class="like-msg mb-3">
                                        <div class="social-share-count-section">
                                            <i class="fa fa-heart" aria-hidden="true"></i><span class="pl-2">0</span>
                                        </div>
                                        <div class="social-share-count-section">
                                            <i class="fa fa-share-alt" aria-hidden="true"></i><span class="pl-2">0</span>
                                        </div>
                                    </div>                           
                                    <p class="event-description text-justify border-bottom pb-4">{{sugg_event.description}}</p>
                                    <p>{{sugg_event.event_added}}</p>
                                    <div class="share">
                                        <div class="social-share-count-section">
                                           <i class="fab fa-twitter twitter-fc"></i>
                                        </div>
                                        <div class="social-share-count-section">
                                            <i class="fab fa-telegram-plane telegram-fc"></i>
                                        </div>
                                        <div class="social-share-count-section">
                                            <i class="fab fa-reddit-alien reddit-fc"></i>
                                        </div>
                                        <div class="social-share-count-section">
                                            <i class="fab fa-facebook-f fb-fc"></i>
                                        </div>
                                    </div>
                                    
                                
                                </div> 

                                <!-- <b-button size="sm" class="utrum-btn-primary" v-on:click="editSuggestedEvent(sugg_event, index)">Edit</b-button>
                                <b-button size="sm" variant="danger" v-on:click="removeSuggestedEvent(sugg_event, index)" >
                                    <i class="fas fa-circle-notch fa-spin" v-show="sugg_event.reviewDelReqStatus == 1"></i> Remove
                                </b-button> -->
                            </b-card>
                        </div>
                    </b-col>
                </b-row>
            </div>
        </b-container>
    </div>
</template>
<script>
import suggestedApi from '../../api-service/suggested_events'
import coinsApi from '../../api-service/coins'
import moment from 'moment';
//import Topeventaddedsection from './event-top-search-section'

export default {
    name: 'suggested-event-list',//'Suggest an Event',
    //today:null,
    data(){
        return {            
            suggested_event:[],
            suggested_eventGetReq: null,
            suggested_eventGetReqStatus: 0, // 1=loading, 2=success, 3= error 
            suggested_eventDelReq: null,
            getCoinsReq: null,
        }
    },
    breadcrumb () {
        return {
            label: 'Events'
        }
    },
    components: { 
        //'Topeventaddedsection':Topeventaddedsection     
    },
   
   mounted: function(){
        //this.getSuggestedEvent()
    },
    created: function(){  
        this.getSuggestedEvent()
    },
    methods: {
        getSuggestedEvent(){

            this.suggested_eventGetReqStatus = 1;
            this.suggested_eventGetReq = suggestedApi.getAll({})
            this.suggested_eventGetReq.promise.then(response => {

                //console.log("suggested_event detail: ",response.data);
                
                //this.suggested_event = response.data;

                // this.suggested_event.forEach(element => {
                    response.data.forEach(element => {

                    //console.log("suggested_event===");
                   // console.log(element);

                    let coinid = element.coin_id;
                    
                    let event_created = moment(String(element.created_at)).format('YYYY-MM-DD HH:mm'); 

                    //let event_created = '2018-10-24 4:25';
                    var before = moment(event_created,'YYYY.MM.DD HH:mm');
                    var now = moment();

                    // console.log(
                    // moment(now - before)
                    // .format('D[ day(s)] H[ hour(s)] m[ minute(s)] s[ second(s) ago.]')
                    // );

                    let event_diff = moment(now - before).format('D');
                    event_diff = event_diff - 1 ;
                    var event_added = '';

                    event_diff == 0 ?
                               event_added = 'Event added Today' :
                               (event_diff == 1 ? event_added = 'Event added Yesterday' : 
                               (event_diff > 1 ? event_added = 'Event added '+event_diff+' days ago' : 
                               (event_diff = moment(now - before).format('H') ? event_added = 'Event added '+event_diff+' hours ago' : ''))),
                               
                                 
                    //console.log(event_added);
                    element.event_added = event_added;

                    // console.log(
                    // moment(now - before)
                    // .format('D[ day(s)] H[ hour(s)] m[ minute(s)] s[ second(s) ago.]')
                    // );  (event_diff > 1 ? event_added = 'Event added'.event_diff : '')

                   

                    this.getCoinsReq = coinsApi.getCoinsDetail(coinid, {})
                    this.getCoinsReq.promise.then(response => {
                    if(response.data.success){
                        //console.log("crypto detail: ",response.data)
                        let cryptoData = response.data.market_data;

                        //console.log("cryptoData===");
                        //console.log(cryptoData);

                        let img_url = cryptoData.image_url;
                        let coin_name = cryptoData.name;
                        let coin_symbol = cryptoData.symbol;
                        //console.log(img_url);
                        element.img_url = img_url;
                        element.coin_name = coin_name;
                        element.coin_symbol = coin_symbol;
                        //this.suggested_event.push({'id':5});
                        this.suggested_event.push(element);

                        // console.log("suggested_event===");
                        // console.log(this.suggested_event);


                        
                    }
                    else{
                        
                        if(response.data.hasOwnProperty("message")){
                            alert(response.data.message)
                        }
                        else{
                            alert("Unable to get coin data")
                        }
                    }
                }).catch((thrown) => {
                    console.log("Exception ",thrown);
                    
                });

                    //console.log(`Crypto Id: ${element.coin_id}`);

               });


               
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.suggested_eventGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        removeSuggestedEvent(sugg_event, idx){
            console.log("sugg_event Review: ",sugg_event);
            if(sugg_event.hasOwnProperty('suggested_eventDelReqStatus') && sugg_event['suggested_eventDelReqStatus'] == 1) return;
            this.$set(sugg_event, 'suggested_eventDelReqStatus', 1);

            console.log(sugg_event);
            this.suggested_eventDelReq = suggestedApi.delete(sugg_event.id, {})
            this.suggested_eventDelReq.promise.then(response => {
                sugg_event.suggested_eventDelReqStatus = 2;
                this.suggested_event.splice(idx, 1);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                sugg_event['suggested_eventDelReqStatus'] = 3; //error occured
                alert("Something went wrong");
            });
        },
        editSuggestedEvent(sugg_event, idx){            
            //console.log("edit-suggested-event ",sugg_event);
            this.$router.push({name: 'edit-suggested-event', params: { eventId: sugg_event.id }})
        }
    }
}
</script>
<style>	
    @import './event.css';
</style>