/*! CSS Used from: https://coinmarketcal.com/build/app.css */
a{
    background-color:transparent;
}
 a:active,a:hover{
    outline:0;
}
 button,input,select{
    margin:0;
    font:inherit;
    color:inherit;
}
 button{
    overflow:visible;
}
 button,select{
    text-transform:none;
}
 button{
    -webkit-appearance:button;
    cursor:pointer;
}
 button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0;
}
 input{
    line-height:normal;
}
 @media print{
     *,:after,:before{
        color:#000!important;
        text-shadow:none!important;
        background:0 0!important;
        -webkit-box-shadow:none!important;
        box-shadow:none!important;
    }
     a,a:visited{
        text-decoration:underline;
    }
     a[href]:after{
        content:" (" attr(href) ")";
    }
     a[href^="#"]:after{
        content:"";
    }
}
 *,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 button,input,select{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
}
 a{
    color:#337ab7;
    text-decoration:none;
}
 a:focus,a:hover{
    color:#23527c;
    text-decoration:underline;
}
 a:focus{
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
 [role=button]{
    cursor:pointer;
}
 ul{
    margin-top:0;
    margin-bottom:10px;
}
 select[multiple]{
    height:auto;
}
 .form-control{
    display:block;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
}
 .form-control{
    width:100%;
    height:34px;
    padding:6px 12px;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 .form-control:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
 .form-control::-moz-placeholder{
    color:#999;
    opacity:1;
}
 .form-control:-ms-input-placeholder{
    color:#999;
}
 .form-control::-webkit-input-placeholder{
    color:#999;
}
 .form-control::-ms-expand{
    background-color:transparent;
    border:0;
}
 .form-control[readonly]{
    background-color:#eee;
    opacity:1;
}
 .btn{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
}
 .btn:active:focus,.btn:focus{
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}
 .btn:focus,.btn:hover{
    color:#333;
    text-decoration:none;
}
 .btn:active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
 .btn-default{
    color:#333;
    background-color:#fff;
    border-color:#ccc;
}
 .btn-default:focus{
    color:#333;
    background-color:#e6e6e6;
    border-color:#8c8c8c;
}
 .btn-default:active,.btn-default:hover{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad;
}
 .btn-default:active:focus,.btn-default:active:hover{
    color:#333;
    background-color:#d4d4d4;
    border-color:#8c8c8c;
}
 .btn-default:active{
    background-image:none;
}
 .collapse{
    display:none;
}
 .caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px dashed;
    border-top:4px solid\9;
    border-right:4px solid transparent;
    border-left:4px solid transparent;
}
 .dropdown{
    position:relative;
}
 .dropdown-toggle:focus{
    outline:0;
}
 .dropdown-menu{
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
    box-shadow:0 6px 12px rgba(0,0,0,.175);
}
 .open>.dropdown-menu{
    display:block;
}
 .btn-group{
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
 .btn-group>.btn{
    position:relative;
    float:left;
}
 .btn-group>.btn:active,.btn-group>.btn:focus,.btn-group>.btn:hover{
    z-index:2;
}
 .btn-group .btn-group+.btn{
    margin-left:-1px;
}
 .btn-group>.dropdown-toggle:not(:first-child){
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
 .btn-group>.btn-group{
    float:left;
}
 .btn-group .dropdown-toggle:active{
    outline:0;
}
 .btn .caret{
    margin-left:0;
}
 select.selectpicker{
    display:none!important;
}
 .bootstrap-select{
    width:220px \0;
}
 .bootstrap-select>.dropdown-toggle{
    position:relative;
    width:100%;
    z-index:1;
    text-align:right;
    white-space:nowrap;
}
 .bootstrap-select>.dropdown-toggle.bs-placeholder,.bootstrap-select>.dropdown-toggle.bs-placeholder:active,.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,.bootstrap-select>.dropdown-toggle.bs-placeholder:hover{
    color:#999;
}
 .bootstrap-select>select{
    position:absolute!important;
    bottom:0;
    left:50%;
    display:block!important;
    width:.5px!important;
    height:100%!important;
    padding:0!important;
    opacity:0!important;
    border:none;
}
 .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width:220px;
}
 .bootstrap-select .dropdown-toggle:focus{
    outline:thin dotted #333!important;
    outline:5px auto -webkit-focus-ring-color!important;
    outline-offset:-2px;
}
 .bootstrap-select:not(.input-group-btn){
    float:none;
    display:inline-block;
    margin-left:0;
}
 .bootstrap-select .dropdown-toggle:before{
    content:"";
    display:inline-block;
}
 .bootstrap-select .dropdown-toggle .filter-option{
    position:absolute;
    top:0;
    left:0;
    padding-top:inherit;
    padding-right:inherit;
    padding-bottom:inherit;
    padding-left:inherit;
    height:100%;
    width:100%;
    text-align:left;
}
 .bootstrap-select .dropdown-toggle .filter-option-inner{
    padding-right:inherit;
}
 .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
    overflow:hidden;
}
 .bootstrap-select .dropdown-toggle .caret{
    position:absolute;
    top:50%;
    right:12px;
    margin-top:-2px;
    vertical-align:middle;
}
 .bootstrap-select .dropdown-menu{
    min-width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 .bootstrap-select .dropdown-menu>.inner:focus{
    outline:none!important;
}
 .bootstrap-select .dropdown-menu.inner{
    position:static;
    float:none;
    border:0;
    padding:0;
    margin:0;
    border-radius:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
 .bs-searchbox{
    padding:4px 8px;
}
 .bs-searchbox .form-control{
    margin-bottom:0;
    width:100%;
    float:none;
}
 .far,.fas{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
}
 .fa-angle-double-down:before{
    content:"\F103";
}
 .fa-angle-double-up:before{
    content:"\F102";
}
 .fa-search:before{
    content:"\F002";
}
 .far{
    font-family:Font Awesome\ 5 Pro;
}
 .far{
    font-weight:400;
}
 .fas{
    font-family:Font Awesome\ 5 Pro;
    font-weight:900;
}
 .btn,a{
    transition:all .125s ease-in-out 0s;
}
 a{
    cursor:pointer;
}
 .btn,.form-control,.form-control:focus,.form-control:hover{
    box-shadow:none;
}
 .form-control{
    border-radius:5px;
}
 a{
    color:#4abce6;
}
 a:focus,a:hover{
    text-decoration:none;
    color:#3ba8e6;
    outline:0;
}
 ul{
    margin:0 0 20px;
}
 .btn{
    border-radius:2px;
    font-family:Lato,sans-serif;
    font-size:11px;
    padding:8px 0;
}
 .btn-default{
    border-color:#eaeced;
    transition:all .2s ease-in-out 0s;
    color:#666;
}
 .btn-default:hover{
    border-color:#8f9499;
}
 .btn:active:focus,.btn:focus{
    outline:0;
}
 .btn.btn-circle{
    border-radius:30px;
}
 .btn.btn-border-none:focus,.btn.btn-border-none:hover{
    background:#fff;
    color:#3d89ce;
    box-shadow:none;
    border:1px solid #3d89ce;
}
 .btn.btn-border-none{
    background:#3d89ce;
    color:#fff;
}
 .btn.btn-md{
    padding:8px 25px;
    font-size:13px;
}
 .form-control::-moz-placeholder{
    color:#8f9499;
}
 ::-moz-selection{
    background:#666;
    color:#fff;
}
 ::-webkit-selection{
    background:#666;
    color:#fff;
}
 ::selection{
    background:#666;
    color:#fff;
}
 .form-control{
    font-family:Lato,sans-serif;
    letter-spacing:2px;
    font-size:11px;
    border:1px solid #eaeced;
    border-radius:25px;
    transition:all .4s ease-in-out 0s;
    background:transparent;
}
 .form-control:focus{
    border-color:#8f9499;
}
 #form_date_range{
    background:transparent;
    cursor:pointer;
}
 #form_date_range:hover{
    background:#e6e6e6;
}
 .dropdown-toggle{
    border-radius:25px!important;
    padding-left:12px;
    padding-right:25px;
}
 .filter-wrapper #form_submit{
    padding-left:12px;
    padding-right:12px;
}
 .filter-wrapper form .btn-group:first-child{
    margin-left:0!important;
}
 .filter-wrapper #form_submit,.filter-wrapper form .btn-group{
    margin:0 3px;
}
 .more-filters{
    color:grey;
    padding:7px;
}
 @media (min-width:1200px){
     #moreFilters{
        margin-top:8px;
    }
}
 [data-toggle=collapse].collapsed .if-not-collapsed{
    display:none;
}
 @media (max-width:767px){
     .bootstrap-select .dropdown-menu{
        min-width:100%!important;
    }
}
 .bootstrap-select .dropdown-toggle .filter-option-inner{
    padding-right:0;
}
 @media (max-width:1200px){
     .form-filter #form_submit,.form-filter div.btn-group{
        width:100%!important;
        margin:5px 0!important;
    }
}
