<template>
<div class="content-i">
    <div class="content-box">
        <div class="utrum-events">

        <!-- Add Event Section -->	
		<b-modal id="modalAdd"
				ref="modal"
				title="Submit your Event"							
				@ok="addEvent">
		<form @submit.stop.prevent="submitEvent">
			<b-container fluid>
				<b-row class="mb-1">
                <b-col cols="4">Event Title</b-col>
                <b-col>
                    <b-form-input type="text"
                        id="title"
                        placeholder="Enter Event Title"					 
                        v-model="newEventTitle"></b-form-input>
                </b-col>           
                </b-row>
				<b-row class="mb-1">
                <b-col cols="4">Event Start Date</b-col>
                <b-col>
                    <b-form-input type="date"
                        id="startDate"
                        disabled="disabled"					 
                        v-model="newEventStartDate"></b-form-input>
                </b-col>           
                </b-row>
				<b-row class="mb-1">
                <b-col cols="4">Event End Date</b-col>
                <b-col>
                    <b-form-input type="date"
                        id="endDate"
                        placeholder="Enter End Date"					 
                        v-model="newEventEndDate"></b-form-input>
                </b-col>           
                </b-row>
			</b-container>			
		</form>
		</b-modal>		

		<!-- Edit Event Section -->
		<b-modal id="modalEdit"
             title="Update the Event">				   
       		<b-container fluid>
         		<b-row class="mb-1 text-center">
           			<b-col cols="4"></b-col>
           			<b-col></b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Event Title</b-col>
           			<b-col>
			   		<b-form-input type="text"
						id="title"
						placeholder="Enter Event Title"					 
						v-model="updateEventTitle">
					</b-form-input>
		   			</b-col>           
         		</b-row>
         		<b-row class="mb-1">
           			<b-col cols="4">Event Start Date</b-col>
           			<b-col>
			   		<b-form-input type="date"
						id="startDate" 
						disabled="disabled"                     
						v-model="updateEventStartDate"></b-form-input>
		   			</b-col>          
         		</b-row>
         		<b-row>
           			<b-col cols="4">Event End Date</b-col>
           			<b-col>
			   		<b-form-input type="date"
						id="endDate"
						placeholder="Enter End Date"
						v-model="updateEventEndDate"></b-form-input>
		   			</b-col>           
         		</b-row>
		  		<b-row>
           			<b-col cols="4"></b-col>
           			<b-col>
			   			<b-form-input type="text"
						id="id"
						value = updateEventid
						hidden="hidden"
						placeholder="id"
						v-model="updateEventid"></b-form-input>
		   			</b-col>           
         		</b-row>
       		</b-container>
       		<div slot="modal-footer" class="w-100">         
		  		<b-row>
		    		<b-col cols="6">		
		   			</b-col>
           			<b-col cols="3">			    
						<b-btn size="sm" class="float-right" variant="primary" @click="eventUpdate(updateEvent)">
						Update
					</b-btn>
		   			</b-col>
		   			<b-col>
			   		<b-btn size="sm" class="float-left" variant="danger" @click="deleteEvent(updateEventid)">
           				Delete
         	   		</b-btn>
					</b-col>           
         		</b-row>         
       		</div>
    	</b-modal>


        <!-- Add Suggest Event Section -->
		<b-modal id="modalSuggest"
             title="Add the Suggest Event">				   
       		<b-container fluid>
         		<b-row class="mb-1 text-center">
           			<b-col cols="4"></b-col>
           			<b-col></b-col>           
         		</b-row>
         		<b-row class="mb-2">
           			<b-col cols="4">Proof Link</b-col>
           			<b-col>
			   		<b-form-input type="text"
					   placeholder="Enter Proof Link"
					   id="proof-link"
					   v-model="proofLink"					   									 
					>
					</b-form-input>
		   			</b-col>           
         		</b-row>
         		<b-row class="mb-2">
           			<b-col cols="4">Coin</b-col>
           			<b-col>
					<b-form-select v-model="suggestEvent[3].coin_id" :options="CoinOption" class="mb-3">						
						<template slot="first">
							<!-- this slot appears above the options from 'options' prop -->
							<option :value="null" disabled>-- Please select an coin --</option>
						</template>						
					</b-form-select>			   		
		   			</b-col>          
         		</b-row>
                 <b-row class="mb-2">
           			<b-col cols="4">Caption</b-col>
           			<b-col>
			   		<b-form-input type="text"
					   placeholder="Enter Caption"
					   id="caption"
					   v-model="suggestEvent[0].name" 						                     
					></b-form-input>
		   			</b-col>          
         		</b-row>
                <b-row class="mb-2">
           			<b-col cols="4">Discription</b-col>
           			<b-col>
			   		<b-form-textarea type="text" id="discription"                    
                     placeholder="Enter something"
					 v-model="suggestEvent[1].description"
                     :rows="3"
                     :max-rows="6">
                    </b-form-textarea>
		   			</b-col>          
         		</b-row> 
				<b-row class="mb-1">
           			<b-col cols="4">Tag</b-col>
           			<b-col>
			   		 <b-form-select v-model="selectedTag" :options="TagOption" class="mb-3">						
						<template slot="first">
							<!-- this slot appears above the options from 'options' prop -->
							<option :value="null" disabled>-- Please select an option --</option>
						</template>
						<!-- these options will appear after the ones from 'options' prop -->
						<option value="C">Option C</option>
						<option value="D">Option D</option>
					</b-form-select>
		   			</b-col>          
         		</b-row>
				<b-row class="mb-1">
           			<b-col cols="4"></b-col>
           			<b-col>
			   		 <b-form-select v-model="selectedTagTime"  class="mb-3">						
						<template slot="first">
							<!-- this slot appears above the options from 'options' prop -->
							<option :value="null" disabled>When?</option>
						</template>
						<!-- these options will appear after the ones from 'options' prop -->
						<option value="A">Option A</option>
						<option value="B">Option B</option>
					</b-form-select>
		   			</b-col>          
         		</b-row>                  
         		
       		</b-container>
			<div slot="modal-footer" class="w-100">         
		  		<b-row>
		    		<b-col cols="12">
						<b-btn size="bg" :disabled="completeData" class="float-right text-center" variant="success" @click="submitSuggestEvent(suggestEvent)">
           					Add
         	   			</b-btn>		
		   			</b-col>
         		</b-row>         
       		</div>       		
    	</b-modal>
        <!--        
        <div class="calendar-type">
            <ul>
                <li @click="calendartypeChanged('month')"><div class="btn utrum-btn-primary btn-sm" >Month</div></li>
                <li @click="calendartypeChanged('week')"><div class="btn utrum-btn-primary btn-sm">Week</div></li>
                <li @click="calendartypeChanged('year')"><div class="btn utrum-btn-primary btn-sm">Year</div></li>
            </ul>
        </div>
		<div class="calendar-parent mb-5">
			<calendar-view
				:events="events"
				:show-date="showDate"
				:time-format-options="{hour: 'numeric', minute:'2-digit'}"
				:enable-drag-drop="true"
				:disable-past="disablePast"
				:disable-future="disableFuture"
				:show-event-times="showEventTimes"
				:display-period-uom="displayPeriodUom"
				:display-period-count="displayPeriodCount"
				:starting-day-of-week="startingDayOfWeek"
				:class="themeClasses"
				:on-period-change="periodChanged"
				@drop-on-date="onDrop"
				@click-date="onClickDay"
				@click-event="onClickEvent"
			>
				<calendar-view-header slot="header" slot-scope="{ headerProps }" :header-props="headerProps" @input="setShowDate" />
			</calendar-view>
		</div>
		-->
		<div class="Event-list">
			<b-container>
				<b-row class="mb-1">
					<b-col cols="12">
						<!-- <div class="suggested-event-section">
								<ul>
									<li class="suggest-event" ><router-link :to="{ name: 'suggested-event-list'}"><div class="btn utrum-btn-primary btn-sm" >Suggest Event</div></router-link></li>									
								</ul>
							</div> -->
                        <div class="element-wrapper">
                            <!-- <h6 class="element-header team-member-name">
                            <i class="fa fa-calendar" style="color: #047bf8; padding-right: 10px;"></i><span class="utrum-blue utrum-cap-all utrum-font">Event List</span>
							<div class="suggested-event-section">
								<ul>
									<li class="suggest-event" ><router-link :to="{ name: 'suggested-event-list'}"><div class="btn utrum-btn-primary btn-sm" >Suggest Event</div></router-link></li>									
								</ul>
							</div>
                            </h6> -->
							 <div class="element-box-tp">
							<router-link :to="{ name: 'eventDetail'}">
							<div class="post-box">
								<div class="post-media" style="background-image: url(https://totalbitcoin.org/wp-content/uploads/2016/11/bitcoin-news.png)"></div>
								<div class="post-content">
									<h6 class="post-title">
										Is crypto the future of film funding?
									</h6>
									<h6 class="post-date">
										7/18/2018 02:04:30 PM
									</h6>
									<div class="post-text">
										Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

									</div>                           
								</div>
							</div>
							</router-link>
							<router-link :to="{ name: 'eventDetail'}">
							<div class="post-box">
								<div class="post-media" style="background-image: url(https://i2.wp.com/branzel.com/wp-content/uploads/2018/04/Bitcoin-News-today-April-27-e1524887911743.jpg?resize=561%2C373)"></div>
								<div class="post-content">
									<h6 class="post-title">
										Is crypto the future of film funding?
									</h6>
									<h6 class="post-date">
										7/18/2018 02:04:30 PM
									</h6>
									<div class="post-text">
										Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

									</div>                           
								</div>
							</div>
							</router-link>
							<router-link :to="{ name: 'eventDetail'}">
							<div class="post-box">
								<div class="post-media" style="background-image: url(https://i1.wp.com/smartereum.com/wp-content/uploads/2018/02/Bitcoin-price-predictions-2018-Bitcoin-will-reach-25000-in-2018-and-125000-by-2022-Bitcoin-News-Today-.jpg?resize=696%2C373&ssl=1)"></div>
								<div class="post-content">
									<h6 class="post-title">
										Is crypto the future of film funding?
									</h6>
									<h6 class="post-date">
										7/18/2018 02:04:30 PM
									</h6>
									<div class="post-text">
										Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

									</div>                            
								</div>
							</div>
							</router-link>
							<router-link :to="{ name: 'eventDetail'}">
							<div class="post-box">
								<div class="post-media" style="background-image: url(https://s3.amazonaws.com/bnfpv/wp-content/uploads/2018/08/20195757/the-company-3338207_960_720-384x220.jpg)"></div>
								<div class="post-content">
									<h6 class="post-title">
										Is crypto the future of film funding?
									</h6>
									<h6 class="post-date">
										7/18/2018 02:04:30 PM
									</h6>
									<div class="post-text">
										Curiously, view both tone emerged. There should which yards two and concepts amidst liabilities sitting of and, parents it wait

									</div>                            
								</div>
							</div> 
							</router-link>                  
                  </div>                   
                </div>
                </b-col>
			</b-row>
			</b-container>
		</div>


		<b-container>
            <div class="utrum-suggested-event-list">
                <!-- <p v-show="suggested_eventGetReqStatus == 1">Loading</p> -->
                <div class="element-wrapper" >
                    <h6 class="element-header pt-4">
                        Suggested Event List
                    </h6>
                    <b-card tag="article" class="mb-2" v-for="(sugg_event, index) in suggested_event" :key="`event-${index}`" >
                       
                        <div class="card-text">
                            <p class="event-title utrum-blue mb-0">{{sugg_event.name}}</p>
                            <p class="event-date">- {{sugg_event.event_date}}</p>                           
                            <p class="event-description text-justify">{{sugg_event.description}}</p>
                           
                        </div> 

                        <!-- <b-button size="sm" class="utrum-btn-primary" v-on:click="editSuggestedEvent(sugg_event, index)">Edit</b-button>
                        <b-button size="sm" variant="danger" v-on:click="removeSuggestedEvent(sugg_event, index)" >
                            <i class="fas fa-circle-notch fa-spin" v-show="sugg_event.reviewDelReqStatus == 1"></i> Remove
                        </b-button> -->
                    </b-card>
                </div>
            </div>
        </b-container>
           
        </div>
    </div>    
</div>
</template>
<script>

import Vue from 'vue';
import moment from 'moment';
import coinsApi from '../../api-service/coins'
import suggestedApi from '../../api-service/suggested_events'

import {
	CalendarView,
	CalendarViewHeader,
	CalendarMathMixin,
} from "vue-simple-calendar"
require("vue-simple-calendar/static/css/default.css")
require("vue-simple-calendar/static/css/holidays-us.css")

export default {
    name: 'event',
    components: {
    "calendar-view":CalendarView
    },
	mixins: [CalendarMathMixin],
	suggestEvent:[],
    data() {
		return {

			getCoinsList:null,
			addSuggestedEvent:null,
			/* Show the current month, and give it some fake events to show */
			showDate: this.thisMonth(1),
			message: "",
			startingDayOfWeek: 0,
			disablePast: false,
			disableFuture: false,
			displayPeriodUom: "month",
			displayPeriodCount: 1,
			showEventTimes: true,
			newEventTitle: "",
			newEventStartDate: "",
			newEventEndDate: "",
			updateEventTitle: "",
			updateEventStartDate: "",
			updateEventEndDate: "",
			updateEventid: "",
			useDefaultTheme: true,
			useHolidayTheme: true,
			updateEvent:[],
			selectedTag: null,
			selectedTagTime: null,
			proofLink:'',
			suggestEvent:[
				{name:''},
				{description:''},
				{event_date:'2000-01-01T00:00:00.000Z'},			
				{coin_id:''}

				

				// proofLink:'',
				// selectedCoin: null,
				// caption:'',
				// discription:'',
				// selectedTag: null,
				// selectedTagTime: null
			],
			CoinOption:[],	
			TagOption: [
				{ value: 'A', text: 'General' },
				{ value: 'B', text: 'Option B' }
			],		
			events: [
				{
					id: "e0",
					startDate: "2018-01-05",
				},				
				{
					id: "e1",
					startDate: this.thisMonth(15),
					title: "Single-day event with a long title",
				},
				{
					id: "e2",
					startDate: this.thisMonth(29),
					title: "Same day 1",
				},
				
			],
			index: null
		}
	},
	created: function(){
        this.getCoinList();
    },	 
    computed: {
		userLocale() {
			return this.getDefaultBrowserLocale
		},
		dayNames() {
			return this.getFormattedWeekdayNames(this.userLocale, "long", 0)
		},
		themeClasses() {
			return {
				"theme-default": this.useDefaultTheme,
				"holiday-us-traditional": this.useHolidayTheme,
				"holiday-us-official": this.useHolidayTheme,
			}
		},
		completeData() {
           return !(this.suggestEvent[3].coin_id && this.suggestEvent[0].name.trim() != "" && this.suggestEvent[1].description.trim() != "");
        }
	},
	breadcrumb () {
        return {
            label: 'Events'
        }
    },
	mounted() {
		this.newEventStartDate = this.isoYearMonthDay(this.today())
		this.newEventEndDate = this.isoYearMonthDay(this.today())
	},
	methods: {
        calendartypeChanged(type)
        {            
            return this.displayPeriodUom = type;
        },
        addsuggestEvent()
        {
            this.$root.$emit('bv::show::modal','modalSuggest'); 
        },
		periodChanged(range) {
			// Demo does nothing with this information, just including the method to demonstrate how
			// you can listen for changes to the displayed range and react to them (by loading events, etc.)
			console.log(range)
		},
		thisMonth(d, h, m) {
			const t = new Date()
			return new Date(t.getFullYear(), t.getMonth(), d, h || 0, m || 0)
		},
		onClickDay(d) {			
			this.newEventStartDate = moment(String(d)).format('YYYY-MM-DD'); 
			this.newEventEndDate = moment(String(d)).format('YYYY-MM-DD');  
            this.$root.$emit('bv::show::modal','modalAdd','#focusThisOnClose'); 			
		},
		addEvent()
		{
			if (!this.newEventTitle) {
				this.$root.$emit('bv::hide::modal','modalAdd');
				alert('Please enter your name');
				
			} else {
				this.submitEvent();
			}
		},
		submitEvent()
		{
			this.events.push({
				startDate: this.newEventStartDate,
				endDate: this.newEventEndDate,
				title: this.newEventTitle,
			});
			this.newEventTitle = "";
		},
		onClickEvent(e) {				
			this.updateEventTitle = e.title; 
			this.updateEventStartDate = moment(String(e.startDate)).format('YYYY-MM-DD');
			this.updateEventEndDate = moment(String(e.endDate)).format('YYYY-MM-DD');
			this.updateEventid = e.originalEvent.id;
			
			this.$root.$emit('bv::show::modal','modalEdit');			
		},
		eventUpdate(event)
		{	
			this.updateEvent.push({
				startDate: this.updateEventStartDate,
				endDate: this.updateEventEndDate,
				title: this.updateEventTitle,
				id:this.updateEventid
			});	
			
			Vue.set(this.events, this.events.findIndex(f => f.id === this.updateEvent[0].id), {title:this.updateEvent[0].title,startDate:this.updateEvent[0].startDate,endDate:this.updateEvent[0].endDate});
		
			this.updateEvent = [];
			this.$root.$emit('bv::hide::modal','modalEdit');
		},
		deleteEvent(id)
		{
			this.updateEvent.push({
				startDate: this.updateEventStartDate,
				endDate: this.updateEventEndDate,
				title: this.updateEventTitle,
				id:this.updateEventid
			});
			var index = this.events.findIndex(x => x.id== this.updateEventid);
		
			this.events.splice(index, 1);
			this.updateEvent = [];
			this.$root.$emit('bv::hide::modal','modalEdit');
		},
		setShowDate(d) {
			this.message = `Changing calendar view to ${d.toLocaleDateString()}`
			this.showDate = d
		},
		onDrop(event, date) {
			this.message = `You dropped ${event.id} on ${date.toLocaleDateString()}`
			// Determine the delta between the old start date and the date chosen,
			// and apply that delta to both the start and end date to move the event.
			const eLength = this.dayDiff(event.startDate, date)
			event.originalEvent.startDate = this.addDays(event.startDate, eLength)
			event.originalEvent.endDate = this.addDays(event.endDate, eLength)
		},
		clickTestAddEvent() {
			this.events.push({
				startDate: this.newEventStartDate,
				endDate: this.newEventEndDate,
				title: this.newEventTitle,
			})
			this.message = "You added an event!"
		},
		getCoinList(){
			this.getCoinsList = coinsApi.getCoinsList();
			this.getCoinsList.promise.then(response => {
				//console.log("coin list=======");
				//console.log(response);
				response.data.forEach((item, index) => {
					//console.log(item);
					this.CoinOption.push({
						value: item.id,
						text: item.name
					})
				});
			//console.log(this.CoinOption);
			}).catch((thrown) => {
                console.log("Exception ",thrown);                
            });           
        },
		submitSuggestEvent(evt, suggestedEvent)		{
			//evt.preventDefault();
			let postParam = {
				
				//suggested_event: suggestedEvent,
				"event": {
							"name": "test caption",
							"description": "test desc",
							"event_date": "2000-01-01T00:00:00.000Z",
							"coin_id": 3351
						}
				
			}
			console.log("postParam================");
			console.log(postParam);
			this.addSuggestedEvent = suggestedApi.add(postParam);
			this.addSuggestedEvent.promise.then(response => {
                console.log("Suggested event Added Response : ",response);
                //this.addReviewStatus = 2 
                alert("Added successfully");
            })
            .catch(error => {
                //this.addReviewStatus = 3; //error occured
                if(error.response.data.hasOwnProperty("error")){
                    alert(error.response.data.error);
                }
                else{
                    alert("Something went wrong.");
                }
            });
		}
	},
    
}
</script>
<style>	
    @import './event.css';
</style>

