<template>
    <b-container class="profile-row-container">
        <b-row>
            <b-col>
                <div class="utrum-form pt-5">                
                <div class="element-wrapper" v-if="cryptoData">
                    <!-- <h6 class="element-header pt-4">
                        Suggested Event
                    </h6> -->
                    <b-row>
                        <b-col cols="2"></b-col>
                        <b-col cols="8">
                            <div class="element-box">
                                <form @submit="addSuggestedEvent"> 
                                   <h6 class="element-header">
                                        {{ cryptoData.name }} [ {{cryptoData.symbol}} ]  -  Suggest An Event
                                   </h6>                          
                                    <div class="form-group">
                                        <label for="">Event Title</label><input class="form-control"  v-model="fd.name" placeholder="Enter event title" type="text" >
                                    </div>
                                    <div class="form-group">
                                        <label> Event Description</label><textarea class="form-control" rows="3" v-model="fd.description" placeholder="Enter event description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label> Event Date</label><datetime
                                    type="datetime"
                                    v-model="fd.event_date"
                                    input-class="my-class"
                                    value-zone="America/New_York"
                                    zone="Asia/Shanghai"
                                    :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
                                    :phrases="{ok: 'Continue', cancel: 'Exit'}"
                                    :hour-step="2"
                                    :minute-step="15"                                   
                                    :week-start="7"
                                    use12-hour
                                    auto                                    
                                    ></datetime>
                                    </div>

                                    <div class="form-buttons-w">
                                        <button class="btn utrum-btn-primary" type="submit" :disabled="completeData" v-if="!sugg_eventId"> 
                                            <i class="fas fa-circle-notch fa-spin" v-show="addSuggestedEventStatus == 1"></i>
                                            Submit 
                                        </button>

                                        <button class="btn utrum-btn-primary" type="submit" :disabled="completeData" v-if="sugg_eventId"> 
                                            <i class="fas fa-circle-notch fa-spin" v-show="addSuggestedEventStatus == 1"></i>
                                            Update
                                        </button>
                                    </div>
                                </form>
                    </div>
                        </b-col>
                    </b-row>
                    
                </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>

import Vue from 'vue';
import moment from 'moment';
import coinsApi from '../../api-service/coins'
import suggestedApi from '../../api-service/suggested_events'

export default {
    name: 'add-suggested-event',
    data()
    {
        
        return{
            sugg_eventData: null,
            sugg_eventId: null,
            coinReqStatus: 0,
            sugg_eventStatus: 0, // 1=loading, 2=success, 3= error
            getCoinsReq: null,
            cryptoData: null,
            addSuggestedEventReq: null,
            addSuggestedEventStatus: 0, // 1=loading, 2=success, 3= error
           

            fd: {
                
                name: '',                
                description: '',
                event_location:'',
                event_date: '2018-09-12T06:30:00.000-04:00',
                coin_id: this.$route.params.cryptoId,
               
            }

        }
    },
    breadcrumb () {
        return {
            label: 'Suggest An Event',
            parentsList: [
                {
                    to: {
                        name: 'details',
                        params: { id: this.cryptoData ? this.cryptoData.id : ''}
                    },
                    label: this.cryptoData ? this.cryptoData.name : '' //this.cryptoTitle
                },
                {
                    to: {
                        name: 'crypto_page'
                    },
                    label: 'Cryptos'
                }
            ]
        }
    },
    created: function(){        
    if(this.$route.name == "edit-suggested-event"){        
        this.sugg_eventId = this.$route.params.eventId;
        this.getSuggestedEvent();       
    }
    else{
        //console.log("today is===============");
        // this.today = new Date();
        // console.log(this.today);
        this.fd.event_date = moment(String(new Date())).format('YYYY-MM-DDTHH:mm:SS');
        this.getCoinData();
    }     
    },
    components: {},
    mounted: function(){
        console.log("User Profile Page mounted");
        this.$store.commit('SET_LAYOUT', 'left-menu-layout');
    },
     methods: {
        getCoinData(){
            console.log(`Crypto Id: ${this.$route.params.cryptoId}`);
            this.coinReqStatus = 1;
            this.getCoinsReq = coinsApi.getCoinsDetail(this.$route.params.cryptoId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("crypto detail: ",response.data)
                if(response.data.success){
                    this.coinReqStatus = 2;
                    this.cryptoData = response.data.market_data
                    this.cryptoTitle = this.cryptoData.name
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.coinReqStatus = 3;
                }
                else{
                    this.coinReqStatus = 3; //error occured
                    alert("Failed to get coin data.");
                }
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.coinReqStatus = 3; //error occured
            });
        },
        getSuggestedEvent()
        {
            this.sugg_eventStatus = 1;
            this.getCoinsReq = suggestedApi.getById(this.sugg_eventId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("sugg_eventId detail: ",response.data)
                this.sugg_eventStatus = 2;
                this.sugg_eventData = response.data;
                for (var key in this.fd){
                    if(this.sugg_eventData.hasOwnProperty(key)){
                        this.fd[key] = this.sugg_eventData[key]
                    }
                }
                this.getCoinsReq = coinsApi.getCoinsDetail(this.sugg_eventData.coin_id, {})
                this.getCoinsReq.promise.then(response => {
                    console.log("crypto detail: ",response.data)
                    this.coinReqStatus = 2;
                    this.cryptoData = response.data;
                })
                .catch((thrown) => {
                    console.log("Exception ",thrown);
                    this.coinReqStatus = 3; //error occured
                });

                // this.cryptoData = {
                //     id: this.sugg_eventData.coin_id,
                //     name: this.sugg_eventData.coin_name,
                //     symbol: this.sugg_eventData.coin_symbol
                // }
            })
            .catch((thrown) => {
                console.log("Get Review Exception ",thrown);
                this.sugg_eventStatus = 3; //error occured
            });

        }, 
        addSuggestedEvent(evt)
        {
            evt.preventDefault();            
            console.log(this.fd);
            if(this.addSuggestedEventStatus == 1) return;//post is in progress
            this.addSuggestedEventStatus = 1;
             let postParam = {
                suggested_event: this.fd               
            }
            postParam['suggested_event']["coin_id"] = this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId;
            console.log("post params: ",postParam);
            console.log(this.suggestedApi);

            if(this.sugg_eventId){
                //update exising API               
                this.addSuggestedEventReq = suggestedApi.update(this.sugg_eventId, postParam)
                this.addSuggestedEventReq.promise.then(response => {
                    console.log("sugg_event Updated Response : ",response);
                    this.addSuggestedEventStatus = 2 
                    alert("Updated successfully");
                    //this.$router.reload();
                })
                .catch(error => {
                    this.addSuggestedEventStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
            else{

            // add new suggested event 
                this.addSuggestedEventReq = suggestedApi.add(postParam)
                this.addSuggestedEventReq.promise.then(response => {
                    console.log("suggested_event Added Response : ",response);
                    this.addSuggestedEventStatus = 2 
                    alert("Added successfully");
                    this.$router.reload();
                })
                .catch(error => {
                    this.addSuggestedEventStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });


        }
        }  
       
    },
     computed: {
        completeData() {
           return !(this.fd.name.trim() != "");
        }
    }
}
</script>

<style>
    @import './suggested-event.css';
</style>

