<template>
    <div class="content-i"> 
        <b-container>
            <div class="utrum-suggested-event-list">
                <!-- <p v-show="suggested_eventGetReqStatus == 1">Loading</p> -->
                <div class="element-wrapper" >
                    <h6 class="element-header pt-4">
                        Suggested Event List
                    </h6>
                    <b-card tag="article" class="mb-2" v-for="(sugg_event, index) in suggested_event" :key="`event-${index}`" >
                       
                        <div class="card-text">
                            <p class="event-title utrum-blue mb-0">{{sugg_event.name}}</p>
                            <p class="event-date">- {{sugg_event.event_date}}</p>                           
                            <p class="event-description text-justify">{{sugg_event.description}}</p>
                           
                        </div> 

                        <!-- <b-button size="sm" class="utrum-btn-primary" v-on:click="editSuggestedEvent(sugg_event, index)">Edit</b-button>
                        <b-button size="sm" variant="danger" v-on:click="removeSuggestedEvent(sugg_event, index)" >
                            <i class="fas fa-circle-notch fa-spin" v-show="sugg_event.reviewDelReqStatus == 1"></i> Remove
                        </b-button> -->
                    </b-card>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>
import suggestedApi from '../../api-service/suggested_events'
import moment from 'moment';

export default {
    name: 'suggested-event-list',//'Suggest an Event',
    //today:null,
    data(){
        return {            
            suggested_event:[],
            suggested_eventGetReq: null,
            suggested_eventGetReqStatus: 0, // 1=loading, 2=success, 3= error 
            suggested_eventDelReq: null,
        }
    },
    breadcrumb () {
        return {
            label: 'Suggest an Event'
        }
    },
    components: {      
    },
    created: function(){  
        this.getSuggestedEvent()
    },
    methods: {
        getSuggestedEvent(){

            this.suggested_eventGetReqStatus = 1;
            this.suggested_eventGetReq = suggestedApi.getAll({})
            this.suggested_eventGetReq.promise.then(response => {

                console.log("suggested_event detail: ",response.data);

                // response.data.forEach(element => {

                //     let today = new Date();
                //     //console.log("Today===="+today);
                //     today = moment(String(today)).format('YYYY-MM-DDTHH:mm:SS'); 
                //    //console.log("Today===="+today);
                //     element.event_date >= today
                //     ? this.suggested_event.push({
				//             coin_id: element.coin_id,
				//             created_at: element.created_at,
                //             description: element.description,
                //             event_date: element.event_date,
                //             id: element.id,
                //             name: element.name,
                //             updated_at: element.updated_at,
                //             user_id: element.user_id,
			    //         })
                //     : '';
                   
                   
                // });
               this.suggested_event = response.data;
               
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.suggested_eventGetReqStatus = 3; //error occured
                alert("Something went wrong");
            });
        },
        removeSuggestedEvent(sugg_event, idx){
            console.log("sugg_event Review: ",sugg_event);
            if(sugg_event.hasOwnProperty('suggested_eventDelReqStatus') && sugg_event['suggested_eventDelReqStatus'] == 1) return;
            this.$set(sugg_event, 'suggested_eventDelReqStatus', 1);

            console.log(sugg_event);
            this.suggested_eventDelReq = suggestedApi.delete(sugg_event.id, {})
            this.suggested_eventDelReq.promise.then(response => {
                sugg_event.suggested_eventDelReqStatus = 2;
                this.suggested_event.splice(idx, 1);
            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                sugg_event['suggested_eventDelReqStatus'] = 3; //error occured
                alert("Something went wrong");
            });
        },
        editSuggestedEvent(sugg_event, idx){            
            console.log("edit-suggested-event ",sugg_event);
            this.$router.push({name: 'edit-suggested-event', params: { eventId: sugg_event.id }})
        }
    }
}
</script>
<style>	
    @import './suggested-event.css';
</style>