/* details page tab section css for sticky start */
.top-sticky
{
  top:0px !important;
  position: inherit !important;
}
.vue-sticky-placeholder{
  padding-top: 0px !important ;
}

.top-sticky .card-header ul{
  position: fixed;
  top: 0px;
  z-index: 999;
  background: #fff;  
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
}
/* .top-sticky .card-header ul:before {
  margin: 0px;
  padding: 0px;
  content: "";
  position: absolute;
  right: -40px;
  bottom: -1px;
  width: 100%;
  height: 1px;
  z-index: 999;
  /* background: #fff; *
  background: rgba(0, 0, 0, 0.185);
} */
/* details page tab section css for sticky end */

.crypto-detail-pg .tab-section .element-box{
  padding: 0px;
}
.crypto-detail-pg .tab-section .tab-pane{
  padding: 3rem 3rem;
}

.crypto-detail-pg .video-container{
  padding: 1em;
}
/* profile-tile css */
.profile-tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}
.profile-tile a {
    color: #25aadf;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.profile-tile img {
    vertical-align: middle;
    border-style: none;
}
.profile-tile .profile-tile-box {
    width: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 1.2rem 0.5rem 0.5rem;
    background-color: #fff !important;
    -webkit-box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    box-shadow: 0 2px 4px rgba(126, 142, 177, .12);
    text-decoration: none;
    color: #3e4b5b;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
}
.profile-tile .profile-tile-box:hover {
    -webkit-transform: translateY(-5px) scale(1.02);
    transform: translateY(-5px) scale(1.02);
    -webkit-box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
    box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
}
.profile-tile .pt-avatar-w {
    display: inline-block;
    /* border-radius: 50px; */
    overflow: hidden;
}
.profile-tile .pt-avatar-w img {  
    height: auto;
    width: 100%;
}
.profile-tile .pt-avatar-w img.coin_img {
  max-width: 100% !important ;
  height: auto !important;
  width: auto !important;
  border-radius: 0% !important;
}
.profile-tile .pt-user-name {
    border-top: 0;
    padding-top: 0;
    text-transform: none;
    /* font-size: 24px; */
    line-height: 1.2;
    margin-top: 3px;
    margin-bottom: 6px;
    font-weight: normal;
    word-break: break-word;
    /* white-space: pre-line; */

}
@media (min-width: 1100px) and (max-width: 1350px) {
    .profile-tile .profile-tile-box {
        width: 95px;
    }
    .profile-tile .pt-avatar-w img {
        width: 50px;
    }
}

/* Historical tab css */

  .transaction-history {
    font-family: avenir next w01,proxima nova w01,rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
  }
  .transaction-history .element-actions {
    float: right;
    position: relative;
    z-index: 2;
    margin-top: -0.2rem;
  }
  .transaction-history .element-actions select.form-control-sm {
    height: 1.75rem;
  }
  .transaction-history .element-actions label {
    margin-right: 7px;
    color: rgba(90, 99, 126, .49);
  }
  .transaction-history .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }
  .transaction-history .element-header:after {
    content: "";
    background-color: #25aadf;
    width: 25px;
    height: 4px;
    border-radius: 0;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  .transaction-history h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
    font-size: 1rem;
  }
  .transaction-history a {
    color: #25aadf;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  .transaction-history a:hover {
    color: #0356ad;
    text-decoration: underline;
  }
  .transaction-history table {
    border-collapse: collapse;
  }
  .transaction-history label {
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-bottom: 4px;
  }
  .transaction-history select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 400;
  }
  .transaction-history .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  .transaction-history .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid rgba(83, 101, 140, .33);
    vertical-align: middle;
  }
  .transaction-history .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    font-family: avenir next w01, proxima nova w01, rubik, -apple-system, system-ui, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
    font-weight: 300;
  }
  .transaction-history .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  .transaction-history .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #25aadf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .transaction-history .form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, .4);
  }
  .transaction-history .form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, .4);
  }
  .transaction-history .form-control::-ms-input-placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, .4);
  }
  .transaction-history .form-control::placeholder {
    color: #636c72;
    opacity: 1;
    color: rgba(0, 0, 0, .4);
  }
  .transaction-history .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
  .transaction-history select.form-control:not([size]):not([multiple]) {
    height: calc(2.1rem + 4px);
  }
  .transaction-history .form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: 4px;
  }
  .transaction-history select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.7rem + 4px);
  }
  .transaction-history .form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .transaction-history .text-right {
    text-align: right !important;
  }
  .transaction-history .text-success {
    color: #24b314 !important;
  }
  .transaction-history .table.table-clean tr:first-child td {
    border-top: 0;
  }
  .transaction-history .table.table-clean td {
    padding-left: 0;
    padding-right: 0;
    border-top-color: rgba(0, 0, 0, .05);
  }
  /* .transaction-history .table.table-clean td .value {
    font-size: 0.9rem;
    line-height: 1.2;
  } */
  .transaction-history .table.table-clean td .sub-value {
    font-size: 0.72rem;
    color: rgba(90, 99, 126, .49);
  }
  .transaction-history .form-control.form-control-faded {
    background-color: #dde2ec;
  }
  .transaction-history label.smaller {
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .transaction-history .centered-load-more-link {
    display: block;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;
  }
  .transaction-history .centered-load-more-link span {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #25aadf;
  }
  .transaction-history .centered-load-more-link:hover span {
    border-bottom-color: #0362c6;
  }
  @media (min-width: 576px) {
    .form-inline label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    }
    .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    }
    .justify-content-sm-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    }
  }
  @media (max-width: 1024px) {
    .transaction-history .table td {
    padding: 0.7rem 0.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .transaction-history {
    padding-bottom: 2rem;
    }
  }
  @media (max-width: 767px) {
    .transaction-history {
    padding-bottom: 1.5rem;
    }
    .transaction-history .element-actions {
    float: none;
    margin-bottom: 20px;
    }
    .transaction-history table {
    max-width: 100%;
    }
  }
  
  /* Modified css start here */
  
  .transaction-history table th
  {
    border-top: none !important;
  }
  .transaction-history table tr:nth-child(even)
  {
    background: #007bff0f;
  }


  /* News tab css */
 
.news-tab h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.news-tab a {
    color: #25aadf;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.news-tab a:hover {
    color: #0356ad;
    text-decoration: underline;
}

.news-tab h6 {
    margin-bottom: 0.5rem;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #334152;
}

.news-tab h6 {
    font-size: 1rem;
}

.news-tab .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
}

.news-tab .badge:empty 
{
    display: none;
}

.news-tab .badge-primary 
{
    color: #fff;
    background-color: #25aadf;
}
.news-tab .post-media.img-border
{
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(37, 170, 223))) !important;
  padding: 6px;
  border-bottom: 6px solid #0eadad;
}
/* .news-tab .post-media.img-border
{
  margin: 50px auto;
  width: 300px;
  height: 300px;
  border-left: 15px solid #3EC8AC;
  border-right: 15px solid #4E90A4;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  background-size: 100% 20px;
  background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -o-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  background-image: linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%), linear-gradient(to right, #3EC8AC 0%, #4E90A4 100%);
} */

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .news-tab .badge {
        border: 1px solid #000;
    }
}

.news-tab .badge {
    font-size: 0.81rem;
}

.news-tab .post-box {
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
}

.news-tab .post-box {
    margin-bottom: 15px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.news-tab .post-box .post-media {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    background-size: cover;
    background-position: center center;
    height: 150px;
    overflow: hidden;
}

.news-tab .post-box .post-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    padding-left: 20px;
}

.news-tab .post-box .post-text {
    color: rgba(90, 99, 126, 0.49);
    margin-bottom: 10px;
    font-size: 0.81rem;
}

.news-tab .post-box .post-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news-tab .post-box .post-foot .post-link {
    font-size: 0.81rem;
}

.news-tab .post-box .post-foot .post-link i {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.news-tab .post-box .post-foot .post-link span {
    display: inline-block;
    vertical-align: middle;
}

.news-tab .os-icon {
    font-family: 'osfont'!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.news-tab .os-icon-arrow-right7:before {
    content: "\e998";
}

@media (max-width: 767px) {
    .news-tab .post-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .news-tab .post-box .post-media {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-bottom: 60%;
    }
    .news-tab .post-box .post-content {
        padding: 20px 15px;
    }
}

/* Details Page Custome css */

/* overviwe tab section css */

table.financial td
{
  font-size: 0.83rem;
  line-height: 1.2;
}

.coin-header-title .uts
{
  color: #ffffff;
    font-size: 12px;
    /* padding-left: 5px; */
    /* padding: 3px; */
    font-weight: normal;
    border-radius: 2px;
    padding: 6px 8px 5px;
    position: relative;
    /* left: 177px; */
    top: -3px;

}
.coin-header-title .coin-symbol{
  height: 25px;
  margin-top: -4px;
}
.coin-detail-section .portfolio-info
{
  background-color: #f8f9fa;
}
.coin-detail-section .portfolio-info .right-pane .tbl
{
  border-spacing: 4px;
  border-collapse: inherit;
}
.coin-detail-section .portfolio-info .tbl-td
{
  background-color: #fff;
  border-radius: 6px;
  padding: 0.4rem 0.85rem;
  text-align: center;
}
.coin-header-title i.portfoliobtn
{
  padding-right: 5px !important;
  vertical-align: text-top !important;
}
li.nav-item{
  padding: 0px 0.5rem !important;
}

.coin_info
{
  text-align: justify; 
}
.coin-basic-info
{
  margin-bottom: 30px;
}
.coin-detail-section .element-wrapper
{
  padding-bottom: 0px;
}
.tab-section
{
  padding-top: 0px !important;
}

.coin-header-title
{
  font-size: 1rem; 
  /* color: #25aadf;
  font-weight: bolder; */
}
.coin-detail-section .element-wrapper .element-header:after {
  content: "";
  background-color: #25aadf;
  width: 25px;
  height: 4px;
  border-radius: 0px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.btn .os-icon.portfoliobtn + span {  
  margin-left: 0px;
  vertical-align: text-top; 
}
.coin-question
{
  color: rgba(90, 99, 126, 0.49);
  font-size: 1.08rem;
  font-weight: 500;
}
.coin-answer
{
  text-align: justify;
  line-height: 25px;
}

.details-section-table table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.details-section-table th, .details-section-table td {
  text-align: left;
  padding: 5px;  
}

.details-section-table tr td
{
  background-color: #fff;
  font-size: 13px;
  color: #9a9898;
}
.details-section-table td a
{
  text-decoration: none !important;
}

.details-section-table th {
  background-color: #25aadf61;
  color: #00000096;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.details-section-info .element-box
{
  background-color: #f7f7f7;
  margin-top: 10px;
}
.details-section-info p
{
  font-size: 15px;
  line-height: 25px;
  color: #6B6B6B;
  text-align: justify;
}
.details-section-info a
{
  text-decoration: none !important;
}
.features-section-info p:first-child, .technology-section-info p:first-child
{
  margin-top: 10px;
}
.features-section-info p, .technology-section-info p
{
  font-size: 15px;
  line-height: 25px;
  color: #6B6B6B;
  text-align: justify;
}
.sub-tab ul.nav-tabs li
{
  width: 14.2857%; 
  font-size: 0.87rem;
  padding: 0px 0px !important;
  text-align: center;
}
.sub-tab ul.nav-tabs li i
{
  padding-right: 0.1rem; 
  min-height: 20px;
}
.sub-tab ul.nav-tabs li a.nav-link
{
  padding: 0.5rem 0.2rem !important;
  color: #646873;
  /* font-size: 1rem; */
}
/* .tab-section ul.nav-tabs li a{
  padding: 3px 7px 3px 0px;
} */
.event-list
{
  border-bottom: 1px solid #25aadf;
}

/* details-team-section css start here */

.details-team-section .profile-tile .pt-user-name {
  border-top: 0;
  padding-top: 0;
  text-transform: none;
  font-size: 14px;
  line-height: 1.2!important;
  margin-top: 3px;
  margin-bottom: 6px;
  font-weight: 500;
}
.details-team-section .team-row-1 {  
  margin-bottom: 30px;
}
.details-team-section .profile-tile .profile-tile-box {  
  background-color: #007bff1a !important; 
}
.details-team-section .profile-tile .pt-user-info {  
  color:#969595fc; 
  text-align: justify;
}
.details-team-section .profile-tile .pt-avatar-w img {
  border-radius: 50%;
}
.details-team-section .profile-tile .pt-avatar-w.team-member-profile img {
  height: auto;
  width: 58%;
}
.details-team-section .profile-tile .pt-user-status{
  line-height: 1.7rem;
}
.details-team-section .profile-tile .share-section ul{
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.details-team-section .profile-tile .share-section ul li{
  display: inline-block;
}
.details-team-section .profile-tile .share-section ul li i{
  font-size: 1.4rem;
}

/* Review tab section css */

/* .review-transaction table tr:nth-child(even)
{
  background: #007bff0f;
} */
.review-transaction table.review-table tbody tr:nth-child(2) td:nth-child(1), 
.review-transaction table.review-table tbody tr:nth-child(3) td:nth-child(1),
.review-transaction table.review-table tbody tr:nth-child(4)
{
  background: #007bff0f;
}
/* .review-transaction table.review-table tbody tr:nth-child(4) td
{
  white-space: nowrap;
} */
.review-transaction table.review-table tbody tr:nth-child(6)
{
  border: none;
}
.review-transaction table.review-table
{
  border: 1px solid rgba(83, 101, 140, 0.33);
}
.review-transaction table.review-table tbody:nth-last-child(-n+2) tr:nth-child(1)
{
  border-top: none;
}

.centered-load-more-link span
{
  border-bottom: none !important;
}

/* social tab section css */

.details-social-section .news-tab:nth-child(even) .post-box
{
  background: #007bff0f !important;
}
  
/* social links css*/
.social-circle:hover{
  text-decoration: none;
}
.social-circle i{
  font-size: 2rem;
  display: block;
}
.chart_small {
  max-width: 600px;
  margin: 0 auto;
}

/* header tabs */
.main-tabs li{
  width: 12.5%;
}
.tab-section .utrum-tabs .card-header-tabs i{
 font-size: 1.5rem;
}
.card-header-tabs i{
  margin-right: 2px;  
}


/* tab-section-vertical custom css */

.tab-section-vertical .element-box
{
  padding: 0rem 0rem !important;
}

/* Share button css */
.share-icons button.share-button
{
  min-width: 125px;
  width: 125px;
}

/*review tab section*/

.img-circle
{
    /* border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(126, 142, 177, 0.12);
    -moz-box-shadow: 2px 2px 5px 0px rgba(126, 142, 177, 0.12);
    box-shadow: 2px 2px 5px 0px rgba(126, 142, 177, 0.12); */

    border: 1px solid #ffffff;
    border-radius: 50%;   
    -webkit-box-shadow: 0px 1px 6px 6px rgba(250, 252, 251, 1);
    box-shadow: 0px 1px 6px 6px rgba(250, 252, 251, 1);
    padding: 8px;
    display: inline-block;
    
}
.img-title
{
  font-size: 1rem;
  padding-left: 18px;
  display: inline-block;
}
.sort-section-btn button
{
  border: 1px solid;
  border-color: #25aadf !important;
  color: #25aadf !important;
  background-color: #fff !important;
}
.sort-section-btn button.active
{
  border-color: #25aadf !important;
  color: #fff !important;
  background-color: #25aadf !important;
}
.sort-section-btn button.active:focus
{
  box-shadow: none !important;
}
.pros-btn
{
  border: 1px solid;
  border-color: #54b700 !important;
  color: #fff !important;
  background-color: #54b700 !important;
}
.cons-btn
{
  border: 1px solid;
  border-color: #f9006e !important;
  color: #fff !important;
  background-color: #f9006e !important;
}
.review-count
{
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 500;
}
.review-tabs:last-child
{
  border-bottom: 0 !important;
}

/* Prediction table css start here */

.prediction-transaction h5{
  margin-top:0;
  margin-bottom:0.5rem;
}
.prediction-transaction code{
  font-family:monospace, monospace;
  font-size:1em;
}
.prediction-transaction img{
  vertical-align:middle;
  border-style:none;
}
.prediction-transaction table{
  border-collapse:collapse;
}
.prediction-transaction th{
  text-align:inherit;
}
.prediction-transaction h5{
  margin-bottom:0.5rem;
  font-family:"Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight:500;
  line-height:1.2;
  color:#334152;
}
.prediction-transaction h5{
  font-size:1.25rem;
}
.prediction-transaction code{
  font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.prediction-transaction code{
  font-size:87.5%;
  color:#e83e8c;
  word-break:break-word;
}
.prediction-transaction .table{
  width:100%;
  max-width:100%;
  margin-bottom:1rem;
  background-color:transparent;
}
.prediction-transaction .table th,.table td{
  padding:0.8rem;
  vertical-align:top;
  border-top:1px solid rgba(83, 101, 140, 0.33);
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.9rem !important;
}
.prediction-transaction .table thead th{
  vertical-align:bottom;
  border-bottom:2px solid rgba(83, 101, 140, 0.33);
}
.prediction-transaction .table-striped tbody tr:nth-of-type(odd){
  background-color:rgba(94, 130, 152, 0.05);
}
.prediction-transaction .table-responsive{
  display:block;
  width:100%;
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:-ms-autohiding-scrollbar;
}
.prediction-transaction .text-right{
  text-align:right!important;
}
.prediction-transaction .text-center{
  text-align:center!important;
}
@media print{
   *,*::before,*::after{
      text-shadow:none!important;
      -webkit-box-shadow:none!important;
      box-shadow:none!important;
  }
  .prediction-transaction thead{
      display:table-header-group;
  }
  .prediction-transaction tr,.prediction-transaction img{
      page-break-inside:avoid;
  }
  .prediction-transaction .table{
      border-collapse:collapse!important;
  }
  .prediction-transaction .table td,.prediction-transaction .table th{
      background-color:#fff!important;
  }
}
.prediction-transaction .table th{
  font-weight:500;
  color: #888c99;
}
.prediction-transaction .table th,.prediction-transaction .table td{
  vertical-align:middle;
  text-align: center;
}
.prediction-transaction .table td img{
  max-width:100%;
}
.prediction-transaction .table thead th{
  border-bottom:1px solid #999;
}
.prediction-transaction .table thead th{
  font-size:0.9rem;
  text-transform:uppercase;
  border-top:none;
  text-align: center;
}
@media (min-width: 1100px){
  .prediction-transaction .table-responsive{
      overflow:visible;
  }
}
.prediction-transaction .element-box .table:last-child{
  margin-bottom:0;
}
.prediction-transaction .form-header{
  margin-bottom:1rem;
  padding-top:0.5rem;
  display:block;
}
.prediction-transaction .form-desc{
  color:#999;
  margin-bottom:1.5rem;
  font-weight:300;
  font-size:0.9rem;
  padding-bottom:1rem;
  border-bottom:1px solid rgba(0, 0, 0, 0.05);
  display:block;
}
.prediction-transaction .element-box{
  -webkit-animation-name:fadeUp;
  animation-name:fadeUp;
  -webkit-animation-duration:1s;
  animation-duration:1s;
}
.prediction-transaction .element-wrapper{
  padding-bottom:3rem;
}
.prediction-transaction .element-box{
  border-radius:6px;
  background-color:#fff;
  -webkit-box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
  box-shadow:0px 2px 4px rgba(126, 142, 177, 0.12);
}
.prediction-transaction .element-box{
  padding:1.5rem 2rem;
  margin-bottom:1rem;
}
.prediction-transaction .status-pill{
  width:12px;
  height:12px;
  border-radius:30px;
  background-color:#eee;
  display:inline-block;
  vertical-align:middle;
}
.prediction-transaction .status-pill.yellow{
  background-color:#f8bc34;
}
.prediction-transaction .status-pill.red{
  background-color:#c21a1a;
}
.prediction-transaction .status-pill.green{
  background-color:#71c21a;
}
@media (max-width: 1250px){
   .element-box{
      padding:1rem 1.5rem;
  }
}
@media (max-width: 1024px){
  .prediction-transaction .table th,.prediction-transaction .table td{
      padding:0.7rem 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
   .element-wrapper{
      padding-bottom:2rem;
  }
   .element-box{
      padding:1rem 1rem;
  }
}
@media (max-width: 767px){
   .element-wrapper{
      padding-bottom:1.5rem;
  }
   .element-box{
      padding:1rem;
  }
   table{
      max-width:100%;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeUp{
  0%{
      opacity:0;
      -webkit-transform:translateY(30px);
      transform:translateY(30px);
  }
  100%{
      opacity:1;
      -webkit-transform:translateY(0px);
      transform:translateY(0px);
  }
}
@keyframes fadeUp{
  0%{
      opacity:0;
      -webkit-transform:translateY(30px);
      transform:translateY(30px);
  }
  100%{
      opacity:1;
      -webkit-transform:translateY(0px);
      transform:translateY(0px);
  }
}

/* Prediction table css end here */