<template>
    <div class="utrum-auth" style="background-image:url(static/bg-pattern2.png)">
        <div class="wrapper">
            <div class="auth-box-w">
                <div class="logo-w">
                    <a href="#">
                        <img alt="" src="/static/utrum_logo.png">
                    </a>
                </div>
                <h4 class="auth-header">
                    {{ pageType == 'login' ? 'Login Form' : 'Create new account'}}
                </h4>

                <!-- login form -->
                <form action="" _lpchecked="1" v-if="pageType == 'login'">
                    <div class="form-group">
                        <label for="">Username</label>
                        <input class="form-control" placeholder="Enter your username" type="text" v-model="email">
                        <div class="pre-icon far fa-user-circle"></div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input class="form-control" placeholder="Enter your password" type="password" v-model="password">
                        <div class="pre-icon fas fa-fingerprint"></div>
                    </div>
                    <div class="buttons-w">
                        <button class="btn btn-primary" v-on:click="login($event)">Log me in</button>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">Remember Me</label>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <router-link :to="{ name: 'signup', params: {}}">Signup</router-link>
                    </div>
                </form>

                <!-- signup form -->
                <form action="" v-if="pageType == 'signup'">
                    <div class="form-group">
                        <label for=""> Email address</label>
                        <input class="form-control" placeholder="Enter email" type="email" v-model="email">
                        <div class="pre-icon far fa-envelope-open"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                            <label for=""> Password</label>
                            <input class="form-control" placeholder="Password" type="password" v-model="password">
                            <div class="pre-icon fas fa-fingerprint"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                            <label for="">Confirm Password</label>
                            <input class="form-control" placeholder="Password" type="password" v-model="confirm_password">
                            </div>
                        </div>
                    </div>
                    <div class="buttons-w">
                        <button class="btn btn-primary" v-on:click="signup($event)">Register Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import authApi from '../../api-service/auth'
    export default {
        name: 'auth',
        data() {
            return {
                email: '',
                password: '',
                confirm_password: ''
            };
        },
        props: [
            'pageType'
        ],
        components: {},
        mounted: function(){
            console.log("auth page mounted");
            this.$store.commit('SET_LAYOUT', 'simple-layout');
            // console.log("baseUrl ",appconfig.baseUrl);
        },
        methods: {
            login: function(evt){
                evt.preventDefault();
                console.log(`email :${this.email} password: ${this.password}`);
                let param = {
                    email: this.email,
                    password: this.password
                };

                authApi.login({user: param})
                .then((response) => {
                    console.log("Auth Response :",response);
                    console.log("Headers: ",response.headers);
                    if(response.headers.hasOwnProperty("authorization")){
                        localStorage.setItem("utrum-token", response.headers.authorization.split("Bearer ")[1]);
                        console.log("Token stored in local storage");
                        this.$router.push({name: 'myfeed_page'});
                    }
                    else{
                        alert("Something went wrong.");
                    }
                })
                .catch(function (error) {
                    console.log("Error Response :",error.response);
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }else{
                        alert("Something went wrong.");
                    }
                });
                
                // evt.preventDefault();
                // localStorage.setItem("utrum-token", "test");
                // this.$router.push({name: 'crypto_page'});

                // authApi.login().then(response => {
                //     console.log("Response Data: ",response);
                //     // this.info = response;
                // });
            },
            signup: function(evt){
                console.log("Sign up: ",evt)
                evt.preventDefault();

                if(!this.email || this.email.trim() == ""){
                    alert("Please enter email.")
                    return
                }
                else if(!this.password || this.password.trim() == ""){
                    alert("Please enter password.")
                    return
                }
                else if(this.password != this.confirm_password){
                    alert("Password didn't match")
                    return
                }
                else{
                    let param = {
                        email: this.email,
                        password: this.password
                    }

                    authApi.signup({user: param})
                    .then((response) => {
                        console.log("Auth Response :",response);
                        if(response.hasOwnProperty("data")){
                            if(response.data.success){
                                console.log("navigating to login");
                                this.$router.push({name: 'login'});
                            }
                            else if(response.data.hasOwnProperty("message")){
                                alert(response.data.message)
                            }
                            else{
                                alert("Signup failed")
                            }
                        }
                        else{
                            alert("Something went wrong.");
                        }
                    })
                    .catch(function (error) {
                        console.log("Error Response :",error.response);
                        if(error.response.data.hasOwnProperty("error")){
                            alert(error.response.data.error);
                        }else{
                            alert("Something went wrong.");
                        }
                    });
                }
                /*
                console.log(`email :${this.email} password: ${this.password}`);
                let param = {
                    email: this.email,
                    password: this.password
                };

                
                */
            }
        }
    }
</script>
<style>
    @import './auth.css';
</style>