.utrum-review .element-header {
    padding-top: 10px;
}

.utrum-review .pt-avatar-w img {
    border-radius: 50%;
    width: 90%;
}

.utrum-review ul.profile-info {
    padding: 0;
    list-style: none;
}

.utrum-review .profile-info-section {
    padding: 0px;
}

.utrum-review ul.profile-info .name {
    font-size: 18px;
    color: #047bf8;
    margin-bottom: 0px;
}

.utrum-review ul.profile-info .designation {
    font-size: 12px;
    color: #ccc;
}

.utrum-review ul.profile-info li span {
    color: #8e8c8c;
    font-weight: 400;
}

.utrum-review ul.profile-info-option 
{
    padding: 0;
    list-style: none;
}

.utrum-review ul.profile-info-option li {
    border-bottom: 1px solid #17a2b840;
    line-height: 30px;
}

.utrum-review ul.profile-info-option .pio-border:after {
    width: 0;
    height: 0;
    content: '';
    border: 2px solid transparent;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    display: block !important;
}

.utrum-review ul.profile-info-option .pio-border:hover::after {
    -webkit-transition: border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s;
    transition: border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s;
    border-bottom-color: #047bf8;
    width: 100%;
    height: 96.3%;
}
.utrum-review .review-title-img
{
    width: 25px;
    margin-right: 5px;
}