<template>
    <div class="content-i"> 
        <b-container>
            <div class="utrum-review pt-5">
                <div class="element-wrapper" v-if="cryptoData">
                    <!-- <h6 class="element-header">
                        Review
                    </h6> -->
                    <b-row class="mb-1">
                        <!-- <b-col cols="2">
                            <div class="element-box">
                                <b-row class="mb-1">
                                <b-col cols="6">
                                        <div class="pt-avatar-w">
                                        <img alt="" src="/static/avatar1.jpg">
                                    </div>  
                                </b-col>
                                <b-col cols="6" class="profile-info-section">
                                    <ul class="profile-info">
                                        <li>
                                            <label class="name">Mark Parson</label>
                                            <label class="designation pl-1">- Founder and co-CEO</label>
                                        </li>
                                        <li class="mb-3">
                                            <i class="fa fa-users" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-1">1600 friends</span>
                                        </li>
                                        <li class="mb-3">
                                            <i class="fa fa-star" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-1">2700 Reviews</span>
                                        </li>
                                            <li class="mb-3">
                                            <i class="fa fa-camera" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-1">1187 Photos</span>
                                        </li>                                            
                                    </ul>
                                </b-col>
                                <b-col cols="12">
                                    <ul class="profile-info-option pt-3">                                            
                                        <li class="mb-3 pio-border">
                                            <i class="fa fa-check-square" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-2">Compliment</span>
                                        </li>
                                        <li class="mb-3 pio-border">
                                            <i class="fa fa-check-square" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-2">Share Review</span>
                                        </li>
                                            <li class="mb-3 pio-border">
                                            <i class="fa fa-check-square" aria-hidden="true" style="color: #17a2b8;"></i><span class="pl-2">Follow</span>
                                        </li> 
                                                                                    
                                    </ul>
                                </b-col>
                                </b-row>                     
                            </div> 
                        </b-col> -->
                        <b-col cols="12">
                            <div class="element-box">  
                                <h6 class="element-header">
                                   <img class="review-title-img" :src="cryptoData.image_url"/> {{ cryptoData.name }} [ {{cryptoData.symbol}} ] - Write a review
                                </h6>
                                <div class="utrum-form utrum-review-form">
                                    <div class="element-wrapper">
                                        <form @submit="addReview">
                                            <div class="form-desc mb-3">
                                                It only takes a minute! And your review will help others.
                                            </div>
                                            <div class="form-group">
                                                <label for="">Review Title</label><input class="form-control" v-model="fd.title"  placeholder="Review Title" type="text">
                                            </div>
                                            <div class="form-group"> 
                                                <label>Pros</label><textarea class="form-control" maxlength="200" v-on:keyup="liveCountDownPros" rows="3" placeholder="Share some of the best reasone to work" v-model="fd.pros"></textarea>
                                                <p class='text-right text-small' v-bind:class="{'text-danger': generateErrPros }">{{totalRemainCountPros}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Cons</label><textarea class="form-control" maxlength="200" v-on:keyup="liveCountDownCons" rows="3"  placeholder="Share some of the downsides of working" v-model="fd.cons"></textarea>
                                                <p class='text-right text-small' v-bind:class="{'text-danger': generateErrCons }">{{totalRemainCountCons}}</p>
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                    <label for="">Are you a Investor?</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group text-right">
                                                        <toggle-button :value="false" :sync="true" :labels="true" v-model="fd.is_investor"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Recommend to a Friend?</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group text-right">
                                                        <toggle-button :options="{ on: 'Yes', off: 'No' }" :sync="true" :labels="true" v-model="fd.is_reco_friend"/>
                                                    </div>
                                                </div> 
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col-sm-12">
                                                    <div class="form-group rating-header">
                                                        <label for="">Rating</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="" class="rating-title">Team Approval</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false" v-model="fd.team_approval_rate"></star-rating>
                                                    </div>
                                                </div> 

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="" class="rating-title">Team Communication</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false" v-model="fd.team_commu_rate"></star-rating>
                                                    </div>
                                                </div>  

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="" class="rating-title">Product/Service</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false" v-model="fd.prod_serv_rate"></star-rating>
                                                    </div>
                                                </div>  

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="" class="rating-title">Projected Growth</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false" v-model="fd.proj_growth_rate"></star-rating>                              
                                                    </div>
                                                </div> 

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="" class="rating-title">Investor Confidence</label><star-rating active-color="#4c97fa" :star-size="22" :show-rating="false" v-model="fd.invester_conf_rate"></star-rating>
                                                    </div>
                                                </div> 
                                            </div>

                                            <div class="form-group pt-3">
                                                <label>Advice to Team</label>
                                                <textarea class="form-control" rows="3" placeholder="Share some of the Advice to Team" v-model="fd.advice_to_team"></textarea>
                                            </div>                    
                                        
                                            <div class="form-buttons-w">
                                                <button class="btn utrum-btn-primary" type="submit" :disabled="completeData" v-if="!reviewId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addReviewStatus == 1"></i>
                                                    Submit Review
                                                </button>

                                                <button class="btn utrum-btn-primary" type="submit" :disabled="completeData" v-if="reviewId"> 
                                                    <i class="fas fa-circle-notch fa-spin" v-show="addReviewStatus == 1"></i>
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </b-container>
    </div>
</template>
<script>
import ReviewForm from '../../components/review-form/review-form'
import coinsApi from '../../api-service/coins'
import reviewsApi from '../../api-service/reviews'
export default {
    name: 'review-add',
    data(){
        return {
            limitmaxCount: 200,
            totalRemainCountPros: 200, 
            totalRemainCountCons: 200,         
            generateErrPros: false,
            generateErrCons: false,


            reviewData: null,
            cryptoData: null,
            getReviewReq: null,
            reviewStatus: 0, // 1=loading, 2=success, 3= error
            getCoinsReq: null,
            coinReqStatus: 0, // 1=loading, 2=success, 3= error
            addReviewReq: null,
            addReviewStatus: 0, // 1=loading, 2=success, 3= error
            reviewId: null,
            fd: {
                title: '',
                pros: '',
                cons: '',
                is_investor: false,
                is_reco_friend: false,
                team_approval_rate: 0,
                team_commu_rate: 0,
                prod_serv_rate: 0,
                proj_growth_rate: 0,
                invester_conf_rate: 0,
                advice_to_team: ''
            } //form data
        }
    },
    breadcrumb () {
        return {
            label: 'Add Review',
            parentsList: [
                {
                    to: {
                        name: 'details',
                        params: { id: this.cryptoData ? this.cryptoData.id : ''}
                    },
                    label: this.cryptoData ? this.cryptoData.name : '' //this.cryptoTitle
                },
                {
                    to: {
                        name: 'crypto_page'
                    },
                    label: 'Cryptos'
                }
            ]
        }
    },
    created: function(){
        if(this.$route.name == "edit-review"){
            this.reviewId = this.$route.params.reviewId
            this.getReview()
        }
        else{
            this.getCoinData()
        }
    },
    components: {
        "review-form": ReviewForm
    },
    methods: {
        liveCountDownPros: function() {
            this.totalRemainCountPros = this.limitmaxCount - this.fd.pros.length;

            this.generateErrPros = this.totalRemainCountPros <= 0;
        },
        liveCountDownCons: function() {
            this.totalRemainCountCons = this.limitmaxCount - this.fd.cons.length;

            this.generateErrCons = this.totalRemainCountCons <= 0;
        },
        getCoinData(){
            console.log(`Crypto Id: ${this.$route.params.cryptoId}`);
            this.coinReqStatus = 1;
            this.getCoinsReq = coinsApi.getCoinsDetail(this.$route.params.cryptoId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("crypto detail: ",response.data)
                
                if(response.data.success){
                    this.coinReqStatus = 2;
                    this.cryptoData = response.data.market_data
                    this.cryptoTitle = this.cryptoData.name
                }
                else if(response.data.hasOwnProperty("message")){ 
                    alert(response.data.message)
                    this.coinReqStatus = 3;
                }
                else{
                    this.coinReqStatus = 3; //error occured
                    alert("Failed to get coin data.");
                }

            })
            .catch((thrown) => {
                console.log("Exception ",thrown);
                this.coinReqStatus = 3; //error occured
            });
        },
        getReview(){
            this.reviewStatus = 1;
            this.getCoinsReq = reviewsApi.getById(this.reviewId, {})
            this.getCoinsReq.promise.then(response => {
                console.log("review detail: ",response.data)
                this.reviewStatus = 2;
                this.reviewData = response.data;
                for (var key in this.fd){
                    if(this.reviewData.hasOwnProperty(key)){
                        this.fd[key] = this.reviewData[key]
                    }
                }
                this.cryptoData = {
                    id: this.coin_id,
                    name: this.reviewData.coin_name,
                    symbol: this.reviewData.coin_symbol
                }
            })
            .catch((thrown) => {
                console.log("Get Review Exception ",thrown);
                this.reviewStatus = 3; //error occured
            });
        },
        addReview(evt){
            evt.preventDefault();
            console.log(this.fd);
            if(this.addReviewStatus == 1) return;//post is in progress
            this.addReviewStatus = 1;
            let postParam = {
                review: this.fd
            }
            postParam['review']["coin_id"] = this.cryptoData ? this.cryptoData.id : this.$route.params.cryptoId;
            console.log("post params: ",postParam);
            console.log(this.reviewsApi);

            if(this.reviewId){
                //update exising API
                this.addReviewReq = reviewsApi.update(this.$route.params.reviewId, postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Updated Response : ",response);
                    if(response.data.success){
                        this.addReviewStatus = 2 
                        alert("Updated successfully");
                    }
                    else{
                        if(response.data.hasOwnProperty("message")){
                            alert(response.data.message)
                        }
                        else{
                            alert("Unable to update review.");
                        }
                        this.addReviewStatus = 3 
                    }
                })
                .catch(error => {
                    this.addReviewStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
            else{
                // add new review 
                this.addReviewReq = reviewsApi.add(postParam)
                this.addReviewReq.promise.then(response => {
                    console.log("Review Added Response : ",response);
                    if(response.data.success){
                        this.addReviewStatus = 2 
                        alert("Added successfully");
                    }
                    else{
                        if(response.data.hasOwnProperty("message")){
                            alert(response.data.message)
                        }
                        else{
                            alert("Unable to add review.");
                        }
                        this.addReviewStatus = 3 
                    }
                })
                .catch(error => {
                    this.addReviewStatus = 3; //error occured
                    if(error.response.data.hasOwnProperty("error")){
                        alert(error.response.data.error);
                    }
                    else{
                        alert("Something went wrong.");
                    }
                });
            }
        }
    },
    computed: {
        completeData() {
           return !(this.fd.title && this.fd.title.trim() != "");
        }
    }
}
</script>
<style>	
    @import './review-add.css';
</style>